[2015-11-12 07:16] #223 closed

[2015-11-13 08:08] Michiel-s commented on #170
Todo:
- [ ] all roles vinkje

[2015-11-13 10:27] hanjoosten commented on #170
I have an ampersand script with no roles defined at all. I get an error when I follow a link in a prototype. I get an error

    You do not have access for this call   (api.php, line 285)

Also, I don't understand what is going on any longer.

[2015-11-13 10:28] sjcjoosten opened #225 "Sentinel: add a way to switch between haskell/ghc versions"
I just updated ghc on the sentinel, and it now compiles ``ampersand[upgrade_to_haskell_7.10:57ab699], ampersand-models[master:79f5349], sentinel[master:e425774]``. Note that ghc 7.8 is still on there, it's just not used anymore.

Trouble is: other branches no longer work, including master and typegraphs. I hope that we can discuss how to fix that in this issue. Here are some options:

0. We go wit

[2015-11-13 10:28] hanjoosten commented on #170
When I add a role to the script. I get different behaviour. This feels buggy?

[2015-11-13 10:48] hanjoosten commented on #225
Option 1 would be the preferred one, However, Ampersand cannot be build with ghc 7.10.* (not even with the latest Haskell Platform, unfortunately) So this is not an option, because most developers of Ampersand use windows.

Option 2 might work, I do not know exactly what would be in the makefile. I do know that currently the master does not compile under 7.10.*, and the upgrade_to_haskell_7.10 bra

[2015-11-13 12:09] sjcjoosten commented on #225
I suppose you mean that the upgrade_to_haskell_7.10 branch cannot be built with ghc 7.10 under windows?

I changed the default version back to ghc 6.8.3. There is some strange behavior with the 7.10 branch, you can search ``Sentinel_2015-11-13_11.10.58__13_of_567__amp=upgrade_to_haskell_7.10:57ab699_mdl=master:79f5349_sen=master:e425774.html`` for ``Exit code -11``. The problem seems to arise non-

[2015-11-13 12:44] hanjoosten commented on #225
I had a brief look at the problem with Exit code -11, but I have no clue at this moment what is going on.

[2015-11-13 12:46] hanjoosten commented on #225
Another option to consider might be to see if we can do the tests that Sentinel does, by using Travis-ci.

[2015-11-13 12:52] sjcjoosten commented on #225
I like that option even better!

[2015-11-13 13:42] #218 closed

[2015-11-13 14:25] Michiel-s commented on #170
Problem solved.

[2015-11-13 14:49] Michiel-s commented on #60
I've edited the original comment of Martijn. A couple of things are already fixed. Aspects regarding edit functionality are addressed by ticket #141

[2015-11-13 14:49] #60 closed

[2015-11-13 14:56] Michiel-s commented on #170
@hanjoosten

The editableConcepts are not complete yet. Consider:

[code]
Lime is not added to the list with editableConcepts, while it should be.

[2015-11-13 15:10] sjcjoosten commented on #181
Here's something to think about:

[code]

Is the script described above allowed? In the view described above, it is. C would, of course, get only the most generic type ``Storable``. Since `INTEGER` and `DATE` are both ``Storable``, there is no problem. If something else is desired, please let me know.

[2015-11-13 15:28] hanjoosten commented on #181
No, this is not allowed: Two or more REPRESENT statements adressing concepts that belong to the same typology, and having different representation types, will cause an error.

[2015-11-13 15:43] sjcjoosten commented on #181
If I follow your reasoning, the following is not allowed either:

[code]

In this case, C will be `Storable`, whereas A will be `INTEGER`.

Note that the following will be fine:
[code]

In this case, A is `Integer`, because C is.

[2015-11-13 16:38] hanjoosten commented on #181
The rules are pretty straitforward:

1) All concepts of a typology have the same TYPE

2) The TYPE is determined by the REPRESENT statement(s) (if any) of any of the concepts in the typology.

3) If there is no REPRESENT statement for any of the concepts of a typology, the type will be `OBJECT` (or `storable`, if you wish)

[2015-11-14 07:49] stefjoosten opened #226 "Delete button does not work in Referentielijsten.adl"
I have compiled Referentielijsten.adl (https://github.com/AmpersandTarski/ampersand-models/blob/master/NVWA%20DTV/Referentielijsten.adl) with Ampersand v3.2.0[master:db4eef0], build time: 13-Nov-15 17:57:53 West-Europa (standaardtijd).

This is a demonstrable Ampersand model, in which the role FAB can create, edit and delet variables in a historic adminstration. However, deleting a variable works

[2015-11-14 07:56] stefjoosten commented on #223
I see this is fixed. Thx! I can now proceed with FormalAmpersand.

[2015-11-14 08:03] stefjoosten commented on #221
Cool! Will need some serious thought to do Hopscotch in combination with the prototype generator, but it is very appealing!

[2015-11-14 08:16] stefjoosten commented on #220
Han, you are right that this doesn't feel right. Michiel, you are right that it is unavoidable. The rerun feature is an implementation of a fixpoint on the function 'eval', which evaluates the entire model one step further. Since termination of this fixpoint is not guaranteed, we need mechanisms to interrupt this. In this (nice and simple) example of Michiel, we have a terminating fixpoint. So it

[2015-11-14 16:06] Michiel-s commented on #226
@stefjoosten you've issued the exact same ticket a while ago #97. There I refer to #60, which I closed yesterday. The current open ticket that will solve this issue is #141. However, this is still a mayor task as it will require to refactor the way updates are sent between frontend and backend. Work in progress.

Work around fore now: auto commit changes (option under horn-icon in menu bar).

[2015-11-14 16:06] #226 closed

[2015-11-14 16:34] Michiel-s commented on #220
Stef, Han, please explain to me how you would do this differently. Keep in mind that it is about evaluating rules in the runtime. E.g. if I update relation r, and the affected rules are rule1, rule2 and rule3. I need to evaluate these rules. Tell me with which conjunct I need to start?! You do not no the best strategy beforehand and it also doesn't matter. I just evaluate them in the order as stat

[2015-11-14 16:43] Michiel-s commented on #181
Please do not mix the OBJECT representation with the idea of `storage`. We have OBJECT and several scalar representations (INTEGER, DATE, etc). All of these are `storable`. So OBJECT isa storable and INTEGER isa storable. But INTEGER is **not** an OBJECT.

The implicit meaning of not specifying a representation type in the script is that it is an OBJECT in the technical world (prototypes).

[2015-11-14 17:47] hanjoosten commented on #220
Michiel, Don't understand this wrong, What you do is undoubly the best there currently is. Practically, this will suffice in most cases. However, theoretically there is probably more about it. Maybe, @WolframKahl might have some thoughts about this.

[2015-11-14 19:03] sjcjoosten commented on #181
Excellent, so we probably want OBJECT to be the default, right?

[2015-11-14 19:44] hanjoosten commented on #181
Right

2015-11-14 20:03 GMT+01:00 Sebastiaan Joosten <notifications@github.com>:

[2015-11-16 22:08] Michiel-s opened #228 "Complete transaction functionality and http calls"

[2015-11-20 10:42] RieksJ commented on #31
I recently installed MiKTeX from complete scratch, and I get this error.
I am not at all experienced with this kind of stuff, so I really would appreciate some help here.

[2015-11-20 10:44] RieksJ commented on #31
When I try to make an fspec, here is what the log says:

	(uetp.gls [127]
	! Undefined control sequence.
	<argument> \letcs {\glo@name
	                             }{glo@\glsdetoklabel {Account}@name}\expandafte...
	l.5 ...etentrycounter[]{page}\glsnumberformat{4}}}
	                                                  \glsgroupskip
	?
	! Undefined control sequence.
	<argument> ...glsnamefont \expan

[2015-11-20 10:52] RieksJ commented on #31
When I search Google with the keywords

    "! Undefined control sequence" "<argument>" "\letcs" "{\glo@name"

then this ticket is the topmost in the list! Also, it returns some linkds to documentation, e.g. to [glossaries-code.pdf](https://xml.web.cern.ch/XML/TLLATEST/texmf-dist/doc/latex/glossaries/glossaries-code.pdf). On page 55, this file talks about (how to avoid) 'undefined control sequence

[2015-11-20 11:58] hanjoosten commented on #31
Can you reproduce this? (e.g., if you delete all previously generated temporary output files, do you get the same behaviour?)

Please provide the .ltx file, and/or the model. I don't think this is ampersand related, but I could see if it is reproducable

[2015-11-20 12:14] hanjoosten commented on #31
The same error message shows up in [this .tex related issue](http://tex.stackexchange.com/questions/1230/reference-name-of-description-list-item-in-latex), that contains a link to another issue with a possible solution.

[2015-11-20 13:44] RieksJ commented on #31
[UETP.txt](https://github.com/AmpersandTarski/ampersand/files/40078/UETP.txt) Please note that the extension of the file is .TXT so that it could be uploaded. You need to change it into .LTX to run it through pdflatex. (Haven't tried your suggestion of 1 hour back yet)

[2015-11-20 14:16] hanjoosten commented on #31
The cause of your problem seems to be a glossary item that does not exist, but it is refferenced. (assumably a relation). It would exist iff that relation had either a MEANING or a PURPOSE defined. But since it lacks both, the relation is skipped in the natural language chapter. From somewhere else, it is refferenced, without checking for existence. The diagnosis chapter tells you about this omisi

[2015-11-22 13:49] stefjoosten opened #229 "GitBook: Automated Rules"
@RieksJ @Michiel-s ,
I have discussed Exec-engine rules with the Canadian students. They could not grasp the idea based on the available documentation. For this reason, I have elaborated the Exec-Engine story in GitBook in a separate branch. I have included more detailed examples and paid some attention to the "why" questions of the students.

Would you please review this text on https://www.gitbo

[2015-11-22 21:40] stefjoosten commented on #215
When talking to the Canadian students, I found they didn't understand the concept PPL, nor did they understand what an "objectified relation" is.

I changed PPL into Assignment. An assignment is says that a person is assigned to a project starting at a given date. Since this involves three aspects (the assignee, the project, and the start date), it must be a concept rather than a relation. Of cour

[2015-11-22 21:51] stefjoosten commented on #215
Projectadministration is now being used as an example in our GitBook. @sjcjoosten suggested to include it in the sentinel, so that it is (at least) kept compilable. Actually, he suggested to make each and every example in the GitBook part of shouldsucceed. That might invoke a lot of extra work though (If you read the  storyline in the Gitbook-chapter, you will see why.)

[2015-11-23 22:51] Michiel-s commented on #215
Hi Stef, no not yet. I've reached out to @wolframkahl my the post above, but haven't heard from him yet.

[2015-11-24 10:01] hanjoosten opened #230 "Sentinel is broken"
At this moment, the Sentinel reports the following error:

    cabal: Version mismatch between ghc and ghc-pkg: /usr/local/bin/ghc is version
    7.8.3 /usr/local/bin/ghc-pkg is version 7.10.2

I think this was caused accidently by an attemtp by @sjcjoosten to upgrade sentinel to ghc 7.10, but I am unaware what has been done exactly.

[2015-11-24 10:07] sjcjoosten commented on #230
true

[2015-11-24 10:08] sjcjoosten commented on #230
please try again, reopen if problem persists

[2015-11-24 10:08] #230 closed

[2015-11-24 10:08] sjcjoosten commented on #230
ps, I did this:

sudo mv /usr/local/bin/ghc-pkg-7.8.3 /usr/local/bin/ghc-pkg

[2015-11-24 10:42] hanjoosten opened #231 "Cycle in LINKTO usage causes nontermination of functional document generator"
If there is a cycle in the reference structure of interfaces, a prototype can be generated, but when I try to generate an fspec document from it, ampersand doesn't terminate.

[2015-11-25 15:48] Michiel-s commented on #79
@hanjoosten as discussed I updated the raildiagram.

[2015-11-25 15:52] Michiel-s commented on #103
Possible solution: lib http://ngmodules.org/modules/ng-bootstrap-submenu

[2015-11-25 15:54] Michiel-s commented on #131
Fixed by a0e18444aaef26638ceba3f4535d5310ded49342

[2015-11-25 15:54] #131 closed

[2015-11-25 15:56] Michiel-s commented on #198
3) fixed by d3571f38f1f017c77633b1a024001dc107e9726a

[2015-11-25 17:45] yuriy0 commented on #215
Thank you for your changes Stef - they were very helpful.

In the Project Interface, this line

    INTERFACE "Project" (projectName, projectDescription, pl, projectStartDate, projectStarted, member, pplStartDate, pplProject) : I[Project] CRUD ROWS

was replaced by this line

    INTERFACE "Project"  : I[Project] ROWS

This appears to have the effect that we are no longer able to create projects i

[2015-11-25 22:23] hanjoosten commented on #79
Michiel, Do you need the possibility of empty DATA{ } ? I assumed that you didn't mean that in the above railroad diagram.

[2015-11-26 07:15] hanjoosten commented on #79
I've done some testing this morning. Unfortunately, it doesn't work yet. The parser code around this feature us REALLY ugly, and there is a lot more to it than I initially thought. I'll look into it later.

[2015-11-27 17:16] WolframKahl opened #232 "Treatment of tabulations"
`Examples/ProjectAdministration/ProjectAdministration.adl` has `Assignment`, which previously was just an “objectified relation”, following the pattern:

[code]

In this kind of context, I have not yet seen the following additional rule:

[code]

(Equality follows from totality of `pi` and `rho`.)

With that additional rule, which I would assume is omitted only as an oversight,
the whole specifica

[2015-11-29 08:01] hanjoosten commented on #194
I am still confused. Yes, it was wrong in specifying the I[Auto] relation in the previous way. So now I am looking for a way to express the intended population. New attempt:

![hjo 20151129 08 55 22](https://cloud.githubusercontent.com/assets/1159672/11455981/0d9a76ec-9677-11e5-9b23-0359828de8ef.jpg)

However, this still does not word,.

So now I am look ing for the correct way to specify this wit

[2015-11-29 08:50] RieksJ commented on #229
I suppose this can be closed now...

[2015-11-29 08:50] #229 closed

[2015-11-29 08:52] RieksJ commented on #194
How about specifying the name of the appropriate Concept in cell B7? Does that help?
This message may contain information that is not intended for you. If you are not the addressee or if this message was sent to you by mistake, you are requested to inform the sender and delete the message. TNO accepts no liability for the content of this e-mail, for the manner in which you use it and for damage of

[2015-11-29 09:16] RieksJ commented on #232
You are correct. It is an oversight. We can use the `IDENT` statement, which is a shortcut syntax for specifying a set of ralation that identify atoms in a specific concept. In your case, it would be used to identify Ts, as follows:

    IDENT "T uniqueness" :  T (pi, rho)

The general syntax is:

    IDENT "{rule name}": {Concept} ( {e1}, {e2}, ....)
where:
* {rule name} is the name of the rule
*

[2015-11-29 10:33] sjcjoosten commented on #232
@RieksJ let's discuss `<>` in a separate ticket. In the case proposed by @WolframKahl , there is no difference between `;` and `<>`, as the relations `pi` and `rho` are functions.
The purpose of objectifying a relation, is to change it into functions, which is different from the purpose of the IDENT statement. The IDENT statement does not require functions, while TABULATION does, therefore:
- IDEN

[2015-11-29 13:22] RieksJ commented on #232
I was just referring to the rule-stuff. If we're talking objectified relations, then let's ponder about non-binary relations as well that I would like to be objectified/conceptualized/tabulated. I can imagine a `Hit` to be a ternary relation between a `Hitter`, a `Victim` and an `Object`, with `MEANING "A Hitter has hit a Victim with an Object"`. How would we do that?

[2015-11-29 13:24] RieksJ opened #233 "Support for the Diamond-operator"
We may want to have the diamond-operator, e.g. to support better `IDENT` statements.

[2015-11-29 13:26] sjcjoosten commented on #233
Did you verify that the diamond-operator `<>` does not work? Can you refer to a try....adl ?

[2015-11-29 13:40] sjcjoosten commented on #232
So if you want to objectify a non-binary relation, the question is: which relation do you want to `objectify'? This is especially important since Ampersand does not deal with non-binary relations.

However, we could create a concept for all Hitter-Victim pairs:

`
TABULATION HVPair (fst,snd) : V[Hitter*Victim]
`

Now, there could be a relation between HVPair and Objects, which we may consider to b

[2015-11-29 15:47] RieksJ commented on #233
I have created file `Issue233.adl` in `ShouldSucceed`. It doesn't work (as expected - which means it works as expected as it does not work, you see...). @sjcjoosten can you validate what I did?

[2015-11-29 17:26] WolframKahl commented on #233
What is the “diamond-operator”?

If a direct reading of the operators in
[code]
is correct, it is a variant of the symmetric quotient?

[2015-11-29 17:36] sjcjoosten commented on #233
Yes, it is supposed to be the symmetric quotient. Rieks put the following rule in his test script, and I believe the rule should hold:

``
RULE "Test equivalence": arg <> arg~ = (-arg ! arg~) /\ (arg ! -arg~)
``

Since the script type-checks, I tried to find out what Rieks means by `does not work'. I used the following command (from ampersand-models):

``
ampersand Tests/ShouldSucceed/Issue233.adl

[2015-11-29 17:58] WolframKahl commented on #233
On Sun, Nov 29, 2015 at 09:36:58AM -0800, Sebastiaan Joosten wrote:

From the remarks elsewhere, I gather that you want the same typing for <> as for ; .

Then I would expect the following rules to hold:

[code]

Where is this implementation?

Wolfram

[2015-11-29 18:07] sjcjoosten commented on #233
@stefjoosten do you know where the implementation of `<>` is?

[2015-11-29 18:19] WolframKahl commented on #232
On Sun, Nov 29, 2015 at 02:33:29AM -0800, Sebastiaan Joosten wrote:

Agreed.

2.14 in

@Book{Freyd-Scedrov-1990,
  title = {Categories, Allegories},
  author = {Freyd, Peter J. and Scedrov, Andre},
  year = 1990,
  series = {North-Holland Mathematical Library},
  volume = 39,
  pages = {xviii+296},
  publisher = "North-Holland",
  address = {Amsterdam},
  ISBN = {0-444-70368-3 and 0-444-70367-5 (p

[2015-11-30 08:04] RieksJ commented on #232
W.r.t. terminology: I would have been surprised if there hadn't been a reference in literature for tabulation. Cool. Nevertheless, Ampersand does not want to frighten its (not so mathematically oriented) users, by not using 'impressive' terms. So Ampersand uses the term 'relation' rather than 'morphism'. For now, I think tabulation may do, but I have a similar itching intuition about the word as @

[2015-11-30 08:10] RieksJ commented on #79
@hanjoosten's comment of 1 september (sorry for the late reply): `RULE max1DefaultPerConcept' is wrong. It should be:

    RULE max1DefaultPerConcept: isDefault /\ viewOf;viewOf~ |- I[View]

[2015-11-30 08:56] sjcjoosten commented on #232
My itch was actually the other way around. `TABULATION` seems to focus on the implementation, which is to make a multi-column table (Dutch: brede tabel) out of it. I am happy to hear that it has a mathematical background, too. I'll try to find Freyd & Scedrov, it's also the book Jaap van der Woude keeps referring to.

I like Rieks' syntax. Rieks, can you decide where to put the [ASY]-annotations i

[2015-11-30 09:27] RieksJ commented on #232
I guess your question about [ASY]-annotations is: 'where to put multiplicities and alike properties, such as ASY'. Right? Here's my proposal:

    r :: A * B  [TOT,SUR] TABULATION R(a,b)

That would make `TABULATION` parse similar as `MEANING`.

B.t.w., ORM uses the terms 'Objectification' or 'Reification' for what we're trying to do with TABULATION. Would either be a reasonable substitute?

[2015-11-30 12:08] sjcjoosten commented on #232
Right, let's treat `TABULATION` syntax similar to `MEANING`.

I don't like Reification, and am a bit hesitant about Objectification since our Concepts are called Concepts instead of Objects

[2015-11-30 12:24] RieksJ commented on #232
We could also call it

* `r :: A * B  CONCEPTUALIZATION R(a,b)` but that takes longer to type than TABULATION.
* `r :: A * B  CONCEPT R(a,b)` where the `(a,b)` distinguishes it from a 'real' CONCEPT definition.
* `r :: A * B  NOMINALIZATION R(a,b)` (which is a term from linguistics). But then, that also has this ichy
quality...
*  `r :: A * B  NAMED R(a,b)` as a compromise.

Whatsay? At a first gl

[2015-11-30 18:33] stefjoosten opened #234 "Atoms.adl has stopped working"
I have always cherished Atoms.ifc as a little demo for showing off how Ampersand treats atoms.
However, it works no more (sob :-( ). This is what I got right after resetting the database:
![image](https://cloud.githubusercontent.com/assets/275768/11480736/76ee5aaa-9799-11e5-9ed8-12e23c67df9f.png)
Details: I have compiled Atoms.ifc (commit SHA 86f460c93dccad9b4632a76eb2241dc52b1767cc)  with Ampersa

[2015-11-30 19:07] stefjoosten commented on #233
I have no idea. As far as I recall, the symmetric quotient has never been
implemented properly. However, it looks like we did actually build it Ampersand. On all places where there is mention of ELrs or ERrs (i.e. left- and right residuals), you can see that EDia is in place. I guess we have put it in some time ago and my memory is failing me. I cannot remember having verified that it does what on

[2015-11-30 19:29] stefjoosten commented on #233
The interpretation function in Haskell is `contents :: Expression -> Map AAtomValue [AAtomValue]` (in module Populated.hs)
The code for the residuals and the diamond is:
[code]
It will take me some effort and a whiteboard to review the correctness by code inspection. Should be doable though. I guess Bas will need less effort than I for that purpose...  :-)

[2015-11-30 19:42] stefjoosten commented on #232
Hm, I want to let it all sink in before making definite choices here.

[2015-11-30 19:43] stefjoosten commented on #231
Hm, this means that either the prototype generator or the specification generator is doing more than rendering only...

[2015-11-30 21:31] hanjoosten opened #235 "Unify handling of texts of meaning and purposes"
Currently, purposes can contain texts in different kinds of layout, like markdown, LaTeX, ReST, etc, We use pandoc to parse these texts. We also use pandoc to render the documents created with Ampersand.
In ADL, we use **{+** and **-}** as start and end of such texts.

The following changes would be nice:

   * [ ] Change **-}** into **+}**. This makes it more obvious that the begin and end of a p

[2015-12-01 07:21] RieksJ commented on #232
I just realized that we might also want to conceptualize expressions. One example that I would expect would turn up in Formal Ampersand, would be the conceptualization of rule violations. But I would not want to confine it to rules. I would want to use any expression. Do we want separate syntax for that or do we want to have a unified syntax?

[2015-12-01 08:36] RieksJ commented on #234
While this may not be needed (or even wanted) for Atoms.ifc, the ExecEngine has been provided with the capability of doing automated reruns, which is (now) its default behaviour. I have added a section in the ExecEngine documentation that explains all this.

The quick fix for you is to add the following line in your `localSettings.php` file in your `include` directory:

    Config::set('autoRerun'

[2015-12-01 13:51] stefjoosten commented on #234
Thx Rieks for thinking along. But this was just me goofing up. It happens... :-(  I fixed the stuff by putting it back.

[2015-12-01 13:51] #234 closed

[2015-12-04 13:01] hanjoosten opened #237 "Selecting fruit that is not citrus does not work."
Given the well-known fruit example,

CLASSIFY Citrus ISA Fruit

In an interface of concept Fruit, I want to show iff it is not Citrus:

BOX
[ "fruit" : I
, "non-citrus fruit" : I[Fruit] /\ -I[Citrus]
]

In the sql, I get:

    '/* case: ECpl (EDcI Citrus) */
    select
    distinct
    "concept0"."Citrus" as src, "concept1"."Citrus" as tgt
    from "Fruit" as "concept0",
             "Fruit" as "c

[2015-12-04 13:03] hanjoosten commented on #237
@stefjoosten: What expression should the normalizer give to the SQL generator in this case?

[2015-12-05 07:50] stefjoosten commented on #237
#Preparation
I am experimenting in `git\ampersand-models\Tests\ShouldSucceed\Try53.adl`. In this way, the solution that we find might be fit to run along in the Sentinel.

# Analysis
The normalizer performs the following proof before generating code:

                            // Normalization steps:
                            //     I{-Eps-}[Citrus];I[Fruit];I{-Eps-}[Citrus] /\ -I[Citrus]

[2015-12-05 11:15] sjcjoosten commented on #237
This is a bug in the type system. Here is the work-around:

``
BOX
[ "fruit" : I
, "non-citrus fruit" : I[Fruit] /\ V[Fruit*Fruit]-I[Citrus]
]
``

The desired behavior will be a type error, stating that we do not know the type of `-I[Citrus]`: it could either be `[Citrus*Citrus]` or `[Fruit*Fruit]` or `[Fruit*Citrus]` or `[Citrus*Fruit]`. You may move Try53 to ShouldFail. I will fix this with a (h

[2015-12-06 08:27] stefjoosten commented on #237
@hanjoosten Thanks for finding this bug.
Please,
- Close this issue if you are satisfied with the solution, or
- Close this issue if you are not satisfied with the solution.

:smile:

[2015-12-06 10:21] hanjoosten commented on #237
I can only tell if I am satisfied with this solution if I know how it is ensured that @sjcjoosten is not going to forget about this. Is there another ticket that guarantees that? If so, which one? Of course, I will close this ticket as soon as I know my decision on the satisfaction about it. :smile_cat:

(allthough, in the case that I would not be satisfied, I might directly reopen it again)

[2015-12-06 13:12] sjcjoosten commented on #237
Hi Han, I am in a bit of a difficult situation right now: I cannot compile anything from the master branch on my computer, so I do not know what the current error message is on Try53.adl. The cause of this problem lies with ghc 6.8.3 being incompatible with the current version of my OS (due to a security update in my OS, which I do not wish to disable), so I will not fix this but just wait for amp

[2015-12-06 19:58] hanjoosten commented on #237
I reopened this issue. I did not find any Try53.adl in shouldfail. So I put it there myself.

Running ampersand 62e159f, it does not fail. It passes. However, it should fail, as the above analisys suggests.

@sjcjoosten, you could (if you make Try53.adl fail, and as long as you are not able to check what error message is produced) temporarily copy Try53.adl to shouldsucceed. That should make senti

[2015-12-07 04:30] stefjoosten commented on #237
That's my fault. I could not push `Ticket237.adl` to ShouldFail, because I got in a mess with Git and insufficient time to solve it. That explains its absence. Sorry for that. Nevertheless, I do want a file `Tests\ShouldFail\Ticket237.adl` that tests this issue in the sentinel. Once it is in place, Han can close this issue as far as I'm concerned.

[2015-12-07 18:43] DebbieGit commented on #79
Beste Rieks, kun je me helpen?

Ik zoek een recent Ampersand script met een uitgebreid voorbeeld van een USER INTERFACE er in. Ik hoef niet per se de rest van het script te zien, maar geeft misschien wel meer informatie.

Kun je me doorverwijzen naar één van de scripts in Git?

Vriendelijke groeten,

Debbie Tarenskeen
Informatica Communicatie Academie
Hogeschool van Arnhem en Nijmegen
Ruitenbergla

[2015-12-07 19:58] stefjoosten commented on #79
Debbie,  deze vind ik zelf wel leuk...  (Je moet Atoms.ifc draaien. Dat is het "hoofdprogramma")

Stef Joosten

M +31 (0)6 51348895
skype: stef.joosten

-----Oorspronkelijk bericht-----
Van: DebbieGit [mailto:notifications@github.com]
Verzonden: maandag 7 december 2015 19:44
Aan: Joosten, Stef
Onderwerp: Re: [ampersand] Title text in interface does not work i.c.m. HTML TEMPLATEs (#79)

Beste Rieks

[2015-12-09 07:15] hanjoosten opened #238 "Relation names are incorrect in generated .xlsx file"
When generating an .xlsx file for the population in a script, (ampersand.exe --pop-xlsx %FILENAME% ), the names of relations are filled with the names of the tableInfo tables/columns. This is incorrect, because when a name is overloaded, renaming of these fields is done (as in the generated sql tables).

[2015-12-09 07:54] RieksJ commented on #79
@DebbieGit: voldoet Stef's suggestie?

[2015-12-09 09:02] stefjoosten opened #239 "Something funny with reruns"
I have a seemingly straightforward situation, which gives normal behaviour when the Exec-Engine does not maintain a rule, but too many reruns if it maintains the rule.

I will first show the situation as intended, with the Exec-Engine active. Here is the code snippet:

    RULE newStatement : I[Concept] |- exists[Statement*Concept]~;exists[Statement*Concept]
    VIOLATION ( TXT "{EX} NewStruct;Sta

[2015-12-09 09:11] stefjoosten commented on #237
I have included two tests in the Sentinel:
1. `Tests/ShouldSucceed/Ticket237.adl`, which proves that the interpretation of `I[Fruit]-I[Citrus]` corresponds with `I[Fruit]-(V[Fruit]-I[Citrus])` for a well-chosen population.
2. `Tests/ShouldFail/Ticket237.adl`, which proves that `I[Fruit] /\ -I[Citrus]` is rejected by the type checker due to ambiguity. The error message is:

    An ambiguity arises

[2015-12-09 09:11] #237 closed

[2015-12-09 15:30] DebbieGit commented on #79
Beste Rieks, Stef,

Ik heb Atoms gegenereerd en gedraaid. De database wordt gemaakt. Ik probeer de database te reïnitialiseren en de xlsx bestanden te importeren. Helaas verschijnen er geen data in de database en ik krijg dus ook geen andere schermen.

Ik heb een database user ampersand met wachtwoord ampersand van te voren aangemaakt. De tabellen zijn er wel. Ik ga even zoeken of ik iets vind bet

[2015-12-10 08:29] DebbieGit commented on #79
Beste Rieks, Stef,

Het is in orde, het lag toch aan de Violations.

Blijft de vraag naar de uitgebreidheid van de Interface Syntax. Hoe uitgebreid is die?

Vriendelijk dank,

Debbie

Informatica Communicatie Academie
Hogeschool van Arnhem en Nijmegen
Ruitenberglaan 26, 6826 CC Arnhem
Postbus 2217, 6802 CE Arnhem

Mobiel 0653582390
Fax 026-3645066

e-mail: debbie.tarenskeen@han.nl<mailto:debbie.ta

[2015-12-10 20:19] stefjoosten opened #240 "INCLUDE "Mindmaps.xlsx" does not work properly"
Including an excel-sheet from the Ampersand-script gives erroneous results.
# Reproducing the mistake

I have pushed some files for the MirrorMe project in AmpersandTarski/ampersand-models@5724cf1ec440287113a0f87915c2f6ae10b7f287. One of these files is `MirrorMe/Mindmaps.xlsx`, which contains population for a demo given by `MirrorMe/Mindmaps.adl`.
## Correct Behaviour

To get the correct behaviour

[2015-12-10 21:50] hanjoosten commented on #240
I added an extra file (Issue240.adl). If you generate both that file and Mindmaps.adl, you get two databases with the same structure. Now import MirrorMe/Mindmaps.xlsx into the mindmaps database, as you did in your first scenario.

I have tried to spot any differences between the two databases, but I cannot find them. (except for the modification timestamps that are set in the database).

This is

[2015-12-11 11:08] RieksJ commented on #239
There are two problems with your `VIOLATION` statement.

1. You use fully typed relations (i.e. `exists[Statement*Concept]`) rather than relation names (e.g. `exists`). The violation-text parser does not accommodate for fully typed relations; this is not necessary, since the type of the relation must be known at run-time anyway, and is derived from the contents of the subsequent concept-specificat

[2015-12-11 16:45] Michiel-s commented on #240
I'll have a look at thuis issue to.

[2015-12-11 17:03] ejsmits opened #242 "Installation fails"
I don't get Ampersand installed, see below (even if I run the command 'cabal install' several items). I am using ghc 7.10.3 and dowloaded the branch 'ampersand_upgrade_to_haskell_7.10'. Haskell is all setup. I am working on a Macbook, El Capitain. Any ideas how to get things running?

Best,

Erik-Jan

---

Van-Anreijk:Ampersand vananreijk$ cabal install
Resolving dependencies...
Configuring ampers

[2015-12-11 17:13] sjcjoosten commented on #242
I'm hoping @hanjoosten can solve this? Maybe this issue is related: http://stackoverflow.com/questions/22893168/preventing-getcurrentdirectory-resource-exhausted-too-many-open-files-error

[2015-12-11 17:17] sjcjoosten commented on #242
Erik-Jan, as ghc-7.10.3 is not available yet, can you maybe also paste the output of:

ghc --version

[2015-12-11 17:23] sjcjoosten commented on #242
If you just want the ampersand binary for OS X, a fairly recent one is available from http://sentinel.tarski.nl/sentinel/executables/

[2015-12-11 20:06] ejsmits commented on #242
Hi, ghc --version results in the following output:

Van-Anreijk:Ampersand vananreijk$ ghc --version
The Glorious Glasgow Haskell Compilation System, version 7.10.3
Van-Anreijk:Ampersand vananreijk$ cabal --version
cabal-install version 1.22.6.0
using version 1.22.5.0 of the Cabal library
Van-Anreijk:Ampersand vananreijk$

[2015-12-12 12:28] hanjoosten commented on #242
This still is very tricky. currently ghc 7.10.* is not supported. This is due to a bug in ghc.
The haskell ecosystem has changed the last couple of months. I am currently investigating if it possible to switch onto [stack](https://github.com/commercialhaskell/stack). Stack is a package manager. It reads my-project.cabal and stack.yaml to link in third party code. It will install GHC for you too. S

[2015-12-12 12:43] hanjoosten commented on #242
@sjcjoosten , It would be a good idea to publish the binary for OS X via the documentation. I have [described how I do that for windows ](https://ampersandtarski.gitbooks.io/the-tools-we-use-for-ampersand/content/publish_executable_online.html). Maybe you can do something similar for OS X?
Then we store the binaries at github, not at sentinel any longer. (see the [repo for binaries](https://github

[2015-12-12 12:53] sjcjoosten commented on #242
I'll look in to both fixing the compilation issue on OS X, and into creating a binary (and a binary-deploy-script) when I have more time (which may be by the end of this year, but definitely in January)

[2015-12-12 22:46] stefjoosten commented on #242
Hi Erik-Jan,
If you must compile from the Haskell source, use ghc version 7.8.4. That is our current production version.
Given the way you use it, you just want:
1. an executable file, which lets you issue the command: `Ampersand <foo>.adl` from the command line.
2. LaTeX and Graphviz, which lets you generate .pdf-files by way of functional specifications. This is done with the command : `Ampersan

[2015-12-12 22:57] stefjoosten commented on #239
Nice! I was hoping it was something with my violation statements. I will try this and see if this fixes the problem.

[2015-12-13 07:04] RieksJ opened #244 "Documentation does not build (does that belong here?)"
@hanjoosten your latest modifications on the documentation make it unbuildable:
![picture1](https://cloud.githubusercontent.com/assets/8522589/11765945/f5d79e3c-a16f-11e5-9b1a-d3b6ad1f5566.png)
Can you fix that?

[2015-12-13 07:14] #239 closed

[2015-12-13 08:10] hanjoosten commented on #244
Something with a copied page. I removed it, and now it builds again.

[2015-12-13 08:10] #244 closed

[2015-12-13 10:36] #181 closed

[2015-12-14 07:34] RieksJ opened #245 "position of filename/linenumber in (type checking) error messages"
We get these nice, elaborate error messages (particularly from the type checker), that in practice generate screens that look something like this:

<img width="522" alt="picture1" src="https://cloud.githubusercontent.com/assets/8522589/11775233/422a4802-a23d-11e5-9689-5c1ba513348d.png">

This isn't all that bad, but when you get more of such messages, it takes time to find the filename, linenumber

[2015-12-14 08:02] RieksJ opened #246 "Ambiguities? Please explain or fix."
Consider the following script:

[code]

This script produces the following output

[code]

I do not understand why there is an ambiguity here. What other options are there more than what I consider the trivial one: `(V[SESSION*A]-r);V[A*B]`?

B.t.w., I use Ampersand v3.3.0[master:1e93f51], which is based on the new Haskell stuff.

[2015-12-14 08:07] sjcjoosten commented on #246
The issue is that V is not bound in the expression, and semantics may change because of it. This is not allowed since https://github.com/AmpersandTarski/ampersand/pull/241 and I agree that the error message should be improved.

[2015-12-14 08:15] RieksJ commented on #246
Huh? I'm a big confused. My first reading of your comment was that BECAUSE you and #241 (which is you) are in agreement (which is nice/consistent), something is not allowed, but to me there is this ambiguity: do your refer to `V` not having its signature specified, or there a missing `V` is before the `-` operator? Or is this your hypnotic suggestion to say that you are going to improve the error

[2015-12-14 13:58] WolframKahl commented on #246
On Mon, Dec 14, 2015 at 12:07:10AM -0800, Sebastiaan Joosten wrote:

What does ``bound'' mean here? I am used to ``bound variables'',
but since V is a (parameterised) constant, this sentence sounds
extremely strange to me.

Wolfram

[2015-12-14 14:12] sjcjoosten commented on #246
Sorry, let me rephrase.

The issue is that in (V[A*C]-r);V[C*B] is a correct typing, provided that C ISA B. If there are multiple choice, the type checker will usually pick a most obvious one (usually the smallest, which would be B). However in this, the choice of C determines the outcome of the expression, so we throw an error.

A problem with the error message is that it is delayed until it actu

[2015-12-14 14:15] sjcjoosten commented on #246
Ah google translate is my friend. 'Confined' seems to be the word to use here (other suggestions include restricted and limited)

[2015-12-14 14:25] RieksJ commented on #246
@sjcjoosten You write "The issue is that in (V[AC]-r);V[CB] is a correct typing, provided that C ISA B". Why do we need "provided that C ISA B"? What's wrong when C is not a B?

[2015-12-14 14:26] WolframKahl commented on #246
On Mon, Dec 14, 2015 at 06:12:50AM -0800, Sebastiaan Joosten wrote:

Thank you for the clarification!

I think that ``bounded'' might be an appropriate translation.
Then ``boundness'' in the referenced pull would become
``boundedness'', and also make more sense.
I am still not sure whether this is an optimal terminology,
but at least I find it acceptable.

That is a more general concept --- I'll t

[2015-12-14 14:46] sjcjoosten commented on #246
@RieksJ I believe we check compatibility of the type of ``a`` and ``b` in ``a - b``

[2015-12-14 15:32] stefjoosten opened #247 "REPRESENTATION type in Mindmaps.adl"
Since the transition to Haskell 7.10.3, Mindmaps.adl does not compile.
The erroneous files are found in AmpersandTarski/ampersand-models@048ebdb7169c7b56ce7aa00f02e0dd2adabb91eb.

The compiler objects against the DATE fields in Mindmaps.xlsx, for example:

[code]

It does so for all DATE fields in the spreadsheet.

[2015-12-14 18:58] ejsmits commented on #242
And I'm up and running! Thanks for pointing me to the binary file.

[2015-12-14 18:58] #242 closed

[2015-12-14 19:03] sjcjoosten opened #248 "Too many open files during install"
I'm making this ticket to remind myself of ticket #242
The problem of ej is solved, but an issue remains: too many open files causing a `resource exhausted' during installation.

[2015-12-14 19:24] hanjoosten commented on #248
And also to get the OS X binary in github

[2015-12-14 21:09] hanjoosten commented on #247
@sjcjoosten This is introduced by the integration of the REPRESENT into the type system. The parser of excel will return a numeric value for the date. Since it does not know the representation at parsetime, that should be OK. I will look into this if I have time, but maybe you know what is going on sooner.

[2015-12-15 07:47] RieksJ commented on #246
From phone contacts with @sjcjoosten and @stefjoosten, I hear two arguments for generating the ambiguity error:

* ***if*** there were a `C` with `C ISA B`, then `(V[A*C]-r);V[C*B]` would be a correct typing, and the original statement `-r;V` would be ambiguous; and since there is no way of knowing whether or not there will ever be such a `C`, we choose to generate the error so that if `C` comes a

[2015-12-15 09:57] stefjoosten commented on #246
Rieks, ik meen me te herinneren dat er iets bestaat om de Exec-Engine een tijdstempel te laten zetten. Heb je daar een voorbeeld van? (In het GitBook is het niet gedocumenteerd, dus voor hetzelfde geld bestaat het niet...)

Disclaimer
Dit bericht met eventuele bijlagen is vertrouwelijk en uitsluitend bestemd voor de geadresseerde. Indien u niet de bedoelde ontvanger bent, wordt u verzocht de afzen

[2015-12-15 10:17] sjcjoosten opened #249 "Exec-engine timestamps"
@stefjoosten posted the following:

``
Rieks, ik meen me te herinneren dat er iets bestaat om de Exec-Engine een tijdstempel te laten zetten. Heb je daar een voorbeeld van? (In het GitBook is het niet gedocumenteerd, dus voor hetzelfde geld bestaat het niet...)
``

Should the feature be present, consider this a task to put it into GitBook. Should it not be, we can decide on whether to consider thi

[2015-12-15 10:23] RieksJ commented on #249
The example project "ProjectAdministration.adl" contains the following rule:

     ROLE "ExecEngine" MAINTAINS "Create Assignment"
     RULE "Create Assignment" : pl |- project~;assignee
     VIOLATION (TXT "NewStruct;Assignment"
                  , TXT ";project;Assignment;_NEW;Project;", SRC I
                  , TXT ";assignee;Assignment;_NEW;Person;", TGT I
                  , TXT ";assignment

[2015-12-15 10:27] RieksJ commented on #249
The `{php}` tag is currently not supported officially, because there are some details you need to know when it suddenly doesn't appear to work... I expect it to go away when violations, views and interfaces are integrated. But then, if it is handy, ....

[2015-12-15 10:36] sjcjoosten commented on #249
I trust this has reached @stefjoosten , thank you for the explanation!

[2015-12-15 10:36] #249 closed

[2015-12-15 13:22] stefjoosten opened #250 "Front-end does not seem to work anymore."
I wrote a simple script:
[code]

I would expect that I can create a new `Argument` (using menu `+` ) and create a new tuple in the relation `phrasing`. This thing works up to the point where the tuple needs to be saved to the database. I get a front-end message saying `! 405 Method Not Allowed: Resource already exists. POST method is not allowed`. @Michiel-s : This behaviour was obtained with Ampe

[2015-12-15 15:26] hanjoosten commented on #249
Not sure if this is what you are looking for: In the database, all tables have two extra columns, containing the timestamp of creation and the timestamp of last modification of a row.

[2015-12-15 16:47] stefjoosten commented on #249
Thanks @RieksJ, this is exactly what I was looking for. I'll give it a try.
Thx @sjcjoosten for forwarding this.

[2015-12-15 20:16] Michiel-s commented on #213
I'm looking into a solution to include all static files in another way. Currently dependencies to other libraries we need in the backend framework are added to the static folder. We basically copy those libraries into our own. This is not a nice way do so.

The backend framework for the ampersand prototype is now implemented in PHP. Tools like Composer (https://getcomposer.org/) provide functional

[2015-12-15 21:24] hanjoosten commented on #213
Sounds good. I had a quick look at Composer, but not long enough to find the answer to the following questions:

  1. Would an ampersand modeller need to have Composer installed to generate a prototype?
  2. Would it be required to have composer installed to be able to deploy a prototype?

[2015-12-15 21:34] Michiel-s commented on #213
1) no, the generated files would be still provided by the ampersand executable. You can't however run the prototype because you need the backend fw files.
2) yes, or download all dependencies, incl. backend fw, manually (from github).

[2015-12-15 21:42] hanjoosten commented on #213
So this would mean that a user of Ampersand would need to install not only a Xampp-like stack, but also composer? (Which [seems](http://www.techflirt.com/install-composer-xampp) quite simple)

[2015-12-15 21:45] hanjoosten commented on #213
You probably need a repo to experiment with this? If so, what name should it have?

[2015-12-16 08:07] stefjoosten commented on #213
I disagree with @sjcjoosten that we want to separate our static files into a separate git-repo. Synchronisation between different repos requires human effort. That gives us more mistakes. I think we would rather wish to integrate git-repos than to split them up. That lets Git do the work for us and saves on mistakes on our part.

[2015-12-16 08:08] stefjoosten commented on #213
I would appreciate @Oblosys ' perspective on this matter. Any opinions, Martijn?

[2015-12-16 12:29] hanjoosten commented on #213
We seem to loose focus on what the problem is we are suggesting solutions for. I see the following problems:

  1) The ampersand executable is (was!) not portable, in a sense that distributing a single binary wasn't enough.
  2) We include a lot of resources from libraries into ampersand.exe This makes the executable large. But is this a problem?

What other problems do we have, that we are trying

[2015-12-16 12:35] Michiel-s commented on #213
You stated the problem yourself in the first post:

[2015-12-16 12:43] hanjoosten commented on #213
True. The core problem is that cabal demands that every file is mentioned explicitly in the .cabal file. This is a maintanance burden that is too big to handle manually.

[2015-12-16 13:26] sjcjoosten commented on #213
Shall we put 1 .zip in the cabal file instead? It should be relatively easy to change Setup.hs to read a .zip (or the like), as Setup.hs already imports some .zip functions

[2015-12-16 14:37] WolframKahl commented on #213
On Wed, Dec 16, 2015 at 04:30:03AM -0800, Han Joosten wrote:

Even though the ampersand executable contains a lot of PHP material,
the generated prototype still depends on other PHP libraries, and
web server modules and settings. I found some of this out when I tried to
run prototypes on PC-BSD (essentially FreeBSD), where apache and PHP
come with slimmer core distributions than on my gentoo linux

[2015-12-16 14:42] WolframKahl commented on #213
On Wed, Dec 16, 2015 at 04:43:53AM -0800, Han Joosten wrote:

Well, you could generate the .cabal file automatically, just moving the static
directory traversal from ./Setup runtime to .cabal generation time.
Can git/github automate this for you, so it is re-done at every commit?

(Something like hastache might be one option for coding the real
 .cabal.source .)

[2015-12-16 14:52] Oblosys commented on #213
In my opinion it would be a very bad idea to put the Ampersand-specific statics in a separate repo, as they are part of the Ampersand code base. Decoupling them will create headaches when switching branches or going back in history. Moreover, because the static files are not Haskell, you probably won't notice any mismatches until run time.

The libraries and frameworks in the statics could be hand

[2015-12-16 14:56] Oblosys commented on #213
Generating the cabal file, as Wolfram suggests is also an option. I considered that last year but dismissed it due to the added complexity. If something goes wrong with generated build scripts things can get very confusing. Since we now have Travis in place, we could go for a semi-automated solution, in which you update the cabal file manually when Travis reports a missing path.

[2015-12-16 15:34] hanjoosten commented on #213
We now use travis-ci to do automatic building. For deploying binaries, we might want to use [appveyor](http://www.appveyor.com/docs). That would even more encourage the use of scripts to automate whatever solution we want.

[2015-12-19 12:36] tvwengen opened #251 "Ampersand MySql dbase access rights"
met OSX mac. vanuit Ampersand op MAMP dbase created. Ampersand user met voldoende rechten toegevoegd. vervolgens toch foutmelding :

![foutmelding phpmyadmin](https://cloud.githubusercontent.com/assets/16361588/11912986/6c98fe28-a655-11e5-819c-7b52ed85a7cc.jpg)

[2015-12-19 12:42] stefjoosten commented on #251
@hanjoosten of @sjcjoosten , enig idee wat hier aan de hand zou kunnen zijn? De database is zichtbaar, ampersand is ingelogd, maar bij het opbouwen van de timestamp-relatie gaat er wat fout. Het betreft hier de Apple-ampersand, die Bas heeft gebouwd.

[2015-12-19 12:45] Michiel-s commented on #251
This is an error due to a older version of MySQL. I don't know the required version number right now, but I will look this up for you. The latest version of XAMPP does include the required version. I'll also improve the error message.

[2015-12-19 14:24] stefjoosten commented on #251
This happens in MAMP. Not in XAMPP.... does thatake a difference?

[2015-12-20 07:40] Michiel-s commented on #251
http://stackoverflow.com/questions/267658/having-both-a-created-and-last-updated-timestamp-columns-in-mysql-4-0

The function we've implemented with two time stamp columns if available since MySQL v5.6.5

I suggest to remove the 'ts_insert' (defaults to current time stamp) column and add the default option to the 'ts_update' column.

[2015-12-20 07:51] Michiel-s commented on #251
FYI: MAMP bundles MySQL 5.5.

[2015-12-21 11:06] stefjoosten opened #252 "Why can't I compile this?"
# Symptoms
I get a funny behaviour when compiling `ChapterNatLangReqs.hs`. I have made a separate branch in which I have committed this change, see AmpersandTarski/ampersand@e8b81ae780470e040325122670b221c3a92a932e.
Here is what ghc 7.10.3 says:
[code]

The error message seems unrelated to my change. The message smells like an UTF-8 problem, but I have made sure the file is encoded in UTF-8.

# An

[2015-12-21 11:30] #252 closed

[2015-12-21 16:37] hanjoosten opened #253 "Default CRUD"
As discussed with @Michiel-s today, the following tasks should be built:

 * [x] The default for CRUD syntax will be all uppercase
 * [x] This can be overwritten by means of a new **temporary** switch: --crud-defaults=<CRUD>  (where <CRUD> is to be replaced with a string containing the word `crud` in the appropriate upper/lower case.~~
 * [x] ~~In settings.json, the defaults should be shown.~~
 *

[2015-12-21 16:41] hanjoosten commented on #253
Related to issue #228

[2015-12-22 09:06] Michiel-s commented on #141
After each expression in an interface you will be able to specify CRUD rights. Capital = allowed, Non-capital = not allowed. When you leave out a letter, the default is used. See #253.
[code]
The semantics for CRUD as we're implementing it right now are:

Operation | Tgt concept ISA Object | Tgt concept ISA Scalar
-------------|-------------------------------|------------------------------
C | Cre

[2015-12-22 09:41] RieksJ commented on #253
Nice that we will have the CRUD syntax. However, I do not like the `--crud-default`-switch, because its use implies that the INTERFACE specification becomes ambiguous, making it more difficult to re-use them in other applications/contexts. Instead (or: additionally), I would like to be able to define a default CRUD per INTERFACE, e.g. as follows:

     INTERFACE "ifc name" : DEFAULT {CRUD}  {expre

[2015-12-22 10:43] hanjoosten commented on #253
The idea of the --crud-default is to lift the pain of having default "CRUD". @Michiel-s said that the switch would allow you guys at TNO to use your own default.

The additional syntax for interfaces is something we should consider separately. This affects VIOLATION and VIEW statements as well, so this should move to issue #133 , I guess.

[2015-12-22 11:59] RieksJ commented on #253
Yes. And we will use our own default, implying that interfaces that you guys and us guys define will behave differently. At this point in time, that's not an issue. As time progresses, and use will become more prevalent, it may or may not become an issue.

W.r.t. VIOLATION and VIEW statements, I do not see a major problem. Syntax is already context-dependent: the `U` in crUd for example is forbidd

[2015-12-23 10:23] stefjoosten commented on #251
Tjeerd van Wengen is stuck at the moment. @Michiel-s or @hanjoosten, does one of you know which version of the master does NOT use the 'ts_insert', which causes this problem? Would that version help Tjeerd?

[2015-12-23 10:43] RieksJ opened #254 "ExecEngine ROLE 'ExecEngine' not found"
If you have a script that contains no ExecEngine rules, there is no need to show this (twice) in the front-end as a (blue) bar. In fact, it is irrelevant (and hence somwhat disturbing) to have it there (it is ok to have this in the log). Could the notification (in the blue bar) be removed?

[2015-12-23 10:43] hanjoosten commented on #251
Yes. This has been done on with commit be32b36c0b8989472cfc683b26e452fe200b9b8d.

For Windows we have a [binary of a few days before](https://github.com/AmpersandTarski/webFiles/blob/972a28b2e21c38c4e0c4e56534b49859c24a8600/executables/windows/ampersand.zip?raw=true).
Does that help?

[2015-12-23 10:55] RieksJ opened #255 "INTERFACE OVERVIEW does not display results"
Consider the following script:

     CONTEXT Bug_255 IN ENGLISH

     REPRESENT LargeText TYPE BIGALPHANUMERIC
     r :: A * LargeText [UNI]
     POPULATION r CONTAINS [ ("a001", "1") ]

     INTERFACE OVERVIEW : V[SESSION*A]
     BOX[ "id" : I
        , "r's": r
        ]

     ROLE ExecEngine MAINTAINS arghh RULE arghh: I[A]=I[A] -- In order to not be distracted by issue #254:
     ENDCONTEXT

W

[2015-12-23 11:17] hanjoosten commented on #255
I cannot reproduce this error. In Ampersand v3.2.0[master:62e159f*] this seems to work fine

[2015-12-23 11:19] hanjoosten commented on #255
No bug, however, also no row in "OVERVIEW"

[2015-12-23 11:23] RieksJ commented on #255
I have seen this issue with
- Ampersand v3.2.0[master:6c4d0ef]
- Ampersand v3.3.0[master:1e93f51]

which suggests it has something to do with the frontend (perhaps config stuff). You can see a red error message when you turn on the configuration switch `Show error messages` in the logitem menu.

[2015-12-23 11:58] hanjoosten commented on #255
I have looked into this issue. The database is generated exactly as expected. (The BIGALPHANUMERIC is represented as TEXT in MySQL, which is correct. The population statement causes a row in table "A", which is correct too.

However, when I monitor the database, there is no database activity at all when the OVERVIEW menu is clicked. That seems curious, because I would expect a query on the content

[2015-12-23 12:11] #251 closed

[2015-12-23 12:35] #254 closed

[2015-12-23 12:39] Michiel-s commented on #254
I've changed the info message, but I suggest to leave it as an info message. If you don't use the ExecEngine, don't enable the extension in your script. It would be better to not include this extension by default, but for reasons of convenience we decided otherwise.

[2015-12-23 14:38] stefjoosten opened #256 "Why is `delValue` not considered violated?"
SJ: This issue also appears in issue #345, and showed up in branch_#228 on Mar 22nd 2016.

The script Sequence.adl [ AmpersandTarski/ampersand-models@3a3fc5879776e01f068ff9eccd656b12463e4ced ] contains a rule, `delValue`, that deletes atoms of concept `Value` whenever the relation `value` violates surjectivity.

    RULE delValue : I[Value] |- value~;value
    VIOLATION ( TXT "{EX} DelAtom;Value;"

[2015-12-23 21:27] tvwengen commented on #256
Bas,
De nieuwe build van Ampersand (of de re-build) werkt perfect!!

DANK!!

met vriendelijke groet
Tjeerd van Wengen

[2015-12-24 06:27] RieksJ commented on #256
I notice that you are using quite an old version of Ampersand.exe. We know there are a lot of things there that have been fixed in the meantime. Does your issue also appear when you use a recent version of the tool?

[2015-12-24 08:59] stefjoosten commented on #256
@RieksJ , that thought crossed my mind, but it now looks like we have pinpointed the cause in code that has been around for a while. Han and I have just been able to reproduce this behaviour in other versions too. to be continued...

[2015-12-25 08:58] RieksJ opened #257 "Cannot enter values of type ALPHANUMERIC in relation `sessionMsgText`"
Consider the script

     CONTEXT Bug_25x IN ENGLISH

     INTERFACE "Send Message" (sessionMsgText, sessionMsgPerson): '_SESSION'[SESSION]
     BOX[ "Send Message" : I COLS
          [ "To (person)": sessionMsgPerson
          , "Message text" : sessionMsgText
          ]
        , "Message send requests" : V[SESSION*MsgSendRequest] COLS
          [ "To" : msgsrPerson
          , "Message text" :

[2015-12-29 07:41] stefjoosten commented on #257
Hi Rieks, it helps to add `REPRESENT Person TYPE ALPHANUMERIC` to your script.
It made your script work instantly.
I don't know whether it solves your problem, because it seems to contradict the title of this issue.
Could you formulate your problem more precisely?

[2015-12-29 08:30] RieksJ commented on #257
My problem is that the prototype that I have generated with the provided (valid) script does not allow me to enter a text in the field `Message Text` of the `Send Message` interface. When I press 'Enter', nothing happens. Also, whenever it somehow does occur that rules are evaluated, the rule that I specified does not fire, implying, that at least one of the session-variables is considered empty (

[2015-12-29 13:15] stefjoosten commented on #257
Has this problem been solved (by  adding `REPRESENT Person TYPE ALPHANUMERIC` to your script)?

[2015-12-30 05:06] RieksJ commented on #257
No, that would not fix my problem. The presented script is an excerpt from a larger script, in which `Person` has other relations (attributes). Using your suggestion would not solve that (larger) problem.

[2016-01-05 11:24] stefjoosten opened #258 "Old e-mail about ECA-rules"
Sebastiaan wrote the following e-mail, some time ago, which I have not answered yet. This issue is made for not forgetting to do that. It is relevant for the ECA-rule theme in Ampersand. @sjcjoosten : Sebastiaan, if you feel the need to rephrase this question with contemporary insights, please do so in English for @WolframKahl . You can do so by simply editing this comment.

---

Hey Stef,

als je

[2016-01-05 15:05] RieksJ opened #259 "INTERFACE extensions"
I keep running into an INTERFACE management issue, in the sense that you cannot compose INTERFACEs in the way you can do with relations and rules. I continually need to create all sorts of versions of the same interface, depending on what patterns I use. This ticket starts a discussion on compositionality of INTERFACEs.

My first thoughts are that an INTERFACE can specify (named) points where it m

[2016-01-05 20:44] hanjoosten opened #260 "Representation mismatch in recent versions of Ampersand"
Whenever there is a REPRESENT statement, it seems that this is disregarded. For me this is the reason I cannot use a recent version of Ampersand. I know Stef is having trouble with this too (issue #262).

Given the following script:

[code]

This tiny script is perfectly allright. It could be succesfully compiled with Ampersand v3.2.0[master:62e159f*]
However, it fails when using Ampersand v3.3.0[

[2016-01-05 20:48] hanjoosten commented on #260
This has been introduced in the master branch with the pull request https://github.com/AmpersandTarski/ampersand/pull/243 (upgrade to ghc 7.10)

[2016-01-06 06:33] RieksJ commented on #260
To me, this sounds the same as issue #257.

[2016-01-06 07:30] RieksJ opened #261 "Should we support MODULEs?"
I have just checked in the ampersand-model: `SIAM` (Sessions, Identity and Access Management). The idea of being modular is that should be able to just `INCLUDE ../SIAM/SIAM.adl`, and off you go.

However, if such a module were to need VIEWS, ExecEngine extensions, images or the like, they are not going to be included automatically in a prototype. You would have to copy all that stuff into the INC

[2016-01-06 08:44] hanjoosten commented on #260
Yes, that is very likely. However, this one is more specific, for it does not have anything to do with interfaces / frontend. Hence, assigning @Michiel-s is pointless.

[2016-01-06 10:03] stefjoosten opened #262 "Funny behaviour of integers in spreadsheet include."
The inclusion of spreadsheet `ProductCodes.xlsx` shows erratic behaviour:
[code]

This issue is visible by executing the prototype ampersand-models/Blik/Arch.adl in of commit AmpersandTarski/ampersand-models@142cac661df8e3855f3c6f5552c36b1fc69fb202, which has been compiled with Ampersand v3.3.0[master:c3382b6*], build time: 29-Dec-15.

This issue did *not* occur when executing the same file, but c

[2016-01-06 10:32] stefjoosten opened #263 "Trailing whitespace is not treated right in the database"
This issue is visible by executing the prototype ampersand-models/Blik/Arch.adl in of commit AmpersandTarski/ampersand-models@142cac661df8e3855f3c6f5552c36b1fc69fb202, which has been compiled with Ampersand v3.1.0[master:ac300ab], build time: 05-Oct-15.

When the user resets the database (from his browser), the following error 500 occurs:

[code]

This occurs in `Generics.php`.
# Analysis

The pro

[2016-01-06 11:29] hanjoosten commented on #262
This is a duplicate of issue #260

[2016-01-06 11:29] #262 closed

[2016-01-06 13:01] sjcjoosten commented on #261
Great idea to support modules!

I don't believe it is a good idea to look into a directory relative to the path of a certain file. I do like the idea of modules, so how about a ``INCLUDE ../SIAM.zip``, which will find all ``.adl`` files and include files? We are going to need some rules on what to do with conflicting files. For instance: if ``SIAM.zip`` and ``SPAM.zip`` both include ``module.adl``

[2016-01-06 13:22] RieksJ commented on #261
Where @sjcjoosten seems to look more from a tool-implementers perspective, I was looking more from a developer perspective. So while @sjcjoosten prefers `.zip` files, I prefer directories with content that is much more easy to edit (at least until we really know what constitutes a module and what does not). In the meantime, we might support both: I can see where `.zip` files have benefits.

W.r.t.

[2016-01-06 13:41] sjcjoosten commented on #261
I like the rule that files with the same path must have the same content.

My remark about using ``.zip`` files was not intended as a tool-implementers perspective: I have had some experience with using 'folders as files', and I seem to constantly run into trouble when sharing it with others, which is what I believe modules are for. But I agree that having a directory instead of a ``.zip`` has its

[2016-01-06 16:13] hanjoosten commented on #263
See also [this thread](http://stackoverflow.com/questions/12542889/mysql-5-5-losing-trailing-spaces-in-query) about trailing spaces in MySQL.

[2016-01-07 04:18] RieksJ opened #264 "Feature request: LocalSettings must import all PHP files from \Settings dir"
With reference to the discussion #261, I request that `localSettings.php` would import all .php files from a directory `\Settings`, which is needed for the creation of modules, and is otherwise nice to have as well.

[2016-01-07 23:54] WolframKahl opened #265 "P_RoleRule confusion"
In ```src/Database/Design/Ampersand/Core/ParseTree.hs``` I find:
[code]
The field name ```nRoles``` is a natural-language plural, its type ```[Role]``` is naturally interpreted as a Haskell-plural of ```Role```, but the comment says that this list of ```Role``` elements is a single name of a single role?
(Almost the same for ```mRules```.) Are these multi-part names or not?
The comment before the

[2016-01-08 14:01] stefjoosten opened #266 "Arguments.xlsx is read improperly from an INCLUDE statement"
When running Tiles.adl (commit AmpersandTarski/ampersand-models@c3aebc60268b58313c8ca655bf1c42fee3b63c48), the file Arguments.xlsx is not read properly. I have compiled it with Ampersand v3.1.0[master:ac300ab], build time: 05-Oct-15.

After I initialize the database, the contents of the database does not correspond with the contents of Arguments.xlsx ..

[2016-01-09 09:09] hanjoosten commented on #266
@stefjoosten Please eleborate on what you expect and what actually happens.

[2016-01-09 19:55] stefjoosten opened #267 "NewStruct in Exec-Engine gives insufficient feedback"
I have an Ampersand-script, Statements.adl, consolidated in AmpersandTarski/ampersand-models@92baec6e4025cd620d5ce7c5ddf563eeda660338. It was compiled by Ampersand v3.1.0[master:ac300ab], build time: 05-Oct-15. This script calls the following Exec-Engine rule:

    RULE addFirstPlaceholder : template;head |- head;bind
    VIOLATION ( TXT "{EX} NewStruct;Prefix"
              , TXT ";head;Sequence;

[2016-01-09 21:11] hanjoosten commented on #265
The comment has clearly not been updated. The Haskell type clearly states that there is a list of Roles. In the past, the P_RoleRule datatype was about two strings that contained the name of the role and another that contained the name of a rule.
It would be easy to fix this particular comment. However, I fear that the comments in the data types (specially the ones declared in src/Database/Design/

[2016-01-10 08:39] RieksJ commented on #267
First of all, it would help if you provide the steps that I could follow in order to reproduce the bug. Given your issue, I would expect the bug to occur already when installing the initial population. That doesn't happen at my side. Since I cannot re-create the Ampersand-version that you use, I suggest you use the version of december 10th (that I use) and see if that resolves the problem.

Then,

[2016-01-10 09:18] stefjoosten opened #268 "Possible optimisation in SQL-code"
# Observation

Currently, the code generator generates SQL-code for Epsilon-expressions, as in:

[code]

The code for epsilons can be avoided, which leads to almost half the size of this query:

[code]
# Analysis

Epsilon expressions are introduced for type checking. They satisfy:

[code]

The typechecker introduces `epsilon X [Y*Z]` only if `X ISA Y` and `X ISA Z`.
The typechecker ensures that ev

[2016-01-10 11:44] stefjoosten commented on #267
Rieks, you are right. Information to reproduce the error was missing.

After installing the database, there exists one Template with three variables in the database. It is called 'Matrijs1'.
Then I want to make a Statement based on that Template.  So I press + and select Statement. Then I pick 'Matrijs1' as the template. This is where the Exec-Engine should kick in to react on violation of rule ad

[2016-01-10 11:45] RieksJ commented on #267
Did you try the other Ampersand.exe?

[2016-01-10 11:45] stefjoosten commented on #267
oops: that was rule 'addFirstPlaceholder'.

[2016-01-10 11:51] RieksJ opened #269 "Implement Monolog as logging framework for php backend"
It would be very helpful for debugging purposes to have the log window display all the log entries that have been added to the logging cache. @Michiel-s: Would that be possible?

[2016-01-10 11:56] RieksJ opened #270 "I can no longer add labels etc. to issues. What's happening?"
I can no longer add labels etc. to issues. What's happening? @stefjoosten @hanjoosten have an idea?

[2016-01-10 12:05] stefjoosten commented on #267
No,  not yet. I'm on the road, so not able right now.

[2016-01-10 13:06] hanjoosten commented on #270
This is probably due to the fact that I added some restrictions to ampersand, as Stef has discussed with you. The problem is that I cannot test properly, as I have no 'normal' account.

[2016-01-10 13:47] stefjoosten commented on #267
Could it be that 'delVarHead' compensates what 'addFirstPlaceholder' has iserted in seq? When that alternates, that would explain Error 500.

[2016-01-10 14:22] hanjoosten commented on #268
The SQL generator is ment to transform normilized expressions only. No semantics of normalization should be put into the SQL genarator. This is clearly a normalization issue.

[2016-01-10 15:41] WolframKahl commented on #268
Unfortunately I am still not fully confident with parsing
your use of relation algebra withing English sentences ---
could you please help me by clarifying the following:

On Sun, Jan 10, 2016 at 01:18:41AM -0800, Stef Joosten wrote:

What does `B*C` mean here?
And what does ``implies'' mean here?
Since, so far, when I have seen relation expressions `R` used as ``formulae''
in English sentences, I

[2016-01-10 22:20] stefjoosten commented on #268
Sorry Wolfram, I wrote `B*C` where I meant `B=C`. My mistake. I have corrected my comment in situ.

Does this answer your question?
(By the way, my comment was informal and intended for Han and myself. As a reminder to fix this some day.)

[2016-01-11 00:49] WolframKahl commented on #268
Yes, thanks!

(So

means “the presence of an expression `r[A*B];s[C*D]` implies `B=C` ”; now clear.)

If I consider ```I[B*B];epsilon X [B*C];I[C*C]```,
with ```B = {2,3,4}``` and ```C = {3,4,5}``` and ```X = {3}```,
then ```I[B*B];epsilon X [B*C];I[C*C] = {(3,3)}```,
while ```I[B*B];I[C*C] = {(3,3), (4,4)}```,
or am I misunderstanding something?

[2016-01-11 05:49] hanjoosten commented on #268
Well, in your example, x would be a relation from B to C, where B and C are sets. so with B = {2,3,4} and C = {3,4,5}, x cannot be {3}, since x contains tuples. So x could be something like { (2,3), (5,3), (5,4)}.

The epsilon is some internal thing ment for cope with ISA relations between the concepts. i.e. If B would be the set of People, and C would be the set of Males, then obviously, you woul

[2016-01-11 06:41] stefjoosten commented on #268
Yes, there is an extra detail you might want to know.

Without any `CLASSIFY` statements, `I[B*B];I[C*C]` is type incorrect.

If the Ampersand-script contains `CLASSIFY` statements such that there is one `X` with `X ISA B` and `X ISA C`, the type checker will accept `I[B*B];I[C*C]` and interpret it as `I[B*B];epsilon X [B*C];I[C*C]`. In that case, `I[B*B];I[C*C] = {(3,3)}`, because `X = {3}`.

How

[2016-01-11 06:44] stefjoosten commented on #268
@WolframKahl Wolfram, do you mind if I clean up the part of our discussion about `B*C` versus `B=C`? In that way, this ticket becomes more understandable for future readers, who might find this interesting.

[2016-01-11 06:50] stefjoosten commented on #268
Han, I deleted your comment (see below), to keep the issue understandable for future readers.

________________________________________
Van: Han Joosten <notifications@github.com>
Verzonden: maandag 11 januari 2016 06:49
Aan: Joosten, Stef
Onderwerp: Re: [ampersand] Possible optimisation in SQL-code (#268)

Well, in your example, x would be a relation from B to C, where B and C are sets. so with B

[2016-01-11 07:57] stefjoosten commented on #267
I did the following experiment. I changed the code into:

    RULE addFirstPlaceholder : template;head |- head;bind
    VIOLATION ( TXT "{EX} NewStruct;Prefix"
              , TXT ";head;Sequence;", SRC I[Sequence], TXT ";Item;_NEW"
              , TXT ";seq;Item;_NEW;Sequence;", SRC I[Sequence]
              , TXT ";bind;Prefix;_NEW;Variable;" , TGT I[Variable]
              )
    ROLE ExecEngine

[2016-01-11 08:50] stefjoosten commented on #267
# Solution
After a hint from Michiel this morning, I discovered that the use of `NewStruct` is subject to the following rule:

If you say `{EX} NewStruct;Prefix`, every occurrence of `_NEW` should have type `Prefix`. This holds for every concept (here: `Prefix`). So the code now becomes:

    RULE addFirstPlaceholder : template;head |- head;bind
    VIOLATION ( TXT "{EX} NewStruct;Prefix"

[2016-01-11 08:54] stefjoosten commented on #267
@Michiel-s said he plans to look into the feedback given to the programmer. In this particular case, I got no helpful feedback from the Exec-Engine. Maybe future occurrences of violations of the NewStruct-rule can be prevented by better feedback. Michiel, would you close this issue when the feedback is in place?

[2016-01-11 13:56] WolframKahl commented on #268
Does this “one” mean “exactly one”? Apparently not, see below.

(So `X` is still a concept, not a relation like Han seemed to suggest?
 And `epsilon X [Y*Z]` denotes the relation `I[X]` considered as of type `Y*Z`,
 and is well-formed (if and?) only if `X ISA Y` and `X ISA Z`?)

What if there are two maximal such concepts, but no largest one?

But if there is no declaration for `Y`, then the typec

[2016-01-11 13:58] WolframKahl commented on #268
Please do, no problem!

[2016-01-11 22:47] stefjoosten commented on #268
Han was mistaken. `X` is a concept. For that reason, his comment was removed.

Your observation is correct that `epsilon X [Y*Z]` denotes the relation `I[X]` considered as of type `Y*Z`, and is well-formed if `X ISA Y` and `X ISA Z`.

If there are two maximal such concepts, but no largest one, the type checker will complain and refuse the Ampersand-script.

Your last remark requires Ampersand to h

[2016-01-11 23:05] WolframKahl commented on #268
I don't think my reasoning is population-dependent: The point I am trying to make (without having tried to understand the SQL above) is that a type-checker-inserted `epsilon X [B*C]` cannot be removed unless you have proof that `X = B \intersection C`.

Or, alternatively, if `X < B \intersection C`, then you could argue that the insertion of `epsilon X [B*C]` is unsound. Actually I think I tend mo

[2016-01-11 23:25] stefjoosten commented on #268
7. If `X = B \intersection C`, we know straight away that `X` is the largest concept, because intersection represents the least upper bound in the partial order of concepts. (In other words, if `X = B \intersection C`, there is no `Y` larger than `X` other than `X` itself.)

8. Indeed, if the partial order of concepts (i.e. the set of ISA-statements in a context) changes, the author may be in for

[2016-01-11 23:40] WolframKahl commented on #268
Another solution could be intersection types, that is, there would always be the type `B \intersection C`.
(One could restict this to cases where `B` and `C` have a common supertype ─ which are the cases that give rise to possibly problematic `epsilon` insertions, if my understanding is correct.)

Happy Birthday Sebastiaan!

[2016-01-12 04:36] stefjoosten commented on #268
This is a design choice. Ampersand insists on a concept name for every allowed type. Consider the following example:

    CLASSIFY Employee ISA Person
    CLASSIFY Student ISA Person

In this case, Ampersand requires that `Employee` and `Student` be disjoint.
In order to allow atoms that are both `Employee` and `Student`, the Ampersand-user must add:

    CLASSIFY StudentEmployee IS Employee /\ St

[2016-01-12 08:47] hanjoosten commented on #103
@Michiel-s , Ik heb nu een model met veel top-level interfaces, waarbij ik bij een breed scherm last heb zoals beschreven. Ik kan het scherm minder breed maken, dan heb ik op een gegeven moment het kantelpunt. Is dat eenvoudig instelbaar te maken?

[2016-01-13 09:37] stefjoosten opened #271 "Security in Production"
This page has been moved to our book. [See here](https://ampersandtarski.gitbooks.io/documentation/prototypes/limitations-and-features.html). The reason behind this is that this is not an issue, but has to do with the current status of security wrt Ampersand. Of course, the book should be updated when the status of Ampersand wrt security grows more mature.

[2016-01-13 09:57] stefjoosten commented on #265
Thanks, @WolframKahl for this issue. Yes, creating an issue is the right way to point out things like this.

the reason: Even in the worst-case, where your remark would be ignored, there still must be someone  to take a decision to close the issue. So even ignoring becomes explicit.

[2016-01-13 10:15] stefjoosten commented on #259
I recognize the problem. We have of course the recursive sub-interface mechanism, which uses keywords `INTERFACE` and `LINKTO` . They were made for this purpose and give what you are asking for.

Based on the experiences with this mechanism, we know that there is more to this problem than meets the eye. So the next step should be a good rethinking of this problem on the basis of the semantics of t

[2016-01-13 10:17] stefjoosten commented on #257
@RieksJ , if you think issue #260 might solve this issue too, I suggest you close this issue.

[2016-01-13 10:29] hanjoosten commented on #257
I would suggest to leave this issue open as long as #260 has not been fixed. Then, @RieksJ would surely be able to decide that this issue is solved as well, or that this is a different issue.

[2016-01-13 10:41] stefjoosten commented on #253
I dislike the option `--crud-default=`, because it is an external influence on the semantics of a script. It allows us to have two different semantics for one script. This is bound to confuse users. I suggest to have "CRUD" as the default for any missing crud-annotation. In this way we can tell the students and other users that doing nothing will give them everything. Adding "CRUD" gives them no r

[2016-01-13 10:44] stefjoosten commented on #249
It doesn't work, but it is not urgent. @hanjoosten I see that tables are timestamped automatically in the database. How do I use that from my Ampersand-script?

[2016-01-13 11:06] hanjoosten commented on #249
This is a feature in the implementation of mysql only. It is not accessable from your script, as far as I know.

[2016-01-13 11:32] sjcjoosten commented on #271
It is quite easy to check whether some SQL injection attack has been implemented. Enter ```'\``` in some field. If it comes out looking the same way as it came in, at least something has been done to handle the input correctly (some people still make mistakes in how to handle the input, so it's not a guarantee of security, but it does show that it has not been forgotten).

Another injection attack

[2016-01-13 12:47] stefjoosten commented on #271
There is a subtle difference here: being secure is one thing, being able to show (and explain) that it is secure is a different thing. I have made this issue for the latter purpose.

________________________________________
Van: Sebastiaan Joosten <notifications@github.com>
Verzonden: woensdag 13 januari 2016 12:32
Aan: Joosten, Stef
Onderwerp: Re: [ampersand] SQL-security (#271)

It is quite easy

[2016-01-13 13:14] sjcjoosten commented on #271
I was fearing that that would be the reason... Well, as I wrote: Ampersand provides a similar API that prevents you from forgetting it, albeit possibly a more restrictive API. This means that as far as Ampersand goes, it offers a nice ```secure layer``` into which arbitrary strings may be entered, which will prevent SQL-injection actions from happening. The key point is to position Ampersand's API

[2016-01-13 13:23] RieksJ commented on #271
AFAIK, we currently use Ampersand for the purpose of fleshing out functional specifications, not for creating production software. For that purpose, there is no need to be secure at the SQL level.

Having said that, purpose-creep may cause the purpose to slide more towards the generation of actual production software. But then we should care about many more issues (e.g. performance on large popula

[2016-01-13 13:28] RieksJ commented on #249
That's correct. If you need to do timestamping, you can do this with an ExecEngine rule that contains a violation such as

    VIOLATION (TXT "{EX} InsPair;timestamprelation;SomeConcept;", SRC I, TXT ";DateTimeConcept;{php}gmdate('d-m-Y H:i T')" -- Set the DateTime for the atom of SomeConcept

Google the PHP-function `gmdate` to find more ways for formatting the timestamp

[2016-01-13 13:31] RieksJ commented on #103
Suggesties voor workarounds:
- gebruik kortere interfacenamen
- verzin rollen en hang aan elke rol slechts een paar interfaces (rollen dienen zo als een soort submenu selector)

[2016-01-13 13:40] RieksJ commented on #259
The keywords `INTERFACE` and `LINKTO` do not give what I'm asking for, since they produce an error when the referred-to interface does not exist.

[2016-01-14 07:43] stefjoosten opened #272 "Interface functionality (bug)"
This issue is probably superfluous, as we are waiting for Michiel's CRUD feature. Nevertheless, I want to document this issue as a reminder to myself. In the meantime, I would appreciate @Michiel-s 's view on a possible workaround, because I cannot think of one and I need it badly.
# Situation and Observations

This issue is about the source code in Statements.adl  (AmpersandTarski/ampersand-model

[2016-01-14 15:25] hanjoosten opened #273 "Undefined control sequence. \tightlist"
When using Markdown as pandoc format, I ran into \tightlist not defined. This is caused by pandoc. We probably still use an old pandoc template for LaTeX.

(See http://tex.stackexchange.com/questions/257418/error-tightlist-converting-md-file-into-pdf-using-pandoc ).

[2016-01-14 15:45] hanjoosten commented on #273
This isn't only for markdown, but it seems to be for all LaTeX output of the functional documentation.

[2016-01-14 15:46] hanjoosten commented on #273
(since the use of pandoc 1.15)

[2016-01-14 16:44] WolframKahl commented on #273
See https://github.com/osener/markup.rocks/issues/4

[2016-01-15 04:59] WolframKahl commented on #268
In my eyes, the presence of
[code]
is the only kind of proof you are currently considering for facts of shape ```X = B \intersection C```,
so, going back to the head of this issue, only those ```epsilon X [B*C]``` for which
[code]
is in scope can safely be eliminated.

If you don't know ```X = B \intersection C```, then even if ```X`` is the largest concept with
[code]
, you still cannot eliminate

[2016-01-16 21:52] #270 closed

[2016-01-16 22:00] RieksJ opened #278 "Cannot enter the text '0' (zero) in an ALPHANUMERIC type"
When I have a script containing stuff such as

   itemName :: Item * ItemName [UNI]     REPRESENT ItemName Type ALPHANUMERIC

and I have an `INTERFACE` within which I can edit `itemName`
and I try to enter the (text) '0' (zero),
then it discards the edit.

This may be a consequence of PHP's smart use of '0', 'NULL', "" (empty string) and stuff.
But it is not the behaviour that I would like to see.

[2016-01-17 17:49] stefjoosten opened #279 "Transaction Theory"
This issue is a discussion about the fundamentals of Transactions. In this issue, we can discuss freely about this topic.

In https://www.gitbook.com/book/ampersandtarski/documentation/edit#/edit/master/modeling/transaction%20theory.md I want to collect the insights that are developed in a more definitive form. The documentation must emerge from that. I hope it works.

First of all, I want @sjcjoo

[2016-01-17 18:23] sjcjoosten commented on #279
Thank you Stef for the setup. I moved your changes to a separate branch: "WithTransactions". Choosing the branch happens in the top right hand corner. This way, the master branch can describe Ampersand as it is, while we are working on the documentation of Ampersand as it will be.

[2016-01-17 20:48] sjcjoosten commented on #279
I put my 2 cents in the gitbook. Basically, I propose to add rules to interfaces (much like CRUD is added to interfaces, but with the RULE-syntax), where ``pre(..)`` and ``post(..)`` must be written around every expression.

Rules of the form ``post(relation) = pre(..)`` can definitely be translated into automatic functionality, as such rules describe the new value of ``relation`` exactly. The amp

[2016-01-18 13:04] stefjoosten commented on #279
Great! I ought to have thought of that myself (but apparently I am still human). Thanks for pointing it out and taking the action.

Stef Joosten

M +31 (0)6 51348895
skype: stef.joosten

-----Oorspronkelijk bericht-----
Van: Sebastiaan Joosten [mailto:notifications@github.com]
Verzonden: zondag 17 januari 2016 19:24
Aan: Joosten, Stef
Onderwerp: Re: [ampersand] Transaction Theory (#279)

Thank you

[2016-01-18 19:28] stefjoosten commented on #279
(1) `'TopStack'` is a stack, because `'TopStack';V[Stack]` is well typed.
(2) `'TopStack'` is a `NonEmptyStack`, because `'EmptyStack' = I[Stack] - I[NonEmptyStack]`.
(3) Every `NonEmptyStack` has one item, because `item` is a function.
(4) `'TopStack'` has one item, because (2) and (3).
(5) The script does not define the item that is associated with `'TopStack'`, so this script contains a violati

[2016-01-18 20:07] sjcjoosten commented on #279
Ah yes, I assumed that 'TopStack' and 'EmptyStack' would be allowed to be the same stack, this is not necessarily true of course. So the script forbids the topstack to be empty. However, the script does not contain a violation of the totality of item, it's just that the population of item has not been specified (and indeed, there should be some item that belongs to topstack if it is nonempty). Als

[2016-01-19 12:02] RieksJ opened #280 "Normalizer takes forever to compile a script"
Consider the following script

[code]

When I try to compile this script using Ampersand v3.2.0[HEAD:9f8f087](mid december 2015), it keeps wanting memory and does not (seem to) terminate. Note that when you remove either the term with the `pref`-stuff or that with the `post`-stuff, it does not have any problems.

[2016-01-19 12:43] hanjoosten commented on #253
Spoken to @Michiel-s . I'll do this in the branch `branch_#228`

[2016-01-19 12:43] hanjoosten commented on #253
link to issue #228

[2016-01-19 12:48] hanjoosten commented on #280
I bet this is a normalizer issue.

[2016-01-21 11:23] RieksJ opened #282 "INCLUDE statements should be relative to the file in which they are found"
Currently the statement `INCLUDE "file"` interprets `"file"` as a reference to a file where the reference is relative to the directory/path from which Ampersand has taken the script to compile (see e.g. issue #75). Consequently, when you put a group of related files in a directory, you cannot have such files `INCLUDE` one another unless you make assumptions about the path from which the Ampersand

[2016-01-21 11:57] RieksJ opened #283 "Omission in error messages of INCLUDE statements"
When you have big projects with very many `INCLUDE`s all over the place, and if you then get a message such as `could not find <somefile>`, it would help a lot if the message would also state the filename and the line number at which this INCLUDE statement generated the error.

[2016-01-21 13:13] hanjoosten commented on #283
Very true. Maybe someday.... As a workaround, I advice you to use [Agent Ransack](https://www.mythicsoft.com/agentransack).

[2016-01-21 13:38] hanjoosten opened #284 "Error, Sentinel terminated unexpectedly."
Sentinel fails because of the upgrade to GHC 7.10.3. Sentinel still has GHC 7.8 @sjcjoosten , you had Sentinel running ghc 7.10 before. Is this an easy thing to fix for you?

[2016-01-21 13:42] sjcjoosten commented on #284
Yes, I wrote a ticket saying what I should do somewhere... now where is it?

[2016-01-21 13:46] sjcjoosten commented on #284
Can you test whether I fixed it? Sentinel is on 7.10.2 now

[2016-01-21 15:11] hanjoosten commented on #284
Unfortunately, we get:

[code]

[2016-01-21 15:16] sjcjoosten commented on #284
ouch!

[2016-01-21 15:22] sjcjoosten commented on #284
Ok, should be fixed. Sentinel is on 7.10.3 now

[2016-01-21 15:22] #284 closed

[2016-01-22 10:59] sjcjoosten commented on #260
Sorry for the delay in fixing this

[2016-01-22 10:59] #260 closed

[2016-01-22 13:35] RieksJ opened #285 "Date conversion processing by ExecEngine fails"
[code]

The rule `Login Logging` does not get satisfied by the violation statement, because when the ExecEngine reads a DATETIME-represented field, it does not convert to the timezone in the same way as (the rest of) the framework does. That should be fixed.

[2016-01-22 14:29] hanjoosten commented on #260
Thanks for the fix! could you add a pull request, so Stef can merge it into
the master, or is there still something that has to be done?

2016-01-22 11:59 GMT+01:00 Sebastiaan Joosten <notifications@github.com>:

[2016-01-23 18:15] hanjoosten commented on #257
@RieksJ, Issue #260 has been fixed and merged into master. Could you please retest this issue?

[2016-01-23 18:16] hanjoosten commented on #255
This might have been related with issue #260, which has been fixed. @RieksJ , could you please retest this issue?

[2016-01-24 06:19] RieksJ opened #288 "Prototype installation does not seem to complete"
Compile the following script:

[code]
It does compile (I used `Ampersand v3.2.0[HEAD:9f8f087]`). but when starting it as a prototype, the installer keeps showing the circle that turns round and round.

[2016-01-25 13:01] hanjoosten commented on #228
In the current version, I consistently get an error that something is missing in the frontend:

[code]

[2016-01-25 16:58] stefjoosten commented on #282
How does this differ from issue #75?

[2016-01-25 17:03] sjcjoosten commented on #282
Issue #75 is about allowing INCLUDE statements to have paths. This issue is about how those paths are interpreted.

[2016-01-25 18:20] RieksJ commented on #282
An alternative might be to have a syntax like `INCLUDE  "repoid" "fileid"` where `repoid` would either be
* a path such as `C:\Ampersand\Git\ampersand-modules` where the file can be found, or
* a symbolic name for a local repository with some way to resolve that symbolic name into a path where the file can be found.

The symbolic name option may have the nice property that different people can pla

[2016-01-25 18:50] hanjoosten commented on #282
Currently, all include statements are allowed to have paths. These paths are interpreted as relative w.r.t the main script (the one mentioned as a parameter to ampersand.)

[2016-01-25 19:12] #273 closed

[2016-01-25 20:42] stefjoosten opened #290 "Transactions in practice"
This issue is about the practicalities of transactions in the prototype. It is meant to consolidat a discussion between Michiel, Wolfram, myself, and Yuriy. Here is the problem (at Others: please rephrase if you can do better...)
# Problem

In order to incorporate automated rules in the generated software, the backend (written by the generator) provides API-calls to ECA-rules. These will be called

[2016-01-25 22:24] WolframKahl commented on #290
The probably most important aspect of this communication is that ECA-rules need (currently one) ```ecaDelta``` as input. Currently, ``` ecaDelta ::  Declaration```, so the SQL translation would most naturally expect to be able to use the ```decnm``` of that declaration as relation name referring to the relevant actual delta. This actual delta is what is being inserted to or deleted from one of the

[2016-01-26 06:55] hanjoosten commented on #152
In retrospect, I thought of an example that would still trigger this fatal. I modified Issue152.adl, and that prooved I was right. So this issue has not been solved completely.

[2016-01-26 07:15] RieksJ opened #291 "VIEW does not work properly with Intersection types"
The `VIEW` statement (default view) does not always  work properly in the context of generalizations. The following script has a comment in the INTERFACE where this goes wrong. I still use Ampersand v3.2.0[HEAD:9f8f087].

[code]

[2016-01-26 07:24] RieksJ opened #292 "Error in UNI-test (in the presence of intersection types?)"
The following script (very much like the one used in #291), has a (slightly modified) population (using `seqName` rather than the intended `seqTreeName`). The population is valid. I use Ampersand v3.2.0[HEAD:9f8f087]. When initializing the database, it erroneously produces the following error:
<img width="551" alt="picture1" src="https://cloud.githubusercontent.com/assets/8522589/12574637/22c8104e

[2016-01-26 07:25] hanjoosten commented on #291
Please specify the complete version number. The version number 3.2 is incomplete and thus useless. Also, there is no need anymore not to use the current master.

[2016-01-26 07:45] stefjoosten commented on #292
@RieksJ , in order to make this bug reproducible on a later date, could you add text such as (example):
This issue is visible by compiling this script with Ampersand v3.3.0[master:c3382b6*], build time: 29-Dec-15. (use Ampersand --version to get this line of text).

[2016-01-26 07:50] stefjoosten commented on #292
Is it possible that you forgot to add the line:

    REPRESENT SeqTreeName TYPE ALPHANUMERIC

[2016-01-26 08:09] stefjoosten commented on #292
Here are some symptoms, which might help in getting a good diagnosis:

1. Removing property `UNI` from relation `itemInSeq` yields an installation without violations.
2. Atom `DocAtom`, which is a `Sequence`, does not occur in the concept table of sequences (which is located in SQL-table `Item`). This is clearly a mistake, so we have a bug.
3. On first sight, none of the Exec-Engine rules were cal

[2016-01-26 12:37] RieksJ commented on #292
Regarding the possible omission of `REPRESENT`: my understanding of the represent-types is that there is one represent-type for a family of ISA's, which is maintained by Ampersand, unless I explicitly make an error in specifying this. From that, it follows that I need not have specified a REPRESENT statement.
Having said that: a choise of REPRESENT-types should not have any effect on the problem I

[2016-01-26 14:50] WolframKahl commented on #291
On Mon, Jan 25, 2016 at 11:15:10PM -0800, Rieks wrote:

[code]

The ```--``` here presumable start comments.

[code]

How about the ```--``` here?

Wolfram

[2016-01-26 15:03] sjcjoosten commented on #291
also starts comments.
The only place where ``--`` does not start comments, is within a comment:

[code]

[2016-01-28 13:42] hanjoosten opened #293 "Wrong table name in Technical data model drawing"
The file KlantRollen.adl as in commit https://github.com/AmpersandTarski/ampersand-models/commit/bde8e89a87499636b444b39f6987c3e38865edc4 produces the following logical and technical data models:

[LogicalDataModel.pdf](https://github.com/AmpersandTarski/ampersand/files/108221/LogicalDataModel.pdf)

[TechnicalDataModel.pdf](https://github.com/AmpersandTarski/ampersand/files/108226/TechnicalDataMod

[2016-01-28 15:30] RieksJ opened #294 "SIAM module and front-end role activation"
The SIAM module now uses new relations for role handling, such as `sessionAllowedRoles` and `sessionActiveRoles` (as well as corresponding relations related to Accounts). They should be supported in the front-end.

[2016-01-28 16:29] stefjoosten commented on #292
Sounds good...

[2016-01-29 11:27] RieksJ opened #295 "Problems with ExecEngine rule evaluation?"
I created a protype (using Ampersand v3.2.0[HEAD:9f8f087]) from the following script:

[code]

When initializing the database using the specified population, there are too many reruns of the ExecEnging. It keeps finding both rules to be in violation. When I discard Account `Acc_2`, then there is no problem (and a Persona is created like you would expect).

[2016-01-30 14:58] hanjoosten commented on #253
@Michiel-s, I added the temporary --crud-defaults switch as we discussed last week. (in the branch)

[2016-01-31 07:15] stefjoosten commented on #295
Hi @Rieks,
From the phrase `MAINTAINS "Auto delete incomplete Persona"`, I guess that you intend to have a rule with `MEANING "Every Persona must have a pActor and a pParty."`. So, I think you intended to write
(1)  `RULE "Auto delete incomplete Persona": I[Persona] |- pActor;pActor~ /\ pParty;pParty~`
instead of
(2)  `RULE "Auto delete incomplete Persona": I[Persona] /\ pActor;pActor~ /\ pParty;p

[2016-01-31 07:30] stefjoosten commented on #293
I expect this issue to be linked to issue #292 (Error in UNI-test in the presence of intersection types)

[2016-01-31 07:46] stefjoosten commented on #293
The logical data model does not look fine. Concept `Beheerder` has no concept-table.

[2016-01-31 08:39] RieksJ commented on #295
Yes it does. Your suggestion about the rule I intended is right. In retrospect, it's (again) one of these 'stupid' things that happen (regularly, alas). These things seem to be unavoidable (for me, at least). It is good to see that some (minimal) documentation about intentions helps (others) to find my bugs. Great.

As another pondering, it is obvious that the rule you suggest does not rewrite to

[2016-01-31 08:39] #295 closed

[2016-01-31 09:57] stefjoosten commented on #293
# Analysis
This script yields 4 entities: Beheerder, Klant, Klantrol, and Identiteit.
All four are in the same typology.
However, there is no unique largest element. I.e. the classification tree has no unique root concept.

The generated database model looks like this:
![image](https://cloud.githubusercontent.com/assets/275768/12701380/aaf98bcc-c808-11e5-832b-6f26d448ea49.png)
What is wrong here,

[2016-01-31 15:31] WolframKahl commented on #295
On Sat, Jan 30, 2016 at 11:15:50PM -0800, Stef Joosten wrote:

I always thought that a relational expression R used as a formula, which includes use as a `RULE`, means that $R = V$.
Is this correct?

(But $I = V$ only very rarely... With that reading, (2) even means: Every two things are the same `Persona`, and have the same `pActor` and the same `pParty`.)

(Personally, I also find imperative rul

[2016-01-31 19:29] hanjoosten commented on #256
I ran into a similar bug. Because of the UNI in the relation, value will be stored in the same table where Item is stored, Hence, the structure of the table enforces UNI. However, that does not hold for TOT and SUR, because the concepts could generally have greater concepts. Hence, a proper query must be generated at all times for TOT and SUR.

[2016-01-31 20:00] hanjoosten commented on #256
When I write SUR as a rule, it gets generated perfectly. This once more tells that there is nothing wrong with the SQL generator. The SQL generator only needs the correct expression...

So the workaround is:
Instead of writing

[code]
explicitly write the rule:
[code]

[2016-01-31 20:51] hanjoosten commented on #253
The rest of what should happen is in issue #141 , so this issue can be closed. If you think that is too early, go ahead and reopen this issue. Please motivate.

[2016-01-31 20:51] #253 closed

[2016-01-31 20:58] hanjoosten commented on #256
The same is true for INJ relations. An example is uploaded in commit https://github.com/AmpersandTarski/ampersand-models.git . See the workaround rules at the bottom of file KlantRollen.ifc (That is also the correct file to generate the prototype from)

[2016-02-01 07:26] stefjoosten commented on #292
# Hypothesis
I think these problems can be explained from one observation: the user states that `CLASSIFY SeqTree IS Sequence /\ Item`, but there is no concept `X` such that `Sequence ISA X` and `Item ISA X`.

In the RAMiCS article of 2011, Jaap vd Woude already showed that Ampersand rests on an assumption that there must be a greatest lower bound (glb) for two concepts in order to be compared at

[2016-02-01 07:45] stefjoosten commented on #292
After adding

    CLASSIFY Sequence ISA SeqOrItem
    CLASSIFY Item     ISA SeqOrItem

to Rieks' script, a new bug shows up in the database:
![image](https://cloud.githubusercontent.com/assets/275768/12711394/cc427be2-c8bf-11e5-96fa-f1a449ecf7f8.png)
The mistake is that the items `Doc_1Atom` and `Doc_2Atom` should both be in the concept table of `SeqTree`.

[2016-02-01 10:08] RieksJ opened #296 "Handling ExecEngine re-run 'overflows'"
Currently, if the ExecEngine (auto)rerun has run for the specified maximum number of times, a fatal error is thrown, which prevents logging etc. to take place.

Please replace line 49 of `ExecEngine.php` that currently contains:
[code]

with

[code]

[2016-02-01 10:12] RieksJ commented on #292
@stefjoosten: Can you be more precise about the reason for preferring "the first solution from a software engineering perspective"? From an information-engineering perspective I would prefer the second solution as I (currently) do not see why I would need to be bothered by creating such a glb. After all, isn't the whole purpose of doing Ampersand that information-engineers are 'unburdenened' (ontz

[2016-02-01 10:31] hanjoosten commented on #292
In alternative 2, Ampersand has to come up with a name of the largest concept. This name is likely to come up in error messages, logs, etc. Also, situations like this are very rare. It is therefore likely that that the intention of the modeller is different. Therfor, it sounds very reasonable to let the user explicitly define the additional CLASSIFY statements.

Even if this would not be reasonabl

[2016-02-01 10:44] hanjoosten opened #297 "Concept diagram shows double classify statements"
In the conceptual diagram of a rule, when a classify statement is specified N times, it will be drawn N times. In this case, the entire model contains twice: ```CLASSIFY Klant ISA Identiteit```

![singleruleklantrolautorisatiedelete](https://cloud.githubusercontent.com/assets/1159672/12715110/b00f789e-c8d8-11e5-9baa-6003493d72f3.jpg)

I would expect it to be drawn only once.

[2016-02-01 10:56] RieksJ commented on #292
Seems to me that a concept such as `Sequence_Or_Item` could nicely be generated automatically and should not lead to any confusion. I would be very grateful for a concrete example where this would be likely to have a different intention than that of themodeller, as my fantasy is insufficient to do that…
This message may contain information that is not intended for you. If you are not the addressee

[2016-02-01 13:47] hanjoosten opened #298 "Test on proper partitioning rule does not work"
[code]

This should express the fact that no Identiteit can exist that is not a Klant, KlantRol or Beheerder.

(Of course, this could also be written as ```RULE I[Identiteit] = I[Klant] \/ I[KlantRol] \/ I[Beheerder]```, but that is not the point of this issue. )

When this rule is in effect, an Identiteit can be inserted that is none of the smaller concepts, which is wrong.

[2016-02-01 18:47] WolframKahl commented on #292
For now, just a quick remark: Note that ```SeqOrItem``` is an _upper_ bound of ```Sequence``` and ```Item```, and I do not see why it might need to be the least upper bound (lub) of the two.
The declaration
[code]
specifies that ```SeqTree``` is the greatest lower bound (glb) of ```Sequence``` and ```Item```.

The discussion is whether this declaration should only be legal if  ```Sequence``` and `

[2016-02-01 18:58] WolframKahl commented on #298
Let
[code]
Then your rule holds: ```4`` is in all three disjuncts.

For your English formulation,. actually
[code]
would be more natural.

[2016-02-01 19:42] stefjoosten commented on #298
I wonder what is going on here. @hanjoosten, do you have a test script for this issue to share with us?

# Hypothesis
Could it be that the compiler treats `I[Identiteit] |- I[Klant] \/ I[KlantRol] \/ I[Beheerder]` as an assumption, because it is (erroneously) considered to be derivable from the ISA statements in the script. Could it be that it generates no code as a result of that assumption? We s

[2016-02-01 19:44] stefjoosten commented on #296
I second that. I would love to have some log-output when the "maximum reruns" exception occurs.

[2016-02-01 19:51] stefjoosten commented on #295
Hi Wolfram,
You are right. The meaning of `RULE I[Persona] /\ pActor;pActor~ /\ pParty;pParty~` is odd. Yet, an author is free to write down any expression as a rule.

From `V[X*X]=I[X]` follows that `X` contains at most one element. This means that Rieks' rule can contain at most one `Persona`, which must have a `pActor` and `pParty`.

[2016-02-01 19:57] stefjoosten commented on #292
Thanks Wolfram, I always get upper bounds and lower bounds confused. Glad someone is paying attention. I'll fix this by editing the comments above by swapping lub and glb. Somewhat later, I'll remove this comment.

[2016-02-01 20:05] stefjoosten commented on #291
Alas, nested comments do not work properly since we use `{+` and `-}` to delimit text in `PURPOSE` statements.

[2016-02-01 20:06] stefjoosten commented on #291
By the way, I still have not diagnosed this bug, mainly because it has a low priority.

[2016-02-01 20:16] stefjoosten commented on #290
On Jan 26th, 2016, @Michiel-s wrote:

Hi all,

Attached you find an overview of the frontend and backend architecture of our Ampersand prototypes.

For now, I don't know where and how you want to connect to the framework. A couple of options that we can explore:

1. Build in core framework (php code). This can be done in the MySQL adapter block (Database.php) where all actions on atoms and tuples

[2016-02-02 07:17] hanjoosten commented on #298
I added a even more simple example, which fails as well.

[code]

[2016-02-02 07:22] hanjoosten commented on #298
## Diagnose

The normalizer does the following steps, before the SQL generator is called:

[code]

[2016-02-02 08:02] RieksJ commented on #296
@stefjoosten I use the following as a workaround:

1. generate a(n aribitrary) prototype, and find the file `{YourPrototype}\extensions\ExecEngine\ExecEngine.php` (where `{YourPrototype}` is the path to your prototype files).
2. make the changes that are suggested in the ticket (i.e.: replace line 49 as described)
3. save the resulting file as `{YourSourceDir}\include\extensions\ExecEngine\ExecEng

[2016-02-04 14:02] Michiel-s opened #299 "Change output folder for generated prototype views and controllers"
Due to the changes in #197 regarding the json files with configuration parameters instead of php files, we have to secure the /generics folder. This can be done by introducing a .htaccess file that blocks access to files in that folder. The content of that .htaccess files should be:
[code]

However, in that case the html views and javascript controllers that are generated also into this folder can

[2016-02-04 16:48] #299 closed

[2016-02-07 22:07] hanjoosten opened #305 "ampersand.exe: .\Data\Vector\Generic.hs:235 ((!)): index out of bounds"
When looking into some stuff of Blik, I ran into the above error message. (Both at generating the prototype as well as at generating a functional spec. )

[2016-02-07 22:16] hanjoosten commented on #305
# Diagnosis

After some investigation, I found out that this had to do with reading .xlsx file.

The culprit seems to be a sheet that contains an empty field in the first column, directly in the row following the one with the concept name, like A3 in the image below:

![hjo 20160207 23 05 56](https://cloud.githubusercontent.com/assets/1159672/12875667/741a9258-cdef-11e5-9f6d-c8a10b1d84de.jpg)

[2016-02-07 22:17] hanjoosten commented on #305
@stefjoosten : Thanks for this material.... 8-b

[2016-02-08 08:05] Michiel-s opened #306 "PHP 7"
As of dec 2015, PHP 7 is released. At some point in time we have to switch from php 5.6 to php 7. See http://php.net/supported-versions.php for timelines of support and security updates.

PHP 7 is already available in a new version of the XAMPP stack.

[2016-02-08 12:11] hanjoosten commented on #306
This would also be a good moment to switch to MariaDB. That is available in the current version of XAMPP too. I don't think that the software needs any changes. However, the documentation will.

[2016-02-08 12:13] #296 closed

[2016-02-08 17:54] WolframKahl commented on #306
On Mon, Feb 08, 2016 at 12:07:36AM -0800, Michiel-s wrote:

How about switching to some Haskell web server instead?

Wolfram

[2016-02-09 07:15] hanjoosten commented on #306
Interesting idea. However, the requirement here is that we want the average &-modeller to be able to deploy his/her prototypes with as little as possible technical skills.
Another requirement is that this should be possible with as little as possible support of the &-team, for time is a precious asset.
Xampp meets both requirements nicely, for it is well documented and does the job. If there would

[2016-02-12 14:52] Michiel-s commented on #141
Hi Han,

Could you implement the NA Warnings from the table above in branch #228

Michiel

[2016-02-12 15:33] Michiel-s opened #309 "Interface syntax changes with respect to CRUD functionality"
The current INTERFACE systax is:

![interfacedef](https://cloud.githubusercontent.com/assets/7961582/13010408/0199c436-d1a2-11e5-9980-e19e70f2d427.png)
`InterfaceDef ::= 'INTERFACE' ( '(' RelSign ( ',' RelSign )* ')' )? ( '{' Id Id* ( ',' Id Id* )* '}' )? ( 'FOR' Id ( ',' Id )* )? ':' Expr ('INTERFACE' Id | Box)`

I propose the following changes:
- [x] Allow for INTERFACEs **without** a BOX statem

[2016-02-15 07:15] hanjoosten opened #310 "More sofisticated regression testing: Separate and reorganize test scripts"
Currently, Sentinel runs a set of test scripts on a daily basis. It does a count of scripts that do not pass, and it logs what's wrong. Then there is Travic-ci, that is triggered on every commit. It builds the software and runs some test (mostly a roundtrip on prettyprinter/parser. )  Travis will hoist either a green (if everything is ok) or red (all other cases) flag.

There are a couple of probl

[2016-02-15 07:35] hanjoosten opened #311 "Enhancement: Enforcement statement."
Currently, we have two ways of enforcing rules: Invariant or by a role that maintains it. The Invariant is the default. Lex Wedemeijer has suggested a long time ago to uncouple enforcement from the declaration of a rule.

There are other ways of enforcement. e.g. by computing the population of a relation. There could be more enforcement types possible in the future.

Enabling a rule to derive the

[2016-02-15 07:59] hanjoosten commented on #311
# ENFORCE statement

![enforcement](https://cloud.githubusercontent.com/assets/1159672/13042287/46d0a280-d3bf-11e5-9cd7-6ccff0fc5329.png)

There can be at most one ENFORCE statement for any rule. The semantics will depend on the subtype:

 * INVARIANT is the default for a rule. The modeler can choose to make it explicit. Violations are rejected by the database.
 * MAINTAINEDBY will replace the cur

[2016-02-15 08:13] RieksJ commented on #311
Currently, the ExecEngine is a ROLE, and hence fits the paradigm of having rules that are either invariants and or process-rules, i.e. rules to which one or more ROLEs are assigned for the purpose of MAINTAINing them, and VIOLATION-statements that provide the guidance for instances of such ROLEs for MAINTAINing the RULEs. I suggest we stick to this paradigm, since (a) it does not preclude us from

[2016-02-15 08:36] hanjoosten commented on #311
It is a good point of bringing up the VIOLATION-statement part of the current RULE statement. It shows that we need to rethink ( = create an &-model for this enhancement!) that too. Currently, the statement has different purposes:
 * For invariants: Show the reason that the user isn't allowed to do whatever he is doing.
 * For process rules: Show guidence to solve the violation.
For derivations, t

[2016-02-15 09:15] RieksJ commented on #311
I would like to widen the discussion to the specification of RULEs themselves, as this also includes the currently existing `PURPOSE`, `MEANING` and `MESSAGE` constructs that may be relevant in the discussion.

[2016-02-16 01:52] WolframKahl commented on #311
Is this meant as an assignment? If yes, I would strongly advocate using ```:=``` instead of ```=```.
If yes, I also find ```DERIVE``` a suprising name.
(Satisfying an equality ```R = E``` is, at leasts sometimes, possible in different ways than by assigning ```E``` to ```R```.)

What special syntax and variables are avialable in the expression, and how are the evaluated?
(E.g., anything like ```\o

[2016-02-16 07:34] RieksJ commented on #311
After discussion with Stef, I have the following suggestions:

1. In the `MAINTAINEDBY` clause, at at least one `ROLE` MUST be specified, as well as one `VIOLATION` statement, since such statements provide the man or machine that is supposed to maintain the rule with precise instructions (for machine enforcements) or with guidance (for human enforcements) as to how to maintain/enforce the rule.
2.

[2016-02-16 09:31] stefjoosten opened #312 "Code generator bug for `V[Account*Contractsoort];contract~ - V[Account*WTRcat];wtrCategorie~`"
@hanjoosten , In the code below, I cannot see how the difference operator is implemented.
In fact, I believe the code for this EDif-expression is not correct. If I am right, that would explain funny results in my prototypes. Can you please verify whether I am right or contradict me by claiming that the code below is a correct translation of `V[Account*Contractsoort];contract~ - V[Account*WTRcat];w

[2016-02-16 09:31] hanjoosten commented on #311
@WolframKahl : The idea is to make a cleaner distinction between a rule (= an expression that is supposed to be True) and it's enforcement (what to do with violations). The discussion about all of this is  broader that can be written down effectively in this issue. I invite you to participate by using Skype. I know @stefjoosten will be looking forward to hearing of you.

[2016-02-16 09:34] hanjoosten commented on #311
@RieksJ I discussed a proposal for the syntax with Stef. Most of your points will be in there. I will replace the syntax diagram above in the very near future.

[2016-02-16 10:11] hanjoosten commented on #312
I have done a thourogh visual inspection of this code, and find no anomalities whatsoever. I didn't go into the details of the expressions:

[code]

Iff the above expressions are calculated right, then the entire sql query is correct. (and fast :) )

[2016-02-16 21:04] hanjoosten commented on #141
As discussed by phone, no distinction should be made based on the fact that an atom is Object or Scalar.

[2016-02-17 16:18] hanjoosten commented on #166
I confronted @stefjoosten with the consequences of the outcome of this discussion this morning. He seems to realize that this is a fundamental issue. A relevant question in this discussion, I remember, is:

What should be the violation mentioned by the rule, when the atom does not exist.

I tried that with the rule above given by @sjcjoosten:

[code]

The outcome is as I expect it to be:

[code]

[2016-02-18 04:52] stefjoosten commented on #166
What about:

    RULE -'Sinterklaas'[Persoon]
    MEANING "There is no atom Sinterklaas in the concept Persoon"

### case 0
If `'Sinterklaas'[Persoon]` pre-populates concept `Persoon`, we have an instant contradiction. Any script that contains this rule will never hit the hardware.
### case 1
If concept `Persoon` is not pre-populated, we have an atom without a type. The consequence is that the met

[2016-02-18 06:51] hanjoosten commented on #166
This is what currently happens with this rule:

Violations of rule "test":
- [("Sinterklaas","Sinterklaas")]

Signals for initial population:
Rule(s): ["test"]
  Conjunct   : -'Sinterklaas'[Persoon]
  Violations : [("Sinterklaas","Sinterklaas")]

ERROR: No prototype generated because of rule violations.

[2016-02-18 07:20] hanjoosten commented on #166
An interesting question arises for this issue:

In the above example, should the concept 'Persoon' exist in the context?

[2016-02-18 08:42] stefjoosten commented on #166
Let's close this issue when the compiler has been corrected.

[2016-02-18 09:18] stefjoosten commented on #312
OK! Thx

[2016-02-18 09:18] #312 closed

[2016-02-20 10:46] hanjoosten commented on #310
# Paving the path

Before I go and build all kind of things, I am going to describe my plans, so people can comment and think along with me how this could be set up.

The idea I have now is that a directory is created inside the Ampersand repository. That directory contains tests that all have to pass. Travis wil do a job with the contents each time a commit takes place.

The idea is that we can o

[2016-02-26 08:16] Michiel-s opened #316 "Special characters cannot be used as atom id"
Currently, because of the web based approach for the backend-frontend interface (api), characters that have special meaning in an url cannot be used as atom id. This only holds atoms of concepts that have a non-scalar representation (= object).

Possible solutions I see:
* url encoded these atom strings. I've done a small experiment, but this solution introduces other problems as well (e.g. routin

[2016-02-26 08:51] Michiel-s commented on #141
Fine by me, but I already warn you (and all Ampersand modelers) for unexpected behavior. Take for example this script:
[code]
When you perform a delete (D) on the quantity (e.g. atom 3 [Nummertje]) **all** links with atom 3 [Nummertje] as src or tgt will be removed.

I think this will cause unexpected behavior for the modelers, especially due to the choice that the default CRUD setting is to allow

[2016-02-27 06:24] RieksJ opened #317 "Bug reading Excel files by generator (Ampersand)"
When I define a concept to have an ALPHANUMERIC representation,
and I populate it using an Excel file that is INCLUDEd in my script,
and the cell contains a string consisting of digits, e.g. `1`, `10`, or `20000`,
then a `Representation mismatch` error is generated, as follows:

     Error(s) found:
     Representation mismatch
         Found: `10.0`,
         as representation of an atom in conce

[2016-02-27 09:06] Michiel-s opened #318 "Database structure of INJ relations are still giving headaches"
This issue is related to #169

The whole processing of edit and delete on INJ relations is still not right. A couple of points that make it very hard to implement:
* In the new frontend, we do not have the previous/old target value of a modified expression.
* Expression can be relations that are flipped, which impacts the way it should be processed
* Relations can be administered in either the src

[2016-02-27 10:49] hanjoosten commented on #317
Excel has a lot of features, that we by design do not want to know about. This might be confusing. The picture1 you attached shows that you use a feature of Excel to look at a numeric value as if it were a string value. However, this does not change the type of that numeric value. It is a feature of Excel.
In the interface of Excel to Haskell, there is no knowledge about the view. So we get a nume

[2016-02-27 10:49] #317 closed

[2016-02-27 10:50] hanjoosten commented on #310
implemented.

[2016-02-27 10:50] #310 closed

[2016-02-27 14:05] RieksJ commented on #317
The following figure shows how REPRESENT is specified/expected to work in different contexts. It says that irrespective of the source of a population (e.g. an Excel file, a keyboard, an &-script), if the concept to be populated is of type ALPHANUMERIC, then the source must be or become a string, and (only) if it is of type FLOAT must it be or become a float.

![picture1](https://cloud.githubuserco

[2016-02-27 17:52] hanjoosten commented on #317
In the table above, we could add .xlsx files. In such context, only text, float and bool exist.

[2016-02-27 21:23] WolframKahl commented on #318
On Sat, Feb 27, 2016 at 01:06:49AM -0800, Michiel-s wrote:

If a relation R from A to B is INJ but not UNI, any element a from the source concept A may be associated with multiple elements from the target concept. So unless you want to get into representation of multiple values in a single cell, this can only work for relations that are also UNI (which would mean that in the presence of both INJ a

[2016-02-27 23:01] hanjoosten commented on #318
There are some arbitrary choices made. as you have seen,
Lets consider a relation r [A*B]. If the relation has no properties, the relation wil be administered in a separate binary table.
If r is UNI, it is possible to administer r in the same table as A. However, if r is INJ, it is possible to administer r in the same table as B. If r is both INJ and UNI, r can be administered equally well in A as

[2016-02-28 06:20] RieksJ commented on #317
Another option would be to create a new issue that tells us where the ampersand excel import deviates (or reopen this one). After all, the ExcelImporter (prototype extension) works fine in such cases.

[2016-02-28 07:05] RieksJ opened #319 "No logging is shown after a db-reinstall in branch_#228"
In Ampersand v3.4.0[branch_#228@d7ed7d1a765977c27a5d13a8fe93305b2acb905c], the log window remains empty when I reset the database. This prevents me from seeing what kind of InsPairs/DelPairs etc. are done during install.

[2016-02-28 08:38] hanjoosten commented on #317
Go ahead. And please explain what problem it is you are looking for to eliminate. If you work with the current master, there should be no problem.

[2016-02-28 13:05] Michiel-s commented on #318
I agree and understand. The problem is not with relations that are defined INJ, but for those that have a combination of INJ ánd UNI, TOT and SUR. I currently don't understand the logic behind where to expect it in the database. I do not agree with @hanjoosten about the backend not needing to know the choices being made here, since it influences the update and delete queries needed.

I'm looking f

[2016-02-28 15:20] WolframKahl commented on #318
On Sun, Feb 28, 2016 at 05:05:57AM -0800, Michiel-s wrote:

For me, both of these are odd:

UNI without TOT in source requires optional entries,
while INJ with SUR in target does not require them.

Analogously, INJ without SUR in target requires optional entries,
while UNI with TOT in source does not require them.

Wolfram

[2016-02-28 19:30] hanjoosten commented on #318
Wolfram wrote:

An optional entry in a database table is no problem at all. So UNI without TOT could perfectly be administerd in the table that holds the source of `r`.

Yes, this could be a better choice.

I have been looking for the code where this is taking place. It is the function `makeEntityTables` in `ADL2Plug.hs`. I think this code is not very elegant. The possibility is taken into account

[2016-02-28 20:39] hanjoosten commented on #280
# Diagnosis

Now I have the proof: It is a normalizer issue. I have shortened the above example. (names of concepts and relations reduce to something of length 1. With this script, it turns out that at some time, in the function `normDNF` (NormalForms.hs), the new DnfClause is called with an expression. The function `(foldr1 (.\/.)) (conss dc) returns an expression:

[code]

Then, that expression

[2016-02-28 20:54] hanjoosten commented on #280
# Other findings
In the script, there is a subexpression ```(p /\ q;-I;r~)```. Since there are no CLASSIFY statements, the expression ```q;-I``` can never have any population at all. For that reason, ```(p /\ q;-I;r~)``` cannot contain any population either.   this same reasoning goes for ```(p /\ s;-I;t~)```.

Hence, there could be some rewriting done:

[code]

could be rewritten as
[code]

[2016-02-28 20:55] hanjoosten commented on #280
@stefjoosten, will you fix this normalizer issue?

[2016-03-03 16:21] hanjoosten commented on #318
I am looking into it currently. Not sure when I wil commit.

[2016-03-05 06:37] stefjoosten opened #320 "case-sensitivity in the API framework"
Since a few days I am getting a !404 Not Found error when installing a database. Here is a screen-shot:
![image](https://cloud.githubusercontent.com/assets/275768/13546047/3bcceb32-e2a1-11e5-9aa7-d72da660cbe7.png)

I have compiled Blik/Arch.adl from commit d257c85eb5aaa96efc195fc39bd9a41a65b0873f with Ampersand v3.4.0[master:6421e7f], build time: 03-Mar-16 15:32:08 West-Europa (standaardtijd). The

[2016-03-05 06:42] stefjoosten commented on #318
I have talked with Han and Michiel separately about this. That has clarified some issues, I think. This stuff is too complicated for a GitHub discussion. In order to make more progress, I suggest a Skype session between Han and Michiel.

[2016-03-05 06:52] stefjoosten commented on #318
Currently my helicopter-perspective is that the API needs knowledge about the back-end to make CRUD-functions (inserts, deletes, updates). For example, the API cannot decide when to use an UPDATE, because the JSON structure does not provide the key-fields of tables.

The right solution is to formulate the correct information in the JSON-structure, so that the API doesn't have to figure out anythin

[2016-03-05 07:04] stefjoosten commented on #316
Indeed a low priority. Nevertheless it is a bug. The neat solution is to (double-) encode these atoms. To forbid special characters will work in the short term, but will backfire at a later time (maybe years from now) and incur a much higher cost. So that is unwise. The third solution looks like a specialization of the first solution. If it works, it is fine with me.

[2016-03-07 09:57] Michiel-s commented on #320
After consulting with Stef we found that this is caused by case-sensitivity of the API framework which is currently used in the master branch. The feature branch 228 will replace this old API framework by a new one. Probably this already solves the issue, but we'll keep this ticket open until we are sure.

[2016-03-11 16:17] stefjoosten opened #322 "Application produces "! 405 Method Not Allowed: PUT is not allowed" error when using SIAM"
When I use SIAM.adl in Blik/Arch.adl, instead of Login.adl, I get a disturbing message:
![image](https://cloud.githubusercontent.com/assets/275768/13707856/ff87d71c-e7ab-11e5-9ed6-c98467039ed1.png)
I suspect version management of this bug, because SIAM worked fine earlier on.

I have compiled Arch.adl with Ampersand v3.4.0[master:6421e7f], build time: 03-Mar-16 15:32:08 West-Europa (standaardtijd)

[2016-03-11 16:18] Michiel-s opened #323 "View in interface does not use smallest view"
Consider
[code]
The viewId for expression r in Test interface (specified in Generics.php (and interfaces.json)) is ViewA. This is incorrect, because target concept of r[A*B] is B, for which a ViewB is defined. I think that the generator does not consider the classify statement here.

[2016-03-12 05:47] RieksJ commented on #322
This has nothing to do with SIAM.adl - it is related to front-end stuff. I had this error myself, and if I remember correctly, @Michiel-s fixed this in the ExecEngine.php file, which I then used locally for the time being as it is properly fixed in branch 228. Since I expect a pull request for this branch shortly, I suggest to wait for that fix or if you really need this urgently, to drop me a not

[2016-03-12 06:20] stefjoosten opened #324 "Slim not found"
When installing branch_#228@890de97967676df5db0dbe97cce0c231e8d9dacf and running my first CRUD-infested script :-) I ran into this error
![image](https://cloud.githubusercontent.com/assets/275768/13721311/8912110c-e822-11e5-82fe-75328a49515a.png)
@Michiel-s can you help diagnose this?

[2016-03-12 06:28] stefjoosten commented on #322
Thx!
Glad that SIAM is all right.
Is the implication that this is a version management issue?

[2016-03-12 06:39] RieksJ commented on #322
I don't think so. I recall that it is an ordinary bug, something having to do with the coupling of session users and active roles in the frontend (what is shown in the menu and stuff).

[2016-03-12 06:54] RieksJ commented on #324
Starting with branch 228, the creation of prototypes uses 'Composer', which is a dependency manager for the frontend (similar to what cabal does for the compiler). You must install composer and run it every time after creating a prototype.

So first, you need to download and install 'Composer'. Details can be found at https://getcomposer.org/download/

After you have created a prototype, you shoul

[2016-03-12 07:48] Michiel-s commented on #324
I already discussed this with @hanjoosten and he will check if this step can be included in the ampersand executable. Of course you still have to install Composer first

[2016-03-12 07:54] RieksJ opened #325 "Testing on validity of interface label characters is required"
If you have the following texts in an interface:

     BOX[ "eval'd by" : relation

this will produce an error in the frontend, because it cannot handle the quote character '.
I suggest that @Michiel-s and @hanjoosten precisely specify the character sets that can be used for labels (and that would be nice for names of relations, concepts, etc., too), and that the use of such chars is tested for by

[2016-03-12 08:08] Michiel-s commented on #323
Another issue, probably related: In the json output 'concepts.json' of the same script as above, both views for concept B (ViewA and ViewB) are marked `isDefault`. However, only the smallest view should be specified as default.

[code]

[2016-03-12 14:51] Michiel-s commented on #197
Hi @hanjoosten ,

I've updated the specification for the concepts.json file.

Could you please add the `mysqlConceptTables` information?

Michiel
The new spec:
[code]

[2016-03-13 07:23] RieksJ opened #326 "Focus on 'current TAB' must remain there."
I'm using branch_#228 with the new CRUD stuff. Consider the following INTERFACE (part):

[code]

When I have activated the tab `SHRoles`, and edit any of the context variables (e.g. `sCurDTTrx`), then the focus changes to the first tab `DTTransactions`. This bahaviour is not wanted: I would like it that the focus remains on the tab `SHRoles'.

[2016-03-13 13:53] RieksJ opened #327 "How to Create an atom in an empty relation (in branch_#228)"
Consider the following chunck from an INTERFACE:

      sessionCurrentTransaction :: SESSION * Transaction [UNI] -- current transaction in a session
      concernTransaction :: Concern * Transaction [UNI,TOT] -- Every concern belongs to 1 transaction
      concernText :: Concern * Description [UNI] -- A concern can have a description
      concernSHRole :: Concern * SHRole [UNI,TOT] -- Every conce

[2016-03-13 15:03] RieksJ opened #328 "Session-timout geeft een '500 Internal Server Error'"
Als je een tijdje bij je werkplek weg bent geweest en je sessie is getermineerd door een timeout, dan krijg je een rode foutmelding '500 Internal Server Error'. De fout blijkt dan te zijn: 'Interface is not accessible for active roles or accessible roles (login)'. Kan dat niet meteen een rode foutmelding worden in de trant van 'Session has timed out'?

[2016-03-14 01:45] WolframKahl commented on #325
On Fri, Mar 11, 2016 at 11:54:22PM -0800, Rieks wrote:

Can this possibly be solved by escaping certain special characters appropriately for the frontend?

Wolfram

[2016-03-14 06:00] RieksJ opened #330 "offline use of 'composer'"
In branch_#228, the 'composer' application is introduced for creating prototypes. However, it requires an active internet connection, thus impeding the development of stuff if internet is not available. I would like to see that  prototypes could also be created in an offline manner.

[2016-03-14 06:06] RieksJ commented on #325
Any (escaped) character set is fine with me, as long as it is properly specified and checked at compile time rather than that it produces runtime errors.

[2016-03-14 07:01] hanjoosten commented on #325
@Michiel-s, as far as I'm concerned, the string is transferred correctly in the .json file. Iff there is a good reason that these strings cannot be handled correctly at the front-end, a restriction should be implemented. However, that should only be done if a good reason exists.

[2016-03-14 07:04] Michiel-s commented on #325
I'll have a look at it. Think this is a bug that I should fix

[2016-03-14 07:19] RieksJ opened #331 "hiding an entire BOX in interfaces"
The templates `<ROWSNL>` and `<COLSNL>` provide a way for hiding the row/column headers (labels), which has turned out to be quite useful. Another useful feature would be to automatically hide a complete box (regardless of the template used) if it has nothing to show for.

Note that this might imply that you cannot use it in combination with C(reate), as the box simply wouldn't be there for showin

[2016-03-14 08:59] #297 closed

[2016-03-14 09:13] hanjoosten commented on #263
There is a dillemma with this, as long as we use a database like MySQL:
MySQL trims trailing whitespace BY DESIGN. If we do not want that feature, we can disable it by using BINARY. However, then no indexing can be used, which will eventually lead to bad performance.

What do we want? I think trimming the trailing spaces from atoms will be OK for 99.99% of the cases. The performance penelty will b

[2016-03-14 13:02] Michiel-s commented on #263
I vote for trailing whitespace. The BINARY option has more disadvantages.

[2016-03-14 13:06] Michiel-s commented on #197
Hi @hanjoosten,

Could you change the specs for the **relations.json** to the following:

Instead of srcMin, srcMax, tgtMin and tgtMax, let us just specify the uni,tot,inj and sur properties.
[code]

[2016-03-14 14:16] Michiel-s commented on #324
Close this issue and discuss further in #330

[2016-03-14 14:16] #324 closed

[2016-03-14 14:18] Michiel-s commented on #330
Copied Rieks comment:
Starting with branch 228, the creation of prototypes uses 'Composer', which is a dependency manager for the frontend (similar to what cabal does for the compiler). You must install composer and run it every time after creating a prototype.

So first, you need to download and install 'Composer'. Details can be found at https://getcomposer.org/download/

After you have created

[2016-03-14 14:19] Michiel-s commented on #330
In branch_#228, the 'composer' application is introduced for creating prototypes. However, it requires an active internet connection, thus impeding the development of stuff if internet is not available. I would like to see that prototypes could also be created in an offline manner.

No this is not possible. What you can do is store the `lib` folder that is added by composer somewhere on your pc. W

[2016-03-14 14:25] Michiel-s commented on #330
@hanjoosten

We've discussed the possibility to let the ampersand executable call the `composer install` command after generating a prototype. Can you take into account that it requires an internet connection. How should we deal with this? e.g.:
* Throw error when no internet connection available
* Generate prototype, but skip the composer install command (note! prototype will not work)
* Provide

[2016-03-14 14:27] RieksJ commented on #263
I would like to see a workaround for cases where trailing whitespace is specifically necessary. One example is the UETP case where criteria texts are split into phrases and variablenames, and for the  (future) construction of texts that are criteria with values inserted, it is necessary to know where the whitespaces are.
Would it be possible to REPRESENT such phrases as TYPE BINARY?

[2016-03-14 16:44] WolframKahl commented on #330
On Mon, Mar 14, 2016 at 07:19:24AM -0700, Michiel Stornebrink wrote:

This sounds dangerous: So error messages now not only need to mention the commit tag
of the git repository the ampersand exectuble was buitlt from, but also precise version information of everything composer may have pulled?

Wolfram

[2016-03-14 16:57] Michiel-s commented on #330
This sounds dangerous: So error messages now not only need to mention the commit tag
of the git repository the ampersand exectuble was buitlt from, but also precise version information of everything composer may have pulled?

No that is not necessary. The precise version information of php libraries that are used are mentioned in the composer configuration file, which is part of the ampersand repo

[2016-03-14 17:16] WolframKahl commented on #263
A standard work-around would be using some kind of escape sequence, and systematically escaping and un-escaping at the database interface.
(URLs also cannot contain spaces.)

What is the current string interface to MySQL? (ASCII, ISO-Latin-1, Unicode, UTF-8, ...?)

[2016-03-14 17:24] WolframKahl commented on #330
On Mon, Mar 14, 2016 at 09:57:20AM -0700, Michiel Stornebrink wrote:

If the precise versions are specified locally, it should be possible to verify that they are present locally without an internet connection, and install them from the local cache.

Even Cabal can do that...

[2016-03-14 20:01] hanjoosten commented on #197
mysqlConceptTables has become mysqlConceptTable, for there will be exactly one table in each case.

[2016-03-14 20:11] hanjoosten commented on #197
@Michiel-s  more wishes for the .json files? let me know!

[2016-03-14 21:37] hanjoosten commented on #330
Fixed the easy way: If Composer is not in the path or if there is no internet connection, an apropriate message is printed, which will be helpfull, I assume.
The option @WolframKahl suggests, is possible, but then we have to get all library info into Ampersand. That is too cumbersomb, and errorprone. (and we can spend our time in more importent things...)

[2016-03-15 05:00] RieksJ commented on #330
That's ok with me, as long as I can detect such a condition automatically (cmd-script, batchfile). Does ampersand.exe work with errorlevels/return codes? Can you tell me which code is returned when Composer is not in the path or there is no internet connection?

[2016-03-15 05:17] RieksJ commented on #263
Another way to 'solve' this problem is to forbid the use of surrounding whitespace for object-type atom identifiers (dirty identifiers) and produce a warning- or error message. That will alert the user rather than reverting to 'smart' behaviour that may not always be appropriate.

But if we want to be smart, then, since this seems to be a SQL internal matter, I support solutions that have knowledg

[2016-03-15 06:33] hanjoosten commented on #263
Well, as long as there is no consensus on what we want, let's do nothing until we know what we want.

[2016-03-15 06:37] hanjoosten commented on #330
We do not work with errorlevels. You could check if there is a folder named 'lib' in the prototype directory. Or you could (re-)run `composer install --working-dir="C:\XAMPP\HTDOCS\MYAPP\"`afterwards in your script.

[2016-03-15 08:18] hanjoosten opened #333 "Use of Poset seems vanished"
I need some function to get a permutation of concepts, such that if a is more specific than b, b will be to the left of a. Of course, there could be more than one of those permutations. I only need one.
So I had a look at the use of Poset, and to my surprise, the sortWith function seems not to be used at all in Ampersand.
@sjcjoosten is there a reason? Is Poset obsolete?

[2016-03-15 16:24] hanjoosten commented on #333
Asked Bas. Yes, this is obsolete. -> Removed obsolete stuff.

[2016-03-15 16:26] hanjoosten commented on #323
only fixed this in concepts.json

[2016-03-15 16:27] #333 closed

[2016-03-15 17:08] Michiel-s commented on #323
Not yet completely fixed.

[2016-03-16 11:45] Michiel-s commented on #197
@hanjoosten, you've implemented the structure of concept.json slightly different than specified above. Fine by me, the backend already takes your implementation.

Things you've implemented differently:
* key `mysqlConceptTables` -> `conceptTable`
* key `tableName` -> `name`
* key `conceptCols` -> `cols`
* array in `cols` is not an array of object, but array of colnames
* key `colName` thus not imp

[2016-03-16 12:19] Michiel-s commented on #197
@hanjoosten

For some reason I don't see roles.json yet.

Specification:
**roles.json**
maintains = rule names/ids of rules that are maintained by this role
interfaces = interface ids of interfaces that are available to this role (including the interfaces for every role)
[code]

[2016-03-16 13:28] Michiel-s commented on #197
Implemented views.json in 0c4fad46353a4732753c0dacb66f37c534c49cd1

[2016-03-16 14:05] Michiel-s commented on #197
@hanjoosten

I've updated the specs for the `relations.json`. Could you add the mysql table information exactly as specified below. The `tables.json` file can be removed.

**relations.json**
`tableOf` specifies if relation is administrated in table of srcConcept (i.e. `"src"`), tgtConcept (i.e. `"tgt"`) or its own n-n table (i.e. `null`).
[code]

[2016-03-16 14:18] Michiel-s commented on #197
Hi @hanjoosten

I've updated the concept.json specs. Please add the `defaultViewId` attribute. The old array with all view definitions (`views` attribute) can be removed here.

**concepts.json**
* interfaces should contain the IDs of the toplevel interfaces that have the concept (or its generalizations) specified as SrcConcept.

* defaultViewId should specify the default view using the following r

[2016-03-17 06:35] RieksJ commented on #328
A session timeout causes inconsistencies in the sense that undetected rule violations exist. The reason for this is that the session atom is tacitly deleted outside of a transaction. As the user-interface does not change, edits that are doen after the timeout occurred give rise to problems. The solution would be to start a transaction when deleting the timed-out session atom.

[2016-03-17 12:57] hanjoosten commented on #293
Duplicate of #292

[2016-03-17 12:57] #293 closed

[2016-03-18 17:01] Michiel-s commented on #197
Implemented `roles.json` in 72458e7b5634446c3cac15c2374e25a20a8c296b

[2016-03-20 13:57] hanjoosten commented on #166
The fix was premature, but has been fixed correctly on 20 mar.

[2016-03-20 14:41] RieksJ opened #335 "More specific message requested for `!fatal error 54`"
In a rather large script, I came across the following message

     ampersand.exe: !fatal, called at src\Database\Design\Ampersand\ADL1\P2A_Converters.hs:63:17 in main:Database.Design.Ampersand.ADL1.P2A_Converters
                  Ampersand v3.4.0[branch_#228:890de97]
                  error nr: 54
       A concept turned out to be a built-in type.

It would help the user to find where the error

[2016-03-20 15:11] RieksJ commented on #335
Here is a script that you can use to reproduce this behaviour. It also shows that it is a bug.

     CONTEXT Issue335 IN ENGLISH

     r :: A * B [UNI,TOT]  REPRESENT B TYPE BIGALPHANUMERIC
     s :: A * C [UNI]      REPRESENT C TYPE BIGALPHANUMERIC

     RULE "Initialize s": (I[A]-(s;s~));r |- s

     ENDCONTEXT

[2016-03-20 21:32] hanjoosten commented on #335
Rieks, please only upload testscripts to ampersand/testing/travis if the script is proven to succeed. A script like the one above does not fit that criterium. It shows the presence of a bug. Scripts like this must go into ampersand/testing/sentinel. Only once the bug is fixed, and the script proves to be handled correctly, the script may be moved into the travis directory as a regression test.
Cou

[2016-03-20 22:52] hanjoosten commented on #335
Fatal messages are not supposed to happen, and hence are not ment to be understood by users. For the developers, there is enough information in the error message. Together with a testcase, as you have given above, it should be possible to fix it. Until then, if the testcase is put in the sentinel directory, it will be signaled to the developer team.

[2016-03-20 23:16] hanjoosten opened #337 "Need better way to unpack files from Ampersand"
All static files are packed into the Ampersand executable so the binary is selfcontained. However, the unpacking goes wrong because of some resource problem on apple.
As a solution, the unpacking could be done using the conduit package.

[2016-03-21 06:42] stefjoosten opened #338 "Issue298.adl untraceable?"
I cannot find the issue that corresponds to the sentinel test "Issue298.adl". Who can help me out? Is this something @RieksJ recalls? My own memory is blank wrt this test file.

As far as I'm concerned, this test file should not be in ShouldFail,  because
`I[Natural] - I[Even] = {"thisShouldFail" , "one"}` and `I[Natural] - I[Odd] = {"thisShouldFail" , "two"}`, so the union of the two equals `I[Na

[2016-03-21 07:24] RieksJ commented on #338
I don’t recall this. However, there is an issue at https://github.com/AmpersandTarski/ampersand/issues/298 that mentions things like ‘even’ and ‘odd’ and ‘natural’s. @stefjoosten even asked @hanjoosten to provide a script. Could it be that the script you refer to is an answer to that question?
This message may contain information that is not intended for you. If you are not the addressee or if thi

[2016-03-21 12:21] hanjoosten commented on #338
I wonder why you raise this issue??? An adl script with the name `Issue298.adl` is about issue #298 of course. And when you read the comments in that issue, (the one of 2 feb), it becomes more than clear that the script and the issue are connected.

[2016-03-21 12:33] stefjoosten commented on #338
@RieksJ  and @hanjoosten , you are quite right. I misread issue #298. Of course file `Issue298.adl` is about issue #298. Sorry for that. I'm closing this issue.

[2016-03-21 12:33] #338 closed

[2016-03-21 12:34] stefjoosten commented on #298
As far as I'm concerned, this test file should not be in ShouldFail, because
I[Natural] - I[Even] = {"thisShouldFail" , "one"} and I[Natural] - I[Odd] = {"thisShouldFail" , "two"}, so the union of the two equals I[Natural].

[2016-03-21 14:12] RieksJ commented on #335
Since I'm getting more of this error as I'm converting stuff to the new branch_#228, I've set a prioritylevel. @stefjoosten: could you verify that Han is the right person to deal with this, and re-assign if not?

[2016-03-21 14:15] Michiel-s commented on #197
All json files are implemented in the backend.

[2016-03-21 14:19] Michiel-s commented on #198
@hanjoosten I just closed ticket #197, because all json files are implemented now and no data is used from Generics.php anymore.

Could you cleanup the code generation to the generics folder by removing the 4 unused files as specified in this ticket.

[2016-03-21 14:24] Michiel-s commented on #250
This should be fixed in branch 228 (soon to be merged in master), I'm closing this issue. Please reopen if it still occurs.

[2016-03-21 14:24] #250 closed

[2016-03-21 14:26] Michiel-s commented on #255
@hanjoosten thinks this issue is fixed. @RieksJ please reopen if that is not the case.

[2016-03-21 14:26] #255 closed

[2016-03-21 14:27] Michiel-s commented on #257
Closed because no response from @RieksJ

[2016-03-21 14:27] #257 closed

[2016-03-21 14:35] Michiel-s commented on #191
Fixed

[2016-03-21 14:35] #191 closed

[2016-03-21 14:39] stefjoosten commented on #163
@Michiel-s. We discussed this, but did not conclude it. Let's have a phone call about this.

[2016-03-21 14:44] Michiel-s commented on #269
In branch 228 the logging functionality is significantly improved. After merging in master i'll work on implementing a third party logging framework called Monolog. This will enable us to e.g. enable logging to logfiles, email, Pushover.

https://github.com/Seldaek/monolog

[2016-03-21 14:46] Michiel-s commented on #272
@stefjoosten could you check if this issue still occurs when making a prototype with branch 228?

[2016-03-21 14:47] stefjoosten commented on #272
OK. Will do

Stef Joosten

M +31 (0)6 51348895
skype: stef.joosten

-----Oorspronkelijk bericht-----
Van: Michiel Stornebrink [mailto:notifications@github.com]
Verzonden: maandag 21 maart 2016 15:46
Aan: Joosten, Stef
Onderwerp: Re: [ampersand] Interface functionality (bug) (#272)

@stefjoosten<https://github.com/stefjoosten> could you check if this issue still occurs when making a prototype with

[2016-03-21 14:51] Michiel-s commented on #278
This is fixed in branch 228 (soon to be merged in master).

[2016-03-21 14:51] #278 closed

[2016-03-21 14:56] Michiel-s commented on #288
This is fixed in branch 228 (soon to be merged in master)

[2016-03-21 14:56] #288 closed

[2016-03-21 15:39] Michiel-s commented on #319
Fixed

[2016-03-21 15:39] #319 closed

[2016-03-21 16:48] stefjoosten commented on #272
@Michiel-s. I have tried to run ampersand\AmpersandData\FormalAmpersand\Atoms.ifc on commit branch_#228@3a3cdb40aabfc0c9c084918e4304d0f667e81a59 . This script is demonstrable on the master, but not on branch_#228. So maybe we should skype about this.

[2016-03-21 21:03] Michiel-s commented on #328
A session timeout causes inconsistencies in the sense that undetected rule violations exist. The reason for this is that the session atom is tacitly deleted outside of a transaction

That is actually not the case. Session atoms are deleted by the same function as other atoms are. Therefore the affected conjuncts are checked. Also the execEngine kicks off. (How) can we reproduce the issue you menti

[2016-03-21 21:06] hanjoosten commented on #197
I cleaned up conform issue #198. I also modified the Cruds a little in the interface.json file, as we have spoken of before. The cruds are now in one object together, at all places. It might be that some of the connections with the backend is broken by that action. @Michiel-s, please check this, then you can close this issue again.

[2016-03-21 21:06] #198 closed

[2016-03-21 22:45] WolframKahl commented on #298
From
[code]
we have:
[code]
Together with
[code]
we obtain (since ```(A - B) ∩ B = ∅```):
[code]
, and analogously:
[code]

Conversely, from ```I[Even]   |- I[Natural] - I[Odd]``` and ```I[Odd]  |- I[Natural] - I[Even]``` we obtain:
[code]
So, in the presence of the two ```CLASSIFY```s, the ```RULE ruleTwo``` is just equivalent to:
[code]
And, in the presence of the two ```CLASSIFY```s, this is fu

[2016-03-22 08:27] #323 closed

[2016-03-22 08:27] Michiel-s commented on #291
I think I have a clue what's happening here.

The default population only inserts Atom ids in the `SeqTreeName` column of the `seqtreename` table. It looks like the Atoms `DocAtom`, `Doc_1Atom` and `Doc_2Atom` are not populated in the database. @hanjoosten could you have a look at this.

The view stuff is discussed and fixed in #323

[2016-03-22 08:41] Michiel-s commented on #259
See also #133

[2016-03-22 08:43] Michiel-s commented on #331
For now you have the possibility to Hide entire box is no target in expression (HROWS and HCOLS) and hide the labels in rows/columns with ROWSNL, COLSNL. In order to hide both label and content for specific subinterfaces in a box, we require the resolution of #133

[2016-03-22 08:43] #331 closed

[2016-03-22 08:51] Michiel-s commented on #327
You should use `<SCOLS>` instead of `<SHCOLS>`

[2016-03-22 08:51] #327 closed

[2016-03-22 09:18] Michiel-s commented on #264
As discussed with Rieks, this does not only applies for (local)settings files, but also for the whole `include` folder containing views, extensions, etc

[2016-03-22 09:21] Michiel-s commented on #170
Everything (except for all roles checkbox) is implemented.

[2016-03-22 09:21] #170 closed

[2016-03-22 10:04] Michiel-s commented on #197
All ok.

[2016-03-22 10:04] #197 closed

[2016-03-22 12:56] #328 closed

[2016-03-22 15:18] hanjoosten commented on #335
This is a bug in the typecasting stuff @sjcjoosten  introduced last December. I Hope he can have a look at it.

[2016-03-22 20:32] Michiel-s opened #340 "Fatal for r[UNI,INJ]"
The following script produces a fatal when generating a prototype with branch_#228:86254fb
[code]
Error message
[code]
I think it has everything to do with the changes of pull request #329

Could we add a test for all possible UNI,TOT,INJ,SUR combinations?
Should succeed:
[code]

[2016-03-22 22:16] sjcjoosten commented on #335
Will take a look at this during easter. Not sure whether the script is correct, but I fully agree that this is a bug, per Han's reasoning.

[2016-03-22 22:51] hanjoosten commented on #340
Fixed in branch_#228

[2016-03-22 22:51] #340 closed

[2016-03-22 23:04] hanjoosten opened #341 "Disallow I on concepts without equivalence defined."
With the introduction of TTYPE, we now have concepts without a proper equivalence relation defined. This allready causes errors, because SQL does not allow these concepts as primary key in a concept table. (i.e. BINARY, FLOAT)

As a consequence, certain properties must be disallowed on relations with such concept as source or target.

@sjcjoosten, @WolframKahl , could you give your opinion about t

[2016-03-23 01:06] WolframKahl commented on #341
This is interesting!  :smiley:

It probably means that it could be useful to adopt a semigroupoid-based point-of-view replacing the current more category-based point of view: Semigroupoids are categories where it is not assumed that there is an identity relation on every object.

Shameless plug: http://dx.doi.org/10.1016/j.jlap.2007.10.008

(My RATH-Agda development fleshes this out by including a

[2016-03-23 05:40] hanjoosten commented on #341
Haha, As a Humble Common Mortal I don't get this all, but that's OK. Maybe I can elaborate on what made me come up with the issue, for what it is worth.
As a result of issue #318 I have been rewriting the plugSql mechanism of Ampersand. This is where the database structure is created. In short, a concepttable is created for each typology (=set of concepts related in a single classification). No fu

[2016-03-23 08:24] hanjoosten opened #342 "Population as seen by Ampersand vs MySQL (With validateSQL)"
In issue #166 there was an issue with the following script:

[code]

Issue #166 has been closed, but recently there is a discrepancy between Ampersand and SQL:

[code]

Who is right, (Ampersand or SQL) and why??

[2016-03-23 08:49] Michiel-s opened #343 "Relation table info in relations.json does not match database structure"
Consider the following script:
[code]
After generating a prototype, this results in:
relations.json:
[code]
The `null` attribute of the tgtCol specifies that the column may not be set to null. This corresponds to the TOT constraint on the relation. However, the database structure does not implement this restriction as such, since we use ampersand rules for this.

![image](https://cloud.githubuserc

[2016-03-23 11:13] Michiel-s opened #344 "Relation table column names are switched in default population for r[A*B] [SUR]"
Consider script:
[code]
The column names for inserting the default population in table rSur are switched!

![image](https://cloud.githubusercontent.com/assets/7961582/13983511/7a7e0a52-f0f0-11e5-8869-fe508c803afb.png)

[2016-03-23 11:34] Michiel-s opened #345 "Affected conjuncts not complete."
The list of affected conjuncts specified for each relation is not complete. This allows transactions to be committed that do not satisfy the invariant rules!

The attached file provides an overview with the affected conjuncts specified for r[A*B] in all 16 combinations possible. I marked the relations that have missing conjunct specifications in yellow.

According to @hanjoosten this is an normali

[2016-03-23 13:34] hanjoosten commented on #344
This should be no problem. The relation is stored as a binary table, because it is UNI nor INJ. Please explain what you mean by 'switched'? As far as I know, the corresponding JSON tells you what the source and target is of r. Is this information not sufficient?

[2016-03-23 13:41] hanjoosten commented on #344
If there is a problem with the order of the two columns in a binary table, what order do you prefer?

[2016-03-23 13:46] Michiel-s commented on #344
Take a close look! atoms `a1` and `a2` are inserted in the wrong column (B)!!, atoms `b1` and `b2` are in colum A.

[2016-03-23 13:49] hanjoosten opened #346 "Create dumpfile with sql queries for debugging"
Now we have the JSON in place, the SQL queries are printed as a single string. It would help to be able to create a file that contains all sql queries in a prettyprinted format.

[2016-03-23 13:51] hanjoosten commented on #344
ahh! I see. I missed that. Good point. I'll fix it.

[2016-03-23 16:51] Michiel-s commented on #345
I used the following script as input:
[code]
In branch 228, you can run the report yourself by calling in browser
http://pathtoapp/api/v1/admin/report/relations

[2016-03-23 17:10] #344 closed

[2016-03-24 07:16] Michiel-s commented on #345
Related to ticket #256. Here the issue of missing SUR check is also discussed.

[2016-03-24 12:13] Michiel-s commented on #318
This issue is solved for now. There are still a very few combinations that can not be handled by the new frontend, because of missing 'previous' value of a link.

This applies to (sub)interfaces WHERE the relation is editable (crUd) AND the tgt of the expression is a scalar (i.e. with representation type) AND the interface expression is univalent AND ((the relation is flipped AND table in which th

[2016-03-24 12:13] #318 closed

[2016-03-24 13:49] sjcjoosten commented on #335
Is it really a problem when a branch does not pass? Does this bug occur in master too?

[2016-03-24 15:41] sjcjoosten commented on #335
The commit https://github.com/AmpersandTarski/ampersand/commit/f59329e6b624c0e15e290900d9a62f1bcf2831bb caused this issue in the branch, which makes me suspect that this issue is also in Master.

Question: where should the issue be fixed, in the branch or in the master? I only want to fix this issue once, and by that I mean that whoever created the branch will take care of future merge conflicts.

[2016-03-24 15:47] sjcjoosten commented on #335
Here is a smaller script that triggers the bug:

[code]

[2016-03-24 17:53] sjcjoosten commented on #335
Closing this since it is fixed in the branch the issue was reported in.. feel free to reopen (as usual)

[2016-03-24 17:53] #335 closed

[2016-03-24 18:32] #325 closed

[2016-03-24 19:32] Michiel-s commented on #272
I found out the following bug:

In your interface definition you specify explicitly that for the name relation the srcConcept must be Sequence (the generalization of Template) `"naam van dit template" : name[Sequence*Name]`

However, in the generated interfaces.json file (which the backend uses as input), the concept Template is specified as source (see below). This is not correct. @hanjoosten I t

[2016-03-24 19:42] Michiel-s commented on #163
I'll close this issue for now. As explained above, the introduction of technical representations results in certain constraints for these technical world. E.g. is you specify `REPRESENT datum TYPE DATE` the database field can only contain date values. In the html frontend you see an datepicker (by default). This requires data from the api being a date representation and nothing more. INTERFACE box

[2016-03-24 19:46] stefjoosten commented on #163
@Michiel-s. I have tried to run ampersand\AmpersandData\FormalAmpersand\Atoms.ifc on commit branch_#228@3a3cdb40aabfc0c9c084918e4304d0f667e81a59 . This script is demonstrable on the master, but not on branch_#228. So maybe we should skype about this.

[2016-03-25 04:42] RieksJ commented on #335
@sjcjoosten Thanks a lot!

[2016-03-25 05:21] RieksJ opened #347 "Database initialization bug"
Perhaps this issue is related to #345, which @Michiel-s might verify.

When using Ampersand v3.5.0[branch_#228:de766cd] (or Ampersand v3.5.0[branch_#228:3032de8]) in the (large) UETP project, database initialization results in errors which it did not do when using Ampersand v3.4.0[branch_#228-890de97].

This issue is blocking, since it prevents me from using the fix for #335 which was/is blocking,

[2016-03-25 09:37] hanjoosten commented on #272
I think that there are two separate issues here:
1) The expression `items : seq~;I[Variable]` is not a simple expression. Therefore, modifying it's population should not be allowed. A user defined error shoud be generated on this script. I am however not confident on the exact conditions of this restriction.
2) If the expression would be a simple expression (i.e. `items : seq~`), the json file sho

[2016-03-25 10:16] hanjoosten commented on #272
I had a better look at the script. What your intention seems to be is to populate a relation and at the same time enforcing the inserted atoms to be more specific than could be derived from the sign of the declaration.

In this case, we have
[code]
You intend to populate seq with some tuple (i,s), where i is an element of Variable and s is an element of Template.

@stefjoosten : Do you agree with

[2016-03-25 10:27] hanjoosten commented on #272
@sjcjoosten: Could the typechecker give this kind of information in some way?

[2016-03-25 11:55] hanjoosten commented on #343
Except for primary key fields, this field is allways null. If you need that information, you now can read it from the field dbNull, that I added to the json file.

[2016-03-25 12:46] stefjoosten commented on #345
I have made an update, Ampersand v3.5.0[branch_#228:1b47613*], build time: 25-Mar-16 09:08:48 West-Europa (standaardtijd).
It produces a different [overview](https://github.com/AmpersandTarski/ampersand/files/189497/Overview2.with.affected.conjuncts.for.16.relations.pdf). It shows some improvement, but the issue has not been resolved completely.

[2016-03-25 13:40] RieksJ commented on #347
@Michiel-s and I have made an attempt to find out where this stuff comes from. It seems that the database is structured completele wrong - details have been communicated between @hanjoosten and @Michiel-s by phone.

In an attempt to contribute to the solution, I have generated ampersand.exe from a number of commits to see where the error is introduced. I have seen the following

- Ampersand v3.4.0

[2016-03-25 14:45] Michiel-s opened #348 "Concept not defined with REPRESENT statement"
Consider the following script, which defines concept A and represents this concept as alphanumeric. This script defines the concept A in the json output files for the prototype and creates a database table for it.
[code]
If we only specify the REPRESENT statement, concept A is not defined and no database table is created:
[code]

Shouldn't concept A be defined implicitly by the `REPRESENT` stateme

[2016-03-25 15:07] Michiel-s opened #349 "Concepts in same db table while not in same classification tree"
Consider the following script:
[code]
As you would expect, four concepts are defined that all have their own database table. Default population is imported correctly.

Now if I add a classify statement for concept B
[code]
The result is as expected, concepts A and B are administrated in the table of concept A. Concepts C and D still have their own table. Default population is imported correctly.

[2016-03-25 15:14] Michiel-s commented on #349
You might think it has to do with representations and classifcations. However, after adding
[code]
and changing the populations for C and D to int values.

The result is still unexpected. All in the same database table. Population of C and D is not imported.

![image](https://cloud.githubusercontent.com/assets/7961582/14046907/9a807258-f2a4-11e5-9d19-88db03f0cffa.png)

[2016-03-25 15:17] Michiel-s commented on #347
I've been able to make a very small script that illustrates the issue. Documented in #349

Thx Rieks for finding the commits after which this bug occurs.

I'll close this issue.

[2016-03-25 15:17] #347 closed

[2016-03-26 04:43] RieksJ opened #350 "ExcelImport (uploader) now fails"
@Michiel-s has refactored the ExcelImport, but it is not backward compatible. For example, if a cell in one of the two header lines of a block is empty, the column in that block should be ignored. However, it now produces errors. I've seen other issues (in UETP) that I cannot properly diagnose and for which I do not know how to work around. Therefore, I have created a new branch ExcelImportINTERFA

[2016-03-26 05:20] RieksJ opened #351 "!fatal in P2A_Converters.hs:310:45"
When you compile the following script:

     CONTEXT GRC IN ENGLISH LATEX

     CLASSIFY Organization ISA Party
     CLASSIFY OrgUnit ISA BusinessFunction
     CLASSIFY Organization ISA OrgUnit

     ENDCONTEXT

It produces the following error:

     ampersand.exe: !fatal, called at src\Database\Design\Ampersand\ADL1\P2A_Converters.hs:310:45
     in main:Database.Design.Ampersand.ADL1.P2A_Converte

[2016-03-26 05:53] RieksJ opened #352 "Installer sometimes shows blank screen in prototypes"
@Michiel-s when I compile the GRC app (in tno-models, commit [aa85766] of 26 mrt), and I run the prototype installer [http://localhost/GRC/#/admin/installer,](http://localhost/GRC/#/admin/installer) the screen remains blank. Firebug says this:

<img width="482" alt="picture1" src="https://cloud.githubusercontent.com/assets/8522589/14058393/da36f1fe-f31e-11e5-9721-31fa6bf7ee36.png">

This does not

[2016-03-26 06:06] RieksJ commented on #352
I had a stroke of luck: it turned out to be a problem of initialization files (localsettings.php, in particular when attempting to load the Pushover application without a correct application key).

[2016-03-26 06:06] #352 closed

[2016-03-26 06:43] hanjoosten commented on #351
Yes, I have seen this bug. ([Travis told me](https://travis-ci.org/AmpersandTarski/ampersand/jobs/118564591)). It is related with the fix of #349 .

[2016-03-26 09:32] hanjoosten commented on #292
I will implement alternative 1. In the error message, a suggestion is done to add proper CLASSIFY statements. As suggested root name, the suggestion of @RieksJ is used.

[2016-03-26 11:15] Michiel-s commented on #350
@RieksJ could you verify if excel import functionality is ok now in branch ExcelImportINTERFACE?

[2016-03-26 11:51] Michiel-s commented on #330
@hanjoosten I've updated the cmd for composer install when generating a prototype.
`--prefer-dist` provides a means to use caching of packages in local profile of user
`--profile` provides more details about composer install action.

Could you also output the stdout of composer install on ExitSuccess in verbose mode?

[2016-03-26 13:50] Michiel-s commented on #316
Ok. For now I will introduce a constraint that allows only alphanumeric characters an an underscore for atoms with an object representation (i.e. non-scalar). Otherwise the current backend-frontend interaction won't work (due to api url mechanism) and we are not able to use the new frontend in short term.

I don't see why this would backfire at a later time? @stefjoosten could you elaborate? If we

[2016-03-26 14:11] Michiel-s commented on #316
Maybe we can loosen the constraint a bit, but we have to check which of the URL reserved characters don't cause a problem in our implementation.

 https://en.wikipedia.org/wiki/Percent-encoding#Types_of_URI_characters

[2016-03-26 15:43] Michiel-s opened #353 "Database info not correct for PROP relations"
Consider the following script:
[code]
The table definition for this property relation points to the wrong `srcCol` and `tgtCol`. They should be the other way around in order for the sql update statement to work. Until this issue is fixed, property relations cannot be edited.

The output in relations.json is:
[code]

[2016-03-26 16:14] RieksJ commented on #350
No. It is not. I checked by compiling UETP and then importing _Profile_TGN_Autos verkopen.xlsx. It now ignores block columns of which the 2nd header row has an empty cell, as it should. However, it still does not treat columns of which the 1st header row has an empty cell as a comment. I'm not sure about any further stuff.

[2016-03-26 17:02] Michiel-s commented on #353
I've added a check to see if database records are actually found (and updated). If this is not the case, an error is thrown. This error indicates that the INSERT, UPDATE or DELETE statement is incorrect.

[2016-03-27 07:51] hanjoosten opened #354 "!fatal, called at src\Database\Design\Ampersand\ADL1\Rule.hs:52:22"
Consider
[code]
This triggers the following fatal:
[code]
This also goes for other properties that can only be defined on endo relations. a test must be implemented to detect properties like PROP, TRN,ASY,SYM,RFX,IRF that can only be used on relations where source rel == target rel

[2016-03-27 08:16] #353 closed

[2016-03-27 08:17] #349 closed

[2016-03-27 09:31] stefjoosten commented on #298
I agree with Wolfram

[2016-03-27 09:31] #298 closed

[2016-03-27 09:50] stefjoosten commented on #354
Remarkable! I would have expected this to be tested already in Travis. Apparently I'm too optimistic about the quality of our testing.

[2016-03-27 10:34] hanjoosten commented on #354
Well, the issue is here that even if it was tested by Travis, the test would pass. Travis does no testing on the quality of the error message. Currently, we get a fatal, which is wrong. We need a user error.

[2016-03-27 11:53] Michiel-s commented on #343
@hanjoosten I was thinking about this issue again. Why did you introduce a new field `dbNull`. I mean, this column defintion is all about the database. The TOT or SUR aspects of the relations are already somewhere else in the relation definiton in relations.json. The `null` attribute which is now still there has no function at all. It's rather confusing. I suggest to delete the dbNull attribute an

[2016-03-27 11:57] Michiel-s commented on #345
Just branch from 228. Then you can experiment as much as you like without disrupting RieksJ:)

[2016-03-27 14:04] RieksJ commented on #345
On retrospect, it may not have been the update of @stefjoosten that was disruptive, but something else. After all, the last days all sorts of things that used to be 'good' turned out to be 'no more good', such as database tables, endo-properties, and what not. I agree with Michiel to branch and experiment.

I would also like to suggest to clean up branch_#228 asap so as to get it a stable, working

[2016-03-27 14:07] RieksJ commented on #322
In the current status of branch_#228, this is fixed (actually, for quite some time already).

[2016-03-27 14:07] #322 closed

[2016-03-27 14:51] RieksJ commented on #316
When importing the current UETP in a prototype that was built using Ampersand v3.5.0[branch_#228:bf3d940], it says:

`While evaluating rule ‘DTCriterion tekst parsing – delete parsed CritText’: Only alphanumeric characters and an underscore are allowed for object representations. Atom ‘[DTCriterion]’ (ttype: OBJECT) does not comply to this constraint`

This seems awkward, since `DTCriterion` is th

[2016-03-27 15:35] Michiel-s commented on #316
The atom id is missing. So it is probably an empty text string. This is an invalid identifier for an atom without scalar representation. Does this help finding the issue?

I'll update the error message to reflect this situation.

[2016-03-28 04:09] RieksJ commented on #316
(I modified my earlier comment to reflect that it did not have anything to do with ExcelImport, but with the initialization of the prototype). I removed the default population too, but that did not help. I still have no clue.

[2016-03-29 10:59] hanjoosten commented on #348
Hmm. Interesting. The current A-Structure has no explicit knowledge of REPRESENT statements. The Representation is only used in the P-structure. The A-structure has a function (A_Concept -> TType). This guarantees that the A-structure has knowledge of the TType of ALL concepts known in the A-structure. It also knows of the TType of the concept in your example, but it will never be used for that.

[2016-03-29 10:59] #348 closed

[2016-03-29 15:25] stefjoosten opened #355 "Missing population from Xlsx-include"
In ampersand-models@4ff06cc026f37c3e198d71fb9c3cabc86242325f I have submitted a script Arch.adl, which includes
[processen.xlsx](https://github.com/AmpersandTarski/ampersand/files/193740/processen.xlsx). This compiles correctly with Ampersand v3.4.0[master:f2e1a0d]. It should fail, however, due to violations of the population. It turns out that the population of "processen.xlsx" is not being inclu

[2016-03-30 04:47] RieksJ opened #357 "Need for a `sessionV` relation?"
As I am exercising the CRUD functionality of branch_#228 in the UETP project, I run into the situation where a user is editing a (nested) object, and as (s)he does so, ExecEngine rules want to assist this user by already inserting information that is related to the user's account. The point here is that I cannot express such rules, because even though `'_SESSION';sessionAccount` gets me the user's

[2016-03-30 05:01] RieksJ commented on #357
In a similar way, I want to constrain the editing of certain objects to SESSIONs in which a user is logged in that somehow 'owns' the object. Currently, this should be done by creating an expression at every location in every INTERFACE where this is required. This means that we lack a single point of control, which may be a source of errors. Wouldn't it be nice if we could specify such containts a

[2016-03-31 07:54] stefjoosten commented on #355
@hanjoosten, I have some extra symptoms for this issue:

1. In the second tab (worksheet `grondslagen van Handelingen`) of Processen.xlsx, the first column consists of formulas. Might that explain things? When I substituted the formulas for their values, the problem dissappeared.

2. In the first tab (worksheet `Handelingen`) of Processen.xlsx, the cell B1 should contain `omschrijving`. If it does

[2016-03-31 10:43] RieksJ commented on #350
Seems to work

[2016-03-31 10:43] #350 closed

[2016-03-31 18:39] Michiel-s commented on #343
As discussed with Han by phone: replaced dbNull by null

[2016-03-31 18:39] #343 closed

[2016-03-31 18:40] Michiel-s commented on #190
Tested and merged in branch 228

[2016-03-31 18:40] #190 closed

[2016-03-31 18:41] Michiel-s commented on #269
Implemented monolog log framework in branch 228

[2016-03-31 18:42] Michiel-s opened #358 "Refactor ExecEngine extension"

[2016-03-31 18:43] Michiel-s opened #359 "Refactor Messaging extension"

[2016-03-31 18:49] Michiel-s commented on #316
We found out that the issue of @RieksJ was caused by a database tabla `CritText` not being created when installing the database. This was because a `PRIMARY KEY` statement was added to the column definition while the column representation is a `TEXT (BLOB)`. In MYSQL this is not possible.

This (primary) key issue was already identified in issue #341. A work around fix is implemented.

The mysql e

[2016-04-01 03:55] RieksJ opened #360 "Undefined method Notifications::addLog() in ...Notifications.php line 108 (and 121, and ...?)"
Some incomplete conversion to the notification stuff. Should be very easy to fix for @Michiel-s.

[2016-04-01 04:10] RieksJ opened #361 "Changes/bitrot in the parser???"
Using Ampersand v3.5.0 branch_#228:[01dc18b] I find that a few INTERFACEs now produce the error `Parsing stumbled upon symbol '('
at that point expecting keyword "CLASS", symbol '{', keyword "FOR" or operator ':'`
while the used syntax has been supported for a long time now and is (still) not obsolete. An example of such an interface is:

     INTERFACE "My Focus"
         ( scopeBF, scopeNH

[2016-04-01 05:05] RieksJ opened #362 "Error in ExcelImport"
<img width="523" alt="picture1" src="https://cloud.githubusercontent.com/assets/8522589/14198229/05dda678-f7d8-11e5-8189-3a09e4e5489d.png">

[2016-04-01 05:18] Michiel-s commented on #361
This is an easy one. We're preparing for merging branch 228 in the master. The crud functionality replaces the editable relation syntax between () in an interface. Han committed a change yesterday which removed this syntax for the parser.

[2016-04-01 05:57] RieksJ commented on #361
If it is correct what @Michiel-s says, then  @hanjoosten should revert this change immediately. We should only remove the () syntax after we are all satisfied with the new functionality, not a minute before that. The reason is that we may need to revert to an older version of & that uses the ()'s, and we should not be put in a position to have to re-edit all these interfaces again.

Having said th

[2016-04-01 06:06] #362 closed

[2016-04-01 06:10] #360 closed

[2016-04-01 06:19] Michiel-s commented on #361
Are you reflecting all the changes you make in crud specifications for expression in the editable relations syntax?

I do understand your point though, but on the other hand, allowing syntax that has no effect in your prototype is confusing. Maybe not for you as experienced developer, but others may have difficulties with this. Don't you agree?

Same holds the other way around. Crud syntax is allo

[2016-04-01 06:41] stefjoosten opened #363 "!500 internal server error for importing illegal string format from Excel"
I have compiled Arch.adl from ampersand-models@b28d23057e9bd2aa647ac85e8ee4c8c7dd920e1d using Ampersand v3.5.0[branch_#228:b3a0916].  After installing the base I want to get an overview of "Handelingen". However, this produces a !500 internal server error.
Fortunately, if I click on it, I get some useful feedback. It turns out to be a Slim application error:
![image](https://cloud.githubuserconten

[2016-04-01 06:48] hanjoosten commented on #361
Michiel is correct. And my job is not sloppy at all. There is not a single script that can be parsed with the obsolete brackets. However, our parser only tells one error at a time, because that's the way it works for ages.

[2016-04-01 06:51] #361 closed

[2016-04-01 06:52] hanjoosten commented on #361
Parse error has been fixed temporarily

[2016-04-01 06:54] RieksJ commented on #361
Thanks

[2016-04-01 07:00] hanjoosten commented on #363
At a first sight, I think that this is not an issue with the .xlsx generator. If the population like that would be inserted in the initial population with POPULATION statements in you .adl file, the same error will occur. My guess is, that this has to do with the restriction introduced as part of issue #316. @Michiel-s , can you confirm this?

[2016-04-01 07:02] stefjoosten commented on #363
# Diagnosis
This occurs because fields without a declared technical type are (by default) Object, and the atoms of object fields are restricted. That is what happens here. The atom `1994-` is not allowed as an Object atom.

A consequence is that I cannot obtain a prototype without specifiying many concepts explicitly as `ALHANUMERIC`. From a user perspective this feels like excess work, which we d

[2016-04-01 07:30] Michiel-s commented on #363
I agree with diagnosis above. Let's discuss this further in issue #316

[2016-04-01 07:30] #363 closed

[2016-04-01 09:26] RieksJ opened #364 "Script produces several errors, including a mysqli error at first initialization"
Consider the following script, which produces several errors in branch_#228 [fab99f4]:

     CONTEXT BugQ IN ENGLISH

     CLASSIFY A ISA B

     r :: B * C

     INTERFACE BugQ: '_SESSION'[SESSION] cRud COLS
     [ "r" : V[SESSION*B] cRud COLS
        [ "B->C": r       CRUD
        , "A->C": I[A];r  CRUD
        ]
     , "r~": V[SESSION*C] cRud COLS
        [ "C->B": r~      CRUD
        , "C->A"

[2016-04-01 10:05] RieksJ opened #365 "Error with matching atoms - perhaps a CLASSIFY-related issue?"
Consider the following script, which produces several errors in branch_#228 [fab99f4]:

     CONTEXT BugQ IN ENGLISH

     CLASSIFY A ISA B

     r :: B * C

     INTERFACE BugQ: '_SESSION'[SESSION] cRud COLS
     [ "r" : V[SESSION*B] cRud COLS
        [ "B->C": r       CRUD
        , "A->C": I[A];r  CRUD
        ]
     , "r~": V[SESSION*C] cRud COLS
        [ "C->B": r~      CRUD
        , "C->A"

[2016-04-01 11:37] #365 closed

[2016-04-01 12:11] #364 closed

[2016-04-02 09:59] RieksJ opened #366 "Error messages related to multiplicity- and other relation-type constraints (e.g. TOT, IRF)"
Error messages for multiplicity- and other relation-type constraints (e.g. `UNI`, `TOT`, `RFX`, `IRF`, `PROP`etc.) are satisfactory for developers, but are a source of questions from the public in the context of demonstrations. For example, the error message associated with `TOT` is `r[A\*B\ is not total`, which is not clear to the general public.

Currently, the way to do this is to create your o

[2016-04-02 10:26] RieksJ opened #367 "Templates for [PROP]s do not seem to work"
Example is in the UETP project. Im using branch_#288 [74aae2b]. The property should show in the red circle of the image below:

![picture1](https://cloud.githubusercontent.com/assets/8522589/14225753/13ac4e70-f8ce-11e5-8a81-2d4069ded529.png)

[2016-04-02 10:34] RieksJ opened #368 "INVARIANT and SIGNALS logging should mention the rule"
The logs in the red rectangle do not mention the rule names, but should.

![picture1](https://cloud.githubusercontent.com/assets/8522589/14225780/21a31788-f8cf-11e5-8d6a-0627218cc6bd.png)

[2016-04-02 11:06] RieksJ commented on #368
Turns out signals and invariants, such as in the red rectangle, should also be put on the screen as they contain working information for Users, as shown in the screenshot below:

![picture2](https://cloud.githubusercontent.com/assets/8522589/14225911/b749d64c-f8d3-11e5-9b32-9af7aee5a34e.png)

[2016-04-02 14:19] Michiel-s commented on #367
@RieksJ

This screenshot is not enough for me to diagnose the issue. As far as I know the build-in property template is correct.

Could you:
* Provide the part of the Interface definiton of the `Prm`
* Provide the declaration of the relation used in this interface expression
* Provide any view definitions that are defined for the target concept
* Check if you have a template with the name `View-PR

[2016-04-02 14:48] Michiel-s commented on #366
I have another suggestion: if the prototype generator provides an attribute at the rule defintions in `rules.json` specifying which constraint is related to the rule (UNI, TOT, etc), then we can make this default error message configurable in `localsettings.php`.

@hanjoosten: could you add this attribute to the relation definition like this:
[code]

[2016-04-02 14:58] Michiel-s commented on #368
First issue is fixed by commit a2c21da

Second comment is not relevant, since a log is shown which is not used for showing signals or invariants to endusers. The log shows that violations are calculated, but it depends e.g. on the current role of the user if he/she gets these violations presented. Of course invariant violations are always shown.

[2016-04-02 14:58] #368 closed

[2016-04-03 05:03] RieksJ commented on #367
I've cleaned up and checked in UETP (tno-models commit [fd524bb]); the bug remains.
You can reproduce as follows:
- compile UETP, install database
- click on menu-bar item 'Cases'
- create a new transaction (give it a name), and click on it so as to edit it further
- in the 'Concerns and Criteria' tab, create a new concern (some text will do)
- add a stakeholder name to it (e.g. shr1) to get rid o

[2016-04-03 05:25] RieksJ opened #369 "Dirty identifiers should not (ever) be shown on the screen"
One of the ideas with dirty identifiers is that they should not (ever) appear on the screen. Currently, there are some cases where they do appear, one of which is in the 'history bar' (or whatever it is called) on the top of the screen. Here, it could perhaps be replaced with the corresponding default view.

(Others exist, but we need to think a bit about how to deal with that. An example is when

[2016-04-03 05:56] hanjoosten commented on #369
Please state the problem. This sounds like an idea for a solution, but to what problem? I can fantasize, that the problem behind this solution is the one discussed in #316

[2016-04-04 04:23] RieksJ opened #370 "Rules with 'SESSION' get evaluated while SESSION does not exist"
When you close the browser in a running session with e.g. roles activated, and you restart the prototype, this results in error messages that (obviously?) should not bother the user, such as the following:

<img width="800" alt="picture1" src="https://cloud.githubusercontent.com/assets/8522589/14238143/9f621a16-fa2d-11e5-84cd-2973da70ce05.png">

[2016-04-04 04:27] RieksJ commented on #369
Dirty identifiers (e.g. 'Concern_1243563_12341235')  should not appear on the screen, as they are references that are entirely internal to the 'database'/internals of the prototype. The problem is that they do appear. The issue is not related to #316, since dirty identifiers do not contain the special chars refered to there.

[2016-04-04 04:47] RieksJ opened #371 "Internal Server error after creating new Transaction from menu bar"
To reproduce the error, compile UETP from tno-models commit [c52b85f]:
1) compile, reset database
2) click on '+' in menu bar, and select 'Define Transaction'
3) enter a transaction id
This is what I then see:

<img width="800" alt="picture1" src="https://cloud.githubusercontent.com/assets/8522589/14238452/bdde6f40-fa31-11e5-9114-3d78e68f3869.png">

[2016-04-04 06:13] RieksJ opened #372 "Internal Server error when importing Excel sheet"
As in issue [previous], I get an Internal server error, but this time when importing an Excel sheet.
To reproduce the error, compile UETP from tno-models commit [c52b85f]:
1) compile, reset database
2) Import the excel file '_Profile_TGN_Autos verkopen.xlsx'
The debugging stuff produces the following:

<img width="800" alt="picture2" src="https://cloud.githubusercontent.com/assets/8522589/14239524

[2016-04-04 06:19] RieksJ commented on #367
I have noted that some other properties do have the checkbox, but I can't get that to show because of issues #371/#372.

[2016-04-05 14:19] #371 closed

[2016-04-05 14:27] Michiel-s commented on #372
Zoals de foutmelding aangeeft: `Concept `TrxTemplate` is not defined, bestaat het door jou gebruikte concept `TrxTemplate` in excelsheet `DT Transactions:F2` niet. Dit komt omdat het concept `TrxTemplate` wordt gedefinieerd in `UETP-PRFL-Ontology.adl` welke je niet importeert in `UETP.adl`

[2016-04-05 14:27] #372 closed

[2016-04-05 14:36] Michiel-s commented on #370
I can't reproduce this. Please let me know when it happens again

[2016-04-05 15:06] Michiel-s commented on #370
I found the bug. Fix on its way

[2016-04-05 15:07] #370 closed

[2016-04-05 15:20] Michiel-s commented on #367
I've found your issue. As I already though, a custom template kicks in.

* The tgt of your Prm interface expression critPromise is a Criterion (because it's a PROP).
* There is a DEFAULT view specified for Criterion -> `Criterion`
* This view is assigned a custom template -> Criterion.html
* You haven't implemented checkbox/prop functionality in this template.

Solution:
* create a property view f

[2016-04-05 15:20] #367 closed

[2016-04-05 15:22] Michiel-s opened #373 "Fix breadcrumb"

[2016-04-05 15:24] Michiel-s commented on #369
I opened an issue to fix the breadcrumb (history bar) #373

Furthermore the identifier are used when no view is specified. In that case we don't have anything else to show to the user. Please provide an example of where this is not functioning correct.

[2016-04-05 17:19] #369 closed

[2016-04-05 18:27] RieksJ opened #374 "ExcelImport does not finish"
When I import an excel file in UETP, it does not seem to finish, even though - when I refresh the page - it shows a check-mark. However, nothing has been put in the database.
Looking around in FireBug, I see the following:

![picture1](https://cloud.githubusercontent.com/assets/8522589/14293261/1f59f268-fb6c-11e5-90fe-07084fec25a4.png)

Could it be that the `.signals` stuff is not defined on line

[2016-04-05 19:05] RieksJ opened #375 "reserved for future use..."
UETP in tno-models [b0a36cb] provides the error 'cannot patch replace for object reference'.
Reproduce:
- install database, click on '+' in menubar, click 'New Transaction'
- fill in the Transaction ID
- create a new concern (click '+' on the lowest line)
- fill in text under 'Concern', 'Criterion' and 'Stakeholder'
- click on the checkbox under 'Prm'
Then I see the following:

<img width="575" al

[2016-04-05 19:49] RieksJ commented on #366
Here is another idea. Since the multiplicity constraint violation stems from activities in an INTERFACE, there is a good chance that the INTERFACE allows for repairing of the multiplicity constraint (currently, this even is required if you want to get stuff done). If there is a way to detect which (updatable) fields in the INTERFACE would allow for the reparation of the multiplicity constraint, th

[2016-04-06 08:01] Michiel-s opened #376 "PROP attribute not specified correct in interfaces.json"
Consider the following script:

[code]
Problem:
* Test1 interface specifies correctly that the `bProp` is a property. (see below)
* Test2 however is marked as not being a property (see below), due to the fact that the src and tgt of the interface expression are not the same concept (C ISA B). From my point of view the expression bProp is still a property. Please fix this.

Output of interfaces.jso

[2016-04-06 08:02] Michiel-s commented on #375
I identified the bug and created a ticket for it: #376

[2016-04-06 08:02] #375 closed

[2016-04-06 08:13] Michiel-s opened #377 "Uniform relation signature in generated json files"
Currently there are two different relation signatures formats in use for generating the json files:

Relations.json: `"signature" : "r[A*B]"`

Interfaces.json: `"relation": "rel_r_A_B"`

Let's uniform and use `r[A*B]` as signature

Note! As this change affects the API we have between haskell and php backend, this change has to be implemented on both sides. Please (re)assign me when ready.

[2016-04-06 08:31] Michiel-s opened #378 "Strip all comments from SQL queries in json files"
To make the queries in the generated json files more readable and usable to copy/paste in database webadmin (phpMyAdmin) I would like to have all the comments removed. I don't use the Plug, Eps and other comments for debugging. @hanjoosten implemented a sqldump #346 which we can use when needing to debug the queries themselves.

This request applies to all places where queries are specified:
- [x]

[2016-04-06 12:18] Michiel-s opened #379 "Views are not used anymore in interfaces"
@hanjoosten I suspects that in commit f924a76df9200cd486dafcd5eecf6c2f71f5a2d8 something went wrong:  deleted lines 138-140, added 129

In interfaces.json the right viewId is not displayed anymore.

Consider the following script:
[code]
The places where a view is explicitly stated (r2, s2 and t2), the wrong view is provided in interfaces.json.

As we've discussed and agreed on, the view priority s

[2016-04-06 12:46] #374 closed

[2016-04-06 15:22] Michiel-s commented on #345
@stefjoosten any update on this issue yet?

[2016-04-07 06:19] hanjoosten commented on #377
@Michiel-s : Your turn.

[2016-04-07 06:39] hanjoosten commented on #305
This is probably caused by the same problem in xlsx as issue #355

[2016-04-07 11:16] Michiel-s opened #380 "FPA analysis has to be fixed, because of the new CRUD syntax to determine editablilty in interfaces"
I'm getting the following fatal and don't know how to work around...

[code]

As far as I know, my script doesn't have any editable relation syntax in interfaces anymore.

[2016-04-07 11:20] Michiel-s commented on #380
In addition to my previous post, I only receive this fatal when running with `--verbose`

[2016-04-07 11:45] Michiel-s commented on #379
Now something else is broken.

View definitions from the new view syntax (i.e. `VIEW .... ENDVIEW`) are not defined in `views.json` anymore.

[2016-04-07 11:48] #377 closed

[2016-04-07 12:45] Michiel-s commented on #376
After discussion with @hanjoosten I reverted his commit and we decided to don't mix aspects of interface expressions and expressions that only exist of a relation. Therefore the isProp attribute is moved from interfaces.json to relations.json.

[2016-04-07 12:47] Michiel-s commented on #376
What still has to be done is also change this in the GenFrontend.hs line 409:
`| exprIsProp obj && (not . exprIsIdent) obj  -- special 'checkbox-like' template for propery relations`

The exprIsProp should be something like relIsProp and use the interface expression relation if present.

@hanjoosten could you implement this, because this one is too complex with my current experience in Haskell:)

[2016-04-07 12:59] Michiel-s commented on #379
I think my commit to fix the issue is correct. @hanjoosten could you verify?

[2016-04-07 16:10] Michiel-s commented on #380
Correction: it is because of the `--fpa-excel` that I used. Han explained to me that this is because we have to rethink the Function Point Analysis now that we don't use the editable relation syntax anymore.

Let's keep this ticket open until FPA is fixed.

[2016-04-07 17:50] hanjoosten commented on #355
probably the same cause as #305

[2016-04-07 18:03] hanjoosten commented on #316
I have added a test at the generator side for the constraint that @Michiel-s added recently. Now, when the value of an atom of a concept with TTYPE == OBJECT contains invalid characters, an error is given to the modeller, not the user of the application. Still I think this constraint is a workaround.

[2016-04-07 18:06] hanjoosten commented on #379
yes, it is spot-on ! :100:

[2016-04-07 18:06] #379 closed

[2016-04-07 18:14] hanjoosten commented on #240
This too is very likely related with the [bug](https://github.com/qrilka/xlsx/issues/45) fixed with xlsx 0.2.1.1. It will be available in stack LTS expected next week.

[2016-04-07 19:05] RieksJ opened #381 "'Delete not allowed' error"
I've just committed the CritTexts application in the ampersand-models repo. This demonstrates the use of criteria and variables. However, if you try to delete a criterion, it has a 500 internal error of which firebug says the following:

<img width="805" alt="picture1" src="https://cloud.githubusercontent.com/assets/8522589/14363409/63cea9fe-fd04-11e5-8dac-bc32d0bb4e83.png">

I have no clue as to

[2016-04-08 12:48] #376 closed

[2016-04-08 12:50] #351 closed

[2016-04-11 09:02] Michiel-s commented on #381
Typo in haskell output caused this issue.

[2016-04-11 09:02] #381 closed

[2016-04-12 15:28] hanjoosten commented on #366
I totally agree that the violation messages are not practical for demonstrations. However, since the properties in relations are only syntactic suger to specify rules, we do not want extra stuff. I fixed the error messages for TOT and SUR (and UNI and INJ, but these are realized by the database strucure, so the will not happen during runtime).
I do not think it is a good idea to let this kind of i

[2016-04-12 15:28] #366 closed

[2016-04-12 15:58] WolframKahl commented on #366
On Tue, Apr 12, 2016 at 08:28:20AM -0700, Han Joosten wrote:

However, for a relation
[code]
it still makes sense to specify UNI, but this does not correspond to the usual rule
[code]
since ```I[FLOAT]``` does not exist, if I understand things correctly.

Even ```isSubidentity(Height~;Height)```, which translates into
[code]
, the second of which translates into
[code]
, will probably not be testa

[2016-04-14 13:40] hanjoosten commented on #316
@Michiel-s , There was something about replacing the primary key of each concept table with an additional autoincrement primary key. There were some other things too, but I don't remember well. Could you please elaborate on this, so I can add this stuff (in a separate branch).

[2016-04-15 12:21] Michiel-s commented on #378
Todo:
- [ ] Plug information in sql statement

[2016-04-15 15:20] hanjoosten commented on #316
Todo for @Michiel-s :

- [ ] enable the use of the technicalID values in the urls of the application
- [ ] remove the restriction on values of atoms

[2016-04-15 15:21] hanjoosten commented on #316
I changed the prio, because I could use this functionality in several models.

[2016-04-15 18:24] RieksJ opened #382 "'GLUE' revisited - alternatively called aliasing?"
Consider the following piece of script:

[code]

For readability, robustness against typo's and the like, I would like to be able to define a relation `termValue :: Term * Value` that is 'GLUE'd to the relation `varValue`, which I define to mean that both `termValue |- varValue` and `I[Term];varValue |- termValue`. In 2006, we had the keyword `GLUE` that did this (if I recall correctly), as follow

[2016-04-15 21:36] RieksJ opened #383 "!fatal 70 - Illegal property of an endo relation"
Consider the following script
[code]

This produces the following fatal error:
[code]

This is a bug because we should not see fatals.

I wonder why we could not specify this - at least intuitively, it has meaning...

[2016-04-15 22:49] #378 closed

[2016-04-15 23:03] hanjoosten commented on #330
- [ ] Could you also output the stdout of composer install on ExitSuccess in verbose mode?

[2016-04-15 23:06] #330 closed

[2016-04-15 23:32] WolframKahl commented on #383
On Fri, Apr 15, 2016 at 02:36:26PM -0700, Rieks wrote:

TODO: Implement semantic processing and a mathematical terminology knowledge base, so that Ampersand can already throw a fatal error at

as conceptually dangerous...

:wink:

More seriously:

(Yes.)

With the ```IRF``` in

, you are probably thinking (how do you write empty relations?):

[code]

, which looks like irreflexivity, except that i

[2016-04-16 00:53] WolframKahl commented on #383
(Redoing this since github didn't display half of my e-mail reply ─ sorry for the noise! I also added a bit more at the bottom.)

With the ```IRF``` in

[code]
, you are probably thinking (how do you write empty relations?):

[code]

, which looks very similar to irreflexivity, but it is not about homogeneous relations.

Using

[code]

for the injection behind

[code]

, the rule you intended then

[2016-04-17 08:20] stefjoosten commented on #383
This is an omission. There should be a static error message to signal this at compile time.

Thank you, Wolfram for pointing out why we want to restrict the shorthand notation `IRF` to endorelations.

By the way, `-V` is how we write the empty relation. It fits nicely in the type system: if the type system cannot derive its type, you must add it just as in other expressions. And yes, this means we

[2016-04-17 08:41] stefjoosten commented on #382
Yes, I share this need. You remember the `GLUE` keyword correctly. It was there in the stone age of Ampersand, because I felt it was necessary, but could not build it in a usable way. I think around 2006 or later we decided to leave it until we had mastered the ISA.
Today, that is the case. So it is not surprising to see the need for this resurface.

I would like to see some kind of inheritance me

[2016-04-17 11:32] #245 closed

[2016-04-17 11:33] hanjoosten commented on #383
Fixes in commit 563239d9fa9887a17e5daf70dd35d2e00914c0ce

[2016-04-17 11:33] #383 closed

[2016-04-17 17:14] hanjoosten commented on #354
Fixed as a result of the fix of issue #383

[2016-04-17 17:14] #354 closed

[2016-04-17 21:00] hanjoosten commented on #266
@stefjoosten , please confirm that this has been solved in branch 228, for I guess this had to do with the fix in issues #305 and #355. If it is something else. don't hesitate to reopen this issue, but then please elaborate.

[2016-04-17 21:00] #266 closed

[2016-04-17 21:01] hanjoosten commented on #342
@stefjoosten ? @sjcjoosten  ?

[2016-04-17 21:02] #305 closed

[2016-04-17 21:06] hanjoosten commented on #337
This is probably the same issue as issue #248

[2016-04-18 07:00] hanjoosten commented on #377
A side-effect of this change is that generated names of propertyrules are now uniform too: the name of some rule based on property TOT of the relation r[A*B] now is "TOT r[A*B]"

[2016-04-18 07:05] hanjoosten commented on #377
@RieksJ  @stefjoosten : Whenever you bump into errors about non-existent rule names that are generated, read my latest comments on this issue for the fix.

[2016-04-18 10:36] sjcjoosten opened #384 "Apache2: Invalid command 'RewriteEngine'"
I'm getting the following error in my apache log:
`
[Mon Apr 18 12:31:10.152940 2016] [core:alert] [pid 30532] [client ::1:51366] /Library/WebServer/Documents/ProjectAdministration.proto/api/v1/.htaccess: Invalid command 'RewriteEngine', perhaps misspelled or defined by a module not included in the server configuration`

What is going on?