[2021-08-20 06:49] RieksJ commented on #1204
Re @hanjoosten 's comment on RJ5: The current `VIOLATION` statement can already be seen as providing such guidance (in a limited way).

[2021-08-20 06:50] hanjoosten commented on #1171
This issue is closed, and by now merged into development. Either this comment doesn't make sence, or I do not understand what you mean by this. Feel free to play around with the new implementation. If you have a concrete example where the error hinders you, feel free to raise a new ticket for that.

[2021-08-20 13:26] Michiel-s commented on #1171
I think it is good now. The curly bracket syntax `{ ... }` is introduced for VIEWs that have a template. The much older VIEW syntax with parentheses `( ... )` can be used for views where only the label is used. Both is supported now!

[2021-08-20 13:37] stefjoosten commented on #1171
In (a subset of) interfaces, duplicate field labels are forbidden only for an implementation reason: We use the label to select the appropriate field. The user interface presents those fields in the same order as the Ampersand source code. So one might just as well state that all fields are selected based on the order they have in the source code. (Implementation by numbering the fields rather tha

[2021-08-20 18:31] hanjoosten commented on #1183
I see no reason why this issue is reopend. If there is a reason, please either make clear what still has to be done. Maybe even better to file a fresh issue for that.

[2021-08-20 18:31] #1183 closed

[2021-08-20 18:34] hanjoosten commented on #1203
This is a double of #1168

[2021-08-20 18:44] hanjoosten commented on #1147
I suppose it would be very helpful to list all defined relations that have a name which is used in the expression that is being disambiguated. That shouldn't be too hard to implement.

[2021-08-21 18:03] Michiel-s commented on #1156
Hi @hanjoosten, I would like to reopen this issue and discuss a few options here first.
I do recognize the problem addressed here. Having all atoms with scalar types stored in a concept table also has performance issues regarding amount of conjuncts checked.

I need some more time to formulate a proposal and think it's valuable to discuss that in person with you and/or @stefjoosten first.

[2021-08-22 02:14] sjcjoosten commented on #1204
I'm confused about the keyword 'ENFORCE' here. I thought that the ENFORCE keyword ties a rule to how it should be enforced, which means that anything that starts with ENFORCE should not introduce new rules under the hood. Anything starting with ENFORCE should also not trigger any actions unless the rule is violated, and the purpose of the ENFORCE action is to (eventually) ensure that the rule is n

[2021-08-22 11:52] hanjoosten commented on #1204
Above EBNF expression can be visualized as:
![image](https://user-images.githubusercontent.com/1159672/130354056-cdce8903-4f81-4954-92b8-4ca835f95ac7.png)

[2021-08-22 12:14] hanjoosten commented on #1204
I made this issue because we are debating about syntax, while that is the exact cause why there has not been done any work on this for a way too long time.

The point is that the rules we want to automate have no name. I agree with @sjcjoosten that therefor the ENFORCE keyword looks odd. There are other places where we define rules implicitly. This is done for all `PropertyRules`. Under the hood,

[2021-08-22 13:00] hanjoosten commented on #1204
So where does this all lead to?

* The functionality to implement these rules is allready in place using the execengine.
* The current syntax is very combersome and errorprone, as I illustrated above with the examples.
* We have done nothing for over 5 years because we cannot agree about the syntax.
* Technically, the syntax doesn't matter a lot
* For users, syntax matters a lot. Once it is in pla

[2021-08-22 14:23] sjcjoosten commented on #1204
Sorry, my bad. I thought it would be helpful and appreciated to get this input. I didn't realize that a lack of agreement over syntax was perceived of as a reason for why nothing was done on this, I never perceived it as such.

[2021-08-22 16:12] hanjoosten commented on #1204
No worries. I really appreciate your input on this. No doubt about it. On the other hand it is my frustration that an undecided discussion about syntax causes no progression.

[2021-08-23 06:57] stefjoosten commented on #1204
I Agree with scenario 1. Let's proceed along this path.

[2021-08-23 08:18] RieksJ commented on #1204
@WolframKahl made some [notes](https://github.com/AmpersandTarski/Ampersand/issues/311#issuecomment-184472195) on this that we should at least think about a bit, e.g. what happens if `<expression>` contains `<relationname>`?

[2021-08-23 08:19] RieksJ commented on #1204
I wouldn't mind forbidding `<relationname>` to occur in an `<expression>` in the syntax `<relationname> := <expression>`.

[2021-08-23 08:21] stefjoosten commented on #1204
That is recursion. The principle is well understood. For this purpose, the ExecEngine has a limit on the number of runs, so infinite recursion is blocked. Recursion is already possible in the current setup, so we do not have a new situation here. The new situation specializes the existing situation, and that might of course lead us to additional insights.

[2021-08-23 08:22] hanjoosten commented on #1204
I thought of that. This can also occur on a deeper way: `r := s;t`, `s:= t \/ r` etc. Forbidding could be a way to go, but initially I think warnings would be appropriate.

[2021-08-23 09:24] stefjoosten commented on #1204
A compile-time warning will do. The effect of a limit on the number of ExecEngine runs will be that certain violations are not resolved once the ExecEngine quits. That is quite acceptable behavior, especially if it is accompanied by warnings. (To let the ExecEngine recur infinitely would be acceptable only if the end-user has a way to interrupt the ExecEngine, which is not the case currently.) To

[2021-08-23 09:49] DebbieGit commented on #1204
Interessante discussie,
Debbie

[2021-08-26 14:17] stefjoosten opened #1205 "BIGALPHANUMERIC does not work"
# What happened

# What I expected

# Version of ampersand that was used

# Steps to reproduce

1.
2.
3.
4.

# Screenshot / Video

# Context / Source of ampersand script

[2021-08-26 16:10] #1205 closed, assigned to nobody

[2021-08-26 16:33] stefjoosten opened #1206 "A scalar should not be allowed to be the source of a univalent relation"
# What happened
I noticed that the Ampersand compiler allows me to use a BIGALPHANUMERIC as the source of a univalent relation. I compiled the following script and generated a prototype from it.
[code]
Upon installing the database, the database produces an error message:
![image](https://user-images.githubusercontent.com/275768/131000183-6081e874-f899-4177-b20f-bc8227e9b7f6.png)
# Request
Instead

[2021-08-30 19:17] Michiel-s commented on #137
As of Mariadb 10.2.2, recursion in SQL queries are possible. See [Recursive Common Table Expressions](https://mariadb.com/kb/en/library/recursive-common-table-expressions-overview/)

An example of how I use this in a application:

Notice how the query with name `path_query` is used in itself and by the SELECT statement below

[code]

[2021-08-30 20:35] Michiel-s commented on #1156
After discussion with @hanjoosten we decided to see if a solution is feasible. We think it is, with limited effort.

A proposal will follow soon.

[2021-08-31 09:23] hanjoosten commented on #1156
This sounds good. However, is this true in general? If so, it would be ease to split all concepts into two categories. Ones that do and ones that don't need a concepttable. The TTYPE of such concept is irrelevant to this splitting. @sjcjoosten , do you agree with @stefjoosten on this?

[2021-08-31 14:36] sjcjoosten commented on #1156
``V`` and ``I`` both use concept tables, and are as far as I know its only source, although the concept tables don't always have to be used whenever a ``V`` or ``I`` is used: in expressions like ``r;V;s`` or ``r /\ I``, we don't even need a concept table. As a first step, we can choose to disregard this and treat such expressions as using concept tables. However, that means that the performance is

[2021-09-02 15:19] Michiel-s commented on #1206
## Analysis
Because I couldn't believe that this issue here is actually a bug/problem, I started from scratch. I took the script @stefjoosten put in his description:

[code]

I generated the prototype and looked at the generated SQL tables. Notice that the relation `r[A*B]` does result in a MariaDB `TEXT` column which we configured for our `BIGALPHANUMERIC` types.
[code]

## My conclusion
Then I r

[2021-09-02 15:23] stefjoosten commented on #1206
Will do...

[2021-09-03 10:18] Michiel-s commented on #1156
Input language for the exec engine are Ampersand expressions in the violation statement of these rules. The exec-engine, nor the prototype framework itself works with expressions. Only generated output, including SQL, from the compiler. Therefore, I don't see any issues here.

We do however need to adapt the prototype framework to such a change, because the code needs to be aware if there is a con

[2021-09-04 14:10] hanjoosten commented on #1189
This issue very much relates with the implementation of the ENFORCE statement (Issue #1204). This is currently in the review phase, and I expect it to be into development shortly.
I expect that the new implementation of the ENFORCE statement has made it quite easy to implement the ideas I wrote down in in [this comment earlier](https://github.com/AmpersandTarski/Ampersand/issues/1189#issuecomment-

[2021-09-05 11:16] hanjoosten commented on #800
Now issue #1204 is resolved, we might tackle this issue by thinking about appropriate adl syntax. Any Ideas?

[2021-09-05 11:23] hanjoosten opened #1208 "Warn when a reinstall of the database is required"
When an .adl script is modified, that previously was used to generate a database, that existing database can become invalid. Previously, we had a warning that popped up at runtime. However, in a docker environment, that implementation has bitrotted.

I spoke about this with @Michiel-s . The solution is to write the generated hash into a specific database table. Currently, it is written in a file,

[2021-09-06 05:54] hanjoosten commented on #1204
Closed with PR https://github.com/AmpersandTarski/Ampersand/pull/1207

[2021-09-06 05:54] #1204 closed

[2021-09-06 06:25] hanjoosten commented on #1189
Just for a refference, I now think the syntax boils down to:

[code]
Which can be [visualized](https://bottlecaps.de/rr/ui) as
![image](https://user-images.githubusercontent.com/1159672/132169054-91a63860-bcef-44ce-a580-ea0cffc06b03.png)

Some notes:

1. I'd rather have a keyword `EVALPHP`, not `EVAL`. Then the modeller is not required to prefix the `DoubleQuotedString` with `{php}`. If required b

[2021-09-06 07:09] hanjoosten commented on #1189
I just had a chat with @stefjoosten . He suggested to enable the use of an expression, at the place where the atomvalue can be given. So we still need some more thinking of the syntax.

[2021-09-06 14:15] sjcjoosten commented on #1189
I like the idea of allowing an expression in the place of '<AtomValue>'.
I believe that the expression corresponding to '<AtomValue>' is also '<AtomValue>'.
In other words, if we compare these two syntaxes:

[code]
(Han's earlier proposal)

and:
[code]

then the second would subsume the first. We might be inclined to think that building the first of these two will not hinder us from ever building

[2021-09-06 20:03] RieksJ commented on #1189
What  happens when`defaultAccount` has 2 tgt atoms for a single sec atom?

[2021-09-06 21:23] sjcjoosten commented on #1189
Good question! I can think of only one kind of behavior, which is consistent with what the exec-engine would do: both defaults would get inserted. If ``accountType`` is additionally ``UNI`` (while ``defaultAccount`` is not) then this could result in a bug that is horribly difficult to debug violation of its ``UNI`` rule, but perhaps we'll see some decent feedback as these defaults float to the int

[2021-09-07 05:35] RieksJ commented on #1189
I agree that this should be the behaviour.

Regarding error messages, I can see that in an implementation, such exceptions could somehow be caught and the necessary guidance for helping out the developer out could be added. One way would be to handle ENFORCE statements (and thereafter any associated UNI/INJ checks - but also any SUR/TOT checks, because there is also no guarantee that there will be

[2021-09-07 07:02] hanjoosten commented on #1189
@sjcjoosten , good point, allowing an `<Expression>` too does require a keyword to separate the `<Expression>` from the `<AtomValue>`. Indeed, it makes sence that when an `<Expression>` is used, the source of that expression should match the atom that causes the violation. So we need some keyword in front of the `<AtomValue>`.

Having said that, there is more to think about w.r.t. the `<Expression

[2021-09-07 07:07] RieksJ commented on #1189
I suggest
[code]

[2021-09-07 07:18] sjcjoosten commented on #1189
I was thinking of this when I wrote that the generalization of ``B`` is tricky, but we can generalize it all the way to its Ttype. I also like the VALUE keyword.

[2021-09-07 17:13] stefjoosten commented on #1204
@hanjoosten Where did you document the final syntax that you have implemented?

[2021-09-07 21:48] hanjoosten commented on #1204
https://app.gitbook.com/@ampersandtarski/s/documentation/~/drafts/-Mj14B-i9i5vadHKSYVq/the-language-ampersand/the-enforce-statement

[2021-09-08 21:43] hanjoosten commented on #1189
@Michiel-s You have been quiet for a long time. Do you think this is going the right way?

[2021-09-08 21:45] hanjoosten commented on #1189
@RieksJ  wrote earlier:

This is done! See issue #1204. It is in development, will be released next friday.

[2021-09-10 13:13] hanjoosten commented on #1189
- [x] Add this feature in the Ampersand repository
- [ ] Add this feature in the Prototype repository

[2021-09-11 06:57] stefjoosten opened #1212 "Runtime equality differs from Compile time equality"
# What happened
Experimenting with RAP, I got the following  result:
![image](https://user-images.githubusercontent.com/275768/132939560-69bdf17c-ff10-4349-8011-4a970b7de6f7.png)

The compiler recognizes the difference in the names of both interfaces and approves the script.
RAP, however, fails to recognize these interfaces as different and raises an error.

# What I expected
I expected the compil

[2021-09-11 07:04] stefjoosten commented on #1212
# Analysis
The rule in RAP that is responsible for the error message is:
[code]

[2021-09-11 10:38] hanjoosten commented on #1212
This is directly related to #708

[2021-09-12 06:12] stefjoosten commented on #708
This issue has been resolved in Ampersand vs. 4.3.0. I'm not sure what we did to resolve it, but the behavior of the compiler is correct at the moment.

To prove this, I ran the following script on RAP:
[code]
In the database I see three different relations, which is what I would expect:
<img width="1069" alt="afbeelding" src="https://user-images.githubusercontent.com/275768/132974189-f03f136a-5fb

[2021-09-12 06:18] stefjoosten commented on #1212
No, @hanjoosten, #708 is a very different issue. It is about relation names. By the way, issue #708 has been resolved. Issue #1212 (this one) is about labels. I have a hunch that the runtime environment strips trailing spaces where it shouldn't, but I have not figured out (yet) how to prove it. I'd be curious to read  @Michiel-s 's take on this...

[2021-09-12 06:22] stefjoosten commented on #708
I will add this script as a test script, `Issue708.adl`, to the regression tests to ensure that it will fail.

[2021-09-12 09:02] hanjoosten commented on #1212
Sure it is. This issue #1212 has the same root cause as has #708, #816, and maybe some others too.

The problem here is the following:
We use strings to identify instances of all kind of things (Concepts, Relations, Rules, Interfaces etc.), and we use the Eq on strings to tell them apart.

In theory, this should work splendedly. However, in practice, it doesn't. This is because we have to comply w

[2021-09-12 09:05] hanjoosten commented on #708
See [this comment](https://github.com/AmpersandTarski/Ampersand/issues/1212#issuecomment-917595551) on why I reopend this issue.

[2021-09-12 15:10] stefjoosten commented on #1212
@hanjoosten, can you explain how your problem analysis relates to the phenomenon I saw here: The equality on interface labels as implemented by the compiler differs from the equality on interface labels as implemented by RAP.

[2021-09-12 18:30] hanjoosten commented on #1212
It's obvious. The strings in your .adl script are different: they have different lenght. However, somewhere in the backend, or during communication to the backend (The .json file, the database, some .html file or who knows where, the space at the end of the string gets lost.

I think it is undoable to find and solve every possible edge case up front. We have had all kind of problems with these ide

[2021-09-13 15:55] stefjoosten opened #1215 "Feature: named syntactical objects with identifiers and labels."
# Problem
We have "named syntactical objects" (nso's), such as interfaces, rules, and patterns. Each instance has a unique name. Currently, Ampersand uses that name for two different purposes: to identify the object within its scope and to label it in either the prototype or the documentation. In most cases, these purposes are served both without any trouble whatsoever.
However, issues like #708 a

[2021-09-13 15:56] stefjoosten commented on #1215
This issue replaces #708 and #1212.

[2021-09-13 15:58] #708 closed

[2021-09-14 10:56] Michiel-s commented on #1212
Hi @stefjoosten, @hanjoosten,

The problem here is that MariaDB/Mysql strip trailing spaces in `WHERE .. = ..` clauses. So `SELECT 'Foo' = 'Foo '` returns 1 (true)

Let me take you along my thoughts and steps I did to figure this out.

1. First of all I see a IDENT violation. Where does it come from? We have 2 options: userland and/or any of the ADL scripts that are included in a build recipe. In

[2021-09-14 12:22] hanjoosten commented on #1212
@Michiel-s , Thanks for this nice analisys! I did some more google-ing, and found on some more evidence that MariaDB ignores trailing whitespace on purpose:

Source: https://mariadb.com/kb/en/order-by/

I think that this is just what it is. We have to rely on a correct implementation of the database we use.

Having said that, @stefjoosten and I had a conversation about #1212 (this issue). It resul

[2021-09-14 14:27] hanjoosten commented on #1212
I went down this rabbithole even some further. The collation is a setting that influences equality of strings in a table. (See [details](https://mariadb.com/kb/en/supported-character-sets-and-collations/) here.) And [here](https://mariadb.com/kb/en/information-schema-collations-table/) I learned that there is choice how to cope with case sensitivity which makes sence, depending on the usecase. And

[2021-09-14 15:29] Michiel-s commented on #1212
Reading a bit further... A quick-dirty solution is to use the `BINARY` cast in queries. E.g. changing the query above to `SELECT "InterfaceName" FROM "InterfaceName" WHERE "InterfaceName" = BINARY 'Foo '` However, that would require us to adapt all queries and also taking into account that not all column types support the binary casting. Let's not go that way.

A better solution is to look at the

[2021-09-14 20:20] hanjoosten commented on #1189
@Michiel-s , I realized that the violation itself will probably be required, as well as the fact that in these cases there must be a `Role`. I added `ExecEngine` as `Role`.  See the branch called `feature/issue1189`.

[2021-09-14 20:28] hanjoosten commented on #1212
In the prototype repo there is still work to be done

[2021-09-16 07:52] Michiel-s commented on #263
Duplicate of more recent issue #1212. Same problem identified 5 years later, but we forgot about our analysis here.. Now we'll solve it.

[2021-09-16 07:52] #263 closed

[2021-09-16 07:54] Michiel-s commented on #1212
Somewhere in the back of my mind I though 'didn't we discussed this earlier?'. After a search in our issues, I found #263 where we indeed had the same problem and same analysis. Funny.

[2021-09-16 14:56] stefjoosten commented on #1212
Everything has been updated to `utf8mb4_nopad_bin` instead of `utf8_nopad_bin`. Since utf8 is a subset of utf8mb4, this yields no problem.

[2021-09-16 15:17] stefjoosten commented on #1212
I have checked that RAP4 works. The symptoms shown above have all gone. However, there is one tick-box still open. @Michiel-s can you check whether the last tick can be made and then close the issue?

[2021-09-16 18:49] Michiel-s commented on #1212
Strange, I don't understand why it works, because I found a bug in the fix by @hanjoosten.

My database gives the error message: `Error Code: 1253. COLLATION 'utf8mb4_nopad_bin' is not valid for CHARACTER SET 'utf8'`.

To fix this the char set needs to be changed also from `utf8` to `utf8mb4`.

I'll now do the action points for the prototype framework

[2021-09-16 19:11] #1212 closed

[2021-09-26 05:23] #1206 closed

[2021-09-26 06:01] hanjoosten commented on #1206
@stefjoosten, What was the outcome?

[2021-09-26 06:10] stefjoosten commented on #1206
This is the outcome: Michiel was right. I made a mistake.

Nevertheless, we should keep allowing scalars to be the source of a univalent relation. But we should implement that relation as a binary table instead of a wide table if the key field might become too long (as is the case with BIGALPHANUMERIC).

[2021-09-29 18:19] Michiel-s commented on #1189
This is a comment regarding #1204 I think. Not for here

[2021-09-29 18:23] Michiel-s commented on #1189
I really like this. I still have to take a look at the generated output in json files and implement the prototype framework part.

[2021-09-29 19:35] Michiel-s commented on #1215
What a nice proposal. This is for I guess 99% backwards compatible. And it allows us to indeed specify labels in addition to identifiers (now names).

We can then also get rid of the ugly and unreadable implementation with the `_num_` in e.g. (sub)interface identification. E.g. a space is converted to a `_32_`.

A suggestion for the function `h:: label -> identifier` let's use camelCasing here to

[2021-09-29 19:56] Michiel-s commented on #800
My suggestion here is to go for a solution that covers 90% of all exec engine rules. Those only include the 4 atomic actions: add atom, delete atom, add link, delete link.

Besides that, application specific  exec engine functions can be defined, but let's keep them as is for now by means of the generic {EX} in the VIOLATION statement.

A syntax could be something like:

[code]
A action could be t

[2021-09-29 20:01] Michiel-s commented on #722
Sorry @hanjoosten, I wanted to quote reply, but instead edited your comment above. Picked the wrong button in the Github app.

[2021-09-30 07:14] hanjoosten commented on #800
Interesting. I would suggest to expand the ENFORCE statement for this. As @Michiel-s suggests, we have to take into account the introducion of local variables for atoms.

Currently, the enforce statement looks like this:

[code]
This can be [visualized](https://bottlecaps.de/rr/ui) as:
![image](https://user-images.githubusercontent.com/1159672/135402972-3e28bc61-e3e4-43de-8955-8235c0a1ac4b.png)

I

[2021-09-30 07:15] hanjoosten commented on #800
For the SOMEKEYWORD part, I suggest the keyword `DO`

For the exact syntax of Action, I like to think about that somewhat further.

[2021-10-03 20:35] Michiel-s commented on #1203
As this is a duplicate of another issue as @hanjoosten mentioned above.. I propose to close the issue here.

[2021-10-03 20:41] #1168 closed

[2021-10-17 06:58] hanjoosten commented on #1093
@Michiel-s , I merged the development branch in the [branch we have for this issue](https://github.com/AmpersandTarski/Ampersand/tree/1093-prototype-dependency). I had quite some merge conflicts, which I resolved. I think it would be good to finish this work soon, if possible.

[2021-10-17 21:10] Michiel-s commented on #425
Now with Github actions this is easy. Take a look at:
https://dangoslen.me/blog/enforcing-a-changelog-with-github-actions/ and the change log enforcer they created: https://github.com/dangoslen/changelog-enforcer/

[2021-10-17 21:38] Michiel-s opened #1222 "Git branch-, CI- and release strategy"
## Intro
Based on some practical experience with working in small development teams (incl. ours here), I would like to propose a slight change in our Git branching strategy and CI and release strategy.

I've also read this blog about 4 branching workflows with Git: https://medium.com/@patrickporto/4-branching-workflows-for-git-30d0aaee7bf. Those are Git Flow, GitHub Flow, GitLab Flow and One Flow.

[2021-10-21 07:32] Michiel-s commented on #1189
That's true, I didn't contribute to large part of the discussion, that's my bad.

1. Ok, let's discuss indeed. Maybe first by phone. We're almost working towards a 5.0 version of the compiler, so I would say this is the right moment. Btw, I don't think anybody has used this feature, as it doesn't have any affect in the prototypes yet. I agree that there is a purpose to have the default tight to th

[2021-10-21 20:09] stefjoosten opened #1224 "Meatgrinder ignores generated Enforce-rules"
# What happened
I got an error in RAP (see screenshot below) indicating that some rules in the RAP atlas were ignored by the meatgrinder. These are precisely the rules that are generated as a result of an ENFORCE statement.

# What I expected
I expected this script to fly without mistakes.

# Version of Ampersand that was used
Ampersand-v4.4.0 [83d056aab482032f468d54b93c117d68d443ad95], build time

[2021-10-21 20:10] hanjoosten opened #1225 "Re-enable weeder in CI/CD"
We use weeder to warn us about superfuous dependencies. However, recently this gives [problems](https://github.com/AmpersandTarski/Ampersand/runs/3957132265?check_suite_focus=true) in the CI/CD build on ubuntu. For that reason, it has been disabled temporarily. I need to have a better look at it. I guess that weeder has been upgraded to use a newer version of GHC.

[2021-10-21 20:18] stefjoosten commented on #1224
# Analysis
I traced the generation of Atlas population to the file `ConceptStructure.hs`, where the mistake was staring me in the face:
![image](https://user-images.githubusercontent.com/275768/138350262-dbd6b187-7c6c-45c5-ace2-c9e18c267847.png)
Is clear from the violations (see screenshot above) that the rules generated by `enforceRules` are missing. Instead, the code uses `ctxEnforces`, which on

[2021-10-21 21:23] hanjoosten commented on #1224
The analysis is spot on. Nice catch. A workaround for the student could be to remove the patterns. But the fix shouldn't be to hard to bring to production soon.

[2021-10-24 12:19] #1224 closed, assigned to nobody

[2021-10-30 06:26] stefjoosten opened #1228 "Formatting date and time"
# Situation
The following code gives us the current date:
[code]
It produces the following output
![afbeelding](https://user-images.githubusercontent.com/275768/139522616-5a39e0b0-db3f-4a10-a9dd-6c5172e8170f.png)

# Requirement
As an Ampersand user, I want to modify the date-time format, something a bit similar to what I can do in Excel.

# Analysis
This is related to issue #1089.

# Version of Am

[2021-10-30 08:02] Michiel-s commented on #1228
For us to implement this elegantly, we first require #1089

[2021-11-02 08:57] Michiel-s commented on #1208
I can confirm now that this issue is solved with the two PRs merged above.

When not in production mode (=default) the user gets this warning message:
![image](https://user-images.githubusercontent.com/7961582/139815629-2e92eebf-47eb-4ade-9735-6d4a2bf88ed0.png)

A reinstall of the application will do the trick. If you manually updated the database tables, you can also register the new checksum by

[2021-11-02 08:57] #1208 closed

[2021-11-03 20:29] Michiel-s commented on #1189
Hi @hanjoosten, I'm currently testing feature branch `feature/RelationDefaultValues_issue1189`.

1. Output in generated relation.json is good! I can work with that in the prototype framework.

2. Testing out the syntax in ADL doesn't look intuitive if you would ask me. What do you think? See below

E.g. this script is how it now looks like:
[code]
Somehow to me the part `TGT VALUE "In preparation"

[2021-11-04 07:18] hanjoosten commented on #1189
@Michiel-s , No sweat. This will be a relative easy change. It only affects the parser and prettyprinter. I would gladly help you do this yourself, during a pair programming session.

[2021-11-04 13:20] sjcjoosten commented on #1189
[code]

Not sure what the meaning is of two defaults?  I get how a project can get two statuses, so the example clarifies a lot, but my understanding is that ``EVALPHP`` will return a function that yields a list of values (for otherwise it won't be possible to have a default with an arbitrary number of elements, as one would for the ``RELATION position[CharAtPos*String] MEANING "The string at whic

[2021-11-04 14:13] hanjoosten commented on #1189
The idea here is quite simple: Since the relation is not restricted to be UNI, why then restrict the amount of defaults to one?

[2021-11-04 14:32] sjcjoosten commented on #1189
I agree with this point (I should argue that we might even want to allow the default to be defined as zero). I was merely proposing to use the syntax ``DEFAULT TGT VALUE "In preparation", "New"`` to express this more clearly.

[2021-11-04 14:46] hanjoosten commented on #1189
Ah, I see. That leads us to something like
[code]
![image](https://user-images.githubusercontent.com/1159672/140335120-fc6330af-2d8b-4a7f-ad04-fed36eabe1ff.png)

[2021-11-04 17:24] hanjoosten commented on #1189
I see what you mean. I edited above syntax. This leaves us with the name of the keyword `DEFAULT` or `DEFAULTS` Maybe we should accept both.

There is no way that Ampersand itself knows what the result will be of the PHP expression. It could be a single atom, but it could be a set as well. @Michiel-s , can that become a problem? In any case, the modeler should know what she is doing.

[2021-11-04 17:52] Michiel-s commented on #1189
Yes no worries, if a eval returns a list, we have multiple defaults.

I like the simpler syntax proposal by @sjcjoosten to specify multiple values. Great!

[2021-11-04 18:05] Michiel-s commented on #1189
My personal preference goes to DEFAULT (single). Because you default to a single or you default to a list of values. No need to specify plural option, which is not always, and most often not the case.

Other argumentation is possible of course. I wouldn't allow both, that's only for those who can't come to an understanding and I think we can😁

[2021-11-04 18:06] stefjoosten commented on #1189
Michiel said: "I think it is best to NOT add the specified atoms in the default statements to the default population of a script."
I agree. See issue #166

[2021-11-04 18:53] sjcjoosten commented on #1189
I completely agree. I believe we may want to (at some point in the distant future) talk about having a certain default for one interface (which may be a set) and use a different default in a different interface. I'd want to use the word 'DEFAULTs' to refer to those cases (not as part of Ampersand syntax, but in the same informal way we can talk about 'POPULATIONs' when referring to all the differe

[2021-11-04 20:19] hanjoosten commented on #1189
Thanks guys for this discussion. Now @Michiel-s can fix this ;)

[2021-11-06 15:14] MiguelVerweijSogeti opened #1230 "Error in Documentation"
# What happened
The documentation is mentioning a [TOT] statement in the takes relationship. The sample code doesn't contain this [TOT] statement.

# What I expected
the [TOT] to be in the sample code.

# Version of ampersand that was used
4

# Steps to reproduce

Follow the tutorial steps.

# Screenshot / Video

# Context / Source of ampersand script
https://ampersandtarski.gitbook.io/documentati

[2021-11-07 19:40] Michiel-s commented on #1189
Minor change in syntax compaired to @hanjoosten's latest proposal.

![image](https://user-images.githubusercontent.com/7961582/140659400-b1861f30-d57d-41e0-a102-7c15fbb009e4.png)
[code]

[2021-11-08 13:07] hanjoosten commented on #1230
Thanks for reporting! I fixed the sample code.

[2021-11-08 13:07] #1230 closed

[2021-11-09 08:32] stefjoosten opened #1231 "Feature: logical data model with patterns"
# Problem
The `ampersand documentation` command generates a file called LogicalDataModel.png. This picture is usually too large to print on an A4, but this feature request will make it even larger. The problem is that Graphviz places the entities in the global context and entities that are defined inside a pattern are sometimes taken apart. I wish entities that are defined inside the same pattern

[2021-11-11 18:52] Michiel-s commented on #1189
Fixed

[2021-11-11 18:52] #1189 closed

[2021-11-13 10:08] Michiel-s commented on #1093
Now also added the relevant parts in the prototype framework. As of Ampersand compiler v5.x we'll have a check for compiler version compatibility with the deployed prototype framework.

[2021-11-13 10:08] #1093 closed

[2021-11-13 13:48] Michiel-s commented on #591
The required functionality in this feature request will be possible after we implement #1089. I'll therefore close this issue. We'll keep track of the use case in #1089

[2021-11-13 13:48] #591 closed

[2021-11-13 13:50] #1165 closed

[2021-11-13 13:52] #1164 closed

[2021-11-13 13:59] Michiel-s commented on #535
@hanjoosten, I would like to pick this issue up with you somewhere soon..

[2021-11-13 14:07] Michiel-s commented on #633
I'm closing this stale issue.

But from what I see here above I think there is no issue. The `VIEW PA` is defined for concept `Transaction`. In the specified interface definitions this view is used for the expression `I[Variable]` (first part) and `specialVar[Variable]` (second part). So I guess this script should give an error because the view doesn't apply to concept `Variable`.

[2021-11-13 14:07] #633 closed

[2021-11-13 14:15] Michiel-s commented on #1046
@hanjoosten, I believe this issue is not relevant anymore after you refactored the build recipes right? We do have our feature request for namespacing #850 which will make combining context also more easy and predictable.

I say let's close the issue here.

[2021-11-13 14:15] #1046 closed

[2021-11-13 14:19] Michiel-s commented on #942
Largely duplicate of #1112. Feature request will be possible when that other issue is implemented.

[2021-11-13 14:19] #942 closed

[2021-11-13 14:43] Michiel-s commented on #941
A change is done in commit:

However, I think there is no effect (at least not for the prototypes), because to generate the SQL code we use `attDBNull`, not `attNull`. See data structure `SqlAttribute` below. I don't understand the difference. `attNull` is in FSpec2ClassDiagrams.hs and ChapterDataAnalysis.hs but we can use `attDBNull` there also.

I propose to remove/replace `attNull` by `attDBNul

[2021-11-13 15:10] Michiel-s commented on #941
Ah wait... while changing the code the reason for having these two different aspects occured to me.

Basically what we want is to have the SqlAttribute reflect the TOT/SUR constraints in the `attNull` depending on the implementation of the relation, with the options:
* Relation is in concept table of src: TOT -> attNull = False, otherwise True
* Relation is in concept table of tgt: SUR -> attNull

[2021-11-13 15:52] Michiel-s commented on #1188
Duplicate of #1199

[2021-11-13 15:52] #1188 closed

[2021-11-13 15:54] Michiel-s commented on #1184
The issue described with too long chars and checking that compile time for default population is a duplicate of #1199

Let's close the issue here.

[2021-11-13 15:54] #1184 closed

[2021-11-13 16:49] Michiel-s commented on #1142
@hanjoosten can we close this issue as we have our CICD with GitHub Actions working fine now?

[2021-11-13 16:53] #1134 closed

[2021-11-13 16:57] #1114 closed

[2021-11-13 16:58] #1108 closed

[2021-11-13 17:00] Michiel-s commented on #1105
@hanjoosten can we close this issue? We build with linux/WSL or macOS all now.

[2021-11-13 17:01] #1088 closed

[2021-11-13 17:51] Michiel-s commented on #921
@hanjoosten This issue can be closed right? We use RIO.

[2021-11-13 18:04] #1142 closed

[2021-11-13 18:19] Michiel-s commented on #831
We can close this issue as serving the prototypes over https is not something we can add/configure in the compiler nor the prototype framework. As explained above a reverse proxy is the way forward. This is project specific and outside scope of our repos.

[2021-11-13 18:19] #831 closed

[2021-11-13 18:24] Michiel-s commented on #824
I propose to close this stale issue.

In the meantime intelligent functionality is available using the VSCode extension for Haskell language server functionality.

[2021-11-13 18:24] #824 closed

[2021-11-13 18:25] Michiel-s commented on #811
We can close this stale issue. We don't build prototype framework image with text live anymore. There's no use case for that.

[2021-11-13 18:25] #811 closed

[2021-11-13 18:45] Michiel-s commented on #706
Hi @sjcjoosten, is your feature request still current?

I think this is quite easy to realize; to build a dedicated image to generate PDFs

Question from my side, does the compiler require text-live for that? Or not? Adding text-live results in very large images (> 1GB).

If not, we can adapt and reuse the minimal Ampersand image: https://hub.docker.com/repository/docker/ampersandtarski/ampersand

[2021-11-13 18:47] #704 closed

[2021-11-13 18:52] #688 closed

[2021-11-13 18:55] Michiel-s commented on #656
I propose to close this stale issue

[2021-11-13 18:55] #656 closed

[2021-11-13 18:57] stefjoosten commented on #656
ok. Can it get a special label to mark that it has not been resolved?

[2021-11-13 18:59] sjcjoosten commented on #706
I'd also be happy to generate rtf instead (or perhaps both), if that would avoid tex-live.

[2021-11-13 19:40] Michiel-s commented on #560
I propose to close this issue. I haven't experienced any issues with this so far. We also don't have any statistics on the performance penalty. Furthermore, refactoring to a separate tabel for TEXT and BLOB is a large cost. More costly than increasing cpu or memory when needed.

We use `ROW_FORMAT=DYNAMIC` for our tables which optimized variable length columns already. Not sure what the effect is

[2021-11-13 19:40] #560 closed

[2021-11-13 21:02] Michiel-s commented on #484
Stale issue

[2021-11-13 21:02] #484 closed

[2021-11-13 21:08] Michiel-s commented on #466
Stale issue.

I think this is not a problem nor unclear anymore after the many refactoring we did.

Relations properties have there semantics defined in set theory. For different outputs we transform into other aspects. For example, the isTot is reflected as mandatory attribute in a generated diagram, but allowed to be null in the database table structure because in our prototype architecture the

[2021-11-13 21:08] #466 closed

[2021-11-13 21:14] Michiel-s commented on #382
We have the ENFORCE feature nowadays. See #1204

That allows for the request of Rieks here in this issue.

Furthermore we have the feature on EQUALS in #851

Let's close this one.

[2021-11-13 21:14] #382 closed

[2021-11-13 21:27] #258 closed

[2021-11-13 22:38] #1105 closed

[2021-11-13 22:39] #921 closed

[2021-11-13 22:42] hanjoosten commented on #824
and by the way, `stack haddock` doesn't fail nowadays.

[2021-11-14 09:55] Michiel-s commented on #1053
Current implementation is sufficient. I withdraw my issue.

[2021-11-14 09:55] #1053 closed

[2021-11-14 10:07] #421 closed

[2021-11-14 10:11] Michiel-s commented on #646
Because work on the archimate extension is discontinued (if I'm correct) I'm closing this issue.

[2021-11-14 10:11] #646 closed

[2021-11-14 10:18] #691 closed

[2021-11-14 10:21] #844 closed

[2021-11-14 10:25] Michiel-s commented on #575
@hanjoosten, I think this is a small thing to check. Can you have a look and close/fix this issue?

[2021-11-14 12:33] Michiel-s commented on #971
@hanjoosten refactored the whole meat grinder and build recipes some time ago. That's working good now and the code is less complex and more readable. Well done!

I think we only need to document this. The diagrams above are very useful for this.

So let's document and then close this issue here. I'll help with that.

[2021-11-14 12:42] Michiel-s commented on #606
I propose to take this issue together with #850. There we talk about introducing file scoped namespaces. The `import .. as ..` is perfectly suited to rename/alias concepts, relations and other objects within the scope of a file and leaves the imported module unchanged.

[2021-11-14 12:42] #606 closed

[2021-11-14 12:43] Michiel-s commented on #850
Issue #606 asks for `import ... as ...` aliasing/renaming functionality.

[2021-11-14 12:46] #604 closed

[2021-11-14 13:30] Michiel-s commented on #748
Since we had so many changes in formal ampersand model the past few years I think this issue is not relevant anymore.

Is it?

[2021-11-14 13:33] Michiel-s commented on #474
Yet another reason to introduce namespaces #850. When formal ampersand models and other added models like the prototype context are in their own namespace, they won't interfere with userland models.

[2021-11-14 13:33] Michiel-s commented on #474
Let's pick this one up at #850

[2021-11-14 13:33] #474 closed

[2021-11-14 13:39] Michiel-s commented on #342
I think we can close this one as we don't have any failing test anymore. Or is this issue not included in the testset. @hanjoosten Could you verify?

[2021-11-14 13:39] #342 closed

[2021-11-14 13:44] Michiel-s commented on #833
As this is currently more a discussion than an issue/bug or concrete feature request I'll transfer this issue to the discussion section.

[2021-11-14 13:45] #833 closed

[2021-11-14 13:45] stefjoosten commented on #342
It is safe to close this one. I have verified "Sinterklaas" (this issue, first comment) on rap.cs.ou.nl. It compiles without errors and the prototype install causes no errors.

[2021-11-14 14:35] hanjoosten commented on #748
This relation still appears in the current version of FormalAmpersand. It is wrong. @stefjoosten , did you have a look at it already?

[2021-11-14 14:37] stefjoosten commented on #748
No I didn't. So let's keep it open and let me find out what the issue was... I'll revive or close.

[2021-11-14 14:40] #748 closed

[2021-11-14 17:02] stefjoosten commented on #1231
@hanjoosten , I ran your attempt using:
* Ampersand-v4.5.0 [feature/LDM_with_grouped_patterns:c425ccc59*]
* dot - graphviz version 2.49.3 (20211023.0002)
* macOS 11.6 (20G165)

I used the same large input files as you did. The result is the same as yours with Graphviz version2.43 on Windows: It runs into an error when generating LogicalDataModel_Grouped_By_Pattern.png. With one difference, however

[2021-11-15 13:07] hanjoosten commented on #1231
I did some tests myself too: I isolated the original .gv file, that was created from your original mail. I observed that creating it causes no problem. Also rendering it in the vscode extention causes no problem.

So I tried to render it using my version of dot, which is on ubuntu. The latest version on ubuntu currently is `dot - graphviz version 2.43.0 (0)`. The command I run is
[code]
This gives

[2021-11-15 19:06] Michiel-s commented on #1157
I've checked this one and in commit 4f49e71566bcda3c76359d86617ff138cfc03961 it is already fixed. We can close this issue.

[2021-11-15 19:06] #1157 closed

[2021-11-15 19:14] Michiel-s commented on #943
Duplicate of #1171 and fixed by #1179

[2021-11-15 19:14] #943 closed

[2021-11-15 20:01] Michiel-s commented on #398
I propose to close this issue as there is no issue at all.

To summarize:
1. Writing `relation [UNI]` is syntactical sugar for the rule `r~;r |- I` as far as it concerns the rule evaluation
2. However, for relation definitions we also keep track of the defined properties (see Relation data type in AbstractSyntaxTree.hs). The properties UNI and INJ are included in the decision to add the relation r

[2021-11-15 21:51] #425 closed

[2021-11-15 22:26] Michiel-s commented on #959
@RieksJ, not only the daemon has issues with this situation, where you reference to relations defined in the PrototypeFramework context, but also the `ampersand proto` command doesn't work.

This has to do with the current implementation and refactored way grinding.. read about it in #971. Especially the diagram by @stefjoosten in his [comment](https://github.com/AmpersandTarski/Ampersand/issues/9

[2021-11-15 22:26] #959 closed

[2021-11-15 22:30] hanjoosten commented on #1231
@stefjoosten created a somewhat smaller testcase. That one works fine. The problem occurs in a large model, and is likely caused by graphviz itself. I Also looked at the aforementioned warnings. That is because of some wierd combination of the use of [ports](https://www.graphviz.org/docs/attr-types/portPos/) and subgraphs. I consider this something we have to live with for now.

[2021-11-15 23:23] #941 closed

[2021-11-17 20:31] Michiel-s commented on #559
## Intro
I've done a analysis to check if this database query validation using php is still working. I did except it would **not** work anymore, because the php scripts embedded in haskell code were very outdated and it required a connection to a MySQL database, but we don't have that enabled in our CI runner.

## Analysis
When running the tests they all pass!

[code]

But what is actually happeni

[2021-11-20 06:41] #1231 closed

[2021-11-22 10:55] hanjoosten opened #1253 "ampersand: No match in record selector aavtxt"
While investigating [this issue](https://github.com/AmpersandTarski/prototype/issues/82), I saw that this clearly is a bug in the ampersand generator. Clearly, the aavtxt field is being used improperly.

[2021-11-22 14:52] #1253 closed

[2021-11-22 20:16] ElMakkiHaddouchi opened #1255 "command line argument error: While looking for /scripts/repositoryumcu.archimate File does not exist."
# What happened
When using the script below:
Docker run –it –v C:\Temp\Test:/scripts ampersandtarski/ampersand:v4.6.0 check repositoryumcu.archimate

I get the following message:
Command line argument error: While looking for /scripts/repositoryumcu.archimate
File does not exist

# What I expected
Check of constraints on the imported archi model

# Version of ampersand that was used
4.6.0

# Steps

[2021-11-23 19:05] Michiel-s opened #1256 "First step in adding calculation in Ampersand"
In relation to the discussion in #207, I propose to do a small experiment to see how we can add calculations to our expressions and what is needed for that.

Inspired by the SHACL constraint language for RDF (https://www.w3.org/TR/shacl/#core-components), we can define a list of calculations to support, like `lessThen` and `lessThenOrEquals`.

E.g. for lessThen we could add the operator `<`. We ne

[2021-11-27 08:11] stefjoosten commented on #1255
This is not an error in Ampersand. It is a command-line argument error. The message is clear: your operating system cannot find the file. So, Ampersand has not even been called... Apart from the capital letter (which in itself does not explain the message) I cannot see a mistake in this command. It looks good.

[2021-11-27 08:11] #1255 closed

[2021-11-27 10:47] hanjoosten commented on #1256
I like the idea. I know @sjcjoosten has done an experiment long time ago like this. I whould like to have the semantics of the operators involved really clear. My feeling is that this should fit with database functions. This might make us more reliant on specific databases, but I do not see that as a problem. See [here](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/comparison-operat

[2021-11-27 23:11] sjcjoosten commented on #1256
I love the idea, but I don't believe we should introduce a separate operator, as ``<`` is a relation, much like ``I`` and ``V``, though only defined on concepts that are represented as ``DATE``, ``INT``, and perhaps a few others. The expression `r < s`, if I understand what you mean correctly, this would be equivalent to `r;<;s~` if you take ``<`` to be a relation. Translating your example:

[code

[2021-12-01 12:37] #551 closed

[2021-12-01 12:47] Michiel-s commented on #1256
I fully agree with @sjcjoosten by adding these kind of calculations as built-in relations.

Indeed, the functionality I meant to describe is then formulated as `r;<;s~`, well actually I had `I /\ (r;<;s~)` in mind, but the way you define `<` gives more flexibility.

What could be the first step? @sjcjoosten you starting with the type checker work?

If I can get some voice over on the SQL generator

[2021-12-01 12:51] Michiel-s commented on #1255
Hi @ElMakkiHaddouchi, can you check if:
1. The script with filename `repositoryumcu.archimate` is in the directory `C:\Temp\Test`. I noticed that it has the file extension `.archimate` is that correct? Isn't it a `.adl` file?
2. Docker can bind the volume `–v C:\Temp\Test:/scripts`

[2021-12-01 14:11] ElMakkiHaddouchi commented on #1255
Hi Michiel,

This problem is already solved by a new docker installation. Now the script is doing very well. The file extension is correct and is working with .archimate in the version 4.6.0.

Thank you for your answer.

El Makki

________________________________
Van: Michiel Stornebrink ***@***.***>
Verzonden: woensdag 1 december 2021 13:52
Aan: AmpersandTarski/Ampersand ***@***.***>
CC: ElMakkiH

[2021-12-01 15:00] Michiel-s opened #1261 "Urgent!! Generated database queries are changed somewhere in the past few weeks/months"
I was trying to update the prototype framework to use the latest version of the Ampersand compiler (v4.6.z).

The prototypes are not functioning at all, due to a change in the generated SQL code. Atom values (singletons) are put between double quotes instead of single quotes. Double quotes are for table/column names in ANSI sql.

I don't understand why this is changed. I haven't analyzed yet where

[2021-12-01 15:41] hanjoosten commented on #1261
This is probably due to the upgrade of to a newer release of ghc. This caused to upgrade some dependencies as well. The dependency of simple-sql-parser to 0.6.0 was done in commit c1b8c606a500b49528fb6e55af2e921f060384bd . This is most likely the cause.
Normaly it would be enough to rollback that commit. However, unfortunately that isn't that simple now, because we formatted the file in the meanti

[2021-12-01 18:22] Michiel-s opened #1262 "Bug in conflict resolution"
Commit 48d7d33f6fab6a4c0e27cbaa6ecd956ee72d4776 wrongly puts back code (compiler options) that were removed because of #1093. See comment in change log:

[code]

The options --force-reinstall-framework, --prototype-framework-version and --customizations need to be removed again. This is functionality we don't support anymore.

[2021-12-01 19:04] hanjoosten commented on #1261
@Michiel-s I have a pull request ready that should fix this issue. I manually inspected the generated sql code in conjuncts.json. I believe the issue with quotes has been solved. If you could build a prototype and check this fix, then I suggest that you merge it into main.

[2021-12-02 07:39] #1261 closed

[2021-12-02 12:03] stefjoosten opened #1264 "Hyperlink reference in Conceptual Analysis"
# What happened
I generated a Word document from an Ampersand script. It documents a rule as follows:
<img width="715" alt="afbeelding" src="https://user-images.githubusercontent.com/275768/144417787-beb7aaa2-d56c-457a-bcda-52bbfc6628f9.png">

# What I expected
I expected to see a readable name.
I used Ampersand-v4.6.1

# Observations
The file 'SharedAmongChapters.hs' shows this piece of code:
![a

[2021-12-02 15:00] hanjoosten commented on #1264
Xreferences are broken loooooooong time. We are still waiting for [this PR](https://github.com/lierdakil/pandoc-crossref/pull/174) to hit the road.

[2021-12-02 20:21] #1262 closed

[2021-12-03 04:48] hanjoosten opened #1267 "Automate releasenotes to each release"
As someone that uses Ampersand directly from the releases page, it is hard to find the releasenotes. I suggest to add the releasenotes as a separate asset to each release. This can be done automatically :)

[2021-12-03 06:32] stefjoosten commented on #1264
@lierdakil, are there any plans to make pandoc references work in the near future?

[2021-12-03 08:27] stefjoosten opened #1268 "Ormolu installation for adhering to the commit-guidelines"
# What happened
I tried to install ormolu and got the following error messages. Q: What should I do ?
[code]
I used Ampersand-v4.6.2 [Conceptual-Analysis:d020e8244]

[2021-12-03 11:43] hanjoosten commented on #1268
@stefjoosten make sure you give this command inside the right stack sandbox. So within a terminal inside vscode, where your Ampersand project resides.

[2021-12-03 11:45] stefjoosten commented on #1268
Aha, so it should not be done outside of VScode?

[2021-12-03 12:47] hanjoosten commented on #1268
It must be done inside the same sandbox.

[2021-12-03 13:18] Michiel-s commented on #1267
I don't understand.. the release notes are there with the release:

![image](https://user-images.githubusercontent.com/7961582/144608942-3e232be2-2cfb-41d7-a12e-07a6d3573bc6.png)

[2021-12-03 14:08] hanjoosten commented on #1267
True, but these are only the notes of THIS release. In earlier releases, a link to the releasnotes was provided:
![image](https://user-images.githubusercontent.com/1159672/144615727-1180e879-ac94-4c67-a2d1-8a9953b321ec.png)
However, since we changed from branch `master` to `main`, these links are all broken.
My idea is to add the releasenotes.md file as an asset. Just for convenience.

[2021-12-05 08:19] stefjoosten opened #1269 "Children's diseases in prototype-framework:v1.12.0"
# What happened

1. I opened a new project from the repository Ampersandtarski/project-template@bb298a15171a8615014867801d17a56e76745f3f
2. I copied Enroll.adl (from Ampersandtarski/RAP/Demos/Enroll) to the new project and renamed it to MyScript.adl
3. I set passwords in .env and built the prototype with `docker compose build`
4. I cleaned out my entire docker environment locally: no volumes, no c

[2021-12-05 14:57] #1267 closed

[2021-12-08 18:25] lierdakil commented on #1264
There are some issues with "that PR", and I doubt I'll find the time to whip it into shape particularly soon (it's been like this for a while). That said, @hanjoosten, if you explain what the issue is, perhaps we'll be able to just hack something into the stable branch?

[2021-12-12 08:34] stefjoosten opened #1271 "log4j security risk"
# What happened
A critical security risk [CVE-2021-44228](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44228) appeared [in the news](https://www.ncsc.nl/actueel/nieuws/2021/december/10/ernstige-kwetsbaarheid-in-apache-log4j) about [log4j](https://logging.apache.org/log4j/2.x/).  Since we have several Ampersand applications in production, it seems wise to investigate this.

# Analysis
Th

[2021-12-12 10:15] Michiel-s commented on #1271
No issue for us here. Log4j is a package for Java. We don't have any Java code.

It is a quite serious vulnerability by the way. Good to think about these issues.

[2021-12-12 10:20] stefjoosten commented on #1271
Good to know. But what about the other issues? 14 Critical and not (yet) fixed. 13 Critical and won't fix. Why should we worry or not worry about this?

[2021-12-12 14:59] hanjoosten commented on #1271
I think this is a fact of life: There are risks. We have to live by it as best we can. I think a good way is to make sure we upgrade to latest versions of the stuff we depend on, and hope for the best. If anyone has a better plan, that takes into account the limits of our resources, let me know.

[2021-12-12 15:23] #1271 closed

[2021-12-13 08:24] hanjoosten commented on #1264
In short, a user of Ampersand compiles a specification written in our DSL. The user can generate a document based on his specification. We programatically generate a [Pandoc](https://hackage.haskell.org/package/pandoc-types-1.22.1/docs/Text-Pandoc-Builder.html) data structure, representing that document.
The document can contain several things, that we want to have a cross references to. These thi

[2021-12-13 08:26] hanjoosten commented on #1268
@stefjoosten , can this issue be closed?

[2021-12-13 08:27] hanjoosten commented on #1268
I guess this issue can be closed now. If not, feel free to reopen.

[2021-12-13 08:33] stefjoosten commented on #1264
Oops

[2021-12-20 09:02] stefjoosten opened #1272 "Unstable prototype-framework?"
# What happened
I ran a prototype with prototype framework v1.13.0 (digest [39242c68](https://hub.docker.com/layers/ampersandtarski/prototype-framework/v1.13/images/sha256-39242c68c6d7eec7be5a017b7e991863a2cf3491a9d00ae6d2231c33bb5948f0?context=repo))
Upon installing the database, I got some weird errors, which I cannot explain. I made a video:
https://user-images.githubusercontent.com/275768/1467

[2021-12-30 02:14] #544 closed

[2021-12-30 02:14] #504 closed

[2021-12-30 02:14] #246 closed

[2021-12-30 02:14] #238 closed

[2022-01-01 02:21] #215 closed

[2022-01-22 08:12] stefjoosten opened #1273 "Het raadsel van de terugkerende data"
# What happened

https://user-images.githubusercontent.com/275768/150629960-de77cac8-e0a9-4f0b-a000-6acf405278f1.mov

# What I expected

# Version of Ampersand that was used

# Steps to reproduce

1.
2.
3.
4.

# Screenshot / Video

# Context / Source of ampersand script

[2022-01-23 06:12] stefjoosten commented on #1273
I have the solution. A filter was active in the Excel spreadsheet. The items that were not shown in the excel sheet, due to this filter, are the items that showed up in Ampersand.

[2022-01-23 06:12] #1273 closed

[2022-01-26 06:50] stefjoosten opened #1274 "Multiple records in the wide table for a single atom."
# What happened
During my work for the emergency centers, I encountered a strange phenomenon, which I have never seen before. The following screenshot shows that some atoms of type "Voorziening" have multiple records in the database. Not surprisingly, this affects the behaviour of the application in many undesirable ways. Here is screenshot 1.
![Screenshot 2022-01-26 at 07 16 19](https://user-imag

[2022-01-26 07:10] stefjoosten commented on #1256
I agree with @sjcjoosten that `r;<;<;s` should be interpreted as `r;<;I[DATE];<;s`, where `I[DATE]` is the glb of the source and target of `<`. Simply because that is the order of things in the current type system and there is no reason to forbid `r;<;<;s`.

[2022-01-26 07:12] stefjoosten commented on #1256
I suggest to use `=<` for less than or equal, `>=` for greater than or equal, so `<=` and `=>` remain free for future use.

[2022-01-26 07:26] stefjoosten commented on #1256
Here is a plan:
- [ ] 1. Adapt the parser to interpret specific symbol sequences as built-in relations. Let us start with `=<` (less than or equal) for numbers.
- [ ] 2. Let us finish `=<` for numbers before adding more built-in operators, so we can learn with minimal pain and effort.
- [ ] 3. A second operator can be `=<` for dates, to be built after the first one works.
- [ ] 4. I presume there

[2022-01-26 16:45] Michiel-s commented on #1274
Hi @stefjoosten can you exclude the possibility that one of the two has trailing whitespace?

[2022-01-26 17:11] hanjoosten commented on #1274
Yes, that is excluded. @stefjoosten has shown me what was going on. There were quite a few different instances that had this.

[2022-01-26 18:25] Michiel-s commented on #1274
Ok. I'll have a look at it this weekend. Could you email me the test population.

[2022-01-29 02:03] #605 closed

[2022-01-29 14:39] Michiel-s commented on #1274
Before I can work with the files you've sent me, I need to fix some issue:

You should use the exec-engine SetConcept instead of InsAtom for changing atom types, e.g.:
[code]
must be:
[code]

[2022-01-29 14:48] Michiel-s commented on #1274
Ok, now I can conclude that it is a whitespace issue.

Please check the excel sheet and notice that e.g. `Ambulance voorziening         ` has 9 trailing whitespaces at most places, but 20 trailing whitespaces at the sheet `Voorziening`.

The prototype framework works as expected, it just see those as two different atoms; as it should in my opinion.

So clean up the import sheet and you are good to

[2022-01-29 14:48] #1274 closed

[2022-01-29 14:49] Michiel-s commented on #1274
What made you think so @hanjoosten?

[2022-01-29 20:09] hanjoosten commented on #1274
Sorry @Michiel-s . @stefjoosten  and I had a joint session looking into this issue. Because there were more than multiple different words that had this issue, we convinsed each other that it couldn't be a whitespace problem. I should have known better
![image](https://user-images.githubusercontent.com/1159672/151676036-19296ec9-5481-4126-9519-77ed2e6cec93.png)

[2022-01-30 19:36] Michiel-s commented on #1274
No worries. Just asking.

[2022-02-01 15:47] RieksJ commented on #1256
why use `=<` for less than or equal while the rest of the world uses `<=`? Where `<=` is easily seen (and remembered) as `<`-less than or `=`equal, `=<` would then read as 'equal or less than', which is awkward.

[2022-02-01 17:03] sjcjoosten commented on #1256
I see no easy way to generate SQL code for `r;<;I[DATE];<;s`.

[2022-02-08 06:54] stefjoosten opened #1275 "Duplicate Pattern Bug"
# What happened
Ampersand allows duplicate patterns, such as:
[code]
However, the above script produces a duplicate label error and causes Pandoc to crash in the most unelegant manner:
[code]
# What I expected
Since the inception of Ampersand, the formal semantics of this is the union of the contents of this pattern. So the script should behave exactly the same as:
[code]
# Version of ampersand th

[2022-02-08 07:29] stefjoosten commented on #1275
# The process for this bug
This bug has an easy workaround: just don't use duplicate pattern names. As a consequence, the priority of this bug cannot be 'high'. So I qualified it as 'normal'.

After fixing this bug, I suggest we add the script `Issue1275` to the ShouldSucceed regression test. For now, I'm adding it to `Ampersand>testing>StillUnsupported

[2022-02-08 09:50] stefjoosten opened #1276 "no such directory ./templates"
# What happened
I tried to compile a prototype using just the Ampersand compiler
[code]
# What I expected
I expected this file to generate some code, because foo.adl contains no errors

# Version of ampersand that was used
Ampersand-v4.6.2 [51c3de2e65c540ef026925fe8547c991765a5588:refs/tags/v4.6.2]

[2022-02-08 18:05] stefjoosten commented on #1275
# Analysis
Two patterns that have the same name must be the same pattern.
However, in the parse tree (the P-structure) different patterns in the same context can have the same name.
So `ADL2FSpec.hs` is the place where two patterns should be merged.

We need a new function to merge two Patterns and we need to use that in the construction of the Fspec.
That should do the trick.

[2022-02-08 18:29] stefjoosten commented on #1275
@hanjoosten has solved this issue in commit 53522bfea68dbcaba541190852301f5f5682d5ca

[2022-02-08 18:29] #1275 closed

[2022-02-08 20:05] Michiel-s commented on #1276
Indeed, as @hanjoosten explained correctly templates files are decoupled. That is because they need to be always in sync with the current framework version to work.

@stefjoosten You can run the proto command with the `--no-frontend` command. This will skip the frontend files that need the templates, but does generate backend configuration files, like the sql queries and more.

[2022-02-09 06:13] stefjoosten commented on #1276
Aha, we have a workaround!

[2022-02-09 06:14] stefjoosten commented on #1276
that sounds like plenty of ideas. I suggest we two things:
* Let us make the option `--no-frontend` a default option for `ampersand proto`, to make the decoupling perfect. An unknowing user (like me... :-) ) should not stumble into this error. Consequently, we have to add the option`--frontend` to the Dockerfiles that generate prototypes (or add the correct environment variable for the compiler if

[2022-02-09 08:02] stefjoosten commented on #1256
That is settled then....

[2022-02-09 10:05] stefjoosten commented on #1256
We have a new branch, [feature/greaterThan-issue-1256](https://github.com/AmpersandTarski/Ampersand/tree/feature/greaterThan-issue-1256).

[2022-02-09 15:57] stefjoosten commented on #1256
Here is a problem that requires some good thinking. @sjcjoosten, please help to analyze this.

# What happened
We are building `<=` as a built-in relation. This leads to the following changes in the Haskell code of the Ampersand compiler:
1. As user defined relations all start with a letter, built-in relations start with a non-alphanumeric character. That is sufficient to prevent an Ampersand prog

[2022-02-09 16:38] sjcjoosten commented on #1256
We should go with option 2 above, provided that the user cannot write NUM, STRING, etc directly, but only via 'representations'. The built-in primitive concepts are already there, and even already present in the type-checker. See: https://github.com/AmpersandTarski/Ampersand/blob/main/src/Ampersand/ADL1/P2A_Converters.hs#L485

Of course, after type-checking, the built-in primitive types like NUM a

[2022-02-09 18:29] stefjoosten commented on #1256
@sjcjoosten , What is the problem with alternative 3? Which obstacles will we encounter if we walk that path?

[2022-02-09 18:29] stefjoosten commented on #1256
@sjcjoosten said:

If  `<=[NUM,NUM]`, `<=[STRING,STRING]`, and `<=[DATE,DATE]` are built-in relations, then we might argue that `NUM`, `STRING`, and `DATE` are built-in concepts.  So why remove them? Being built-in means that the user can use them as any other concept. The difference is just that they are always there (as some other things are). In the generated documentation, we might hide built-

[2022-02-09 19:06] sjcjoosten commented on #1256
In accordance with 2., I suggest that `<=` can work very similarly to `I`, in that one can alway read/interpret it to be a `<=[NUM \/ STRING \/ DATE, NUM \/ STRING \/ DATE]` relation, but the type-checker will ensure that it can fill in a user type (some `A_Concept`). Note that this user-type might not be Endo: `<=[Start*End]` might occur in a rule that expresses that end-times should follow start

[2022-02-10 06:32] stefjoosten commented on #1256
@sjcjoosten has convinced me that idea #2 is the way to go.

[2022-02-10 09:02] hanjoosten commented on #1256
I don't see the issue for problem 3 yet. `<=` should be regarded as the relation denoted by `I[cpt] ; <= ; I[cpt]`, where `cpt` is a type variable for a concept. That concept is restricted by concepts having an ordering.
This means that when a user would write the expression `<= - I[A]`, it would be regarded as the expression `(I[cpt] ; <= ; I[cpt]) - I[A]`, where `cpt` would become `A`. A perfect

[2022-02-19 19:43] hanjoosten commented on #1225
Weeder has been enabled again in the branch I merged into main the other day.

[2022-02-19 19:44] #1225 closed

[2022-02-25 13:51] RieksJ opened #1279 "Inconsistent type checking when importing from XLSX"
I'm currently 'dusting off' the [MPTrx](https://github.com/AmpersandTarski/ampersand-models/tree/master/MPTrx) model application.

There is a piece of code that is as follows (the full code is [here](https://github.com/AmpersandTarski/ampersand-models/tree/master/MPTrx), use commit 7f2750ee, tagged 'issue1279', which you can compile using the dockerfile))
[code]

I have an XSLX file that I use to

[2022-02-25 16:12] RieksJ commented on #1279
Turns out &-daemon was another version that & used by Docker...

[2022-02-25 16:12] #1279 closed

[2022-02-26 18:36] stefjoosten commented on #1256
I'm now adding predefined concepts and classifications to the language. My test script is:
[code]
I have added the following representations and specializations to the language (for readability in quasi-Ampersand syntax):
[code]
This yields:
[code]

[2022-02-27 02:09] sjcjoosten commented on #1256
I am confused, I would say that ``PClassify _ s gs`` means $atoms(s) = \bigcap(map atoms gs)$ and since ``CLASSIFY S ISA G`` translates to ``S = S /\ G``, so that would be ``PClassify o S [G,S]``. The names `generic` and `specific` seem to suggest that there is a subset involved, but I believe in the equality.

I am also a bit suspicious about ``pClassify2aClassify``, as I read this code it seems

[2022-02-27 14:50] stefjoosten commented on #1256
I have slept over it. You are right. We defined the meaning of `PClassify _ s gs` to be $atoms(s)=\bigcap(map atoms gs)$. I will redo the code because it is bound to be wrong. I think we just never saw the effects of it being wrong.

So, `CLASSIFY Employee ISA Person`       translates to `PClassify orig (PCpt "Person") {PCpt "Person") (PCpt "Employee"}` (in the P-structure) and that translates to

[2022-03-13 06:31] stefjoosten commented on #1166
I ran into an urgent need for a data grid once again (I'm doing some urgent work for Ukrainian refugees). Looking into it, I found that [ag-grid](https://openbase.com/js/ag-grid-community) has the MIT license for everything but the ag-grid-enterprise package. It has a substantial community and it is one of the most downloaded datagrid packages of all datagrid plugins in Github (of which there are

[2022-03-13 06:37] stefjoosten opened #1280 "restrict relations identifiers"
# What happened
I defined a relation whose name has a diacritic in it: "allergieën". The compile and build towards a prototype went smoothly, but the database falls over:
![Screenshot 2022-03-13 at 07 31 15](https://user-images.githubusercontent.com/275768/158048235-f6871d4a-d181-47ab-aec1-0405c37ebd08.png)

# What I expected
I expected one of the following:
1. It works
2. It doesn't work and it i

[2022-03-13 08:02] hanjoosten commented on #1280
I ran into this very issue last month, when I fixed the bitrot of the validate functionality. It has been fixed. Make sure you have the latest version of the ampersand generator.

[2022-03-13 08:42] #1280 closed

[2022-03-14 12:57] hanjoosten opened #1281 "Typechecking of ENFORCE statement is incorrect"
I have been experimenting with the ENFORCE statement. However, in doing so, I got a fatal (while building a docker image):

[code]

The script I was editing has a clear type error, but the daemon didn't complain about it. Hence, I expect the root cause is that there is no proper type checking of the ENFORCE statement.

[2022-04-04 07:08] stefjoosten opened #1283 "ExecEngine fails to work"
Working with Ampersand-v4.6.2 [main:26ca14784*]

# What happened
I wrote an ENFORCE rule to copy an email address from a form to a `Persoon`:
[code]
It didn't work. Considering the newness of ENFORCE rules and my inexperience with it, I fell back to the original ExecEngine rule syntax. I wrote:
[code]
This time I got yellow errors:
![afbeelding](https://user-images.githubusercontent.com/275768/161

[2022-04-21 09:50] ElMakkiHaddouchi opened #1284 "Error response from daemon: image with reference ampersandtarski/ampersand:v4.6.2 was found but does not match the specified platform: wanted linux/arm64, actual: linux/amd64."
# What happened
On my Mac (m1) I am trying the following command:
docker run --platform=linux/arm64 -it -v ${pwd}:/scripts ampersandtarski/ampersand:v4.6.2 check repositoryumcu.archimate

after I tried this command, I get the following warning:
WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested

No

[2022-04-23 10:04] stefjoosten commented on #1284
I had exactly the same issue with my MacBook Pro M1. I used the same solution, which is to add the extra option just like you did. Everything seems to work fine from that point onwards. I don't have a validated explanation for this, so I'm still curious. @ElMakkiHaddouchi do you experience any further problems after using this fix?

[2022-04-23 10:42] ElMakkiHaddouchi commented on #1284
@stefjoosten
Nothing else happens when the command is executed. So no error message, but also no result that I expected.

When executing the command I normally get the corresponding violations with the EA model. But now no result appears.

[2022-05-03 07:53] hanjoosten opened #1287 "Automatic creation of missing relations when using spreadsheets"
Some time ago a feature was built-in to automatically create missing relations while statically parsing a spreadsheet. This behaviour  should not be the default, but should be controlable by the user by using a switch.

[2022-05-05 11:52] stefjoosten opened #1288 "Navbar not being loaded"
# What happened
I made a [prototype](https://github.com/AmpersandTarski/Nutwente/commit/fa77022f71fd77538eaa7046fe441d302791f4d6), which builds correctly. However, the navbar isn't being loaded:
<img width="1044" alt="afbeelding" src="https://user-images.githubusercontent.com/275768/166913576-03af4e89-1fff-4824-801e-ac9bf480decd.png">

# What I expected
I expected the behaviour to be similar to th

[2022-05-05 12:21] stefjoosten commented on #1288
# Analysis
An inspection of the log file (CLI command: `docker compose logs prototype`) shows that the database connection could not be made due to erroneous credentials. Yet, the application gives no signal whatsoever about this problem, which makes diagnosing it quite hard.

# Diagnosis
We need an error message that points towards this cause, e.g. "The application failed to connect to the databa

[2022-05-06 10:37] stefjoosten opened #1289 "The compiler injects data into PHP-code."
# What happened
When I ran a prototype, I got this message:
<img width="1145" alt="afbeelding" src="https://user-images.githubusercontent.com/275768/167052664-7b6a84bf-863d-465e-9cc0-1bdbdbbee03c.png">
Clearly, this is a mistake.

# Version of ampersand that was used

# Steps to reproduce

1. Clone github.com/AmpersandTarski/Nutwente/commit/fa77022f71fd77538eaa7046fe441d302791f4d6.
2. in the CLI (

[2022-05-06 11:31] stefjoosten commented on #1289
# Analysis
I inspected the corresponding Ampersand source code, finding this fragment:
[code]
It is obvious (from the context, claim without evidence) that this fragment is in the blame chain. Also, there is no mistake in this fragment. It's correct.

The error message invited me to dig deeper:
[code]
I found the text in one of the spreadsheets, in the target of `RELATION taal`:
<img width="276" a

[2022-05-07 08:24] hanjoosten commented on #1289
Unfortunately, the current implementation of the ExecEngine relies on PHP injection. The use of ENFORCE statements will overcome this. However, in the 'old' rules, we use `TXT` `<String>` . The contents of such string relies on being transfered to the execengine as is.

[2022-05-07 09:02] hanjoosten commented on #1289
I agree that it is at the downstream side where this should be solved. The point from my above comment is, that in the P-structure, both strings are plain Text fields. So at the downstream solution you have to know if the string should be PHP-encoded. I think the function showPhpStr should be modified. It should differentiate to strings that are prefixed with {ex} and strings that are not.
Unfortu

[2022-05-07 11:58] stefjoosten opened #1291 "Error in Dockerfile: stack not found"
# What happened
I was building a local version of Ampersand on commit 002152cb8:
[code]
What has happened that `stack` is no longer found?
I have tried a previous commit on the main branch, but with the same result...

# What I expected
I expected this docker job to run smoothly till the end.

[2022-05-07 12:36] stefjoosten commented on #1289
Issue #1291 is blocking the further analysis of this issue.

[2022-05-07 14:21] hanjoosten commented on #1291
I am experiencing similar errors. Something has changed, but I havn't got my finger behind it yet.

[2022-05-07 18:22] Michiel-s commented on #1289
Hi @stefjoosten and @hanjoosten, you don't have to look into the Compiler code in haskell. The issue here is run time data in combination with the way the Exec Engine works.

The exec engine relies on param separators (default `;`). At this moment we don't have an alternative yet.

In Exec engine rules, if you can expects user input containing `;`, you need to specify a different separator that is

[2022-05-07 18:36] Michiel-s commented on #1289
No fix in compiler needed. Real solution is requested in #800

[2022-05-07 18:36] #1289 closed

[2022-05-07 19:28] Michiel-s commented on #1284
Hi @ElMakkiHaddouchi and @stefjoosten, as you can see on Docker Hub we only have images for platform `linux/amd64` available. [Ampersand on Docker Hub](https://hub.docker.com/repository/docker/ampersandtarski/ampersand/tags?page=1&ordering=last_updated)

When you run/build on your machine with `--platform=linux/arm64` (notice ARM not AMD), you basically tell Docker to run image for platform ARM, b

[2022-05-07 19:31] Michiel-s commented on #1283
I believe we've fixed this issue by updating your script right? Wrong exec-engine rule specifications can result in infinite loops. That was indicated here by the error. In the UI you can open the error by clicking on it and see which rules causes exceeding the max reruns.

[2022-05-07 19:31] #1283 closed

[2022-05-07 23:10] hanjoosten commented on #1284
@Michiel-s , It might be a good idea to build these anyways?

[2022-05-08 12:11] stefjoosten opened #1292 "MrgAtoms and non-existent atoms"
# What happened
When running a prototype, I got this message:
![afbeelding](https://user-images.githubusercontent.com/275768/167294460-23584504-3a3c-4ea3-8e98-8b8d4633e71a.png)
Here is what happened. My script contains a rule:
[code]
This is what the log file has to say:
[code]
# What I expected
I expected this merge to succeed.

# Version of Ampersand that was used
I used the image ampersandtarsk

[2022-05-08 12:25] stefjoosten commented on #1292
# Analysis
The log shows that Atom `327` is merged into `455` and then deleted.
Subsequently, we see a request to merge `327` into `8`, which fails because `327` doesn't exist anymore.

Strangely enough, the Exec engine says: Skipping MrgAtoms function of 8[AanmeldingGG] and 327[AanmeldingGG], because one or both of them do not exist (anymore), but it nevertheless tries to merge the two. This mess

[2022-05-08 12:26] stefjoosten commented on #1292
This change affects the prototype framework, so let's move this to the appropriate repo.

[2022-05-08 17:12] ElMakkiHaddouchi commented on #1284
@ Hi Michiel-s, I modified it and tried with --platform=linux. But still an error message appears.

"docker: Error response from daemon: image with reference ampersandtarski/ampersand:v4.6.2 was found but does not match the specified platform: wanted linux/arm64, actual: linux/amd64."

I think it would be useful if a new platform is built, likewise Han Joosten also indicates.

[2022-05-08 20:59] stefjoosten commented on #1281
@hanjoosten can you make this reproducible for @sjcjoosten?

[2022-05-09 07:32] hanjoosten commented on #1281
Sure, The following should fail:

[code]

[2022-06-03 05:21] stefjoosten opened #1293 "Term I#"aap" causes the normalizer to make a mistake."
# What happened
I have a script that contains the following rule
[code]
The log-file of my prototype shows that the Engine has called this rule:
[code]
Note the SQL expression on the third line of this log fragment (let me make it a bit more readable):
[code]
This result is obviously incorrect.
However, the rule
[code]
produces
[code]

The difference between the two scripts is the term (I#"-").

#

[2022-06-03 05:27] stefjoosten opened #1294 "<repo>/mirrors.json is expired"
I am running a little test on a separate branch called [Issue](https://github.com/AmpersandTarski/Ampersand/tree/Issue) on commit [4403e0eb](https://github.com/AmpersandTarski/Ampersand/commit/4403e0eb0d68965aead3de33ee9e8a585438b784). The entire log sits [here](https://github.com/AmpersandTarski/Ampersand/runs/6709144210). Here is an exerpt:
<img width="875" alt="image" src="https://user-images.g

[2022-06-03 06:01] stefjoosten commented on #1293
# Diagnosis
I have isolated this bug to the following script:
[code]
I ran "ampersand proofs" on this script, which gave the following analysis:
Rules and their conjuncts for Issue1293
[code]
To demonstrate that `conjNF` is mistaken, let us first establish the value of ` I#"aap"`:
[code]
Now, let us calculate the value of the entire expression:
[code]
Clearly, this differs from `V[A*B]`. So, conjN

[2022-06-04 05:33] stefjoosten commented on #1293
I used `ampersand proofs` to find out that the normalizer derives this:
[code]
This means that the simplifier performs the last (erroneous) step towards V

[2022-06-04 07:28] stefjoosten commented on #1293
Now let us chase the bug in `isTrue`
[code]
There is clearly a mistake here. It is in the `isTrue` of the cartesian product operator `EPrd`. This is the derivation that we want:

[code]
I have established that the `isTrue` of our expression yields `False`. Case closed.

[2022-06-04 07:31] hanjoosten commented on #1293
Are you going to fix both mistakes by means of this one issue?

[2022-06-04 07:46] stefjoosten commented on #1293
No, the other one deserves a separate issue.

[2022-06-04 20:12] Michiel-s commented on #1294
No clue where to start looking for this issue. Except that I would Google it and look on stackoverflow;)

I think this one is for @hanjoosten

[2022-06-04 23:27] hanjoosten commented on #1294
I am clueless as well. Somehow `ReleaseNotes.md` couldn't be found. Not sure where that comes from. Maybe something wrong with a cache? The next time that branch was built, this behaviour wasn't repeated. So nothing wrong. Probably a glitch of the universe. If we see this again, let's reopen the issue.

[2022-06-04 23:27] #1294 closed

[2022-06-05 05:52] #1293 closed

[2022-06-06 07:04] stefjoosten opened #1298 "The (sub-)expression x;V can be compiled more efficiently"
# What happened
I see that the Ampersand compiler v4.6.3 translates the expression `buddy;V` to:
[code]
# What I expected
I would expect it to produce
[code]
The latter saves an (implicit) join operator.

[2022-06-06 08:14] hanjoosten commented on #1298
I expect the database to take care of an optimization of such a query. No need for us to clutter our code, by which we compromise maintainability. Please reopen iff you have a measurable use case for this optimization.

[2022-06-06 08:58] stefjoosten commented on #1298
There is another argument: the readability of the generated code. That has always been important to me but seems unimportant to others.
I have three objections to your arguments:
1. The claim that the database takes care of this optimization is speculative. Please provide evidence.
2. The efficiency goes from $O(n^2)$ to $O(n)$. That is an order of magnitude, which does not require a measurable us

[2022-06-10 06:48] stefjoosten opened #1299 "error in showA"
# What happened
I have run the following script:
[code]
I ran "ampersand proofs" on this script, which gave the following analysis:
Rules and their conjuncts for Issue1293
[code]
# What I expected
I expected that `-r [A*B]-(I[A]#"aap"[B])\/s [A*B]` would have been printed as `-(r [A*B]-(I[A]#"aap"[B]))\/s [A*B]` (with extra brackets, that is).
So, there is clearly a mistake in printing expressions

[2022-06-11 19:13] hanjoosten commented on #1281
@sjcjoosten I have tried to fix this issue myself. I started the branch https://github.com/AmpersandTarski/Ampersand/tree/feature/typecheck-ENFORCE for this. I tried to get my head around this, and spend the whole aftenoon trying to find out how to do this. Very frustrating. I thought it would be easy, like the typecheck of the PEqu. But I underestimated. Could you please have a look at this?

[2022-06-12 06:35] stefjoosten commented on #1281
Here is another example, which I ran into in practice:
[code]
This script passes the type checker, as expected, and leads to the following runtime error in the compiler:
[code]

[2022-06-12 06:57] stefjoosten commented on #1281
# Workaround
There is an obvious workaround: Make sure the ENFORCE rule is type safe without relying on ISA's. So the script I just gave can be compiled without problems if reformulated thus:
[code]

[2022-06-12 07:36] stefjoosten opened #1300 "PURPOSE statement needed for ENFORCE"
# Problem

I cannot write a PURPOSE for the current implementation of ENFORCE statements. This forces me to go back to the ExecEngine syntax, where I can label the rule and add a purpose using that label.

# Proposal
I propose to add an optional label to ENFORCE rules, just like ordinary rules.

So I can write:
[code]

[2022-06-12 08:36] hanjoosten commented on #1300
One ENFORCE statement can lead to more than one RULE. What effect do you expect/wish that the label would have? I guess it has something to do with the generated document?

[2022-06-12 14:26] stefjoosten commented on #1300
Good point! We have a new situation here. One ENFORCE rule is a single rule in the perception of the user, but it yields two separate quads (i.e. execution engine rules). This is a first in Ampersand. However, future extensions may have the same effect: multiple quads for one rule. So, the documentation must treat each ENFORCE rule as a single user-defined rule. The prototype, however, may have mu

[2022-06-19 06:01] stefjoosten commented on #1281
Alas, this issue has not been resolved completely. The example I gave does not compile. It still produces:
[code]
Apparently you didn't test it, so I have now introduced this example into the regression test.

[2022-06-22 09:32] hanjoosten commented on #1281
@sjcjoosten, I found the rootcause of this problem. It is where we extract the rules from the enforce statement. It can be found in this commit: https://github.com/AmpersandTarski/Ampersand/commit/6c011ae124f9ecfadb108039be5d37ab4e4c5439 .
However, I am not sure how to solve it. It might be a good idea to generate the rules in the typechecking stage, because there all Type information is available

[2022-06-22 14:04] stefjoosten commented on #987
# Further Analysis
@hanjoosten and I found the bug in commit @47bbc8d in the file XLSX.hs:
![afbeelding](https://user-images.githubusercontent.com/275768/175047867-55e2fdf0-047c-446a-8153-1f78a2003a59.png)
If you compare what happens to string `mid`, please note that this string is reversed twice in the old version (commit @04da47e) and it is reversed three times in the new version (commit @47bbc8

[2022-06-24 06:28] stefjoosten commented on #1112
Having both `HTML` and `RAWHTML` gives the programmer a choice. However, we don't want to let a programmer choose between validated and unvalidated HTML in the source code of an Ampersand script. This choice is made by the compiler constructors and not by the programmer.

From this perspective, I vote for `HTML` as label. Let us hope we can implement HTML validation soon and let us trust users to

[2022-06-24 06:40] stefjoosten opened #1305 "Devcontainer fails to start"
# What happened
I'm using the devcontainers for a while now. Yesterday, my computer decided to generate my dev container afresh. However, this process failed:
<img width="1728" alt="Screenshot 2022-06-23 at 23 26 37" src="https://user-images.githubusercontent.com/275768/175476467-fce8991c-2d6b-40c9-8845-e1a25801bdca.png">

I doubt whether a memory problem is to blame because I gave Docker access t

[2022-06-24 06:49] stefjoosten commented on #1305
Currently, I'm rerunning it where Docker has 16GB of space (which is the maximum I can give to Docker).

[2022-06-24 08:25] #1305 closed

[2022-06-29 16:11] stefjoosten opened #1306 "Disambiguation is too strong"
# What happened
I tried to compile the following script
[code]
I got the following error messages from the compiler:
[code]
# What I expected
I expected that this script is correct, because the declaration `CLASSIFY BusinessActor IS BusinessRole` would make `BusinessActor` and `BusinessRole` 100% synonym. This implies that relations `assignment[BusinessActor*BusinessProcess]` and `assignment[Busin

[2022-06-29 21:59] sjcjoosten commented on #1306
I disagree that this might be a bug (for now), quoting from FormalAmpersand (two parts of Relations.adl):

[code]

I read this as saying that a relation can have at most one signature (by UNI) so the two different signatures for assignment make it that these must be different relations. They can therefore have different populations too. Second reason is going off the "eq relation" rule, which does

[2022-07-04 17:44] stefjoosten commented on #1306
Your suggestion to add `RULE "eq assignment"` does not solve the error message, because that is a type error.
Besides, `RULE "eq assignment"` is already satisfied by the following proof:

1. Let `A`,`B` be concepts and let $A$ be the set of atoms in `A` and let $B$ be the set of atoms in `B`.
2. The statement `CLASSIFY A IS B` means that `A`$=$`B`, i.e. $\forall x: x\in A\ \Leftrightarrow\ x\in B$

[2022-07-04 18:30] stefjoosten commented on #1306
Aha, I see! The culprit of our misunderstanding is in FormalAmpersand:
[code]
This is wrong. It should not be univalent at all.

[2022-07-04 21:27] hanjoosten commented on #1306
Interesting. This has consequences for EQ on relations. @stefjoosten, please explain what the EQ on relations should be?

[2022-07-05 03:39] stefjoosten commented on #1306
Yeah, you are right. My comment "The quarter has fallen" is nonsense. Please ignore.
Surely, `RELATION sign[Relation*Signature]` is univalent for the same reason: `A`$=$`B` implies that `[A*C]`$=$`[B*C]`.
So let us leave FormalAmpersand as it is. Sorry for generating noise.

[2022-07-05 05:18] hanjoosten commented on #1306
By the way, I believe that FormalAmpersand isn't strict enough: The relation  `sign[Relation*Signature]` should be total as well, but I do not want to interfere with the discussion between @sjcjoosten and @stefjoosten

[2022-07-05 10:30] hanjoosten opened #1307 "Enhancement: Namespaces"
A long-awaited feature of Ampersand is that of having namespaces. In the discussions of the past, we found that having a module structure as Haskell has, would enable namespaces.
I am going to attempt to implement [modules in a Haskell way](https://www.haskell.org/tutorial/modules.html). This issue will be a placeholder for my thoughts along the way. I welcome discussion as well!

The work is bein

[2022-07-05 13:55] hanjoosten commented on #1307
https://app.gitbook.com/o/-L9s__2ijWbaqiO6uz4O/s/-L9s__kkYiQvvyW5CKOk-887967055/the-language-ampersand/context-1

[2022-07-09 00:37] sjcjoosten commented on #1306
I don't think it is a good idea to interpret ``CLASSIFY A IS B`` as ``A = B``. I'd rather interpret it as saying that the population of ``A`` and ``B`` are equal whenever the database is stable/consistent. So I agree with $\forall x: x\in P(A)\ \Leftrightarrow\ x\in P(B)$ (I read the $P$ as 'Population at some point in time', and I intend universal quantification over all such populations).

Consi

[2022-07-12 06:30] stefjoosten commented on #1306
We need to discuss this...

[2022-07-17 06:32] stefjoosten opened #1308 "No match in record selector aavtxt"
# What happened
I compiled the following script in RAP
[code]
I got the following error message
<img width="487" alt="image" src="https://user-images.githubusercontent.com/275768/179386876-d65f7c02-3e02-4c6b-aa8d-ff08bf1a037d.png">

# What I expected
I expected an error message from Ampersand, recognizable by a locator (file, line number, character number).
I might have expected a fatal, recogniza

[2022-07-17 11:34] hanjoosten commented on #1308
Ok. Lets drill this down. First of all, version 4.3.0 is an old version. It is of august 2021. Please upgrade your version.

Having said that, I tried to reproduce it in the current main version (v4.7.0):

tl;dr: Cannot reproduce.
[code]

Also other commands didt't yeald the fatal error:
[code]
and
[code]

[2022-07-17 12:44] hanjoosten commented on #1308
Ok. I went deep. I went back to recompile version 4.3.0. With this version, I was able to reproduce:
[code]

[2022-07-17 12:44] hanjoosten commented on #1308
Conclusion: This bug has been solved.

[2022-07-17 12:44] #1308 closed

[2022-07-18 06:57] stefjoosten commented on #1306
Thanks for a good discussion, @sjcjoosten.

We've brought this down to the following use case. Let me summarize my lessons learned and close this issue.

Suppose we have two different concepts $A$ and $B$, both with different `MEANING`:
[code]
Now we want to state that their populations are equal:
[code]
This keeps the type checker happy. However, if we add some population we can see that somethin

[2022-07-18 06:57] #1306 closed

[2022-07-23 05:36] stefjoosten opened #1309 "IS or ISA? Feature or Bug?"
# What happened
I have two scripts: `Script_ISA` and Script_IS`:
[code]
`Script_ISA` compiles without errors. The following script doesn't:
[code]
`Script_IS` produces the following error message:
[code]

# What I expected
I expected that both scripts would be correct. How do I explain this to students? In the wake of the discussion in issue #1306, I hesitate to call this a feature or a bug. But m

[2022-07-23 06:45] stefjoosten opened #1310 "product operator # malfunctions"
# What happened
I am running the following script:
[code]
I got the following result:
[code]
# What I expected
Since the operator `#` is defined by `r#s = r;V;s`, both rules should never be violated.

# Version of ampersand that was used
I used both the RAP tool () and Ampersand-v4.6.3

[2022-07-23 17:54] sjcjoosten commented on #1309
This is a bug, the first of the two scripts should give a disambiguation error. Will investigate.

[2022-07-24 06:41] stefjoosten opened #1311 "define the project"
Please see the project definition [Synchronize the documentation of Ampersand with the Ampersand repo](https://github.com/orgs/AmpersandTarski/projects/3/settings). to learn what this project is about.
But also see the comments below for inspiration about the solution.

[2022-07-25 07:45] stefjoosten commented on #1309
How do I model that two distinct concepts must always have the same population? Answer:
[code]
How do I model that two concepts are aliases?
Answer:
[code]
or shorter:
[code]

[2022-07-26 08:42] stefjoosten commented on #1309
@sjcjoosten Good discussion yesterday. We agreed on the following:
1. This issue a bug. `CLASSIFY A IS B` should be interchangeable with `CLASSIFY A ISA B` and `CLASSIFY B ISA A`, in all situations (i.e. in situations where there are type errors, population errors, or no errors). I have renamed this issue accordingly.
2. Script_ISA and Script_IS should either (a) both be correct or (b) both be rej

[2022-07-27 14:36] hanjoosten commented on #980
This issue is related to #437

[2022-08-01 11:10] Michiel-s commented on #1298
I agree with @hanjoosten, let's not spent time on rewriting the query generator here. Let me give evidence on the database taking care of this optimization. We can use the `EXPLAIN <query>` for that.

## Putting it to the test
First I added 3M Vrijwilligers in the Person table
[code]

The explain output for the original query is
![image](https://user-images.githubusercontent.com/7961582/182133418-

[2022-08-01 11:11] Michiel-s commented on #1298
I say, let's close this issue.

[2022-08-01 11:11] #1298 closed

[2022-08-01 11:35] Michiel-s commented on #1291
Still the case? Or can we close this one @hanjoosten

[2022-08-01 13:23] hanjoosten commented on #1291
For the development we now have a good working .devcontainer. The docker image itself builds through the github workflow. Both work well, so this issue can be closed.

[2022-08-01 13:23] #1291 closed

[2022-08-01 17:34] Michiel-s commented on #1311
![image](https://user-images.githubusercontent.com/7961582/182208712-8ddb8047-d721-498c-a9f7-13de8b26d0b1.jpeg)

[2022-08-02 06:21] stefjoosten commented on #1309
I think this relates to issue #1281.

[2022-08-06 10:00] hanjoosten opened #1314 "Use arrowheads in the middle of edges in conceptual diagrams"
There is a slight chance that graphviz will support arrowheads in the middle of edges. See [this issue](https://gitlab.com/graphviz/graphviz/-/issues/2005) for details.
When this is supported, we can generate much nicer images that shows the  direction of the relation as well.

This relates to:

- https://github.com/AmpersandTarski/Ampersand/issues/610
- https://github.com/AmpersandTarski/Ampersan

[2022-08-06 10:14] hanjoosten commented on #261
As soon as the initial work on namespaces is done, that paves the way for support for modules.

[2022-08-12 13:52] hanjoosten commented on #1311
The idea of above image is as follows:

In the _new_ situations, we have a docs directory in both the [Ampersand repository](https://github.com/AmpersandTarski/Ampersand) (= compiler) and in the [Prototype repository](https://github.com/AmpersandTarski/prototype).
When in either repositories anything is pushed to the main branch (by means of a pull request), we want to trigger a [Github action](ht

[2022-08-12 13:58] hanjoosten commented on #1311
In the _old_ situation, we have our documentation in a [separate repository](https://github.com/AmpersandTarski/documentation). It is managed by means of [Gitbook](https://www.gitbook.com/). Gitbook automates the ci/cd whenever a commit is made to that repository, but it is hard to impossible to keep the documentation in sync with the releases of Ampersand and Prototype.

[2022-08-15 10:01] #926 closed

[2022-08-15 10:30] basplijnaer opened #1315 "Documentation repo: Migrate documentation to Ampersand repo"
**Depends on**
- [x] #1325
- [x] #1316
- [x] #1318

**Problem Description**
Docusaurus currently shows the hello world page from the ampersand repo. However it needs to show the actual documentation.

**Tasks**
- [ ] Notify the Ampersand team with the expected end date.
- [x] Replace the contents of the "docs" folder in the Ampersand repo with the documentation from the documentation repo.
- [ ] U

[2022-08-15 10:33] basplijnaer opened #1316 "Github Actions: Deploy docusaurus on pull request from Ampersand repo"
### Problem Definition
The Documentation files and Docusaurus source code reside in two different repositories. The final webpage requires both in order to be deployed.

### Depends on

- [x] #1323
- [x] #1318
- [x] #1317

### Solution
Refactor the GitHub workflow inside the new repo. The goal of that workflow is to generate a single-page website from the contents of the docs directory in the deve

[2022-08-15 10:35] basplijnaer opened #1317 "DocuGen repo: Create repository for documentation workflows"
Create a new repository, DocuGen, at [AmpersandTarski](https://github.com/AmpersandTarski). This repo will contain the workflows and source code needed to generate a single-page website for the documentation.

[2022-08-15 10:37] basplijnaer opened #1318 "DocuGen repo: Setup initial Docusaurus website"
To create a working base website we want to have something running to build upon.

- [x] Create a simple hello world Docusaurus website
- [x] Deploy to github pages

[2022-08-15 14:51] stefjoosten commented on #1318
I would expect that [GitHub pages](https://github.com/AmpersandTarski/Ampersand/settings/pages) is the way to do this. Please disagree if you think otherwise.

[2022-08-15 15:46] hanjoosten commented on #1318
Github pages is indeed the way to go to serve the 1-page-website.
To generate that site from whatever content we have, we need source depending on the tool we use to generate it. If we go for docusaurus, we need to generate a website as explained [here](https://docusaurus.io/docs#fast-track). The result of such website should be stored in a new repo at AmpersandTarski. If that is done, we have to

[2022-08-15 15:51] hanjoosten commented on #1318
BTW, I saw that we are not the only project to move away from Gitbook. [Redux](https://redux.js.org/) did this. You can read about there whereabouts over [here](https://github.com/reduxjs/redux/issues/3161). They have a nice thread about their motivation and what they did. Could be insirational for the team.

[2022-08-16 06:54] Michiel-s commented on #1318
As example, here's a Dockerfile we used to create a static Docusaurus website that can be served by any webserver. In the setup below we use NGINX image as webserver, but that will be Github pages then.

The `npm run build` cmd kicks of the Docusaurus build script.

[code]

[2022-08-16 09:21] basplijnaer opened #1320 "Documentation repo: Classify documentation"
It is difficult to tell what documentation files should be moved to [Ampersand](https://github.com/AmpersandTarski/Ampersand) and what files should be moved to [Prototype](https://github.com/AmpersandTarski/Prototype). It would be helpful if the files were labeled as either "Prototype" or "Ampersand".

[2022-08-19 15:32] hanjoosten opened #1321 "Stricter testing of the prettyprinter/parser roundtrip"
Recently I have been trying to do some initial work on implementing namespaces. I concluded that the modification was too large. I encounterd several (technical debt?) things that were causing additional complexity.
I am now at the point where I want to start over, but first get rid of the things I encontered:

- The prettyprinter/parser roundtrip contains flaws for some edgecases. However, curren

[2022-08-20 15:05] hanjoosten commented on #1090
The roundtrip has been enabled again and fixed with issue https://github.com/AmpersandTarski/Ampersand/issues/1321

[2022-08-21 11:21] hanjoosten commented on #1311
# Suggested solution

To help the team finding a realistic solution for this challenge, please find below some thoughts on what could be done.

To make this list as specific as possible, I will suggest some tooling. Be awere that these are just suggestions. It is well possible that the team brings in other tooling, better fit for the job.

- [] Create a new repository at [AmpersandTarski](https://

[2022-08-22 08:45] basplijnaer opened #1323 "Ampersand repo: Create development branch"
To maintain a working version and have our own way of finalising we need a 'main' for our version

- [x] Create a new development branch in the [Ampersand repo](https://github.com/AmpersandTarski/Ampersand) for the purpose of [this project](https://github.com/orgs/AmpersandTarski/projects/3). Consider that branch as the main branch for its lifespan. At the end of the project, it will be pulled int

[2022-08-22 13:01] NiekNieuwenhuisen opened #1324 "Docusaurus: Onderzoeken/spelen"
Gezien de focus op Docusaurus willen wij als ontwikkelaars eerst uitzoeken wat Docusaurus voor rol speelt in het project en er mee spelen om uit te vogelen hoe het werkt.

- [ ] Indien de uitvoerder tegen problemen aanloopt tijdens het het onderzoek dit gedocumenteerd worden.

https://docusaurus.io/

[2022-08-22 13:28] basplijnaer opened #1325 "Github Actions: Deploy docusaurus on pull request from Prototype"
### Depends on
- [x] #1316
- [x] #1318

### Problem Definition
The same as #1316 for the [prototype repo](https://github.com/AmpersandTarski/prototype). Within the workflow, now not only copy the docs directory of the Ampersand repo, but also the docs directory of Prototype. In the one-pager, these directories should co-exist. Maybe scaffold pages are required to make this happen. If so, these cou

[2022-08-22 13:34] NiekNieuwenhuisen opened #1326 "Documentatie naar Git Markdown"
Grote kans dat er geen problemen zijn, maar het zou kunnen dat de markdown die op dit moment wordt gebruikt voor de documentatie verschilt van de Markdown die Github gebruikt.

- [ ] Kopieer en plak de bestaande documentatie in Github
- [ ] Vergelijk de verschillen en los dit indien nodig op

[2022-08-22 13:45] #1320 closed

[2022-08-22 13:54] #1311 closed

[2022-08-22 14:08] #1323 closed

[2022-08-22 14:41] #1317 closed

[2022-08-23 07:31] basplijnaer commented on #1324
- There is a choice between the standard version and a version with typescript support

[2022-08-24 11:21] JesseZwitserlood opened #1327 "Follow up research github actions"
### Problem Definition
The Documentation files and Docusaurus source code reside in two different repositories. The final webpage requires both in order to be deployed.

### Depends on

- [x] #1323
- [x] #1318
- [x] #1317
- [x] #1316

### Solution
Refactor the GitHub workflow inside the new repo. The goal of that workflow is to generate a single-page website from the contents of the docs directory

[2022-08-24 12:08] basplijnaer opened #1328 "Docusaurus: Design UI"

[2022-08-24 12:08] basplijnaer opened #1329 "Docusaurus: Implement Design"
The [landing page of the documentation](AmpersandTarski.github.io) needs to take shape. It contains hardly any relevant information, which is confusing for visitors.
At the moment people are being referred to AmpersandTarski.github.io, whereas the old Gitbook would serve them better.

[2022-08-24 13:28] basplijnaer commented on #1318
The Docusaurus website is available at: https://ampersandtarski.github.io/DocuGen/

[2022-08-24 13:28] #1318 closed

[2022-08-24 14:18] basplijnaer commented on #1316
### Solution
I propose the following solution:

1. [DocuGen](https://github.com/AmpersandTarski/DocuGen) contains `DeployToPages.yml`, a GitHub Action which retrieves the "docs" folders from [Ampersand](https://github.com/AmpersandTarski/Ampersand) and [Prototype](https://github.com/AmpersandTarski/Prototype) and deploys the Docusaurus Website to [GitHub Pages](https://ampersandtarski.github.io/Do

[2022-08-25 08:03] #1324 closed

[2022-08-25 08:04] #1316 closed

[2022-08-25 12:37] #1327 closed

[2022-08-25 15:36] #1325 closed, assigned to basplijnaer

[2022-08-26 04:00] #437 closed

[2022-08-26 11:38] Michiel-s commented on #1090
Great. Is this issue fixed then?

[2022-08-26 14:45] hanjoosten commented on #1090
yes, indeed :)

[2022-08-26 14:45] #1090 closed

[2022-08-30 11:18] JesseZwitserlood opened #1332 "How to run linux on Ordina hardware"
Currently it is not allowed to install WSL2 (running linux in windows) on a ordina laptop. However you need to be able to run linux to use the application. this issue makes it so that contributers cant test the application.

- [ ] figuring out a way to run linux on windows thats permited by ordina.

suggestions:

1. Using a virtual azure machine to run Linux
2. Using a local virtual machine to run

[2022-08-30 11:19] #1332 closed

[2022-08-30 11:20] hanjoosten commented on #1332
Who says so? I run WSL2 on a Ordina laptop ???

[2022-08-31 13:09] hanjoosten commented on #1328
Here are some remarks from @Michiel-s, discussed earlier:

![Image](https://user-images.githubusercontent.com/1159672/187685700-b5881657-5bb2-401d-b366-e25b382d7faa.png)

and also a link to relevant documentation, that explains how to autogenerate a sidebar: https://docusaurus.io/docs/sidebar/autogenerated

[2022-09-01 07:47] basplijnaer opened #1333 "Include "TheToolsWeUse" repo"

[2022-09-01 07:51] basplijnaer commented on #1326
In "TheToolsWeUse" repo:

- [tools-used-in-the-ampersand-project.md](https://github.com/AmpersandTarski/TheToolsWeUse/blob/development/tools-used-in-the-ampersand-project.md): HTML table converted to MarkDown.
- [development-using-vs-code.md](https://github.com/AmpersandTarski/TheToolsWeUse/blob/development/group-1/development-using-vs-code.md): Image link fixed.

[2022-09-01 08:54] #1333 closed

[2022-09-01 08:56] basplijnaer opened #1334 "Include "RAP" repo"

[2022-09-01 12:50] basplijnaer opened #1336 "Fix broken links"
### Problem
Building the Docusaurus webpage currently gives the following warning:
[code]
This concerns the following file: [patterns.md](https://github.com/AmpersandTarski/Ampersand/blob/development/docs/the-language-ampersand/patterns.md)
### Tasks

Either:
- [ ] Remove the broken links
or
- [ ] Redirect the the broken links to an existing page

After the links have been fixed:
- [ ] Change the

[2022-09-01 14:22] hanjoosten commented on #1307
Since the creation of this issue I found that introducing namespaces can be split up in several phases.

1) Work 'under the hood'. This can be seen as work in the internals of the codebase, replacing the use of Text for all kind of names with a specific datatype. This will enable the separation in namespaces for the definitions from the user's script, [FormalAmpersand definitions](https://github.c

[2022-09-01 14:44] basplijnaer opened #1337 "Hide or remove unnecessary files"
### Problem
Ampersand/docs contains several that are not shown by [GitBook](https://ampersandtarski.gitbook.io/documentation/) but do appear on [Docusaurus](https://ampersandtarski.github.io/DocuGen/).

Some examples are:

- https://ampersandtarski.github.io/DocuGen/docs/Ampersand/example-client
- https://ampersandtarski.github.io/DocuGen/docs/Ampersand/example-login
- https://ampersandtarski.gith

[2022-09-01 14:52] basplijnaer commented on #1315
The [docs](https://github.com/AmpersandTarski/Ampersand/tree/development/docs) folder on the `development` branch of the [Ampersand](https://github.com/AmpersandTarski/Ampersand) repo currently holds the contents of the [documantation](https://github.com/AmpersandTarski/documentation) repo to make sure that all markdown files compile correctly. The applied changes can be found [here](https://githu

[2022-09-02 09:06] stefjoosten commented on #1324
Are both alternatives 100% Free Open Source Software?

[2022-09-02 09:10] stefjoosten commented on #1320
For now: Everything in gitbook "Documentation" goes to Ampersand.
Everything in gitbook "The tools we use" goes to Ampersand.
Everything in Prototype (just a few pages, I have heard) stays in Prototype. (Ask @Michiel-s about this).

[2022-09-06 20:22] Michiel-s commented on #1307
## Proposal for namespace syntax

**Inspired/copied from XML and RDF specifications (specifically turtle language)**

The `name` is to replace what we now have in place to name stuff, like `CONCEPT name`, `RELATION name`, etc.

[code]
Copy paste to https://www.bottlecaps.de/rr/ui to view railroad diagram

[2022-09-22 11:37] NiekNieuwenhuisen opened #1354 "Add support for formulas in Docusaurus"
In some pages in the ampersand documentation we have formulas. Currently, they are not renderd well. There is a plugin in docusaurus to do that. That plugin should be installed/enabled.

[2022-10-04 11:11] #1336 closed

[2022-10-04 12:34] #1354 closed

[2022-10-06 14:01] basplijnaer opened #1356 "test issue"
- [ ] test for child issue

[2022-10-20 09:24] basplijnaer opened #1357 "Development branch disappeared"
# What happened
The deployment of Docusaurus failed because the docker could not access the Ampersand documentation on the development branch:

` => ERROR https://github.com/AmpersandTarski/Ampersand/archive/refs/heads/development.zip                                                              0.9s `

# What I expected
`Container ampersandtarskigithubio-docusaurus-1  Started`

# Version of ampers

[2022-10-20 13:14] basplijnaer opened #1358 "Create new repo"

[2022-10-20 13:30] Michiel-s commented on #1357
Sorry my bad. I've just restored the branch.

[2022-10-20 13:30] #1357 closed

[2022-10-24 06:43] hanjoosten opened #1359 "Devcontainer doesn't build"
For those of us that use the .devcontainer to build their vscode environment to Haskell along, here is a headsup. The extension ms-vscode-remote.remote-containers is required to build the environmen. However, since the introduction of version 255.2 of that plugin, some change has broken the build.
A workaround is to explicitly set the version of that plugin back to version 251.0, which is the late

[2022-11-04 15:02] hanjoosten opened #1363 "Expression is obsolete"
In the theory, the term `term` is used where we are used to use the term `expression`. @stefjoosten has changed all occurences in the documentation, but in the Haskell code this still has to be done. When this is done at the wrong time, this can cause major merge conflicts. Therefor, we have to do this only when there are no large code changes in the pipeline. At current, the Namespaces change is

[2022-11-06 05:22] stefjoosten opened #1364 "Documentation does not compile locally: Unfinished work in Documentation project?"
# What happened
I tried to generate documentation locally, so I could do some work in organizing this stuff.
However, the documentation failed to generate.

# What I expected
I expected to generate a local Docusaurus website, so I could do some work on documentation

# Version of Ampersand that was used
I was using version 4.7.1. in the branch main in commit AmpersandTarski/AmpersandTarski.github.

[2022-11-06 05:55] stefjoosten commented on #1364
# Analysis
I inspected the git repo `AmpersandTarski.github.io` and this is what I saw:
<img width="1524" alt="afbeelding" src="https://user-images.githubusercontent.com/275768/200156288-dcf4e0c5-c701-4469-bbe0-74947e48bbdc.png">

So obviously, I switched to branch `feature/drafts` and ran `docker compose up -d` again.
Now, lo and behold, a Docusaurus site appeared on localhost:
<img width="1255"

[2022-11-06 06:21] stefjoosten commented on #1356
This issue is not self-contained. Please remove this issue or rephrase and elaborate.
(Whenever you make an issue, make sure that someone can pick it up after it has been stale for three years...)

[2022-11-06 06:30] stefjoosten commented on #1337
This issue raises questions. What is the problem with having these redundant files? How does this affect the user? Or the maintainability? Please explain in the first comment (by editing the first comment instead of adding new comments).

[2022-11-06 06:56] hanjoosten commented on #1364
I had a look, I guess this commit it the culprit: https://github.com/AmpersandTarski/AmpersandTarski.github.io/commit/3afea042965aa20d69a3de76168468b840445104

[2022-11-06 07:31] stefjoosten commented on #1364
Indeed, my own commit has caused this bug. Mea Culpa!

I have reversed this commit and pushed it straight into the main branch of `AmpersandTarski.github.io`.

[2022-11-06 07:33] #1364 closed

[2022-11-19 14:34] hanjoosten opened #1367 "Enable warnings at the Parser level"
We still have an old version of the VIEW statement in the current syntax. In order to get rid of this in the future, it would be nice to be able to warn people if they still use it. This requires the ability to add warnings to the Parser State.
The Parser State currently only contains the current position of the parser. If that would be extended with a list of warnings, that would suffice to imple

[2022-11-20 19:40] hanjoosten commented on #1137
In PR #1252 A change was made to the code that broke this issue.

The intent is that ONLY when using `ampersand data-analysis` with an .xlsx file, the relations are added implicitly.
However, since this change, ANY command that uses an .xlsx file will add the relations implicitly. This is wrong.

The P_Context that is created inside `xlsx.hs` should take into account whether or not the `data-analy

[2022-11-24 09:11] hanjoosten opened #1369 "Make separate build for weeder and hlint."
Currently, the check that weeder (checking for dead code)  and hlint (source code suggestions) do, are in the same build as the build and test ampersand. This makes the build time longer than necessary. The idea is to split the build file, so these checks can be done separate.

[2022-11-29 14:12] Sharvin1 opened #1372 "Test Scenario: Click concept item in Atlaspage"
Purpose: The following scenario tests whether an atlas can be generated and used within RAP.
This test is intended to run automatically at every deployment of RAP.

1. Go to home
2. Login
3. Go to myscripts
4. Add correct script
5. Compile script
6. Go to Atlas
7. Click on Student, Course or Module