[2016-12-05 12:29] Michiel-s commented on #582
The delpair variant of this rule, results in +/- 36.000 lines of sql. That's the real problem.

[2016-12-05 12:33] sjcjoosten commented on #579
So this issue is about getting big (>1MB) to the prototype generator, resulting in code that cannot be executed under the default SQL settings: do we want to allow this, do we want to issue a warning, or do we want to identify the problematic rule and tell the user to simplify his rule (assuming the rule is more involved than the example here)?

[2016-12-05 12:47] RieksJ opened #583 "Mark Required Fields in INTERFACEs (e.g. red circumference or such)"
Please mark required fields in INTERFACEs as such.

[2016-12-05 12:49] RieksJ opened #584 "Please add 'Button'-view for [PROP]-type relations in INTERFACEs"
Please also add an (HTML) template so that I can make VIEWs where another property is used to hide the button.

[2016-12-05 13:12] RieksJ commented on #579
I can imagine a new option (say: --sql-maxquirysize=xxx, where xxx is either the number of bytes) that specifies the max. size of sql queries.

An error is generated as well as a pointer to the problematic rule when

- in case the option is specified, the size of the generated query exceeds xxx.
- in case the option is not specified, the size of the generated query exceeds the default set for SQL

[2016-12-05 13:19] sjcjoosten commented on #579
I agree. I propose to also generate the required size:

[code]

Feel free to edit this comment in order to improve the desired message.

[2016-12-05 13:34] hanjoosten commented on #579
This seems a wrong way. The 'size' of a query? Do you mean the length of the string that expresses the query? Is that prettyprinted? ( lol) What if the query has relationnames that are lengthy. Or not? This is VERY subjective. Let's not waste time on this. If we signal such cases, let's diagnose the reason for being so large, and solve that.

[2016-12-05 13:58] sjcjoosten commented on #579
Yes, I was referring to the size of the prettyprinted query. I agree that this does not seem as important as fixing the underlying cause, #582
A major advantage of the fix proposed here, is that the cases that are so large for some reason become 'fails' when testing them. That is, issues similar to #582 become more visible in our current test-setup.

[2016-12-05 14:10] hanjoosten commented on #579
That should be pretty straitforward. you can choose between prettyprinted-with-comments or non-prettyprinted-without-comments. If the length of either one of them is greater than someValue, then fail, dumping whatever info you like. Not nice, but effective for this purpose.

[2016-12-05 16:05] WolframKahl commented on #582
I just double-checked in `Core/AbstractSyntaxTree.hs`: Ampersand is indeed missing the following expression constructors:
[code]
I assume that `[PROP] ` means subidentity/coreflexive/monotype   —  is `[PROP] ` actually used to do single-column representations? Since `dom` and `ran` produce subidentities, any optimisation for  `[PROP] ` would reward uses of `dom` and `ran`...
(If `[PROP] ` does mea

[2016-12-08 15:28] RieksJ opened #586 "!fatal without a call site"
Consider the following script
[code]
Compile it as follows:
[code]
The result is:
[code]
Obviously, when the `UNI` constraint is removed, the fatal disappears.

I have registered this behaviour as @stefjoosten has requested me (quite some time ago) to create a ticket for every `!fatal` error, as they should not appear.

[2016-12-09 07:42] RieksJ commented on #577
@WolframKahl I have checked in a new version of EURent, so that you can see if you can get it to compile and run. It's not all done, but I do appreciate any (preliminary) feedback that you may have, e.g. wishes you have for showing the stuff off as you would like to do it.

[2016-12-10 13:42] #565 closed

[2016-12-10 16:05] hanjoosten opened #587 "Make specification of language optional."
Currently, in any script, it is mandatory to specify the language you use. Why not make it optional?

`CONTEXT Foo IN ENGLISH`

we can just type `CONTEXT Foo`

### Consequences
Although this reduces specification, it could look odd when you are not aware of multiple languages. Therefor, if no language is specified, the language used will match the language specified in the switches, if there is on

[2016-12-10 16:27] #587 closed

[2016-12-10 16:31] hanjoosten opened #588 "Syntax change for markup"
For purposes, we use `{+` and `-}`  as opening and closing of the markup text. Years ago, this has been implemented that way because by then we didn't really understand the lexer, and this was easier to implement.
This needs to be fixed, so we can define purposes with matching open and close tags: `{+` and `+}`. For backwards compatibility, we will (temporarily?) allow `{+` and `-}`.

[2016-12-10 17:11] Michiel-s commented on #587
Nice!

[2016-12-11 10:20] hanjoosten opened #589 "PURPOSE / MEANING / MESSAGE syntax should be alike"
## Current situation

We use markup for PURPOSE, MEANING and MESSAGE:

![image](https://cloud.githubusercontent.com/assets/1159672/21079344/0524f15c-bf90-11e6-8b74-98a17cece7fd.png)

![image](https://cloud.githubusercontent.com/assets/1159672/21079323/3c8b5fb0-bf8f-11e6-84b0-096e98aa376d.png)

![image](https://cloud.githubusercontent.com/assets/1159672/21079391/4163caf2-bf91-11e6-98d5-c162194985de

[2016-12-11 14:05] hanjoosten commented on #31
This should be solved in the recent rework on the func. spec. document. Please reopen if you encounter this bug again.

[2016-12-11 14:05] #31 closed

[2016-12-11 18:20] #588 closed

[2016-12-12 06:54] RieksJ commented on #33
I still have not heard any other argument other than that the beheersrlast is too big, without any specification stating what the beheerslast constitutes of. I find that quite frustrating as I have written preparsers in Forth, which have not provided any beheerslast other than defining/creating it, and it was surprisingly simple.
Note that I'm talking here about **ADL-agnostic** and **preparser**s

[2016-12-12 19:34] WolframKahl commented on #577
@RieksJ , thank you very much! I will explore this hopefully soon!

[2016-12-14 07:07] stefjoosten commented on #142
For some reason yet unknown, this issue has re-occured in Travis' job #2181.1.
Check it out on https://travis-ci.org/AmpersandTarski/Ampersand/jobs/183825390

[2016-12-14 08:12] RieksJ commented on #326
Working with the EURent example becomes a lot easier when this bug is fixed

[2016-12-15 07:29] stefjoosten commented on #142
Fixed

[2016-12-15 07:29] #142 closed

[2016-12-15 10:33] RieksJ opened #591 "Specific kinds of VIEW do not work in prototypes"
The idea of the following script is that atoms in `Amount` are rendered on the screen as `{atom} (Euro)`. Similarly, atoms in `NumberOfDays` are to be rendered as `{atom} (Days)`. This is done by defining relevant `VIEW`s:
[code]
However, running this script produces the following screen. As you can see, the atoms are rendered, but the subsequent texts are not:

![image](https://cloud.githubuserco

[2016-12-15 11:19] hanjoosten commented on #591
The view info is available in the json file. Therefor, I don't see the reason why this would be in the prototype generator.

[2016-12-15 12:34] RieksJ commented on #589
Would `Ref2Obj`s, as used in `PURPOSE`s, still be supported?

- if so, I don't mind the change as proposed.
- if not, I propose `Markup ::= Ref2Obj? LanguageRef? TextMarkup? ('REF' StringListSemi)? (String | Expl)`

[2016-12-15 12:38] hanjoosten commented on #589
Yes. That will remain specific for PURPOSE ofcours. Ref2Obj has nothing to do with markup.

[2016-12-15 13:34] RieksJ commented on #578
First, I note that this is not just about the NavBar, but it may also apply to other menus, e.g. as in the figure below:
![image](https://cloud.githubusercontent.com/assets/8522589/21224786/1af4eb2c-c2ce-11e6-9549-86e0f5a318a6.png)

Since NavBar items can be menu's, too (because of `RELATION subItemOf[MenuItem*MenuItem]`), this would require the constraint `I /\ subItemOf~;subItemOf |- -(url;V \/

[2016-12-17 11:52] Michiel-s commented on #591
@hanjoosten I agree.

@RieksJ and I diagnosed the issue. The problem lies with the fact that view data of scalar types, specified in view statement between brackets (`number : I` and `unit : TXT " (Euro/Day)"` in example below), cannot be communicated via the json api interface. This only works for non-scalar, i.e. concepts with OBJECT as technical type (= default).

`VIEW "EuroPerDay": Amount { "

[2016-12-17 11:53] Michiel-s commented on #584
@RieksJ, we've implemented this for the EURent application. Can you share our solution here, so I can use that in the current branch I'm working on?

[2016-12-17 12:28] RieksJ commented on #584
Here you go:
[code]

[2016-12-17 12:31] RieksJ commented on #591
That the specified VIEW cannot work does not mean that there is no bug.
It should either work, or produce a (preferably compile time) error.

[2016-12-18 07:47] stefjoosten opened #592 "EURent does not compile with Ampersand-v3.7.3 [development:c2fabc7]"
I have tried installing ampersand-models\ZwolleFrontEnd\EURent in commit @285edb675e04a41edffdcb638163aee03e628bfd with Ampersand-v3.7.3 [development:c2fabc7]. That is the version with PURPOSE++. However, EURent no longer compiles.

![image](https://cloud.githubusercontent.com/assets/275768/21292238/e59b1712-c4fd-11e6-8da7-cd7f1fb152df.png)

@hanjoosten: Would it be an idea to let compilation of E

[2016-12-18 09:29] hanjoosten commented on #592
@stefjoosten : If you create links to a specific branch (as you did above), please make sure it works!

[2016-12-18 13:35] RieksJ commented on #592
fixed in commit 92615f1

[2016-12-18 14:30] MvanRooijen opened #593 "Issue on installing RAP3"
In the manual the following command is given to install RAP3:
`ampersand.exe --meta-tables --add-semantic-metamodel --verbose  -p"D:\xampp\htdocs\RAP3\" RAP3.adl`

I've changed this so the path to xampp matches the one on my system.
However, I get the error;
ampersand.exe: unrecognized option `--add-semantic-metamodel'

I am guessing I've done something wrong but what can I do to fix this?
My curr

[2016-12-18 15:07] MvanRooijen opened #594 "Comment issues with {- and {+ on example file ProjectAdministration.adl"
I've downloaded the example files ProjectAdministration.adl and ProjectAdministration.xlsx
 when building the file in ampersand I get the following error:

`Lexer error at line 187:11, file ProjectAdministration.adl
  Unterminated PURPOSE section`

How can I fix this? I am still learning ampersand (Rule Based Design at Open University) and would like some files to get some practice in.

[2016-12-18 16:15] WolframKahl commented on #592
I think this is a very good idea.

A related setup to possibly keep in mind with this is the AFP (Archive of Formal Proofs) of the Isabelle theorem prover: Once a development has been accepted into the AFP (which tries to be something of a journal at the same time as a repository of working theory developments), the duty to keep them working with changes in Isabelle is on those who make those chan

[2016-12-18 19:02] RieksJ commented on #594
@MvanRooijen: changes in the most recent Ampersand version disallow the original syntax of the `PURPOSE` statement. `ProjectAdministration` had already partly been changed to conform to the new syntax, which currently is
[code]
where it used to be
[code]
You may need to upgrade to the most recent (development)version of Ampersand to get things right again.

@hanjoosten Perhaps it is a good idea to

[2016-12-18 21:23] dartheide commented on #594
That is confusing, version 373 (25-11-2016) for windows accept old syntax and 373 on debian build 18-12-2016 accept only the new syntax.

[2016-12-18 22:04] dartheide opened #595 "No declarations match the relation"
I have some problems building RAP3.
I’m using ampersand 373 build  on debian (18-12-2017).
I changed the  SeqOntology.adl, Scripts.adl, Scripts.docadl -} to +}

Now its stops on Analyse.ifc.

Error at symbol () in file Analyse.ifc at line 26 : 32
  No declarations match the relation: genspc[Gen*Concept]
==============================
Error at symbol () in file Analyse.ifc at line 26 : 53
  No decl

[2016-12-19 06:56] hanjoosten commented on #594
Yes it is. Sorry for that. We made the decision to not have backwards compatibility here, because the -} would break block comments, which is very annoying. This in combination with the still relatively small user group we have, we thought this was acceptable. Another advantage is that we have all such problems in a small period of time.

[2016-12-19 09:53] MvanRooijen commented on #594
Ampersand-v3.7.3 [HEAD:d9e3dd3], build time: 25-Nov-16 16:02:42 Coordinated Universal Time gives the same error.

Please advise on which version to install so I can have a working example.
Either that or a more in detail explanation on how to fix the example to make it work in the current version

[2016-12-19 09:56] MvanRooijen commented on #594
Rien, thank you for the updated example, will give it a go.
Are there many such differences between the "old" and "new" syntax, and can I find some more details on those differences?

Note I am nowhere near a programmer, but we are required to deliver a working non error generating working Ampersand script to pass the course

[2016-12-19 10:00] RieksJ commented on #594
The differences are slight, and easy to accommodate.
Basically, the new syntax has nicely paired brackets, which the old syntax did not have.

So, if you have a `PURPOSE` (or something else that was already followed by a `{+` token), then this `{+` token used to have a corresponding `-}`. This corresponding `-}` should now be replaced with a `+}`, so every `{+` is then matched with a `+}`.

Of cou

[2016-12-19 10:07] MvanRooijen commented on #594
Unfortunately the issue is not resolved. Might have something to do with the version I am running (I upgraded it to the Ampersand-v3.7.3 [HEAD:d9e3dd3], build time: 25-Nov-16 16:02:42 Coordinated Universal Time however.

In which version did you test the improved ProjectAdministration.adl?
I'll download that instead.

I am very curious to see what the software does when working (the files I checke

[2016-12-19 10:20] hanjoosten commented on #594
Next friday, the release of ampersand v3.8.0 is sceduled. The new `{+` ... `+}` syntax will be in it. If you cannot wait, you could build the developement branch for yourself. Installation instructions are in the documentation.

[2016-12-19 10:43] RieksJ commented on #594
If you can't wait, here's a (temporarily working) link: [ampersand.exe](https://dl.dropboxusercontent.com/u/39690625/ampersand.exe) (version Ampersand-v3.7.3 [development-c2fabc7])

[2016-12-19 13:39] Michiel-s opened #596 "Generate OpenAPI specification"
The Ampersand prototypes implement an API using the INTERFACE definitions as specified in the scripts. The frontend application (html/js) calls this API in order to get and manipulate data. In order to document the generated API and thereby make it reusable by other and for other applications (besides the generated frontend), we need to make the API explicit. A good way of specifying APIs is using

[2016-12-19 18:05] hanjoosten commented on #596
That's great! @jcnauta, Welcome to the project! If you need access to the ampersand repo, or if you need any other help getting up and running, let me know. I'm glad to help out.

[2016-12-19 19:17] dartheide commented on #594
A bit of topic does the new windows version also accept the --add-semantic-metamodel switch?

[2016-12-20 06:16] RieksJ commented on #594
The windows version is compiled from the same sources as the other versions (e.g. Linux). Only working with the windows version myself, I do expect all these versions to have the same functionality, including switches. Bugs, e.g. w.r.t. switches would therefore appear in Ampersand regardless of the OS it is compiled for.

[2016-12-20 06:33] hanjoosten commented on #594
I have released version 3.8.0 today. This works with the projectadministration in the master branch of ampersand-models.

[2016-12-20 06:33] #594 closed

[2016-12-20 06:33] MvanRooijen commented on #593
with the new (al beit developement version of Ampersand 3.7.3) I get the following errors:

`C:\xamp\htdocs\RAP3>ampersand.exe --meta-tables --add-semantic-metamodel --verbose RAP3.adl
Ampersand-v3.7.3 [development:c2fabc7], build time: 18-Dec-16 08:59:45 W. Europe Standard Time
Reading file AST.adl (from within ampersand.exe)
Reading file Concepts.adl (from within ampersand.exe)
Reading file Cont

[2016-12-20 06:33] hanjoosten commented on #594
I've closed this issue because it should be solved with the new release. If you still have trouble, don't hesitate to reopen it.

[2016-12-20 06:36] hanjoosten commented on #593
just get the new stuff I released this morning.

[2016-12-20 06:44] hanjoosten commented on #595
This issue with RAP3 was because of a change in FormalAmpersand, that @stefjoosten made last week. I've made sure that those changes are not in ampersand v 3.8.0, which I released today. You should be able to build RAP3 (in the master branch of ampersand-models) with ampersand v 3.8.0

Also please note that RAP3 is for a specific purpose at OU. If it works for you, that's great, but it is still in

[2016-12-20 06:44] #595 closed

[2016-12-20 06:45] MvanRooijen commented on #593
Getting a lot further on installing the RAP 3, still some issues though.

I've attached the error in a text file for better readability
[error rap3 install.txt](https://github.com/AmpersandTarski/Ampersand/files/662967/error.rap3.install.txt)

[2016-12-20 07:05] MvanRooijen commented on #593
Newest release fixes all! Thanks, will close the issue

[2016-12-20 07:05] #593 closed

[2016-12-20 07:10] hanjoosten commented on #593
You are still using ampersand v 3.7.x . Please use v 3.8.0, that was released today.

[2016-12-20 07:11] MvanRooijen commented on #593
newest version solved the issue. thanks!

[2016-12-20 12:32] Michiel-s opened #598 "Bug in default database name"
When generating a prototype the filename (without extension) of the entry script is used as database name. This can lead to a database error during installation when using names that are not allowed as database name.

This issue request to change this default behavior by using the name of the CONTEXT of the entry script instead, prefixed with 'ampersand_'

[2016-12-20 13:19] hanjoosten commented on #598
Whontfix:

There are multiple ways you can influence the name of the database: You can use the --dbName switch. Using THE context name isn't a good solution too, because we will be able to define scripts with multiple contexts in the (near?) future. Therefor, the name of the script makes a less bad candidte as databasename than the contextname. If you don't like it, you can use the switch. And you

[2016-12-21 05:21] RieksJ commented on #598
While the proposed solution is obviously debatable, this issue itself is not.

In order to avoid that some of us will have to deal with issues of (predominantly novice) users that would not guess that filenames are used as database names, it would be nice to at least make sure that the generated database name is actually a valid one.

[2016-12-21 06:49] hanjoosten commented on #598
good point. So whatever the dbName would be, we need to check that it matches the [restrictions MySQL has for database names](http://dev.mysql.com/doc/refman/5.7/en/identifiers.html).

[2016-12-22 09:35] RieksJ opened #599 "DUPLICATE KEY UPDATE may cause `InsPair: Oops.. something went wrong`-error"
This ticket may be related to #486 and/or #508.

To reproduce this error,

- checkout the XPath application from ampersand-models, commit [3fb9616] (22 dec 2016);
- compile `XPaths.adl`;
- uncomment the debugging configuration flag in `localSettings.php`
- install the database with the default population
- search in the debug logfile for `DUPLICATE KEY UPDATE` (or `Oops`).

[2016-12-22 12:19] jcnauta commented on #596
Hi @hanjoosten, thanks for welcoming me! If I need help I will get back to you.

[2016-12-23 11:03] Michiel-s opened #600 "Autoload config yaml file with same filename as entry script"
This issue request to autoload a config yaml file (if exists in same folder) with the same filename as the entry script.

If the yaml file exists, the following 2 commands should have the same effect:
`ampersand.exe script.adl`
`ampersand.exe script.adl --config=script.yaml`

The check if the script.yaml file exists should only result in an error when it is explicitly mentioned on the command line

[2016-12-27 06:52] hanjoosten commented on #600
This has been fixed. The implementation is now that there can only be a single configuration file. Iff a configuration file is requested by use of the --config switch, that file is taken. An error will follow if that file doesn't exist, or if it is not a proper yaml configuration file. If no --config swich is given, and there exists a .yaml file with the same name as the .adl file that is being co

[2016-12-27 06:59] #600 closed

[2016-12-27 10:59] Michiel-s commented on #600
Many many thanks. This really saves me a lot of work and having different batch files for different processes.

[2016-12-28 20:25] stefjoosten opened #602 "Remove ECA-rule functionality"
The ECA-rule portion in the F-structure is not being used. If we want to revive that, it needs a complete re-thinking. So, the Haskell code that does ECA-rules in the current version of Ampersand can be considered code pollution and can be removed.

[2016-12-28 20:30] stefjoosten opened #603 "Clear out one normalizer"
Currently we have two normalizers. The old normalizer has a fixed set of rewrite rules, which are traversed in one direction only. The new normalizer has a variable set of rewrite rules and a cost function to decide how to use the rewrite rules. Both normalizers terminate.

The problem is that these normalizers pollute the code. Only one normalizer should suffice. Currently we are doing an experim

[2016-12-28 20:33] stefjoosten opened #604 "Neo4J backend"
Currently, Ampersand generates applications for relational databases (after all, it is relation algebra). However, it may also be interpreted as a language for graph databases. This ticket is meant to trigger the development of a Neo4J backend, so that Ampersand can run on a graph database as well.

[2016-12-28 21:03] stefjoosten opened #605 "Module syntax"
Currently, all files specify a context by means of keywords `CONTEXT` and `ENDCONTEXT`.

We will introduce a module mechamism, drawn from Haskell's module mechanism. A module corresponds to one file in the file system. Every module is one name space. In a module there can be anything that can be in the current `CONTEXT`, such as interfaces, views, rules, relations, concepts, populations etc.

`PAT

[2016-12-29 07:14] stefjoosten commented on #605
# Way of Working
First we will make the concept of `Module` and express the name-space mechanism in Ampersand itself. This is meant for inclusion in FormalAmpersand. Once that is satisfactory, we can do the same in Haskell in the code of the Ampersand compiler.

[2016-12-29 07:24] stefjoosten opened #606 "Renaming relations and concepts feature request"
# Problem description
When re-using things from other modules (See #605), renaming can be necessary. Reasons for this may be that the module in which re-used things are being used uses different conventions for naming, or that the name of a thing is already used. Also, in order to enable others to re-use the module, it is desirable to leave the imported module unchanged.

[2016-12-29 07:25] stefjoosten commented on #606
# Way of Working
First we will make the naming mechanism visible in Ampersand. This is meant for inclusion in FormalAmpersand. Once that is satisfactory, we can do the same in Haskell in the code of the Ampersand compiler.

[2016-12-29 08:35] stefjoosten opened #607 "Make SQL-generator universal"
# Problem description
In Travis, https://travis-ci.org/AmpersandTarski/Ampersand/jobs/187301035, you can see generation of SQL-code with the new normalizer switched on. From the bunch of errors produced, it is obvious that the Ampersand needs the (old) normalizer to produce correct code.

The SQL-generator apparently makes assumptions, which are fulfilled by the old normalizer. In order to make Am

[2016-12-29 09:57] sjcjoosten commented on #607
After turning the normalizer off all-together, there seems to be no problem anymore. This suggests that the problem is not in the SQL generator. Feel free to reopen if there is a better diagnosis.

[2016-12-29 09:57] #607 closed

[2016-12-29 18:51] #602 closed

[2016-12-30 07:23] hanjoosten opened #610 "Beautiful diagrams in graphical output"
(This issue was split off from AmpersandTarski/RAP#7 , where @stefjoosten wrote: )

Conceptual diagrams in Ampersand are UGLY. We need some proper rethinking of the diagramming concept, so that users will start liking the (generated) diagrams. We want the (generated) text in a functional design to be illustrated with beautiful, useful, and consistent diagrams. And we need it built-in in the Ampers

[2016-12-31 16:52] hanjoosten commented on #603
When I tried to get rid of the new normalizer, it turned out that it is still used. It is used to produce proofs.

[2016-12-31 16:52] #603 closed

[2017-01-02 18:28] hanjoosten commented on #486
@Michiel-s We didn't discuss this issue via Skype, but I looked into it myself and found an obvious cause. As far as I can see, this should solve the problem. I've made a pull request. Could you verify that the problem is solved? (and then pull the branch?)

[2017-01-02 18:48] hanjoosten commented on #508
@stefjoosten I have fixed the related bug of #486. I have made a pull request of that fix. However, since you still promised a reproduction path (see the original post above), could you test that this fix solves your problem?

[2017-01-02 22:22] Michiel-s commented on #486
I'll look at this PR Thursday morning

[2017-01-03 06:47] hanjoosten commented on #599
Issue #486 has been resolved. We now get another error message. The database can be created when the rule "Create XPaths for non-root Properties" is disabled. Also the interfaces then work (not the rule, of course).

[2017-01-03 06:52] RieksJ commented on #486
This issue was referenced by @hanjoosten in commit AmpersandTarski/ampersand-models@f5f266d (related to ticket #599)

[2017-01-04 15:04] sjcjoosten opened #612 "Composer fails to install"
Your configuration does not allow connections to http://87.98.253.214/p/provider-2016%241cdf31e7abeec6834b60be71eb0c3c3fdc956b3a7bcff7f2764a2c14e1342687.json. See https://getcomposer.org/doc/06-config.md#secure-http for details.

Here's the full log:
[code]

Needless to say, I did solution 1 and 2, and was unable to perform solution 3:

[code]

[2017-01-06 15:08] Michiel-s commented on #508
PR is merged. Issue is solved. @stefjoosten please reopen this issue if your case is not solved.

[2017-01-06 15:08] #508 closed

[2017-01-06 15:10] Michiel-s commented on #486
I've merged PR #611. Priority can be lowered now, but there is still something not consistent yet regarding the distinct statements. I would like to have a online work session with @hanjoosten to look into this later. For now please leave this issue open.

[2017-01-06 16:45] Michiel-s commented on #599
Problem has nothing to do with the distinct statement.

The problem lies in the generated relation definition for xpIPO[XPath*XPath] in relations.json. The combination of attributes `tableOf`, `srcCol` and `tgtCol` does not make sense.

This issue is for @hanjoosten and me to make stricter arrangements according to the database table column assignments.

[code]

debug info: query that is being exe

[2017-01-14 16:18] stefjoosten commented on #604
Ik bij de OU een [projectaanvraag](https://github.com/AmpersandTarski/Ampersand/files/706042/T61327_Projectaanvraag_Neo4J.docx) voor dit issue ingediend.

[2017-01-14 16:43] stefjoosten opened #613 "Problems with generalizations anticipated in the backend."
I have been trying to find out how the relation `pop[Atom*Class]` from FormalAmpersand is represented in the backend.

The object model of the backend defines class `Atom` in module Atom.php. The only attribute that relates to `Concept` is  `$concept`. The comment of this attribute says "Specifies the concept of which this atom is an instance". That statement is not valid, because there is no such

[2017-01-14 19:09] hanjoosten commented on #613
I don't think there is a problem with the current implementation. Any atom is stored in what we call the concepttable. However, all concepts that are related by means of generalisation/specification relations, are stored in a single concepttable. So an atom is implemented as a single row in that table.
Of course, it could well be that I don't get your point. lets talk about this by phone somewhere

[2017-01-15 09:52] stefjoosten commented on #613
How is the relation pop[Atom*Class] from FormalAmpersand represented in the backend?

[2017-01-15 10:20] stefjoosten commented on #613
I think this might be it: let `$a` be an `Atom`, then all concepts in `pop[Atom*Class]` are computed by:
[code]

[2017-01-15 14:26] #613 closed

[2017-01-15 17:53] Michiel-s commented on #613
$a->concept->getGeneralizations()

That's the function indeed to get a lists of all concepts the atom is an instance. For practical purposes, the atom in instantiated in the backend by its smallest concept. Then you have all the information you need.

Issue can indeed be closed. I don't see any problem.

[2017-01-16 11:54] stefjoosten opened #615 "Protection against SQL-injection"
Currently,

[2017-01-16 13:38] jpwijbenga opened #616 "Represent type Object is not recognized."
While doing the example, I tried to explicitly state that two concepts should be represented by type 'object', but this seems not to be allowed. This seems inconsistent, because Object is the default type, right? Is this desired behavior?

Example fragment:
[code]

[2017-01-16 13:47] hanjoosten commented on #616
Any concept without REPRESENT will be Object. There is no need to specify that, and there is no syntax for it as well. This is on purpose.

NB: Note that all concepts that are related to each other in CLASSIFY statements must all have the same representation. Concepts without a REPRESENT statement will automatically have the representation of the other related concepts.

[2017-01-16 15:23] hanjoosten commented on #616
@jpwijbenga : If this didn't answer your question, please reopen the issue.

[2017-01-16 16:35] Michiel-s commented on #616
@hanjoosten I don't agree. Something that is true should be prohibited to be stated explicitly. According to formal ampersand every concept has a represent type. OBJECT is the default. Why shouldn't you be able to specify this with `REPRESENT Concept TYPE OBJECT`.

Even better, it prevents undesired affects. For example:
[code]
In the example above the concept Person is automatically of type ALPHA

[2017-01-16 22:14] hanjoosten commented on #599
The relation xpIPO is INJ, hence it is stored flipped. Therefor, if (XPath_1,XPath_2) is inserted into the relation xpIPO, the sql query should be:

[code]
In the information in the Haskell structure, where the relation is stored, it says that the relation is stored flipped:

[code]

This is currently not taken into account in the json file.
@Michiel-s , What would you like to be generated in the

[2017-01-17 07:16] RieksJ opened #617 "Duplicate, identical definitions in FSPEC"
When generating an fspec for the TText stuff (which is in the Ampersand Models repo), I find that the following text gets generated:

![image](https://cloud.githubusercontent.com/assets/8522589/22010912/6c6935a8-dc8c-11e6-9d7b-bf96209cae2b.png)

I consider this a bug, as I expect the fspec-generator to distinguish between two definitions of a single term that have the same description and those th

[2017-01-17 12:56] Michiel-s commented on #599
I'll come with a proposal.

[2017-01-17 13:07] hanjoosten commented on #617
This is a feature: When something (in this case a Concept) is defined n times, all those n definitions are shown, regardless of the properties of that definition, like the text.

[2017-01-18 07:21] hanjoosten commented on #598
This also goes for the names of tables and columns. Currently the script in [ampersand/testing/Sentinel/Tests/ShouldSucceed/Ticket580.adl](https://github.com/AmpersandTarski/Ampersand/blob/development/testing/Sentinel/Tests/ShouldSucceed/Ticket580.adl) fails because of a naming issue (fancy character in table name):

[code]

[2017-01-18 12:11] RieksJ commented on #615
Onderstaand plaatje komt van [https://xkcd.com/327/](https://xkcd.com/327/):

![image](https://cloud.githubusercontent.com/assets/8522589/22063435/1d1085ee-dd7f-11e6-9260-cf1c63f681f4.png)

De zoon van die moeder heeft nu ook een [geregistreerd bedrijf](https://beta.companieshouse.gov.uk/company/10542519) waarover allerlei [opmerkingen](https://www.reddit.com/r/sysadmin/comments/5l030g/someone_jus

[2017-01-20 07:29] RieksJ opened #620 "SCRUM sessions"
@hanjoosten and I discussed the waning of our scrum sessions and what to do about it. We decided to create this ticket to

1. provide clarity w.r.t. the purpose(s) of such sessions, allowing us to decide who needs to participate and who does not, and
2. create a mechanism for scheduling such sessions such that needed participants can, and will, attend.

Here is a proposal.
1.  The **purpose for ha

[2017-01-20 12:19] RieksJ opened #621 "!fatal without a call site: Option --fpa-excel is broken"
Compiling various applications (e.g. SIAM, HelloWorld as exist in the Ampersand repo),
using Ampersand-v3.8.0 [development:3886c61], which ( built on January 9th)
with the `--fpa-excel` option gives a fatal.

Here is what I copied from my DOS box:
[code]
I have tried this with other stuff, which result in the same error (meaning that it does not depend on SIAM).

[2017-01-22 08:38] RieksJ opened #622 "Feature request for debugging `eval` commands (phpArgumentInterpreter.php)"
After a long time of debugging, I found the following message in FireBug:

![image](https://cloud.githubusercontent.com/assets/8522589/22181164/07f2507a-e086-11e6-953e-c79935526f0a.png)

Apparently, I am using a php-function that is not properly evaluated.
It would be nice if the logs were to contain some clues about what is actually happening here.

Can we have this `eval` function (in `phpArgume

[2017-01-22 08:42] RieksJ opened #623 "Robustness of Rules"
The theory of declarative rules says that the order in which rules are being evaluated should not matter.
In practice, it does.

One of the rule-evaluation ordering mechanisms is the transaction. Another might be called 'Services' (meaning that when rules that are part of a service get evaluated (randomly), rules that are not part of that service do not).

How about implementing an option in the b

[2017-01-22 12:38] Michiel-s commented on #622
Hi @RieksJ,

I understand the issue and why it took you a while to find the issue. I advise you to add 'checking the response of an API call' as one of the first steps in your debugging flow.

The point here is that parse errors (in this case due to dynamic code evaluation) cannot be handled with a user defined error handler (see: http://php.net/manual/en/function.set-error-handler.php).

Furtherm

[2017-01-22 14:34] #271 closed

[2017-01-22 15:06] hanjoosten commented on #623
What is this about? Could you give an example of what you mean? To me, this sounds rather vague.

[2017-01-22 15:21] hanjoosten commented on #621
Because of ongoing work wrt Interfaces, the FPA analisys has bitrotted quite some time ago. FPA analisys should be built up from the ground. Until that happens, --fpa-excel will be discontinued.

[2017-01-22 15:24] RieksJ commented on #622
That's good. Note however that I used the following VIOLATION:
[code]
which actually DOES call a function, namely `str_replace`, which is similar to calling the function `date()`.
So basically, I would not have to change anything, would I?

[2017-01-22 15:36] hanjoosten commented on #621
The fatal doesn't happen any more, because of the disabling of the switch.

[2017-01-22 15:36] #621 closed

[2017-01-22 16:00] hanjoosten commented on #617
I fixed this. When the text of both definitions of the same concept is equal (string compare, not intent compare ;) ), AND the references are (exactly) the same, when they exist, then the definitions are regarded as a single one. If the comparison isn't exact, they both will show in the document.

[2017-01-22 16:00] #617 closed

[2017-01-26 15:27] stefjoosten opened #624 "Merge Atoms"
I have included functionality for merging atoms in InsDelPairAtom.php. You can find the results in commit ampersand@37401f2a9fe660646b7b799b6307ed511b6254db and ampersand-models@8de1a8b254dc4812ac8356f8ce73f522827045e9. The intended semantics is that violation of a rule that checks the identity of two atoms can be fixed by the ExecEngine. It will put the union of all pairs of both atoms into one a

[2017-01-28 09:32] RieksJ opened #625 "INCLUDE path comparison does not work"
The current way in which modules can be created, is by allowing files to INCLUDE other files (on which they depend). An example is:
[code]
If files in modules depend on other files in said module, this mechanism can be used as well.
However, including stuff from different locations leads to errors such as:
[code]
Obviously, whatever it is that is defined in these 'different' files is not different

[2017-01-30 09:01] stefjoosten commented on #452
I am in touch with people at the IT-department of the Open University. I am entering details in this issue to keep track of progress on this topic.

Hubert Vogten (hubert.vogten@ou.nl) knows everything about single-sign-on in the yOUlearn application. Whenever a student is registered for a particular course, access to the corresponding application is granted automatically. That is precisely what I

[2017-01-31 07:29] RieksJ commented on #625
SIAMv3 awaits the fixing of this bug

[2017-02-01 15:53] hanjoosten commented on #625
This request does not take symbolic links into account. In general, the files in the above example do not have to be the same files at all. See [this blog post](http://neilmitchell.blogspot.nl/2015/10/filepaths-are-subtle-symlinks-are-hard.html) for details.
However, if we assume that symlinks aren't used currently, the request seems valid, so I fixed it. From now on, Ampersand does not support IN

[2017-02-01 16:01] RieksJ commented on #625
Sorry @hanjoosten, but the bug has not gone. I used `Ampersand-v3.8.1 [development:7f81b93], build time: 01-Feb-17 16:58:19` to compile this stuff again, and get the same error messages.

[2017-02-01 16:06] RieksJ commented on #625
Seems to work. Thanx

[2017-02-01 16:06] #625 closed

[2017-02-07 19:42] Michiel-s opened #627 "Bug in query execution optimization of #217"
I've discovered a bug in the fix for issue #217.

The following test script can be used to reproduce the error:
[code]

The generated query for expression `friendOf` (row 5) contains a column to get the value for `hasName` (row 6) at the same time. This should be okey, because `hasName` is univalent and can be queried in the same row. Issue #217 describes how this is implemented. However, in this

[2017-02-13 13:18] RieksJ opened #628 "DB property query performance"
### PROBLEM
In the MPTrx project, I have encountered a situation that caused the database to take indefinitely (that is: the execution needed to be terminated by hand). @Michiel-s and I think this is a time-bomb that will go off as the use of properties in our models increases.

Here is one example (from MPTrx) that would cause the problem. As you can see there are many property relations, both ex

[2017-02-15 07:43] #627 closed

[2017-02-15 13:06] hanjoosten commented on #628
This seems like a good idea, however, there is a class of expressions that is involved. In fact, a property relation `r[A*A]` denotes a subset of the set `A`. This goes for all property relations.
If a rule is built of only property relations on some concept C, we are in the domain of set theory, I guess.
Violations would always be pairs where the src and tgt are equal. In such a case it is easy t

[2017-02-21 13:42] RieksJ commented on #628
I have added the labels 'bug' and 'priority' to make clear that this issue is becoming an increasing bother to me.

[2017-02-23 15:03] stefjoosten opened #632 "Funny side effect of <COLSNL>"
I have an interface called "MijnAanvragen".
[code]
This is what it looks like:
![image](https://cloud.githubusercontent.com/assets/275768/23264121/97acbc32-f9e0-11e6-888d-62fc136f038d.png)
Now I will change the first occurrence of `COLS` to `BOX <COLSNL>`. The code has now changed into:
[code]
This is what the screen now looks like:
![image](https://cloud.githubusercontent.com/assets/275768/232642

[2017-02-26 05:56] RieksJ commented on #632
I expect the revised interfaces (branch feature/refactor_ifc) to solve this problem.

Having said that, I also expect that (on a somewhat longer run), we'll get rid of the +, the garbage tin etc. because they only provide a minimalistic way of adding Objects with an empty set of initial set of values, whereas in practice I also need to create objects from a non-empty set of values (e.g.: for accou

[2017-02-26 06:10] RieksJ opened #633 "VIEWs that act on I[C] should also act on `i :: C * C [PROP]`"
Consider the scriptlet
[code]
which works as expected, meaning that whenever `varP` or `varA` (or both) are set, the letters `P`, `A` (or both letters) are shown in the `Status` column.

Now suppose I distinguish between 'specialvars' and non-'specialvars', and only for specialvars I would like to show these letters. Here is what that would look like:
[code]
I would expect that it would work - aft

[2017-02-26 15:53] RieksJ opened #634 "Enhancement request for ExecEngine violations logging"
When debugging complex scripts, the ExecEngine log can have lines such as

![image](https://cloud.githubusercontent.com/assets/8522589/23341203/47321102-fc43-11e6-8460-400b31475592.png)

I would like to draw attention to the 'dirty identifiers' within the red line.
With some effort, you can see that they are all different, but you cannot see anything else.
For lowlevel debugging, these identifiers

[2017-02-27 12:55] RieksJ opened #635 "Database deadlock"
This is not something that seems to be easily reproducible.
I did the following:
compiled the MPTrx application, and start both Firefox and Chrome
I used different accounts for logging into the different sessions.
Then on one I created an MPTrx transaction
Then, more or less simultaneously, I had both accounts claim a (different) role in a multi-parti transaction.
In firefox, this led to the follo

[2017-03-15 16:36] hanjoosten commented on #612
Sorry for the late response.

Ampersand uses the dependency manager composer to install stuff. Normally, when there is an internet connection, this should work out of the box. In this case, it obviously does not. Ampersand checks that the stuff could be downloaded. If not, there can be all kinds of things going wrong, which are basicly out of scope of ampersand itself. Ampersand gives the composer

[2017-03-15 16:41] sjcjoosten commented on #612
Maybe Ampersand can also give a link to a successfully built prototype, for me to copy the lib directory from (or better: a link to a lib directory). That would have solved my issue when this error arose (probably because the composer website was offline). Does Travis generate (prototypes with) such lib directories?

[2017-03-15 17:40] hanjoosten commented on #612
The point is that you would then have a possibly outdated version of the 'stuff'. And it presuable could also be depending on your OS.

Travis does generate prototypes, but that is for some of the tests only. There is nothing deployed anywhere. The machine that Travis spins of is gone after these tests. Only the travis logs remain.

[2017-03-15 17:40] #612 closed

[2017-03-21 18:54] stefjoosten commented on #635
It is definitely a bug. It proves that we do not have a safe multi-user capability...  :-(
(yet :-)  )

[2017-03-22 19:26] filetp opened #640 "Fatal error: Unsupported protocol in URI"
During processing an Ampersand file with version 3.8.2. (ArchiMate extension) the following message appears:
   Fatal error: Unsupported protocol in URI "Archisurance.xml"

The ArchiMate .xml file is not processed. Ampersand continues with the Ampersand script and even creates the prototype, but without the content of the ArchiMate .xml file.

Testfiles are attached (renamed them to .txt extension

[2017-03-22 20:37] hanjoosten commented on #640
@stefjoosten can you look into this? The message is from the HXT package that you use ([see here](http://www.fh-wedel.de/~si/HXmlToolbox//hdoc/src/Text-XML-HXT-Arrow-DocumentInput.html))

[2017-03-25 10:06] filetp opened #642 "ArchiMate access relation imported under wrong name"
When an ArchiMate access relation is provided with a name in Archi, Ampersand creates a relation under the given name, instead of recognizing it as an access relation.

Archi:
![image](https://cloud.githubusercontent.com/assets/22689893/24321328/3c718ba0-114a-11e7-8133-06feda1e9a92.png)

In XML:
![image](https://cloud.githubusercontent.com/assets/22689893/24321335/649ce6b0-114a-11e7-9460-c48422c9d

[2017-03-25 10:15] filetp opened #643 "The Archimate access relation's type is ignored"
When the ArchiMate access relation attribute 'Access Type' is provided with a value in Archi, Ampersand ignores this value. The attribute however, provides distinction between read and/or weite access.

The access relation can have the following attribute values:

Value		Meaning					XML appearance
======		================	============
Read		[src] Reads [tgt]			accessType="1"
Access		[src] Accesses

[2017-03-25 10:39] filetp opened #644 "Archi properties with separate XML tagging are not imported into Ampersand"
In Archi, object properties that are provided with values:

![image](https://cloud.githubusercontent.com/assets/22689893/24321553/4817dcb6-114f-11e7-98a7-5337e851e319.png)

![image](https://cloud.githubusercontent.com/assets/22689893/24321556/5a2770ce-114f-11e7-90cd-39726f559f21.png)

...are XML coded by Archi as follows:
![image](https://cloud.githubusercontent.com/assets/22689893/24321559/82c02f

[2017-03-25 10:51] filetp opened #645 "Archi XML tagging not recognized by default"
XML tagging as provided by Archi differs from what Ampersand recognizes:
	Archi provides -->	Ampersand expects
	--------------------------------------------------
	[archimate:model] --> [archimate:ArchimateModel]
	[element] --> [elements]
	[folder] --> [folders]

Preferably Ampersand recognizes Archi's tagging, so manual corrections become unnecessary.

[2017-03-25 13:29] hanjoosten commented on #640
This is probably related with [this issue of alga](https://github.com/mrkkrp/alga/issues/4). [The fix that they made there](https://github.com/mrkkrp/alga/commit/48a9c489385ab52057f66044a1a8be35651f4cd1) could very well be the right thing to do for us as well. I'll have a look as soon as I find time for this.

[2017-03-26 07:25] stefjoosten commented on #645
I fixed this in branch Archi-extension, commit @f73805909dbb38402a3e74058d40abb9d8fcc949

[2017-03-26 07:25] stefjoosten commented on #644
I have included these documentations too. In the metamodel, they appear in the relation `docu`. That is the same relation as the documentation tag that is an XML-attribute of the element itself. I fixed this in branch Archi-extension, commit @f73805909dbb38402a3e74058d40abb9d8fcc949

[2017-03-26 07:25] #644 closed

[2017-03-26 07:26] stefjoosten commented on #640
This fix was one step of the process. However, nothing was generated.
The reason was that the XML-tag of an Archi repo is no longer `archimate:model`, but `archimate:ArchimateModel`.
I have adjusted `ArchiAnalyze.hs` on line 540 wrt this aspect in branch Archi-extension, commit @f73805909dbb38402a3e74058d40abb9d8fcc949

I have not looked into the Archi-policy on versions. So we are likely to have

[2017-03-26 07:26] #640 closed

[2017-03-26 09:33] filetp opened #646 "Wish: Delivery of rule metrics in outputfile"
During compile time, the outputfile archicount.txt is created which contains (among more) the number of processed elements, relations, etc. This file would be a fine place to store the rule metrics.

To enable calculation of alignment metrics, I need metrics that concern Ampersand rules.
For each rule I need:
   - the rule ID;
   - the number of pairs in the antecedent;
   - the number of violatio

[2017-03-26 10:57] filetp opened #647 "Populating isa[Device*ArchiObject] results in unexpected rule violations"
Processing of the Archisurance repository results in numerous unexpected violations, preventing prototype generation. The violations occur with the population of the relation isa[Device*ArchiObject] [UNI, INJ].
These errors did not occur on previous compilation with Ampersand version 3.7.1. The input files are unchanged (except for the markup section markers {+ +}).

![image](https://cloud.githubu

[2017-03-26 12:26] hanjoosten commented on #647
I have tried to verify your claim. I built the version 3.7.1 with the archimate extention of Ampersand. I changed the {+ +} syntax to the old {+ -} syntax. Then I tried to create a prototype. However, the Archisuranc.xml could not be read, because it has some new format.

When I use the newly created 3.8.3 version I was able to reproduce your error. I am not familiar with what you are trying to do

[2017-03-26 14:05] filetp commented on #647
Hi Han,
I've just created another prototype using Ampersand v3.7.1. To be sure I added the Archisurance.adl and the Archisurance.xml files again. The Archisurance.xml file is (imho) unchanged. The Archisurance.adl is slightly newer (since it is under continuous construction). Could you try again plz?
[Archisurance v371 take 2.zip](https://github.com/AmpersandTarski/Ampersand/files/870796/Archisura

[2017-03-26 14:22] hanjoosten commented on #647
Well, I still get the same lex error on reading the .xml file. The archimate tool has moved up to a newer version, as @stefjoosten had noticed before.

Having said that, even if it would have run in the old version without violations, in the current version violations are detected. That check is pretty solid, so I would be pretty convinced there is something wrong with the (meta)model.

[2017-03-26 14:58] hanjoosten commented on #647
This is something for @stefjoosten to look at. I have done an experiment, by removing the INJ and UNI rules on the isa relation (ArchiAnalize.hs, line 478). This results in a database being generated, but this is definetly not in the way that we would want.
I guess that Stef should thing about what the smerigeIdentifier should be for ArchiObjects. Now I see all different things being used for thos

[2017-03-27 09:29] stefjoosten commented on #643
I have introduced the accessType in the metamodel (in commit @9fb9525f991315db6f49046465bf1a7ea67c996d)

[2017-03-27 09:29] #643 closed

[2017-03-27 09:32] stefjoosten commented on #647
This should be fixed now (commit @46a0cc44881497709797b494787987727868efc2). @filetp Peter, would you please verify?

[2017-03-27 09:32] #647 closed

[2017-03-27 17:51] filetp commented on #642
The same issue goes for the Flow relationship. Presumably this goes for all relations that are provided with a name attribute in Archi.

[2017-03-28 21:57] filetp opened #648 "Testing univalence with ArchiMate accessRelationship accessType"
Rule TV008 tests univalence of access relations with write access (accessType = 3 or omitted) from ApplicationComponents to DataObjects. Rule TV008 is specified in the Archisurance.adl file.

The rule works fine when testing on atom values positively (e.g. access type is '3'). The rule then checks for presence of one write access as expected.
But the rule does not work when testing on atom values

[2017-03-30 13:28] stefjoosten commented on #648
I am not sure I can answer your question, because I cannot reproduce your situation.

What do you mean by " testing on atom values positively"?
What do you mean by " testing on atom values negatively"?
What do you mean by " checks for presence of one write access"?

After studying your files, I can see that rule TV008 produces one violation: "838".
Or to be precise: [("838","838")] .

The two acce

[2017-03-30 14:00] stefjoosten commented on #648
I notice a different thing. Your rule TV008 has the form
[code]
with `x` being
[code]
I recognize that form, because it is the way to express univalence of `x`, while producing violations of type `DataObject`. However, `x`  is noteworthy too.  It has the form `access~;z;-'1';z~`  with `z` being
[code]
I guess that by `z;-'1';z~` you mean that the target of `z` should not be 1. Maybe you want to sa

[2017-03-30 14:03] stefjoosten commented on #648
Reflection:
Please try to think about making your issues more reproducible. That reduces your risk that I guess wrong. And it saves me some time guessing (or spending time on wrong guesses).

[2017-03-30 14:04] stefjoosten commented on #648
@filetp, please close this issue if you are satisfied with the answer.

[2017-03-30 14:24] stefjoosten commented on #449
I am currently busy installing RAP3 on a Linux LAMP configuration. Interesting for @WolframKahl and @LloydRutledge I presume. I have spent two full days now and I've come a long way. You can find some working stuff on http://52.174.4.78/RAP3/ . I have documented everything I did in `https://ampersandtarski.gitbooks.io/the-tools-we-use-for-ampersand/content/deploying-rap3-with-azure.html`, which is

[2017-03-31 08:34] filetp commented on #648
Thanks so much Stef! Your assumption was right ;-)
Definitive coding now reads:

`RULE "TV008" :	I[DataObject] /\
		access[ApplicationComponent*DataObject]~ ;
		(I /\	-(isa ; source[Relationship*ArchiObject]~ ; accessType ; '1'; accessType~ ; source ; isa[ApplicationComponent*ArchiObject]~));
		-I[ApplicationComponent] ;
		(access[ApplicationComponent*DataObject]~ ;
		(I /\	-(isa ; source[Relation

[2017-03-31 08:34] #648 closed

[2017-03-31 08:35] filetp commented on #648
Issue solved

[2017-04-01 11:57] hanjoosten commented on #240
I assume this bug is fixed. We use the fixed version of xlsx now.

[2017-04-01 11:57] #240 closed

[2017-04-07 09:06] RieksJ opened #650 "RAP3-Azure: permission required for mkdir"
When I start RAP3 in Azure, and try to enter a studentnumber (in this case: xxx), it says this:
![image](https://cloud.githubusercontent.com/assets/8522589/24793392/27514606-1b82-11e7-9cfd-2edba5b24f03.png)

[2017-04-08 11:09] RieksJ opened #651 "RAP3-Azure: Diagnosis/FSPEc pdfs cannot be found"
I have a simple script that i compiled, and created a Diagnosis of, as follows:

![image](https://cloud.githubusercontent.com/assets/8522589/24828396/79165a46-1c5c-11e7-89df-128c31a880e4.png)

Clicking on the `Diagnosis` link results in

![image](https://cloud.githubusercontent.com/assets/8522589/24828398/8ac7c0cc-1c5c-11e7-94d1-2b12f3b2501e.png)

[2017-04-08 11:11] RieksJ commented on #651
The same thing happens when I create a functional specification:

![image](https://cloud.githubusercontent.com/assets/8522589/24828408/d26357a2-1c5c-11e7-8a10-23fc2d6d8fe4.png)

[2017-04-08 11:16] RieksJ opened #652 "RAP3-Azure: Import of trash files may result in SQL errors"
Importing a 'trash file' - I did it with a powerpoint presentation may result in:

![image](https://cloud.githubusercontent.com/assets/8522589/24828437/80ef0c08-1c5d-11e7-9a01-e67acf76d48d.png)

[2017-04-08 11:21] RieksJ commented on #652
Het zou kunnen zijn dat ik hiermee de database stuk heb gemaakt. Hij werkt in ieder geval niet meer (herinstalleren ervan duurt ook eindeloos)...

[2017-04-08 14:01] hanjoosten commented on #652
Niet meer doen ;)
We zijn nog niet toe aan monkey tests.
Het bleek dat mysql twee keer draaide. Hoe dat komt? Geen idee. Wie het weet, mag het zeggen.

[2017-04-08 14:01] #652 closed

[2017-04-08 14:02] hanjoosten commented on #651
We still have to install LaTeX correctly.

[2017-04-08 14:02] #651 closed

[2017-04-09 10:53] filetp opened #653 "MySQL error 1406 'Data too long for column' when importing fields 'documentatie' and 'Tekst'"
The generated prototype contains fields named 'documentatie' in several concepts and a field 'Tekst' in table 'Tekst' which are created as VARCHAR(255).
The content however is generally longer than 255 characters, even up to 4700+ characters.
This leads to fatal error 1406 when MySQL tries to INSERT the content.

![image](https://cloud.githubusercontent.com/assets/22689893/24836706/4b06ba7a-1d23-1

[2017-04-09 11:24] hanjoosten commented on #653
I like the error. In former days, this error was ignored, but only 255 characters were stored. That's even worse!
It should be easy to fix this error. There are several representation types for string-like stuff. You should choose a larger one than ALPHANUMERIC. Try BIGALPHANUMERIC or even HUGEALPHANUMERIC. They obviously require more space in your database, but that's exacly what you need.
In you

[2017-04-09 11:24] #653 closed

[2017-04-09 17:57] hanjoosten commented on #650
This should have been solved by now, by taking into account the user/group authorisations.

[2017-04-09 17:57] #650 closed

[2017-04-10 07:45] stefjoosten opened #654 "Lock wait timeout exceeded"
When doing multiple screens simultaneously on a simple script, I was left waiting. I decided to restart my entire browser, where I still had to wait. Finally, the following message popped up:
![afbeelding](https://cloud.githubusercontent.com/assets/275768/24850977/4f039576-1dd2-11e7-848a-5f60a80b783b.png)
The message reads:
[code]

[2017-04-11 10:00] stefjoosten opened #655 "Compiling a script on Linux fails"
# Symptoms
When compiling an empty `CONTEXT` in RAP3, I get the following Slim Application Error:
![image](https://cloud.githubusercontent.com/assets/275768/24905576/bcfedd96-1eb4-11e7-99df-8a557c767d65.png)
Apparently, the directory in which RAP3 writes the new script is not being created because of an authorization failure.
# Context
This error occurs on the Azure-server, http://52.174.4.78/RAP3

[2017-04-11 11:16] Michiel-s commented on #655
Error message provides the reasons: 'No script content specified'. You didn't specify any content (or didn't save the script) before compiling.

[2017-04-11 11:16] #655 closed

[2017-04-12 08:00] stefjoosten commented on #642
Voor zover ik kan zien verschijnt het Archi-element met id "693" in het concept `AccessRelationship`, en daardoor ook in het concept `Relationship` (omdat `AccessRelationship` ISA `Relationship`). Hij is daarmee herkenbaar als `AccessRelationship`. Ik heb dat gecheckt in de broncode van de Archi-importer en ook in de gegenereerde database voor Archisurance.

Als dit het probleem is, is er geen pro

[2017-04-12 18:59] #642 closed

[2017-04-12 19:04] filetp commented on #642
De relatie wordt inderdaad zoals het hoort in Relationship opgenomen. Daarmee is hij herkenbaar en dus bruikbaar. Issue is een non-issue.

Ampersand voegt wel ook (ten overvloede) een nieuwe relatie toe onder de naam die in het label is vermeld. Dat is wat deed vermoeden dat de relatie niet goed werd opgenomen.

[2017-04-15 11:53] filetp opened #656 "Key-value pairs from Archimate are dangling"
The two attributes 'Soort product' and 'Domein' are not imported into the metamodel. I coded this in two ways of which neither was succesfull :-(

`<elements xsi:type="archimate:ApplicationComponent" id="TestAC01" name="Test AC">`
`<property key="Soort product" value="test soort"/>`
` <property key="Domein" value="test domein"/> `
`</elements>`

`<elements xsi:type="archimate:ApplicationComponent"

[2017-04-18 07:21] stefjoosten commented on #592
EUrent produces a violation message of rule "At least one account must exist that is active" (file: SIAM_Login.adl, line 45). After disabling that rule, I get a deep error, saying:
"API call not found: GET http://localhost/AmpersandPrototypes/EURent/api/v1/AmpersandPrototypes/EUrent/api/v1/sessions/5i5i0qjge4bqgb7amvl20aj2p2/navbar"
![image](https://cloud.githubusercontent.com/assets/275768/251188

[2017-04-18 07:59] #592 closed

[2017-04-19 06:35] stefjoosten commented on #645
Reverted this change in commit @acb02a52baf8d8d1e11c85f17e4d40c1e14c5515 on request of @filetp.

Peter, could you test whether this is resolved? Please close or extend this issue depending on your findings.

[2017-04-19 06:53] stefjoosten opened #657 "Key-value pairs from Archimate are being ignored"
@filetp, could you include your key-value pair example here, so I can make the Archimate importer deal with it?
Thanks,
Stef

[2017-04-19 07:02] stefjoosten commented on #657
Oops, This issue overlaps with #656

[2017-04-19 07:02] #657 closed

[2017-04-19 21:43] stefjoosten commented on #654
This issue has disappeared spontaneously and without a trace

[2017-04-19 21:43] #654 closed

[2017-04-19 21:45] stefjoosten commented on #656
I am treating XML-tags "property"  and "properties" as the same. This should resolve the issue.

[2017-04-20 05:52] stefjoosten opened #658 "Security hardening of RAP3 installations"
Since we have a working RAP3 repository installed at http://52.174.4.78/RAP3/ we can start thinking about consolidating the security measures required for rule repositories.

## TODO list
- [ ] SSH configuration: prevent that outside users log in as daemon (nor as root) (see for example http://serverfault.com/questions/285800/how-to-disable-ssh-login-with-password-for-some-users/
- [ ] Apache: see

[2017-04-20 06:09] stefjoosten opened #659 "User registration does not work in RAP3"
# Symptoms
When logging into RAP3, the user sees this screen:
![image](https://cloud.githubusercontent.com/assets/275768/25215558/977c0030-259e-11e7-901b-99fe0012aac9.png)
The first thing a new user wants to do is to register a new account. So he starts with a studentnummer, types in a password and retypes the same password for verification reasons. However, the first password is apparently being

[2017-04-20 10:37] stefjoosten commented on #659
This turned out to be a mistake in the Ampersand code. This is fixed in commit ampersand-models@876546a0eb30dc773f9cd69170c4bbbb20b5692b

[2017-04-20 10:37] #659 closed

[2017-04-20 19:56] filetp commented on #645
The fix attempt for #645 Archi XML tagging works fine. Ampersand now reads Archi files without the need for manual corrections.

The fix attempt for #656 (Key-value pairs from ArchiMate are ignored) seems incomplete.
Property keys and values are all imported from the .xml file into the relations `key` and `value`.
However, strangely enough not all properties are related to their ArchiObject. The e

[2017-04-20 21:09] filetp opened #660 "Specialisation relation for Archimate element 'ApplicationComponent' is not imported"
Many ApplicationComponents are related to ApplicationComponent `id-11274` by means of a specialisation relation.
When importing in Ampersand however, the occurrences of this specialisation relation do not occur as specialisation.
Apparently, they are described in the ArchiMetaModel.adl in a relation with the name `flow` instead of `specialisation`

E.g. AC `id-20718` has a specialisation relation

[2017-04-21 12:09] filetp opened #661 "Error initializing prototype: Table 'ampersand_archimetal.session' doesn't exist"
The prototype 'archimetal' was generated with Ampersand (v3.8.3 19-apr) without any errors.
When initializing the prototype an error appears that table `session` doesn't exist.

![image](https://cloud.githubusercontent.com/assets/22689893/25276756/fbb793a4-269b-11e7-84e7-4fd193b0387c.png)

What causes this error?
[CaseArchimetal.zip](https://github.com/AmpersandTarski/Ampersand/files/946966/CaseAr

[2017-04-21 12:34] hanjoosten commented on #661
There are several possible causes for this. I don't know exacly what is going on in your case. When a prototype is generated, Ampersand will generate an entire directory of stuff. At that point, no connection with the database is made.
When a users goes to the url of the prototype, A connection with the database is being made. If this fails because the database does not exist, the database is bein

[2017-04-21 12:45] filetp commented on #661
Hi Han, thx for your quick reaction.

My situation is as follows:
The database was not present. In fact, I manually deleted the earlier version of the database from within MySQL (phpMyAdmin) to make sure there were no leftovers from previous attempts.
Re-installing results in the same message.

[2017-04-22 13:44] filetp commented on #661
Interestingly (and certainly surprisingly), the problem seems to find it's cause in the ` .xml` file.
In the attached `.zip` archive you'll find an `EIRA.adl` script which basically only `INCLUDE`s the rogue `.xml` file (name: `EIRA_v1_1_0_ArchiMate.xml`). Compiling it to a prototype leads to the same error.

If another .xml file (name: `OpenDay added.xml`)) is `INCLUDE`d instead of the rogue one,

[2017-04-22 18:29] hanjoosten opened #662 "all_signals table seems to cause deadlock"
When multiple sessions are open, we encountered the following error message:
![image](https://cloud.githubusercontent.com/assets/1159672/25307021/3f23710e-279a-11e7-9bc0-ff0c1e032804.png)

I suspect that while calculating conjuncts, the locking mechanism on all_sessions is not handled properly.

[2017-04-23 12:27] stefjoosten opened #663 "array_key_exists Bug"
# Symptoms
I wanted to make a new script in RAP3. Auto commit changes and Auto save changes were switched off. When pushing the "new script" button, the Save/Cancel buttons appeared immediately. Before doing anything else, I pushed Save. Then this bug appeared:

![afbeelding](https://cloud.githubusercontent.com/assets/275768/25313516/390c19a6-2830-11e7-87bd-60cfbfa7eeef.png)

The only possible loc

[2017-04-25 07:02] RieksJ opened #664 "Excel-import in prototype no longer handles duplicate atom entries"
De map `[Git]\ampersand-models\ZwolleFrontEnd\RWS` bevat een kleine applicatie die een voorbeeld is van hoe je gegevens kunt opschonen, en dus een kleine (maar fijne) demo is. Deze demo (maar ook anderen) importeren excel-bestanden waarbij het voorkomt dat er een regel is die InsPairs wil doen op een reeds bestaand atoom. Dat kan bijvoorbeeld:

  * omdat het atoom in een eerdere regel werd genoemd

[2017-04-25 10:31] RieksJ commented on #486
It would be nice if we could get the XPaths demo working again. How are things coming along?

[2017-04-25 10:59] RieksJ opened #665 "Some vague halting with Sequences"
As I am trying some (older) stuff, I keep running into bitrot. As I think it helps the robustness of our tooling, I try to fix that stuff. Here is something I need some help with.

The `ampersand-models/Sequences` stuff compiles nicely, but the initialization of the database does not seem to properly terminate. Here is the rules-log:

![image](https://cloud.githubusercontent.com/assets/8522589/253

[2017-05-02 17:51] #645 closed

[2017-05-02 17:59] stefjoosten commented on #656
The second part of this issue needs attention. It looks like each property is not linked to the object to which it belongs.

[2017-05-02 18:41] stefjoosten commented on #660
Solved in commit 1ee45ace514f7d6b081908333bb31572d7b3038d by removing the special treatment of flow relationships.

[2017-05-02 18:41] #660 closed

[2017-05-03 08:49] stefjoosten opened #666 "The demonstration devil ..."
# Symptoms
Giving demos for an audience has occasionally failed. Here is the situation: I have carefully made a nice little script and prepared my demo with it. For example:
![afbeelding](https://cloud.githubusercontent.com/assets/275768/25653082/a364256a-2feb-11e7-94a2-69cc0a790c9f.png)
The next day, it is showtime. I have made sure I didn't touch anything that could jeopardize the presentation.

[2017-05-03 09:31] hanjoosten commented on #666
This is the wrong solution to a local problem. In the world we live in, URL's are case sensitive. You simply have to deal with that.

For your demo purposes, there are (at least) two sure and simple ways not to bump into typing the wrong URL:

1.   Create a shortcut on your desktop with the correct URL. You can test that shortcut, so at showtime you simply click it and have your awsome demo.
2. Ma

[2017-05-08 05:42] hanjoosten commented on #666
After talking to @stefjoosten about this issue, I still feel strong about the above points. However, I do agree that it would be nice if the actual error message would suggest an error regarding case sensitivity.

[2017-05-09 11:56] RieksJ opened #667 "Ampersand-models: Delivery excel file does not load"
There seems to be a bug in the Excel importer of Ampersand itself. When attempting to compile `Delivery.adl`, I get the following error:

[code]

[2017-05-09 17:18] hanjoosten commented on #667
I'll have a look at it when I find the time, but I am pretty sure this will be some data in the excel file itself being the culprit.

[2017-05-09 19:47] hanjoosten commented on #667
Please let me know how to reproduce. I have no problem compiling delivery.adl into a prototype, as you can see by the following output:
[code]

[2017-05-09 20:18] #666 closed

[2017-05-09 20:22] hanjoosten commented on #666
![image](https://cloud.githubusercontent.com/assets/1159672/25870875/f92dd1d4-3505-11e7-86c1-f8e2fb978330.png)

[2017-05-10 08:26] RieksJ commented on #667
I am using `Ampersand-v3.8.3 [development:212cd03]`, which AFAIK is identical with the release version of march 23.

I am using the current version of `Delivery.adl`, i.e. commit `b0541ee` of the ampersand-models repo.

[2017-05-10 09:56] hanjoosten commented on #667
So did I. I get the output as above.

[2017-05-12 13:13] stefjoosten opened #669 "Import for Excel not being handled properly"
In my work on the MirrorMe application, I ran into a problem with importing the Excel file [MirrorMe - Stef Example.xlsx](https://github.com/AmpersandTarski/Ampersand/files/997722/MirrorMe.-.Stef.Example.xlsx). I was executing the system generated from file ...git\ampersand-models\MirrorMe\MirrorMe.adl. You will find it in repository ampersand-models on commit 8190b5a980bbbabac812945a3c7811416578f

[2017-05-12 13:28] hanjoosten commented on #669
Please specify if this is at compiletime (using INCLUDE) or at runtime.

[2017-05-12 20:00] stefjoosten commented on #669
# Analysis
The error message mentions `Interface path: 'Case/Bindings/ground'`. This implies expression `legalGround[Binding*LegalGround]` on line 188 of file `MirrorMe.adl`. The spreadsheet contains this relation too. In this situation, the Slim Error message reads `Message: Atom 't01[TText]' does not match source concept 'Binding' or any of its specializations.` That makes sense. Apparently some

[2017-06-22 15:25] hidde-jan opened #670 "Redundant conjuncts generated in simple model"
We are toying around with a simple model and we noticed that some redundant conjuncts were generated in the prototype. The conj_5 and conj_8 queries are equivalent. Both even say they check SYM projIsActive.

The conjuncts.json, adl and xslx files that are used are attached to this issue.

[conjuncts.txt](https://github.com/AmpersandTarski/Ampersand/files/1095292/conjuncts.txt)
[archive.zip](https

[2017-06-23 05:38] hanjoosten commented on #670
Indeed, this is incorrect. When a relation is symmetrical, this happens. @stefjoosten  might want to look at this:
For the propertyrule on the relation r[A*B][SYM], two conjuncts are being generated. (violations will occur double for this reason).

[2017-06-23 07:59] hidde-jan commented on #670
I've got another question. In the example attached to this issue, I noticed that the `projIsActive` property is implemented in SQL as a field in the Project table. This field is a VARCHAR, which can be filled with anything. From what I can see, when the violation rules are run, it is checked whether `projIsActive` is INJ, UNI, ASY, SYM (and SYM again). All these properties of the property would au

[2017-06-23 10:16] hanjoosten commented on #670
This would be another discussion. Please open a new thread for that if you like. I'll call you this afternoon to discuss these options

[2017-06-23 10:42] hidde-jan opened #671 "Implement [PROP] as boolean field in the prototype"
In the example attached to issue #670 , I noticed that the projIsActive property is implemented in SQL as a field in the Project table. This field is a VARCHAR, which can be filled with anything. From what I can see, when the violation rules are run, it is checked whether projIsActive is INJ, UNI, ASY, SYM (and SYM again). All these properties of the property would automatically hold if projIsActi

[2017-06-25 12:41] stefjoosten commented on #671
Hidde-Jan, Thanks for bringing this up.  We'll look into it. As an Ampersand user you will at best notice a speed-up, because the semantics won't change because of this. It might take a while, however, before we get to this.

Stef

[2017-06-25 13:01] hanjoosten commented on #671
Nah. For SQL we will not change the implementation. This has been discussed earlier in issue #150

[2017-06-25 13:01] #671 closed

[2017-06-29 07:34] rvgast opened #672 "Importing xlsx file fails when case already exists in database"
Scenario:
1) upload an xlsx file (f.i. the one attached
[Contracten - Copy.xlsx](https://github.com/AmpersandTarski/Ampersand/files/1111175/Contracten.-.Copy.xlsx)
)
2. Optionally: delete the case made by/for the file
3. Upload the file again
Result: error
![afbeelding](https://user-images.githubusercontent.com/7569066/27676436-2d5c4e5c-5cae-11e7-9c3b-fe1dfc806e8c.png)

[2017-07-02 20:12] filetp opened #673 "Population of propOf relation is omitted"
The relation `propOf` is not populated with tuples.
Therefore the properties belonging to ArchiObjects are not accessible.

![image](https://user-images.githubusercontent.com/22689893/27773130-1b8685d6-5f73-11e7-9fea-58c2165b9c63.png)

The attached .zip file contains the & .adl script and the ArchiMate .xml file.

[PropOf issue.zip](https://github.com/AmpersandTarski/Ampersand/files/1118061/PropOf

[2017-07-04 09:06] RieksJ opened #674 "Add functionality for ExecEngine to navigate user to other interfaces"
There are several situations in which we need to navigate to another interface (perhaps even another page somewhere else). One example is when a succesful login has happened. Another example is when a new atom-object has to be created and the user needs to provide it with some values. The last example is when a newly created atom-object has been provided with initial values, you like to go back to

[2017-07-04 09:11] RieksJ opened #675 "Extend scope of _NEW in ExecEngine from NewStruct to complete violation statement"
In order to create functionality for creating a new atom-object in a new interface (for which #674 has requested navigation functionality), it is quite helpful if the scope of use of the keyword `_NEW`, which currently can only be used within the ExecEngine function `NewStruct`,  is extended to the entire violation statement.

While this new functionality will render the function 'NewStruct' obsol

[2017-07-04 09:26] RieksJ commented on #674
Two functions have been implemented in the `feature/navigation`:

- `SetNavToOnCommit(location)`, and
- `SetNavToOnRollback(location)`

[2017-07-04 09:26] #674 closed

[2017-07-04 10:00] RieksJ commented on #675
The request has been implemented in `feature/navigate`. Here are some notes:

- Below, by an `{EX}`-statement we mean any function that is defined in `InsDelPair.php`. Whether or not other functions recognize the `_NEW` token depends on their implementation.
- As expected, the `{EX}`-statements will be executed in the order in which they are provided.
- When the first `{EX}`-statement starts to ex

[2017-07-04 10:00] #675 closed

[2017-07-04 14:19] stefjoosten opened #676 "PHP escaping of Excel content."
# Symptom
I get a Slim Application Error that says I'm giving too many parameters to `DelAtom`:
![afbeelding](https://user-images.githubusercontent.com/275768/27833687-26342468-60d4-11e7-9939-3da45500b1a1.png)

The Ampersand source code of this rule is:
[code]
The Ampersand source code clearly gives two arguments, so what explains this behavior?
Well, here is the source input, which resides in an

[2017-07-04 14:26] stefjoosten commented on #672
# Analysis
What happens here is that a univalent relation is populated with a pair that already exists. Ampersand protests during an .xlsx interactive import.
This behaviour is inconsistent with the set-theoretical semantics of Ampersand.  After all: {x,x}={x} in set theory.
# Solution
I propose to adapt the .xlsx interactive importer to allow duplicate entries instead of forbidding them. The moti

[2017-07-04 14:50] stefjoosten commented on #676
# Further investigation
I have removed the newlines from the excel-sheet:
![image](https://user-images.githubusercontent.com/275768/27834780-8fc41b82-60d8-11e7-913c-62a7270bae44.png)
Although there are no newlines, I get the same behaviour:
![image](https://user-images.githubusercontent.com/275768/27834824-beb98a94-60d8-11e7-8f2a-f539d815255f.png)
It is clear that the change has been seen by the .

[2017-07-06 08:42] stefjoosten opened #677 "Home page hyperlink button"
I would like to specify the  hyperlink in the "See our documentation>>" button in the home page of an Ampersand prototype. Currently this link is set to https://ampersandtarski.gitbooks.io/documentation/

Is it an idea to make something for this in localSettings.php?  Or should this be done by changing the `.../app/views/static_home.html` homepage in the include directory?

[2017-07-06 09:27] stefjoosten commented on #677
Nah, let's keep `localSettings.php` clean.  This should be done by changing the .../app/views/static_home.html homepage in the include directory

[2017-07-06 09:27] #677 closed

[2017-07-07 17:57] stefjoosten opened #678 "PHP says: ZipArchive library is not enabled"
When I run the CvM application from my laptop, I can happily import populations from Excel using the Excel import option in the application.
However, when I do the same on Wolfram (accessible in the browser on http://ampersand.tarski.nl/CvM),
![image](https://user-images.githubusercontent.com/275768/27970087-cd7a15c2-634d-11e7-9b81-a37b2d938c59.png)
This is a Slim Application Error, which I saw af

[2017-07-10 07:23] stefjoosten opened #680 "Slim error: opening database fails"
I have an application, CvM, which I compiled with Ampersand-v3.8.6 [development:49db30eaa]. The application is found in AmpersandTarski/ampersand-models@528f5b92146d0415ef6e636e0d3d9780f2a6f08c. The bug occurs when opening the database:
![image](https://user-images.githubusercontent.com/275768/28006377-566bf24e-654f-11e7-89cb-77f98293df70.png)
This is a message that I cannot cope with. When I look

[2017-07-14 10:59] RieksJ opened #681 "Make Haskell code more readabble"
Currently, the Haskell code stands stiff with abbr's, which makes it unnecessarily difficult for people to understand what's going on. In order to help people, in particular those that are not very fluent in the language, to contribute to the further development of the Ampersand tool, it would help to use more elaborate and descriptive names (and comments). Consider this ticket as a request for th

[2017-07-14 11:10] RieksJ commented on #676
It is the semi-colons in the text. The ExecEngine parser sees them as an argument-delimiter. The 2 semi-colons you use in your text, and the other two in the violation itself, account for the four arguments.

The solution is to specifiy another delimiter in the violation text. The 'default' other delimiter we use here is `_;`. You can specify it immediately behind the `{EX}`, and then - of course

[2017-07-14 12:41] hanjoosten commented on #681
There are several points in this. Yes, there are parts of the haskell code that are more readable than others. This is subjective, and it is a constantly ongoing work of refactoring.

[2017-07-14 12:41] #681 closed

[2017-07-15 06:56] hanjoosten opened #682 "Generate output for Solidity (Ethereum) from ADL"
Specifying smart contracts by using Ampersand seems feasable. This issue is to document the ongoing work on this topic.

The first work that will be done is to build a generator by means of examples.

[2017-07-18 14:24] stefjoosten opened #684 "Roundtrip error in MetaPopulationFile"
# Symptom
The file with metapopulation (`MetaPopulationFile.adl`) is written and directly parsed again in `CreateFspec.hs`. However, this yields a parse error as shown here:
![afbeelding](https://user-images.githubusercontent.com/275768/28321958-fdaf4a20-6bd4-11e7-9a7c-c3341646d9fd.png)

# Reproducing the error
The ampersand compiler (including FormalAmpersand files) used to get this error has SHA

[2017-07-18 14:38] stefjoosten commented on #684
Strange that the function 'content' generates text. One would expect a P-structure (of even an A-structure) instead. A roundtrip over a file is less maintainable than communication via the P-structure or A-structure.

[2017-07-20 06:33] RieksJ opened #685 "Content of `sessionActiveRoles` is not reflected in menu bar"
When I change the contents of the relation `sessionActiveRoles`, e.g. by *removing* the `Developer` role (which is allowed for the account with which I logged in), the role is indeed deactivated (shown in the INTERFACE in which I changed the contents), but the menu bar still shows the developer-interfaces, and I can use them, too.

[2017-07-20 21:09] hanjoosten commented on #684
I had a look at this 'bug'. It was caused by an error that you made yourself, only in your own branch. Please have a closer look at what it was that I fixed.

[2017-07-20 23:19] #684 closed

[2017-07-21 14:52] stefjoosten commented on #678
I don't know what we did, but we solved it. I forgot to document the solution, for which I beg your pardon. So I cannot reproduce the solution... :-(

[2017-07-21 14:52] #678 closed

[2017-07-21 15:53] stefjoosten opened #686 "Deployment automation with Docker"
The purpose of having automated deployment is that every user of Ampersand can rely on the existence of the right docker images, so they only have to use them (as opposed to baking images for them).

@hidde-jan and @Michiel-s  have been making docker-files, the first of which were submitted on July 21st, 2017 on commit 634b2928572403c11726f67ab42dc8749ad5ab64. There was no particular issue for thi

[2017-07-21 20:43] hidde-jan commented on #686
As far as I know, the first part of this issue has already been tackled. @michiels and I have set up Travis to automatically attach a binary to every new tag. We'll notice if it works automatically with the tags created by appveyor when Han creates the next release.

[2017-07-23 20:52] filetp commented on #673
With the following code change, the `propOf` relation in ArchiMetamodel.adl contains the references from the Property key to the ArchiObject key.

![image](https://user-images.githubusercontent.com/22689893/28502721-d8ac25ae-6ff8-11e7-99f3-cacc6f2b005e.png)

as shown in the following screenshot:
![image](https://user-images.githubusercontent.com/22689893/28502728-f2615528-6ff8-11e7-8709-28b75a74bc

[2017-07-25 05:31] stefjoosten commented on #598
What precisely are the constraints to names of database, database tables and columns in SQL? Please refer to the authoritative source (some SQL standard).

[2017-07-25 05:47] stefjoosten commented on #586
This problem is caused in the code of `Version.hs` and exposes a mistake in the way fatals have been implemented.

The mistake has been fixed as of commit a954a08313c9607e5e63e6f9d1b7dd86367bce85, which is in branch `FormalAmpersand`. You can test this, but not before that branch has been merged into `development` (which is pending).

[2017-07-25 05:51] stefjoosten commented on #582
The normalizer has been switched off, because the added value of normalizing before code generation is low.

What we want is code optimization, but this goes much further than normalizing alone.

[2017-07-25 05:51] #582 closed

[2017-07-25 05:57] hanjoosten commented on #598
@stefjoosten see [this comment](https://github.com/AmpersandTarski/Ampersand/issues/598#issuecomment-268450008) above, which contains the reference.

[2017-07-25 06:17] hanjoosten commented on #579
The normalizer has been turned off (see issue #582), which effectively fixes this problem.

[2017-07-25 06:17] #579 closed

[2017-07-25 07:10] sjcjoosten commented on #579
If you are here after getting the following message:

[code]

Please reopen this issue.

[2017-07-25 08:06] stefjoosten commented on #232
To me it is clear that this is is stuff for Amper4.

An important consideration is to have explainable syntax with keywords that resonate to concepts our users will (think they) understand. So `TABULATION` beats `REIFICATION`, and `TABLE` beats `TABULATION`.
There are various use cases that I want to serve and I want to distinghuish:
1. tabular information, as we get it from (for example) spreadsh

[2017-07-25 08:07] stefjoosten commented on #232
I have written the result of above discussions in the Ampersand documentation https://ampersandtarski.gitbooks.io/documentation/content/syntax/the-tabulation-statement.html

[2017-07-25 08:43] stefjoosten commented on #487
I have made a start in branch "reading_RDF". The idea is to reuse the existing Haskell package `rdf4h`, which contains both reading and writing of RDF in various serialization formats. This is work in progress.

[2017-07-25 08:52] hidde-jan commented on #686
@hanjoosten could you add me and @Michiel-s to https://hub.docker.com/u/ampersandtarski/ ?

[2017-07-25 09:09] stefjoosten commented on #437
I had the same discussion with @sjcjoosten in the past. In my recollection they were as fiercly debated as above. I'm still not sure what causes the confusion. But now I have a hunch...

Let me reason from the assumption that the set of concepts is closed, and all concepts are contained in the script. The concepts are `Concern`, `Variable`, `VarValue`, and `Assignment`. Now the type checker has to

[2017-07-25 09:11] #680 closed

[2017-07-25 10:49] sjcjoosten commented on #437
It would be possible to make some of the type checker reasoning more closed, though I'm not sure that would solve this problem. A problem in doing so, is that scripts are more likely to end up changing meaning as changes to the ISA structure are made. The old type checker reasoned like that, and also had that effect sometimes. I'm out of ideas on how to make that work.

Frankly, I don't understand

[2017-07-25 12:29] RieksJ commented on #437
The error message that was provided only points to one error, where there are more. The suggestions point to the 'wrong' direction (from a user point of view) because none of them will result in the rule becoming correct.

Would it be possible to check the suggestions of the type-checker to see if either/any of them makes sense (i.e. would actually result in a type-correct RULE rather than some no

[2017-07-25 12:44] sjcjoosten commented on #437
This makes a lot of sense and sounds like a great idea to me. I might be able to detect that the 'Cannot disambiguate' arises because of a type error that I can't yet point at exactly. How would this be as an error:

[code]

In case there is an ISA between the two (or more) concepts, we could write: of which X is the most generic and Y is the most specific. That doesn't apply to this example but I

[2017-07-25 12:51] RieksJ commented on #437
This error message suggestion of @sjcjoosten ignores the fact that there is no signature that would produce a correct expression. I would like to see that in an error message (and preferably some ideas about what WOULD help).

[2017-07-25 12:58] sjcjoosten commented on #437
I edited my comment, how about now?

[2017-07-25 13:05] RieksJ commented on #437
deleted @sjcjoosten's most recent comment and updated mine.

[2017-07-25 13:07] RieksJ commented on #437
I edited my comment, how about now?

[2017-07-25 13:08] sjcjoosten commented on #437
I want to avoid writing `there is no way', as there might be one, it's just that I cannot (within reasonable performance) find it if it exists. Also, I have no idea what to put on the ``...``.

[2017-07-25 13:14] RieksJ commented on #437
Ok. How about:
[code]

[2017-07-25 13:21] sjcjoosten commented on #437
Great, I can definitely do that, and maybe I can do better, tell me what you think:

[code]

[2017-07-25 15:02] stefjoosten commented on #437
@RieksJ could you let me know whether or not the assumption of a closed set of concepts, as mentioned above, explains your flabbergastedness? Here is the explanation again:
 - Let me reason from the assumption that the set of concepts is closed, and all concepts are contained in the script. The concepts are `Concern`, `Variable`, `VarValue`, and `Assignment`. Now the type checker has to make a cho

[2017-07-25 17:22] hanjoosten commented on #686
Hidde-jan, Ik ga er van uit dat je @Michiel-s (Michiel Stornebrink) bedoelt, niet @michiels (Michiel Sikkes). Ik had Michiel afgelopen vrijdag al toegang gegeven. (Hij is daar nu owner). Ik maak nu een members lijst aan, want dat lijkt me beter. Ik maak jou daar lid van. Ik ga mijn best doen om die groep voldoende rechten te geven. Mocht je niet kunnen wat je wilt kunnen, laat me dat dan nog maar

[2017-07-25 17:23] hanjoosten commented on #686
Oh, en je moet ook eerst even zelf een account aanmaken op docker-hub, zodat ik die kan koppelen.

[2017-07-25 20:04] stefjoosten commented on #673
Peter, you are making me proud! :-)

[2017-07-25 20:08] #673 closed

[2017-07-26 05:32] #586 closed

[2017-07-26 06:05] RieksJ commented on #437
Yes, this line of reasoning was the one I followed - it also seems quite natural to do.

Following thie line of reasoning, I would have expected to see an error message stating that the target concept of expression `varTrace;(I-asmValue;asmValue~)`, being `Assignment`, would need to match the target concept of expression `(I[Variable]-I[Concern])`, which is either 'Concern' or 'Variable'. That wou

[2017-07-26 07:06] stefjoosten opened #687 "Interface with ONE gives a Slim Application Error"
# Symptom

Consider the following interface definition:
[code]
I want this interface to work on RAP3, irrespective of which sessions are running. For this reason, I use ONE instead of SESSION. However, this is what I get:
![afbeelding](https://user-images.githubusercontent.com/275768/28608527-f2e9eeda-71e0-11e7-940b-e7bc704d8bed.png)
The atom that is mentioned in the error message is `sgq89840ilki

[2017-07-26 07:49] hidde-jan commented on #686
@hanjoosten, klopt, ik bedoelde -s. Ik heb inmiddels een account met de naam hiddejan op docker hub

[2017-07-26 09:01] sjcjoosten commented on #437
@stefjoosten ?

[2017-07-26 09:33] hanjoosten commented on #686
Volgens mij moet je nu los kunnen op dockerhub

[2017-07-26 10:30] sjcjoosten commented on #437
I won't be able to offer anything considering the first suggestion. Frankly, I don't believe that there exists and efficient algorithm for it, but I'd love to see such algorithms implemented (by others).

Given my assignment by RieksJ, I'm assuming that the error message https://github.com/AmpersandTarski/Ampersand/issues/437#issuecomment-317735133 is a satisfactory solution?

[2017-07-26 10:32] RieksJ commented on #437
For the second bullet, yes.
For the first bullet, let's see what @stefjoosten has to say.

[2017-07-26 11:37] michiels commented on #686
Bedankt heren ;-) Ik heb al een bugreport naar GitHub gestuurd omdat ik nog steeds notificaties van deze conversation krijg.

[2017-07-26 11:41] stefjoosten commented on #437
I believe I understand the source of all confusion. Rieks assumes a closed set of concepts (hereafter: CsoC). His reasoning is consistent with that assumption. And it is consistent with the "old" typechecker, which we had until some years ago. Sebastiaan apparently assumes an open set of concepts (hereafter: OsoC). These are two very different assumptions.

Since Sebastiaan is sticking with the Os

[2017-07-26 11:48] stefjoosten commented on #486
@Michiel-s can this issue be closed already?

[2017-07-26 11:53] stefjoosten commented on #628
@hanjoosten Could it be that this occurs since we have switched off the normalizer? We did that because the distributive property caused a combinatorial explosion. But of course, we could reinstate the normalizer without the distributive property. Does that sound like a solution?

[2017-07-26 12:04] sjcjoosten commented on #437
To be more precise: I believe that the type suggestion problem for CsoC is NP-hard.
I define the type suggestion problem for CsoC as follows:

input: a parsable ampersand expression and a set of relation declarations and concept-ISA rules. The size of the script (in a parsable layout) is the size of the input.
problem: is there a type annotation (fully annotating every relation, I, V, and unary co

[2017-07-26 14:05] stefjoosten commented on #437
In that case, we will let this issue rest due to a lack of good arguments. Who knows that one day such arguments can pop up. I'm glad we have this discussion well documented for now.

I am closing the issue. We can reopen it when new arguments pop up that might lead to progress.

[2017-07-26 14:15] stefjoosten commented on #437
Reopening, because the error message still has to be improved.

[2017-07-26 14:17] sjcjoosten commented on #437
Stef is cleaning up this issue, please sit tight (Stef can remove this comment when he's done)

[2017-07-26 14:36] stefjoosten opened #688 "Open or Closed set of concepts?"
# Trigger of the discussion
In issue #437, @RieksJ  used Ampersand v3.5.1[development:28036cb] to compile

[code]

This resulted in the following output:

[code]

Note that `line 10:51` refers to the `I` in `I-asmValue;asmValue~`.

After spending quite some time, Rieks discovered that `RULE "two"` does not match at the very end, i.e. the target concept of the expression `I-asmValue;asmValue~` does

[2017-07-26 14:37] stefjoosten commented on #437
I'm done cleaning up.

[2017-07-26 14:46] sjcjoosten commented on #688
I believe there are several reasons why to use OsoC. The main reason is that we want Ampersand scripts to be modular, so let's assume the set of all types will be extended in the future. Consequently, a rule like ``I = V`` in a script that has exactly one concept, should be ambiguous, as there is no way to say that there is no other concept.

On the implementation of CsoC (or of error messages tha

[2017-07-26 14:54] RieksJ commented on #688
Maybe I'm missing something here, but at any particular point in time, the set of known concepts is known and hence quite limited. That might be support for the CsoC. In the absence of the meatgrinder, there are no future extensions to what is compiled. Any 'future extensions' would mean that the type-checker gets another shot at checking the types, obviously in the presence of another set of know

[2017-07-26 15:03] sjcjoosten commented on #688
A small remark on this part of Stef's comment:

Assignment is also an impossible type, as it does not rid the expression of type errors. That is: there are no valid types for the `I on line 10`.

[2017-07-26 16:54] hanjoosten commented on #628
IT is a good idea iff it is guaranteed that there are no loops in the normalizer rules

[2017-07-27 05:42] RieksJ commented on #437
Having given it some thought, I am not convinced that the line `In this case, such a type conflict occurs between the concepts Concern and Variable.`, is helpful to the programmer. People like me expect error messages to state the kind of error that is detected, and provide information that helps me find and correct it. This line does neither, leaving me in a confused state as to what it is trying

[2017-07-27 05:47] RieksJ commented on #687
Try '_SESSION'[SESSION] instead of 'ONE', as follows:
[code]

[2017-07-27 06:06] RieksJ opened #689 "How about an Excel Exporter?"
In order to flesh out the (functional) specifications of a tool that aims to provide support in complex situations, it is nice to be able to have several variations of the tool, so we can experiment what works best.

A case that I have at hand is NRM, where I need a very simple tool for beginners, and as awareness of users about the complexity (and the causes thereof) increases, I would like to pr

[2017-07-27 06:53] RieksJ commented on #33
The work that I've been doing since I originally created this ticket has convinced me of the fact that

- INTERFACEs cannot be reused in the same way as we can re-use concepts, relations and rules (using INCLUDEs), and
- there is a real benefit to be able to do so.

In my perception, this tips the balance between usage and 'beheerslast' (as mentioned by @hanjoosten) of implementing this pre-proces

[2017-07-27 10:30] hidde-jan commented on #686
Ok so I think we're on track w.r.t. this issue. Yesterday @stefjoosten and I managed to get RAP3 working using the new docker images. They have been deployed to [docker hub](https://hub.docker.com/u/ampersandtarski/).

Sample files can be found [here](https://github.com/AmpersandTarski/Ampersand/tree/feature/dockerize/docker/sample). The only change a simple Ampersand project needs (without extern

[2017-07-27 15:26] stefjoosten commented on #686
@hidde-jan I have finished the [deployment documentation](https://ampersandtarski.gitbooks.io/the-tools-we-use-for-ampersand/content/installation_of_rap.html) on `Gitbook`, except for some details on making images. It contains three subsections: one on RAP for the Open University, one on RAP at Ordina, and one on making images. Could you please improve the "recipe" part of that third section, such

[2017-07-27 18:02] hanjoosten commented on #689
I can imagine that there is a need to be able to export / import a database, so we can have database versioning. It would be nice to have this in some handy way for a user. However, I am not convinced of this specific solution, to use Excel. We need to do better than that some day.

[2017-08-04 15:56] WolframKahl opened #691 "TA Allocation: Use-case for Ampersand version 4?"
The interface a certain administrator uses for allocation of teaching assistants (TAs) is a collection of Excel spreadsheets  ─ mainly:

 * one list of courses, where for each course there is the number of TA positions assigned to the course, and the list of TA candidates the instructor prefers, and where the assigned TAs will be entered.

 * one list of student preferences, where each student dec

[2017-08-09 17:47] hanjoosten opened #692 "Invalid expressions generated by conjNF"
While working on the formal ampersand branch, I found that conjNF gives an unexpected result.
Reproduction can be done by using the FormalAmpersand branch, [commit 31412c6db5d08a50c24bf7690badc77c3019039d](https://github.com/AmpersandTarski/Ampersand/commit/31412c6db5d08a50c24bf7690badc77c3019039d)
I was playing around with the script in [try45.adl](https://github.com/AmpersandTarski/Ampersand/blo

[2017-08-11 18:00] hanjoosten commented on #692
@stefjoosten and I had a conversation on the phone to discuss this issue. This resulted in the following insight:

In formalAmpersand.adl, Epsilon is not modeled as a separate concept. It should, because in the implementation, EEps is considered to be a first-class constructor of an Expression. This difference is what causes this problem.

## Solution
The solution is to model Epsilon as a concept

[2017-08-11 18:48] #692 closed

[2017-08-13 06:22] stefjoosten commented on #692
The diagnosis above is not  correct.
## Situation ##
The `EEps`-expression is an expression like any other. The only difference is that the user cannot write it down explicitly, because the parser has no syntax for `EEps`-expressions. Like any other expression, it has semantics. The semantics of `EEps C [A,B]` is the same set of pairs as the expression `I[C]`. The system invariant for `EEps C [A,B

[2017-08-17 13:14] stefjoosten commented on #670
The code that is generated for interfaces is not (yet) going through an optimization algorithm. There are ideas to do that with SMT-solvers such as Z3. That requires someone to dive into this. I trust this will happen when the time is right.

We will not revert to quick-fixes to solve this problem. That draws away attention from the issue, places a technical debt on the future and diminishes the o

[2017-08-18 15:19] stefjoosten commented on #661
I tried to reproduce this behaviour with EIRA.zip. I compiled EIRA.adl with `Ampersand-v3.8.6 [FormalAmpersand:562571467], build time: 01-Aug-17 07:48:26`
It compiled as I'd expect:
[code]
When I run it, I get no errors, in contrast with what Peter mentions above:
![image](https://user-images.githubusercontent.com/275768/29465294-1652f8d4-8439-11e7-9a6c-ebefc2a25287.png)

I verified that the table

[2017-08-18 15:24] stefjoosten commented on #661
@filetp Ik sluit dit issue. Wil je het open zetten als blijkt dat het issue toch niet gefikst is?

[2017-08-18 15:24] #661 closed

[2017-08-19 15:51] RieksJ commented on #691
Nice idea. How such an application would currently be done is a bit of a tricky question, because doing an application - even if it is 'just a demo' - that you want to really use is quite different from showing that you can do the basics. For example, if you would like different people to use the application in such a way that they would only be seeing what is of interest to them, you would need s

[2017-08-22 06:47] stefjoosten opened #693 "Fatal: Empty typology"
When I compile `PegaConceptualModel.adl` from AmpersandTarski/ampersand-models@cd00491722c93152f2068763103f893e436cb745, Ampersand checks the model and halts due to a fatal:
[code]
The bug goes away after I delete lines 229-250 from `PegaConceptualModel.adl`.
It also goes away if I just delete line 252.
For now I'm just documenting the error reproducibly. More later...

[2017-08-23 08:37] ellekebaecke opened #694 "User interface vertoont onverwacht gedrag"
![image](https://user-images.githubusercontent.com/30124368/29606164-b7bdc52a-87ed-11e7-862d-f87c29755f38.png)

# Reproducing the bug
I have compiled MirrorMe.adl on AmpersandTarski/ampersand-models@aedbfd67b15c05f025bf9663fe9cb29f87bbbf71 using Ampersand-v3.8.6 [HEAD:49946cb70], build time: 08-Jul-17 09:11:28 with command:
[code]

I am unable to create a new claim(/datum/warrant), only add an exi

[2017-08-24 08:10] hanjoosten commented on #694
I guess that this is one of the known bugs that should get solved with the `refactor_ifc` feature. This is under development however. @Michiel-s might confirm this?

[2017-08-24 10:33] hanjoosten commented on #693
The fatal should be a user error, stating that there is a cycle in your CLASSIFY statements. I fixed this. In your case, I now get the following error:

[code]

[2017-08-24 10:36] ellekebaecke commented on #694
It seems like the problem has been solved! I was just able to create a new claim in the field.
Thanks!

[2017-08-24 10:39] #693 closed

[2017-08-24 12:56] hanjoosten commented on #694
@ellekebaecke sent me a mail that for some reason didn't make it to github:

[code]

[2017-08-24 12:56] #694 closed

[2017-08-25 13:48] hidde-jan commented on #686
I've added the 3.8.7 binary myself, since I forgot to fix the travis.yml for that release. I hope the binary will be automatically deployed with 3.8.8. We'll see 🐳

[2017-09-01 14:54] hidde-jan commented on #686
With @hanjoosten's newest release earlier today, we finally have an automatically compiled debian linux version of ampersand attached to a release: https://github.com/AmpersandTarski/Ampersand/releases/tag/Ampersand-v3.8.8

That means that we can now easily create docker images containing the latest ampersand version and push them to github. This updating is still a manual process, but luckily a r

[2017-09-03 10:04] hanjoosten commented on #692
Since 3.8.8, Epsilon is part of formalAmpersand

[2017-09-03 10:21] hanjoosten commented on #686
I cannot oversee this. What are the pros and cons?

[2017-09-03 13:29] stefjoosten opened #697 "Performance issue on compiler Ampersand-v3.8.8 [master:1312237]"
I used Ampersand-v3.8.8 [master:1312237], build time: 03-Sep-17 08:34:13 to compile  RAP3.adl from AmpersandTarski/ampersand-models@cf326b2f72c7292083bd6c38b180c0f28cc69462. It took a serious amount of time (5-10 minutes. I didn't measure it).
I then used Ampersand-v3.8.6 [FormalAmpersand:562571467] and compiled the same RAP3.adl. It passed quickly without significant delay.

[2017-09-03 13:36] hanjoosten commented on #697
This is not a bug. It is due to the fact that we now have MUCH more atoms contained in it because of the formalAmpersand improvement.

[2017-09-03 13:36] stefjoosten commented on #697
@hanjoosten
Can it be that the transitive closure, needed to check for cycles in generalizations, is to blame?

[2017-09-03 13:37] stefjoosten commented on #697
Aha, that explains...

[2017-09-03 14:06] #697 closed

[2017-09-03 14:07] stefjoosten opened #698 "Database server has gone away when starting RAP3.adl"
I used Ampersand-v3.8.8 [master:1312237] to compile and run RAP3.adl from AmpersandTarski/ampersand-models@cf326b2f72c7292083bd6c38b180c0f28cc69462. This is what I got when initializing RAP3.
![afbeelding](https://user-images.githubusercontent.com/275768/30003003-9be004d0-90b7-11e7-9635-363ae9a9b435.png)
Here is the bottom part of the error message:
![afbeelding](https://user-images.githubusercont

[2017-09-04 05:20] hidde-jan commented on #686
Well, for one, dockerfiles can be tested and docker containers can be automatically generated using Travis, but this will be much more difficult (or maybe impossible to automate) if we keep the files in the main repository.

Verstuurd vanaf mijn iPhone

[2017-09-04 05:25] hanjoosten commented on #686
No cons? In that case it is a no-brainer.

[2017-09-04 05:36] hidde-jan commented on #686
Michiel and Stef think it's a con that it would fracture the code base, but in my opinion the ampersand code and the docker images using the build artifacts are rather orthogonal.

Verstuurd vanaf mijn iPhone

[2017-09-04 05:57] hanjoosten commented on #686
@Michiel-s and @stefjoosten , please comment, so we can get things done.

[2017-09-05 18:47] f-ten-bosch opened #699 "Docker vm fails to start and shows a perpeptual loading state"
We tried to start the docker vm in different configuration in on different machines and Operating systems but no of the available images seems to work other then showing the startup screen
in the log the message API.error  cannot connect to database [][]  appears.

![image](https://user-images.githubusercontent.com/31667854/30076614-bd87aac0-9279-11e7-94a0-2c0f5eaa2bf6.png)
![image](https://user-i

[2017-09-05 19:41] hanjoosten commented on #699
RAP3 is still experimental. With Ampersand v.3.8.8 there are problems with it (see issue #698 ). The problem you have has something to do with the database not being accessable. @stefjoosten might be able to help you with that. However, until issue #698 is fixed, RAP3 will not work, even if you have a proper connection to the database.

[2017-09-05 19:43] hanjoosten commented on #698
I can reproduce this error. It seems that the population of Expression (in particular the singletons) are causing this problem. I will look into this further shortly.

[2017-09-05 19:53] stefjoosten commented on #699
To me it looks like something is wrong with the communication of database credentials from the RAP3 container to the MariaDB container.

[2017-09-05 19:57] stefjoosten commented on #698
I got the same error when compiling MiniMirrorMe.adl in the branch EllekesProbeersels of ampersand-models. This example is much smaller and very straightforward.

[2017-09-05 20:31] hidde-jan commented on #699
The RAP3 container expects the database to be available on the hostname 'db' (I think, the docker-compose.yml contains the proper hostnames). Kitematic doesn't give the containers these hostnames by default or links the containers. You'll need to do these things manually.

Verstuurd vanaf mijn iPhone

[2017-09-05 20:32] hidde-jan commented on #699
Btw the current docker images are still ampersand 3.8.7 based, so they should still work.

Verstuurd vanaf mijn iPhone

[2017-09-05 20:47] stefjoosten commented on #691
@WolframKahl
About your language proposals, I have 10 comments/questions. Perhaps you have answers to my questions. And you might rebound on my comments if you feel like it....
1. The 'FUNCTION' statement is easy. That is syntactic sugar on too of 'RELATION'.
2. The CONCEPT statement with an enumeration is eaqually easy. Neat idea!
3. I don't understand FUNCTION CourseTAList : Course -> InjSeq Gra

[2017-09-09 07:45] hidde-jan commented on #699
So, this is not really a bug, but a configuration error. In the [sample dockerfile](https://github.com/AmpersandTarski/Ampersand/blob/feature/dockerize/docker/sample/Dockerfile), we expose the AMPERSAND_DB_HOST env variable to easily configure the db host, but the custom settings of RAP3 hardcode it to 'db'.  I think it would be a good idea to incorporate this in the ampersand-prototype image itse

[2017-09-15 11:45] hanjoosten commented on #120
There is a tool called [CMAP](https://cmap.ihmc.us/) that seems to have nice pictures. However, it is not open source, and there seems to be no API.
An inspiring picture I found on their site:

![cmapimplementinacourse](https://user-images.githubusercontent.com/1159672/30480827-0cdc5d56-9a1c-11e7-8aae-fded9baeb772.jpg)

[2017-09-22 12:14] #564 closed

[2017-09-22 12:23] EstherHageraats opened #700 "RAP compiles a script that violates invariants without error messages"
I was fiddling around with RAP3, much like I think students with do. Trying out stuff.
I tried the Hawaii code, compile, create docs, create proto, change data. Change a bit of code, create proto, reinstall database, change data, fire a violation message. Works fine.
Now I want to fire a violation message from the start using a population that is in violation of the rule.
[Hawaii_met_fout.txt](htt

[2017-09-22 12:27] EstherHageraats opened #701 "reference to rule is uncomprehensible for students"
The rules in the student's code are referred to in the diagnoses, func. spec and the violation messages. The reference is very ugly. (see picture) Can something be done about it?
![schermafdruk 2017-09-22 13 46 55](https://user-images.githubusercontent.com/18698059/30744378-1e844420-9fa2-11e7-9200-ce6ee9db6f3c.png)

[2017-09-22 12:34] EstherHageraats opened #702 "in RAP3 "IN ENGLISH" creates incorrect documentation"
I have generated diagnoses doc and func.spec for the HAWAII case.
When the context is IN ENGLISH the purpose and meanings are reported as being absent. Also "losse eindjes" is emtpy.
When the context is changed into IN DUTCH the elements that are there are correctly printed in the documents. "losse eindjes" is filled.

We could tell students to use IN DUTCH, but it might depend on things I don't k

[2017-09-22 12:38] EstherHageraats opened #703 "Atlas button not active in RAP3"
I am not sure if this is a bug, but there is a button named "Atlas", but I cannot do anything with it.

[2017-09-22 12:42] EstherHageraats opened #704 "Plus-sign next to scripts creates error message"
The first script in RAP3 you have to create with the green plus-sign in the top-right of the screen.
When there is one script or more, plus-signs also appear on the right of the scripts. Clicking that will result in an error message as if the tool tries to find the script in stead of creating it (see picture) Clicking on the plus-sign on the top-right works fine.
![schermafdruk 2017-09-22 13 28 47

[2017-09-22 13:07] hanjoosten commented on #702
This is actually the way it works. Keep in mind that if you specify IN ENGLISH in your script, you actually say that all textst you write there are the English ones, which could be OK. (Ampersand cannot tell the language of some string. We leave that to Google Translate...).
At the command line, Ampersand.exe has a switch that you can use to ask to create documentation for a given language. RAP3 u

[2017-09-22 13:07] #702 closed

[2017-09-22 13:14] hanjoosten commented on #701
Very ugly indeed. This is because Ampersand has been forced to name the rule itself. The easiest way to avoid this is by giving a name to the rule, by supplying a label. (see the [syntax of RULE](https://github.com/AmpersandTarski/documentation/blob/master/syntax/rule.md) ).

[2017-09-22 13:14] #701 closed

[2017-09-29 21:26] stefjoosten commented on #704
The word 'CRuD' was used on line 3 of file `Scripts.ifc`. This should have been `cRuD`. I have changed the code accordingly in commit AmpersandTarski/ampersand-models@c10587d1cea81e57789319f1aff35513bd02e53b. This solution will become operational in the next release.

[2017-09-29 21:35] stefjoosten commented on #704
I have fixed the problem by changing the `CRuD` annotation on line 3 of file `.../RAP3/Scripts.ifc` to `cRuD`. This does away with the green arrow entirely. I changed this in commit AmpersandTarski/ampersand-models@c10587d1cea81e57789319f1aff35513bd02e53b. This change will be operational in the next release and deployment of RAP3.

[2017-09-30 05:30] stefjoosten commented on #704
# Diagnosis
I have not looked into this very deeply. It seems to me that a top-level crud-annotation should never be C or U, since it makes no sense to update the root atom on which the interface has been called.

[2017-09-30 05:32] stefjoosten commented on #703
This is a bug allright. It will work in the next release of RAP3. I fixed this a while ago, but the release is still waiting on a major bugfix Han is working on.

[2017-09-30 16:03] stefjoosten commented on #700
@EstherHageraats, I have looked into this, toyed around with it, and I cannot reproduce it for 100%. I don't fully understand what you have been doing. But perhaps I don't have to. I learned enough to guess what went wrong, so you can tell me if I'm right...  :-) Here is my interpretation of your problem

# Symptoms
The script [Hawaii_met_fout.txt](https://github.com/AmpersandTarski/Ampersand/file

[2017-09-30 16:18] stefjoosten commented on #700
# Analysis towards a solution
I have looked into `cli.php` in the `function Prototype`. It sets the relation `protoOk` when generation of the prototype returns with exit code 0. Apparently this happens even when violations remain. It makes no distinction between a script that compiles correctly with violations and a script that compiles correctly without violations.

# Solution
I suggest that we m

[2017-10-01 06:40] stefjoosten commented on #702
See https://ampersandtarski.gitbooks.io/documentation/content/syntax/languages.html for the complete picture.

[2017-10-03 08:12] sjcjoosten opened #706 "Feature request: docker for generating pdf documents"
I really like using docker for making prototypes. It is very fast too! In fact, while I'm still waiting for 'stack' to install the latest so I can build pdf documents (I was having some problems with outdated versions of graphvis), docker is already done. Would it be a lot of work to get a docker for creating a pdf file?

[2017-10-06 13:12] EstherHageraats opened #707 "Funny session number substitutes text '_SESSION' in the script being edited"
I have been making a model, trying it out, recreating the protoype several times with minor changes in the interface definition.
At one point I deleted a column from a tab-definition.
Recompile.
Launch prototype.
To my surprise the heading of the column is still there,  but the fields are gone.
Because the heading of the column is no longer present in the ampersand script, I assumed it must be a c

[2017-10-06 13:13] stefjoosten opened #708 "Identifiers and labels/names of concepts, relations and other artifacts"
Here is a funny one.

I had a diacritical mark in the name of a relation.
The compiler swallows it, but the database doesn't.

When installing the database, it said that the relation session was missing....

So don't use diacritics in your identifiers....

[2017-10-06 13:30] EstherHageraats commented on #707
OK, I know a little bit more now.
The first line in the interface definition is:
INTERFACE Overview : 'd094c3a52113a0a44afcb47e2ba48d52'                  cRud
I had never added that 'number'. I have replaced it with _SESSION and recompiled the script.
It works again as it should. the _SESSION is again replaced with a 'number'.

[2017-10-06 14:20] EstherHageraats opened #709 "CamelCase or underscores?"
The diagnoses and functional specification don't handle underscores very well.
If this is  a staying feature, I suggest to advice to use CamelCase a coding convention.

[2017-10-06 15:24] EstherHageraats opened #710 "More visual information in buttons"
The four buttons Diagnoses, Func.Spec, Atlas and Protoype are not real buttons.
They are more like checkboxes. Clicking them twice will uncheck the command and at save nothing happens.
Is it possible to get some visual comfirmation of the action? E.g. make them real checkboxes or change the appearance when checked.

[2017-10-06 17:00] stefjoosten commented on #710
@hidde-jan , @Michiel-s ,
I noticed when using Ampersand, the behaviour with or without the SAVE button (i.e. auto commit changes and auto save changes) can vary a lot. This issue shows an example where the user has used the four buttons in a situation with both switches off. (Is that correct @EstherHageraats ?)
Clearly, these buttons were designed for use with both switches on.
Opinions?

[2017-10-07 08:14] stefjoosten commented on #709
It it wise to advise students to use alphanumeric characters only. Hence, camelcasing is the obvious way to go.
At the moment we even have a bug: if you use diacritics in the name of a relation, the compiler will compile but running the prototype crashes with an incomprehensible error. For this reason too: stick to alphanumerics for now.

[2017-10-08 07:15] stefjoosten commented on #707
I have run into the same thing and I have learned to work around it the same way you do. Of course, it is weird that RAP3 substitutes the word "_SESSION" for the actual session identifier (which is the long number you saw) in your editor. It is a computer that edits things for you!

This is clearly a bug of the category beginner-friendly

[2017-10-09 05:59] RieksJ commented on #710
Clicking a button toggles the value of an ampersand [PROP] relation. So, naturally, clicking a button twice restores the setting of that relation as it was before clicking it twice.

The `<PropertyButton>` template has been made in the full awareness that it does not function like you would like it to. 'Real' buttons will have to wait until the interface-stuff is being redesigned, as was discussed

[2017-10-17 15:28] RieksJ opened #711 "Violations go undetected"
Compile the following script into a prototype:
[code]

Then, run the installer for the prototype. This produces the following error message:
![image](https://user-images.githubusercontent.com/8522589/31673755-54b4379a-b360-11e7-9c32-435540e2b669.png)

This is a bug, since the 'geit'-errors should have been handled in the same way as the 'schaap' errors.

[2017-10-21 07:29] RieksJ opened #712 "!fatal - Cannot use diamond operator "<>" - called from AbstractSyntaxTree.hs"
I compiled the following script using Ampersand-v3.8.8 [development:dba3a29]:
[code]
Doing so produces the error:
[code]

[2017-10-21 08:14] sjcjoosten commented on #712
Can you try again with the new version?
It would be nice to add this as an isolated test script too, it seems <> is not tested much.

[2017-10-21 09:50] hanjoosten opened #713 "Issues with current syntax of values in singleton expressions"
# The problem

When looking at the current syntax, I see some minor adaptions that have to be made.

When using the value `"Mario's pizza"` as an atom, this gives problems when we want to use this atom in an expression (as a singleton). Currently that should be denoted as `'Mario's pizza'`. It is obvious that the parser would complain.

This is due to that fact that in an expression, we have chose

[2017-10-21 11:36] RieksJ commented on #712
This seems to work. Thanks.

[2017-10-22 07:19] RieksJ commented on #712
@hanjoosten can you add the script to wherever it is that it needs to be put?

[2017-10-25 17:32] stefjoosten opened #714 "Screen does not refresh spontaneously"
# Reproduction
This issue uses RAP3 on commit AmpersandTarski/ampersand-models@9ae1968b57aba37396f70c73cfdc605ecc1b41dc, which has been compiled in Ampersand-v3.8.6 [RAP3production:73d05d5], using the command
[code]
# Symptom
After starting the system, I navigate to the login screen. This is shown:
![afbeelding](https://user-images.githubusercontent.com/275768/32013103-4982eb2c-b9ba-11e7-8dec-e125

[2017-10-27 09:30] stefjoosten opened #715 "Omission in CRUD semantics"
I have the following interface:
[code]
I can create a Proces-verbaal by typing its identifier and pushing the green "+" (Plus) symbol. No problem so far...
![afbeelding](https://user-images.githubusercontent.com/275768/32097395-b6f42810-bb09-11e7-8b46-69a776a3d7e2.png)

Now I add some content to that interface:
[code]
If I generate the interface now, I get no green "+" (Plus) symbol. There is no w

[2017-10-28 22:35] hanjoosten commented on #712
It sure is a good idea to add this script to the tests. In this case, the script works, so it can be added to the Travis test cases. These testcases are stored in an appropriate subdirectory of `testing\Travis`.

There is a README.md file in that directory, explaining how the different kind of tests are executed. Basicly, every testcase in Travis has three properties:

1. A script. This must be in

[2017-10-30 15:25] #712 closed

[2017-11-01 07:21] stefjoosten commented on #711
Beautiful bug report, Rieks! It tells the whole story.

Apparently something is wrong with the `V` in relation to its technical type.

I tried to reproduce this bug using Ampersand-v3.8.6 [RAP3production:73d05d5]. All I got was a perfectly working application:
![afbeelding](https://user-images.githubusercontent.com/275768/32263974-9b7f5f24-bedc-11e7-9d99-136122282a6b.png)
I even checked the databa

[2017-11-01 07:31] RieksJ commented on #711
This is weird. Bummer that I did not specify the &-version...

When reviewing the error, I noticed that there are two violations, one for Geit1 and another for Geit2.
That means that the error message does not apply to the source code I provided, at least not exclusively.

So I redid the bugtest with Ampersand-v3.8.8 [development:4654c6f].
This worked like one would expect. Therefore I'll close th

[2017-11-01 07:31] #711 closed

[2017-11-01 07:32] stefjoosten commented on #711
I added two population statements and promoted this issue to Travis testing, under the shouldsucceed of prototypes.

[2017-11-01 07:59] stefjoosten commented on #712
Good work, @sjcjoosten . I think your intervention was right on the spot!

At the same time, the wrap-up of this issue is not something we can be proud of.
@sjcjoosten says it would be nice to add this as an isolated test script.
@RieksJ asks Han to add the script to wherever it is that it needs to be put.
@hanjoosten explains how to do it and reassigns Rieks, who then closes the issue....

\<here

[2017-11-01 08:07] stefjoosten commented on #713
The edge cases are not really edge cases. The problem remains that not all strings are allowed as atoms. Only now we have a different set of strings that isn't allowed. For example the atom:
[code]
Before this change, we could write '-3{aapje}' and now we cannot write this atom anymore.

Maybe we have to think a little harder, because swapping one set of unacceptable atoms for another set sounds a

[2017-11-01 08:10] stefjoosten commented on #713
@hanjoosten I suggest we do not promote this change to the master until we have a better story to tell.
@sjcjoosten I'd like your opinion too.
I'll give my take on this in the following comment

[2017-11-01 08:15] stefjoosten commented on #713
# Atoms
Currently we roughly have the following notations for atoms:
 * For numbers: the number formats that are SQL-compatible, e.g. 3, 3E-2, 3.24, etc.
 * For strings: SQL-compatible strings, which is anything between double quotes with double quotes escaped with a backslash.
 * For dates: any ISO-compliant date notation as used in SQL, e.g. 12-04-1987.
 * For other atoms: anything between singl

[2017-11-01 12:02] hanjoosten commented on #713
@stefjoosten comes to an untrue conclusion in [the above comment](https://github.com/AmpersandTarski/Ampersand/issues/713#issuecomment-341028821).
To use the atom `"-3{aapje}"` in an expression, one simply can do that:

[code]
It seems natural to include the double quotes in this syntax, for by doing so, we know that anything inbetween these quotes is part of the string. Double quotes within the a

[2017-11-01 13:44] sjcjoosten commented on #713
Here's a couple of thoughts:

- given a built-in type and a representation, we need to be able to decide whether the representation is valid, and how to convert it to the internal Haskell value. For instance, ``"aap\nnoot\nmies"`` could be a valid string, and would be converted to the Haskell value through 'read'. Given that ``19850112`` is an integer, it would be valid as well. However, ``1985011

[2017-11-01 14:08] hanjoosten commented on #713
Except for the last two points, this all is nearly finished in the branch I am currently working on. I expect this to be finished somewhere next week.

[2017-11-01 14:11] sjcjoosten commented on #713
Well, then I can reassure Stef that you don't really need the last two points. Creating a declaration for aap and noot, and adding the rules I mentioned would already do the trick.

[2017-11-01 14:33] RieksJ commented on #712
@stefjoosten: So what is it that you are not proud of?

[2017-11-04 06:23] stefjoosten commented on #713
I'm quite reassured. I have no reason for sticking to single quoted atoms as an expression. This is how I understand the result of this discussion:
 - The parser produces only atoms with a unique technical type: e.g. "this is a string", 28745, 12-02-2001. Let us call these "representable atoms".
 - Han has done away with the single-quote notation `'aap'`, which is an expression that stands for the

[2017-11-04 06:23] #713 closed

[2017-11-04 06:44] stefjoosten commented on #712
Sorry guys! I missed the fact that @RieksJ actually added this test case (...\testing\Travis\testcases\Bugs\Fixed\Other\Bug_DiamondOperator.adl) to Travis. I didn't read that from the discussion above and I didn't check it in the repo. Shame on me...

[2017-11-10 13:12] Michiel-s commented on #714
I have a couple of issues that prevent me from recreating the bug above. One is that the initial database population is to large. My Mysql server "goes away" during the initialization process. Furthermore, the registration of a new account does not work for me.

But, this is what's going on:
1) You click on the Logout button. This requests the population of `RELATION logoutRequest[SESSION*SESSION]

[2017-11-10 13:29] Michiel-s commented on #715
@stefjoosten, this is a known issue #405 . Sorry for that.

Use COLS instead of BOX to fix your problem (for now).

[2017-11-10 13:29] #715 closed

[2017-11-10 14:51] hanjoosten opened #716 "Lexer error at ... Unexpected character '''"
We have made the syntax of expressions better (See also issue #713). When you still use the old syntax in a script, you are likely to get a Lexer error, telling you about an Unexpected character '''.

It will point you to the culprit character. You can replace the single quotes by double quotes in most cases.

This issue has been created to help you get your script right.

[2017-11-10 14:51] #716 closed

[2017-11-10 14:58] dartheide commented on #699
I have the same problem.
The database is running in the container named "rap3_db_1", and the container named "rap3_rap3_1" I get the message "[2017-11-10 15:41:31] API.ERROR: Cannot connect to database [] []".
I think there no problem with the hostnames because, I am able to ping db inside the container, and with the container named 'rap3_phptools_1'  I can acces the database with phpadmin.

[2017-11-10 15:01] hanjoosten commented on #699
@hidde-jan Could you help us with this?

[2017-11-10 22:57] dartheide commented on #699
I made a tcp dump and analyse the packages with Wireshark:
MySQL	112	Response Error 1049  "Unknown database".
If I create the database the next error is unknown table.

My analysis is that the database is not initialized

I attach the wireshark output.

[Wiresharp network output.xml.txt](https://github.com/AmpersandTarski/Ampersand/files/1462960/Wiresharp.network.output.xml.txt)

[tcpdump docker c

[2017-11-11 10:36] dartheide commented on #699
Initialize the database by hand with SQL script 2 and 3, then RAP3 is running normally.

https://github.com/AmpersandTarski/docker-ampersand/tree/master/RAP3DB

[2017-11-12 15:40] hidde-jan commented on #699
Did you use the docker-compose file to start the ‘cluster’. Or did you use the ampersand-db image? If you are using the default mariadb image the db will not be initialized of course.

[2017-11-12 15:44] hidde-jan commented on #699
Actually, would it be possible to detail how you try to start the different vms?

Running docker-compose up on the docker-compose.yml file included in the RAP3 folder should start a cluster regardless of operating system.

[2017-11-12 16:00] dartheide commented on #699
I' am using /ampersand-models/RAP/docker-compose.yml then "docker-compose up -d".

[2017-11-21 18:51] stefjoosten commented on #707
@Michiel-s and @hidde-jan,
I have assigned this issue to you, hoping you have some time to solve this, or at least diagnose it properly. Today, @EstherHageraats ran into this issue for a second time.

[2017-11-22 08:12] EstherHageraats commented on #703
In RAP3 version of 22 nov 2017 the button is gone.

[2017-11-23 13:16] hidde-jan commented on #707
I don't really have enough knowledge about the prototype code to fix this issue. Hopefully @Michiel-s knows more.

[2017-11-24 05:33] stefjoosten opened #717 "Blobs as Atom"
On October 21st, 2017, @EstherHageraats got a PHP-error in RAP3, when editing her script "Enrollment" (issue AmpersandTarski/RAP#30). She said:

[2017-11-24 05:34] stefjoosten commented on #717
@EstherHageraats could you please supply the Ampersand script "Enrollment" for us to test with?

[2017-11-24 05:43] stefjoosten commented on #717
# Analysis
In the Ampersand database, the full text of a script (or any other blob, for that matter) is inserted in a concept table. Ampersand assumes that equality is defined on any atom, even on blobs. In theory that is fine; in practice, it causes trouble.

I would not like to restrict the use of blobs, but a fact is that the assumption of defined equality is not realistic for all atoms. And it

[2017-11-27 09:06] Michiel-s opened #720 "Performance issue of certain rule formulation"
Given the script
[code]
Evaluating the following rule performs very badly: `prop |- I /\ r;('b1' \/ 'b2');r~`

When removing the `I /\` aspect, which keeps the same semantics because `prop` is a property, the rule evaluation is significantly faster. The SQL query generated for the conjunct is of course different.

Faster rule: `prop |- r;('b1' \/ 'b2');r~`

[2017-11-27 09:07] Michiel-s commented on #720
I'm not sure (yet) if the part with singletons `('b1' \/ 'b2')` is of influence

[2017-11-27 09:58] hanjoosten commented on #720
Interesting. I'll have a look. FYI: be aware of the new syntax regarding singleton expressions. See issue #713 , which has been in effect since release 3.9.0

[2017-11-28 13:17] Michiel-s commented on #707
I've fixed this bug. See pull request #721

[2017-11-28 15:51] stefjoosten commented on #449
@WolframKahl , If you want you can try and reproduce the deployment of RAP3 on a server of your own. Follow `https://ampersandtarski.gitbooks.io/the-tools-we-use-for-ampersand/content/deploying-ounl-rap3.html` for instructions.

[2017-11-28 15:51] #449 closed

[2017-11-28 20:39] Michiel-s commented on #687
As discussed with Stef, the session is considered the ONE atom in interfaces. Therefore, as Rieks points out above, ONE should be replaced by SESSION to make ik work.

[2017-11-28 20:39] #687 closed

[2017-11-28 20:57] Michiel-s commented on #717
The solution to this particular problem is probably easier. I think there is a typo in the ExecEngine rule. The arguments for the exec engine rule are separates by a semicolon. The error message explains that to many arguments are passed to the DelAtom function. Another issue might be that the Ampersand script being saved is itself provided as argument in the function. In that case any semicolon c

[2017-11-28 21:04] Michiel-s commented on #708
Hmm. I think we should look into what’s happening here. It might be the case that the special character is not allowed as sql table or column name, and when running the application the first time installing the database fails. But maybe it is in the encoding of special characters used in the front end. Could you specify the character you used, than I can try to reproduce this issue and look into i

[2017-11-29 12:33] Michiel-s commented on #663
Moved issue to RAP repository. Specific issue for that application. Not Ampersand generic

[2017-11-29 12:33] #663 closed

[2017-11-29 13:21] Michiel-s commented on #624
Looks like the functionality works as expected and described. I don't experience any bugs. Feel free to reopen the issue if necesarry

[2017-11-29 13:21] #624 closed

[2017-11-29 18:50] Michiel-s commented on #320
Ok. I've intensively studied this issue and can conclude the following:

### Diagnosis
The issue only occurs when:
- the application backend runs on a Windows machine, because the windows file system is case insensitive.
- and you use a virtual path to the application folder, e.g. http://localhost/**myapp**. When you place the application directly in the htdocs folder (i.e. no virtual path), there

[2017-11-29 18:50] #320 closed

[2017-11-29 18:51] #568 closed

[2017-11-29 20:11] #486 closed

[2017-11-29 20:17] Michiel-s commented on #511
Rebuild your script with Ampersand-v3.8.8 and no errors occur anymore. Not sure what caused the issue and/or in which commit this is fixed. But anyway, issue can be closed I think

[2017-11-29 20:17] #511 closed

[2017-11-29 20:29] Michiel-s commented on #517
An update to this issue.
As of #721 _SESSION is **only** replaced in generated queries (for interfaces, conjunct evaluation, view segments and violation segments). User input is not replaced anymore.

This doesn't solve the problem of this issue yet, because the singleton '_SESSION' for other concepts apart from SESSION can still be specified in Ampersand. This is the case for the script of Rieks

[2017-12-03 09:45] stefjoosten opened #722 "Concepts without equality"
# Symptoms
There are atoms without equality. Examples are blobs and videos. (Strictly speaking, real numbers are an example too. Real numbers are typically implemented by floating point arithmetic with limited precision, for which equality can be implemented as bitwise equal).
# Problem
Ampersand assumes that equality is defined for all atoms. This assumption being false, we can expect funny behav

[2017-12-03 11:47] stefjoosten commented on #722
# Analysis
(written with @sjcjoosten )
We distinguish concept based on whether:
1. equality is implemented for the concept
2. enumeration is implemented for the concept

An example of a concept for which both are implemented could be ``User``.
An example of a concept for which equality is not, but enumeration is implemented, could be a concept represented as ``BLOB``.
An example of a concept for w

[2017-12-03 12:12] stefjoosten commented on #722
# Solution
In Ampersand, we want the type checker to verify the properties of the various concepts, without the user giving any explicit syntax.

type | equality | enumerable
------------ | ------------- | -------
Alphanumeric | yes | no
BigAlphanumeric | no | no
HugeAlphanumeric  | no | no
Password  | yes | no
Binary | no | no
BigBinary  | no | no
HugeBinary  | no | no
Date  | yes | no
DateTime

[2017-12-03 12:21] stefjoosten commented on #722
# Solution 2
Consider
[code]
The equality of ``A`` inherits from ``B``.
``A`` is at least as enumerable as ``B``. So: if ``B`` is enumerable, ``A`` must be enumerable too.
If we implement this, we'll start by making all user defined concepts enumerable so we don't have to introduce new syntax. Later, we can introduce syntax for the user to decide about enumerability of ``A``.

[2017-12-03 12:27] stefjoosten commented on #722
# Solution 3

[2017-12-03 12:27] stefjoosten commented on #722
# Consequences will be:
1. In an interface or a view, a concept without equality can occur only at the right hand side of an expression.

[2017-12-03 13:05] stefjoosten commented on #722
# Consequences will be:
1. In an interface or a view, a concept without equality can occur only at the right hand side of an expression.
2. The existence of ``f`` for every expression means that the fields in interfaces and views are computable. This prevents the erratic behaviour mentioned in the problem statement.
3. To detect violations by means of ``f`` opens the possibility to detect violatio

[2017-12-03 21:43] hanjoosten opened #723 "Remove syntax for THEMES"
The syntax for themes causes quite some complexity in the generation of functional specification documents. The idea with themes was that it enabled developing of a script with several patterns and only generate documentation for a subset of those patterns. This was useful in the time that the INCLUDE statement wasn't there. Since then, THEMES hasn't been used as far as I know.

It makes sense to

[2017-12-03 22:58] stefjoosten commented on #723
Agree!

[2017-12-04 07:05] RieksJ commented on #723
I don't agree with the argumentation. You cannot just not include a file and compile an fspec, in particular when you have interfaces that use relations in a file that is not included in the fspec.

However, since I have not used fspec for quite some time (and I guess neither have others), I currently do not object to throwing out THEMES under the argument of reducing development complexity. Perha

[2017-12-04 07:24] RieksJ commented on #722
I do not quite understand the problem at hand. Equality is properly defined (as bitwise equality). Apparently, @stefjoosten has something else in his mind. To me this sounds as if the representations that we use for entities that are known to exist within some CONTEXT (which are the bitrows for which we have a bitwise equality) are confused with the entities themselves.

@stefjoosten and @sjcjoost

[2017-12-04 07:38] RieksJ commented on #717
Not being an expert in formalisms, I still do think that an Ampersand context should only contain references to entities that are known to exist with a CONTEXT. Dirty identifiers qualify as such, and so do numbers (integers and other kinds). Files (in general) do not. They ARE entities, within a CONTEXT, we should only have references to them. I guess this is the (old) discussion of whether an ato

[2017-12-04 07:40] RieksJ commented on #708
Problems with 'weird' characters keep popping up...
I suggest that names of relations and concepts should be forced to use characters from a limited character set, that exclude any character that might be 'special' in some case. The argument is that names of relations and concepts are there for the Ampersand engineer, and hence can well do without such characters.

[2017-12-04 07:55] RieksJ commented on #714
A logout IS the deletion of the session atom. You should not want to have this otherwise. The suggested alternative is how it should be. The first 'solution' is (perhaps) a (useful) workaround at best.

[2017-12-04 08:23] RieksJ commented on #713
@hanjoosten: can you verify that the first entry in this issue (which I have edited), is correct?

[2017-12-04 09:53] sjcjoosten commented on #722
I edited the first paragraph. Does this help?

[2017-12-04 10:10] RieksJ commented on #722
No. I still do not see what the problem is. If equality is implemented but not needed - just don't use it. What is the _problem_?

[2017-12-04 10:11] sjcjoosten commented on #722
That equality is not implemented in these cases.
Can you rephrase the introduction such that this becomes clear?

[2017-12-04 10:20] RieksJ opened #724 "Bug introduced by new Atom-syntax"
The following script worked earlier on. However, with the introduction of `Ampersand-v3.9.0 [development:58fd4a8]`, i.e. an Ampersand version that has fixed #713 and #716, a bug was introduced:
[code]
The intention of this script is to automatically assign `MyAccount` as the sessionAccount of any session. The rule does fire, but `sessionAccount` does not get populated, because the expression `V;"S

[2017-12-04 10:25] RieksJ commented on #722
I could perhaps if I would know what the problem is you're trying to address.
If you have not implemented equality and you do not want it, there is no problem.
If you have implemented equality and you do not want it, there is no problem (you ignore it/do not use it).
If you cannot define equality and you don't want it, there is no problem.
What's the problem?

[2017-12-05 21:36] stefjoosten commented on #717
Sebastiaan and I have developed some theory to tackle this issue more fundamentally. This is documented in issue #722. I'm closing this issue here, because considerations of practice seem to obscure what is going on. In issue #722 "Concepts without equality", we discuss a relaxation of Ampersand's built-in assumption that should tackle this issue in an upward compatible way, based solely on good t

[2017-12-05 21:36] #717 closed

[2017-12-08 12:13] stefjoosten opened #725 "Fatal: after checking everything an unhandled singleton value found!"
# Symptom
@ellekebaecke showed me a bug, which I can reproduce. This bug is urgent, because this bug is in a distributed version of the compiler. So it also exposes a flaw in our automated testing procedure.

I compiled `D:\git\ampersand-models\MirrorMe\MiniMirrorMe.adl` using Ampersand-v3.9.0 [master:fb042c8], build time: 28-Nov-17 09:05:15

I expected the compiler to work as intended. However, I

[2017-12-08 12:14] stefjoosten commented on #725
# Analysis
The compiler fails when compiling the (internally stored) FormalAmpersand files. This points towards a meatgrinder issue.

[2017-12-08 13:31] hanjoosten commented on #725
I have done some experiments and concluded that this error is due to the xlsx parser. In this particular case, there is an integer in the xlsx file (excel) that is parsed as being a string. This is wrong of course. It will be fixed in the next release.

[2017-12-08 14:24] hanjoosten commented on #725
The previous observations pointed me in the wrong direction. This seems to be deeper. It might be even in the typechecker!

[2017-12-08 15:23] hanjoosten opened #726 "Fatal caused by lack of typechecking of singleton values"
#### Version of ampersand that was used
Ampersand-v3.9.0 [feature/issue725:e1f65fcf1]
this version gives a more elaborate fatal message, but the bug is present since the implementation of technicaltypes.

#### What I expected
A fatal message must not appear at runtime. When there is a type error, I like the typechecker to catch it.

#### What happened instead
I got the following fatal message:

[c

[2017-12-08 15:29] hanjoosten commented on #725
The fatal shouldn't appear. I have created issue #726 for that. However, that is only part of the problem.

[2017-12-08 18:31] hanjoosten commented on #725
I have done some more diagnosis. If @sjcjoosten will resolve issue #726, this issue will be gone too. Therefor, this issue can be closed.

@ellekebaecke , I have fixed the faulty script in your branch of ampersand-models. If you use that, you will not run into this bug any more.

[2017-12-08 18:31] #725 closed

[2017-12-08 18:50] hanjoosten commented on #682
The initial stuff has been made available some time ago. The rest is up to @jcnauta

[2017-12-08 19:25] hanjoosten commented on #724
My impression is that this is somewhere in the execengine code. Maybe we could look at this together, @Michiel-s ?

[2017-12-08 19:27] hanjoosten commented on #723
This is fixed in developement now and will go into the next release.

[2017-12-08 19:27] #723 closed

[2017-12-09 08:38] Michiel-s commented on #724
I think this has to do with #721 . I'll take a look.

[2017-12-09 12:31] Michiel-s commented on #709
Could we agree not to open RAP specific issues/topics/discussions in the Ampersand repo? Maybe good to (re)open this issue in the [RAP repository](https://github.com/AmpersandTarski/RAP)

[2017-12-09 12:31] #709 closed

[2017-12-09 12:36] Michiel-s commented on #710
Could we agree not to open RAP specific issues/topics/discussions in the Ampersand repo? Maybe good to (re)open this issue in the RAP repository.

Buttons are process oriented. Ampersand models are information/data/state oriented. Rieks improvised a button template using relations with the property characteristic (PROP). If we want native support for buttons, we should first discuss if and how thi

[2017-12-09 12:36] #710 closed

[2017-12-09 12:56] Michiel-s commented on #708
I agree. Many other languages support the distinction between the artefact identifier and the human readable name/label.
e.g.
* In RDFS/OWL you have the URI of a class (ampersand: concepts) or property (ampersand: relations) and the rdfs:label to specify the human readable label
* ORM provides functionality for complex verbalization of Objects (ampersand: concepts) and Roles (ampersand: relations)

[2017-12-09 13:12] hanjoosten commented on #708
I like the proposal of @Michiel-s . It doesn't seem too much effort to implement this. However, we should first think of a proper way to write this into the ampersand syntax. @stefjoosten , any suggestions?

[2017-12-09 14:18] Michiel-s commented on #704
stefjoosten wrote:

A top-level Update or Create are common in my own scripts, e.g. to create an overview of People and be able to create a new Person: `INTERFACE "People" : V[SESSION*Person] CRud COLS []`. And update is also possible.

Keep in mind that the crud rights are about the relation(expression) and not the root atom. In #141 we described the semantics of the CRUD syntax. In short:

CRUD

[2017-12-09 14:23] Michiel-s commented on #703
Could we agree not to open RAP specific issues/topics/discussions in the Ampersand repo? Maybe good to (re)open this issue in the [RAP repository](https://github.com/AmpersandTarski/RAP).

[2017-12-09 14:23] #703 closed

[2017-12-09 14:32] Michiel-s commented on #700
First of all, could we agree not to open RAP specific issues/topics/discussions in the Ampersand repo? Maybe good to (re)open this issue in the [RAP repository](https://github.com/AmpersandTarski/RAP).

Furthermore, I think solution 1 is the most logical solution. When a script with initial population includes invariant violations, it shouldn't create a fspec or prototype. As far as I know the com

[2017-12-09 15:12] Michiel-s commented on #689
My thoughts: I think we have a couple of use cases here, each with their own appropriate solution.

Use case 1: backup and restore of database. Here you can use functionality of standard database software (e.g. phpMyAdmin or MySQL workbench). You can export and import a complete database structure and population in various formats (sql contained file, csv, spreadsheet)

Use case 2: migrate populat

[2017-12-09 15:13] hanjoosten commented on #700
@Michiel-s : I just added a reminder for those creating a new issue. Hopes that helps.

For this specific issue, since there is work to do in Ampersand, I suggest not to move this issue to RAP3.
It should be pretty easy to throw a proper exit code in case that a prototype could not be generated. I'll give it a shot.

[2017-12-09 15:15] Michiel-s commented on #658
Could we agree not to open RAP specific issues/topics/discussions in the Ampersand repo? Maybe good to (re)open this issue in the [RAP repository](https://github.com/AmpersandTarski/RAP)

[2017-12-09 16:35] RieksJ commented on #689
A user-friendly version of use-case 2.

Verzonden met mijn Windows Phone
________________________________
From: Michiel Stornebrink<mailto:notifications@github.com>
Sent: ‎9-‎12-‎2017 16:12
To: AmpersandTarski/Ampersand<mailto:Ampersand@noreply.github.com>
Cc: Joosten, H.J.M. (Rieks)<mailto:rieks.joosten@tno.nl>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [AmpersandTarski/Ampersand] H

[2017-12-09 17:51] Michiel-s opened #727 "Add settings/switches for default navigation bar items"
Introduce a couple of settings for the navigation bar items, like showing the “horn” that enables users to show/hide signals, the user menu, the + menu and maby others.

[2017-12-09 19:27] Michiel-s commented on #667
@rieksj any update on this issue? Or can it be closed, because we can’t reproduce the error

[2017-12-10 08:29] #676 closed

[2017-12-10 08:45] #667 closed

[2017-12-11 12:39] Michiel-s commented on #686
I think automation of the process to push to docker hub is essential. I completely thrust @hidde-jan if he thinks that this is easier/better to have the docker files in a separate repo. We already have the [docker-ampersand](https://github.com/AmpersandTarski/docker-ampersand) repo, so I would say, clean that one up and make it happen!

[2017-12-11 14:48] RieksJ commented on #724
The bug has not gone away (using Ampersand-v3.9.0 [development:58fd4a8]).

[2017-12-11 14:55] #724 closed

[2017-12-11 20:06] #672 closed

[2017-12-11 20:07] Michiel-s commented on #672
Sorry that you had to wait so long for this fix. Especially since it is a very small one.

[2017-12-11 20:11] Michiel-s commented on #664
Same issue as #672 which is fixed by 86d0329c9ad55904913131ce82f93b7ec6d43fe0

[2017-12-11 20:11] #664 closed

[2017-12-11 20:20] hanjoosten commented on #700
I have looked into this issue. It turns out that an exit code of 40 is thrown. I did the following experiment, using a small script with a violated invariant:

[code]
So we need to investigate further, to see what is going on.

[2017-12-11 20:51] hanjoosten commented on #700
Very strange. I compiled the latest version of RAP, and there it throws an errorcode of zero, as can be observed in the log file:

[code]

[2017-12-11 21:35] hanjoosten commented on #700
It appeared that the obsolete --dev switch is being used. That forces the prototype to be generated anyways.

[2017-12-11 21:49] hanjoosten commented on #700
I removed the obsolete --dev switch from Ampersand. ebf13b74f16f620460d742085a2f1ed3b1abfad4. This closes the work in ampersand. I will open a new issue a RAP, for the rest of the work is at RAP.

[2017-12-11 21:49] #700 closed

[2017-12-12 08:06] RieksJ opened #728 "The `--dev` switch is still in use, but has disappeared"
#### Version of ampersand that was used
Ampersand-v3.9.0 [development:ebf13b7]

#### What I expected
I expected that the `--dev` switch would still be available.
After all, I do use scripts that have violations that get resolved when the prototype database is initialized.

#### What happened instead
See the screenshot
![image](https://user-images.githubusercontent.com/8522589/33873425-35d05cb4-df1

[2017-12-12 08:49] hanjoosten commented on #728
Interesting. It will be a small change to enable a switch like this. I couldn't think of a usecase and thought it wasn't in use any longer.
I can implement a switch like this tonight, but I suggest to rename the switch to something that better reflects the intent. What about `--ignore-invariant-violations` ?
I am curious to hear about your usecase for this. Can you tell some more about that?

[2017-12-12 08:51] hanjoosten commented on #728
NB: If you cannot wait, you could use commit 86d0329c9ad55904913131ce82f93b7ec6d43fe0 until this is fixed.

[2017-12-12 08:52] hanjoosten commented on #728
see also issue #700

[2017-12-12 09:10] RieksJ commented on #728
There are many use-cases, but here's a simple one. Suppose your script contains
[code]
and you have ExecEngine rules that automatically determine the status, based on properties of `S1` and `S2`. There should be no need to force the developer to spend time and specify that status for every population that he wants to INCLUDE with the script.

W.r.t. the name, please keep the name of the switch sho

[2017-12-12 12:46] hanjoosten commented on #728
I'll come up with something short. I don't understand the usecase though. Just out of curiosity, what rule is there that triggers the execengine? Isn't that the same totality rule? Only the enforcement is automatic. Hence, the same rule as invariant seems wrong. With the current entangled implementation of rules and enformcemts your solution is a nice workaround. In the long run, this will (hopful

[2017-12-12 16:27] #290 closed

[2017-12-12 16:31] stefjoosten commented on #398
The same issue popped up just now in issue  #728.

[2017-12-12 18:39] Michiel-s commented on #669
This seems no issue anymore. I've tested the application given the commit mentioned in the post of @stefjoosten and uploaded the excel file.

I think that commit c782f79baa21f1fa9ec156c85966fbb66610b132 of July 14th already fixed this issue.

[2017-12-12 18:39] #669 closed

[2017-12-12 19:02] Michiel-s commented on #700
Exit code was already implemented correctly. There was/is a typo in the variable name in RAP3 specific php file.

[2017-12-12 20:29] hanjoosten commented on #728
Closed with commit 4a8376e6456c986bee861e524f4716207bb73073

[2017-12-12 20:29] #728 closed

[2017-12-13 07:06] Michiel-s commented on #728
Nice and clean now. Great work.

[2017-12-13 07:39] RieksJ commented on #728
I disagree with @Michiel-s.
I also have problems with what @stefjoosten wrote:

Here is why. Currently, Ampersand assumes that when a population is specified, it should satisfy all invariants, as should be the case outside transactions. However, prototypes treat a population that a developer speicifies as the first transaction after having created the database structure. This does not require that

[2017-12-13 10:54] Michiel-s commented on #728
I think by default Ampersand should only compile the script if any initial population satisfies the invariant constraints. When explaining the rule based approach and difference between invariants and signals and how Ampersand guarantees invariant satisfaction of the database at all times, it helps that from to start you have a valid state.

I do understand @RieksJ's use case and the fact that the

[2017-12-13 14:09] hanjoosten commented on #728
1. `--dev` works now as well, as a synonym for `--ignore-invariant-violations`  , only to facilitate backwards compatibility and @RieksJ .
2. The invariant rule: `The population of a context must not violate any invariant rule in that context` should hold at ALL times. Therefor, the usecase is not durable. There will be changes when we implement a better distinction between a rule and it's enforce

[2017-12-13 14:46] Michiel-s commented on #728
I would add "...should hold at ALL times outside a transaction".

And that is exactly the point @RieksJ is addressing. @hanjoosten assumes that the transaction ends right after generating the application and adding the iniatial population to the database. However, just before closing the transaction, the exec-engine kicks in and possibly solves invariant violations to restore the rule you mention.

[2017-12-13 15:12] stefjoosten commented on #728
@RieksJ , I'm losing track of this discussion. As I understand it now, this is your example:
[code]
Currently, you cannot generate code, because you run into
[code]
This is (as far as I can tell) your use case. If the enforcement of UNI and TOT would be user definable (instead of INVARIANT, as it is now), you would be free to enforce UNI and TOT in another way (e.g. NONE, or BY ExecEngine). That i

[2017-12-13 15:27] hidde-jan commented on #686
I've looked at what is necessary to finish automatically building the docker images. In the end, I think it will be easier to keep the docker files in the main ampersand repo, because that will make tagging images much easier. We'll need to:

- [ ] recreate the ampersandtarski/ampersand-prototype repository as a automated build
- [ ] disable automatic building on pushes
- [ ] add the following bui

[2017-12-14 09:57] RieksJ commented on #728
Talked to Han. He said that the relation between the example and enforcements have to do with muti-context stuff, as we discussed elsewhere. The example I give is also an example of the need of mutiple contexts, so if that can be arranged, chances are that `--dev` indeed becomes obsolete.  Since Ampersand4 seems to be tying enforcements and multiple contexts etc. all together (which I gather is pr

[2017-12-14 18:57] Michiel-s commented on #563
If you're okey with it I'll close this issue. I believe this is fixed in commit c782f79baa21f1fa9ec156c85966fbb66610b132, but I cannot reproduce the situation to be sure.

[2017-12-14 18:57] #563 closed

[2017-12-14 19:18] Michiel-s commented on #481
@hanjoosten and @stefjoosten is this issue still up-to-date? Or can it be closed or moved to RAP repository?

[2017-12-14 19:41] Michiel-s opened #729 "Bugs in generated database structure and population queries"
**Missing single quotes**
Somewhere between Ampersand v3.8.7 and the current development branche a change is made to the way atoms are represented in the default population queries (output in mysql-installer.json). An atom of a concept with DATE representation was put between single quotes, as is required by mysql because we use a `-` between year, month and day (see [mysql documentation](https://

[2017-12-14 23:23] hanjoosten commented on #481
@stefjoosten , This issue is pretty outdated. I suggest that when needed, create a new version of it in the RAP repo.

[2017-12-14 23:23] #481 closed

[2017-12-15 17:52] hanjoosten commented on #729
The quoting syntax has been modified for good reason. See issue #713. However, it introduced this bug with DATA fields. This is fixed with commit 0eb7e6ba2ec25ff66c65e89ddb7a6e6dd3844f4b . Other representations should be fine.

[2017-12-15 18:00] Michiel-s commented on #729
@hanjoosten, thx. Is it also possible to remove the new line characters?

[2017-12-15 18:12] hanjoosten commented on #729
Working on that. expect it fixed tomorrow

[2017-12-15 18:41] Michiel-s commented on #729
Ah, maybe you could wait with that, because it is not blocking the installer and I have another related request #730 (now writing)

[2017-12-15 19:12] Michiel-s opened #730 "Request to change the output of generated database installer files"
Currently the mysql database structure and default population is generated and put in generics/mysql-installer.json.

This issue request to change this output as commit in the refactor_ifc branch.

What I would like is to have a `database.sql` file containing the database structure only. This file must be formatted as sql and can have comments, new lines, etc. @hanjoosten I believe that you alread

[2017-12-16 07:19] stefjoosten opened #731 "Database initialization wrt ``localSettings.php``"
When installing a production version of an application (e.g. RAP3), I want to block the possibility for reinstalling the database in the ``localSettings.php``. That works. However, if that database does not exist yet, it still works. Which results in a failure to install. Of course, I do not want to enable the reinstall database switch in ``localSettings.php``, because this is a production version

[2017-12-16 11:16] hanjoosten commented on #730
This shouldn't be too hard to do. I'll have a look

[2017-12-16 17:25] hanjoosten commented on #729
Fixed with commit a1883d863172e6f1084c2bb6c91a7fa5ee8238b6

[2017-12-17 10:20] #730 closed

[2017-12-17 10:47] hanjoosten opened #732 "Introducing own prelude in Haskell files"
Currently we use the standard prelude from Haskell. However, at several places we use different libraries to do IO. This is required because we want to have UTF8 all over the place, and not having to do with any locales. We have had problems with that in the past.

The state of the code is, that we now use several (sometimes even different) implementations of IO stuff like writefile, putStrLn etc.

[2017-12-17 10:49] hanjoosten commented on #730
@Michiel-s Any other requirements? Not totally satisfied with this fix? Let me know by reopening this issue.

[2017-12-18 19:24] Michiel-s commented on #729
Thx!

[2017-12-19 20:35] Michiel-s commented on #729
I believe you've introduced another bug.

The output of the default population in mysql-installer.json queries is incomplete. The values part is missing.

E.g.
[code]

[2017-12-19 21:50] hanjoosten commented on #729
Oops, I tested the prettyprinted version only :( Sorry!. The fix is directly in development, because I had merged the feature branch already in there.

[2017-12-19 21:51] #729 closed

[2017-12-23 22:13] Michiel-s commented on #306
It’s time to move to php 7 to make use of added functionality

[2017-12-24 08:53] hanjoosten commented on #306
My guess is that hardly anything is required for this. The latest Xammp stack and the latest Bitnami all use php 7. Also our docker builds are based on php 7. Travis also supports php 7, so as far as I can see there is no reason any more to not use the php 7 functionality. The only thing that should be done is to update the [requirements in the documentation](https://ampersandtarski.gitbooks.io/do

[2017-12-24 09:14] Michiel-s commented on #306
I agree. There is also a check in the backend code for the rigth version that must be increased.

[2017-12-25 18:58] Michiel-s commented on #306
@hanjoosten would you be so kind to update the documentation already and close the issue?

[2017-12-25 19:35] #732 closed

[2017-12-25 19:36] hanjoosten commented on #306
done

[2017-12-25 19:36] #306 closed

[2017-12-27 20:22] #358 closed

[2018-01-01 13:24] Michiel-s commented on #542
https://stackoverflow.com/questions/29306032/fork-subdirectory-of-repo-as-a-different-repo-in-github

Code to split of part of the repository
[code]

[2018-01-01 15:34] hanjoosten opened #735 "Upgrades & Update of Pandoc"
Pandoc is a library that we use to generate the functional specification. Pandoc has upgraded to version 2.0, which has loads of improvements. However, it breaks the API. On the long run it is inevitable that we adapt to that API. It also gives us the oportunity to rethink how we use Pandoc.

Work has started in the feature branch called [PandocUpgrade](https://github.com/AmpersandTarski/Ampersand

[2018-01-05 09:43] Michiel-s opened #736 "Cleanup copied templates folder in prototype output dir"
After generating the prototype, this folder is not used anymore.
This issue requests to delete the folder as final step in the prototype generator (e.g. after calling `composer ---install`)
Prevents users wasting time in case they don't know the purpose of this folder.

[2018-01-06 18:19] Michiel-s commented on #707
Is the solution tested? Can we close the issue?

[2018-01-08 09:51] Michiel-s commented on #634
Of course your request is possible, but I think it does impact performance. Views are now only calculated when needed in the user interface. This request wil result in many additional database interactions. @RieksJ  I think there are other options to provide you with even more debugging information, I'll show you when we see each other next time.

For now, I'll close this issue.

[2018-01-08 09:51] #634 closed

[2018-01-09 15:01] RieksJ opened #737 "Length of names of Concepts, Relations, ... should be tested before creating a prototype"
#### Version of ampersand that was used
Ampersand-v3.9.0 [development:1f4819b]

#### What I expected
Here is part of a script that I used:
![image](https://user-images.githubusercontent.com/8522589/34726791-5132f890-f555-11e7-988d-6a60cd945bdb.png)

I would have expected either one of the following:

1. The compiler produces an error and/or warning message saying that the length of the name of the

[2018-01-10 00:24] stefjoosten opened #738 "Put InsAtom to good use"
I have built a demo for distributed transactions. For this purpose, I needed a backend function ``InsAtom``. This function was present, using the following (existing) code:

[code]
I checked whether it is being used in Ampersand-models, only to find that it is used nowhere. So I changed the code of ``InsAtom`` to make ``Transactions.adl`` work as desired (see AmpersandTarski/ampersand-models@cbba8

[2018-01-10 06:21] Michiel-s commented on #737
I plead again for solution as described in #708. A strict set of constraints implementeren in the Ampersand compiler for identifiers of all artefacts, including concepts, relations, views, rules, roles, etc

[2018-01-10 07:53] stefjoosten commented on #737
I agree with Michiel. Restrictions of this type should be in Ampersand proper. They must not depend on implementation choices, to keep the semantics of Ampersand consistent across all kinds of implementations (including future ones)

[2018-01-10 09:40] RieksJ commented on #738
`InsAtom` exists (at least in Ampersand-v3.9.0 [development:1f4819b]), and it should.

It also has a practical use - it may/will result in the deprecation of the `NewStruct` function.

[2018-01-10 12:51] Michiel-s commented on #738
I've adapted the InsAtom function for your use-case so it stays backwards compatible with the current situation. Furhermore I fixed some bugs, e.g. regarding setting the ExecEngine::$_NEW variable. This is needed because of what @RieksJ already mentioned, the replacement of NewStruct function.

I think this should work now. @stefjoosten can you confirm and close this issue?

[2018-01-15 11:01] RieksJ opened #739 "POPULATION statement and DATETIME"
#### Version of ampersand that was used
I used `Ampersand-v3.9.0 [development:1f4819b]` to compile the following script:

[code]

#### What I expected
I expected it to compile correctly.

#### What happened instead
I got the following error:
[code]
I have tried to replace the datetime atom with all sorts of other representations, with and without double quotes, but I keep getting this error messag

[2018-01-15 12:45] hanjoosten commented on #739
The error message says it all: The value that you supply is a ALPHANUMERIC, not DATETIME. What you probably intended is something like

[code]

[2018-01-15 12:49] RieksJ commented on #739
For user-friendliness of beginners such as I, I would not only like that

- [x] this bug gets fixed (check)

but also that

- [ ]  the error message that complains about incorrect type syntax tells me what the correct syntax actually is (in this case, the example of 2018-01-14T16:35:21+00:00).

[2018-01-15 13:44] hanjoosten commented on #739
Please provide a proposal for the error message. Take into account that we know the expected type (like ALPHANUMERIC, INTEGER, DATE, DATETIME etc. ). Alternatively (maybe better?) we could refer to a page in the documentation, [this one?](https://ampersandtarski.gitbooks.io/documentation/content/syntax/population.html) which should contain sufficient examples.

[2018-01-15 15:15] RieksJ commented on #739
Both suggestions are nice to follow up on.

Where the error message says `However, the representation-type of that concept is defined as` and then the type, e.g. `DATETIME` or `ALPHANUMERIC`, the following text can be added for the various types. @hanjoosten: if this list is incomplete, please let me know which need to be added.

- [ ] `ALPHANUMERIC types are texts (max 255 chars) surrounded with

[2018-01-15 19:10] hanjoosten commented on #739
@RieksJ thanks for the list. Your wish is granted ;)

[2018-01-15 19:51] #739 closed

[2018-01-17 10:08] stefjoosten opened #741 "Rule violation does not occur at runtime"
I used Ampersand-v3.9.0 [development:1f4819b*] to compile the following script:

[code]

I expected that it is impossible to get other values than ``valid`` or ``invalid`` in the concept ``Position``.
Instead, I can insert other values in the concept ``Position`` through the user interface.

To reproduce, follow these steps:
1. Compile the script and generate a prototype
2. Run the prototype
3. in

[2018-01-17 10:43] stefjoosten opened #742 "Reflexive ISA does not compile properly"
I have used Ampersand-v3.9.0 [development:1f4819b*] to compile the following script:
[code]

I expected this script to compile successfully, but the compiler terminates without generating any error message and without generating any code:
[code]

I have saved this script in ``testing/Travis/testcases/prototype/shouldSucceed/Try55.adl``.
I have released it in branch ``sentinel/pending_bug``. Once t

[2018-01-17 19:16] Michiel-s commented on #741
I just diagnosed the bug. Yes it is indeed a run-time bug, but caused by a wrong/missing specification in the generated files (generics/concepts.json).

The generated defintion for the concept `Position` is:
[code]
Here you can see that the aspect `affectedConjuncts` is an empty array. However, this MUST contain the 2 conjunct ids for the rule `RULE twovalued : I[Position] = "valid" \/ "invalid"`

[2018-01-17 19:46] Michiel-s commented on #741
I was looking into the haskell code and have a wild ques of what's going wrong.

In ADL2FSpec.hs there is this function for determining the conjuncts per concept. It uses `relsMentionedIn` for this. I also recall some changes @hanjoosten made that removed V and I from Declaration (b6df8e4f09db99f7cb0332649194531731a72c48).

Can it be that `I[Concept]` is not considered a relation declaration and t

[2018-01-17 19:51] hanjoosten commented on #741
Ha! I am looking into this bug right now too. The diagnosis of @Michiel-s is spot on!

[2018-01-17 20:03] Michiel-s commented on #741
Nice!

[2018-01-18 05:09] hanjoosten commented on #741
@Michiel-s , The fix I did last night still has some problems. The only difference in the output of the files in generics is that in the fixed version, both missing conjuncts are now present. When playing around with that generated prototype, it is quite easy to run into the following bug:

![35071716-03b290d8-fbe2-11e7-9954-295c32487b44 1](https://user-images.githubusercontent.com/1159672/3508171

[2018-01-18 06:44] stefjoosten commented on #741
sounds good!

[2018-01-18 15:07] RieksJ opened #744 "Escape characters in Strings"
I used Ampersand-v3.9.1 [development:b051de7] when compiling the following script:
[code]

I expected that the texts between quotes after the `INCLUDE` statement would be recognized as a string literal. However, It resulted in the following error message:
[code]

#### Diagnosis
After some tinkering, it turned out that I needed to replace the `\` characters with `/`. Perhaps the `\S` is treated as

[2018-01-18 15:44] hanjoosten commented on #744
Since we like to be able to represent all imaginable strings, we need some way to denote a string that holds a double quote. If nothing was done, the first double quote in the string would be interpreted as the end of the string. Also, we want some way to represent multi-line strings.
To do so, we have `\` as an escape character, as is done in C, in Haskell and in many other computer languages. Fo

[2018-01-18 15:51] RieksJ commented on #744
The bug is not the fact that the parsing is wrong, but that the error message does not help the user - particularly if they are beginners. As I have mentioned before, error messages are there to help the user, and I consider it a bug if they do not.

It would be nice if the error message could be extended to include the text `This error may be caused by a missing quote-character ('"'), or by the i

[2018-01-18 16:41] hanjoosten commented on #744
Poof! Wish granted 😁

[2018-01-18 16:41] #744 closed

[2018-01-18 22:04] hanjoosten commented on #741
I talked to @Michiel-s tonight. The problems above are because the generator should disalow some CRUD operations in certain cases. Currently, the CRUD specification is too liberal. I will create a separate issue for that.

[2018-01-18 22:29] hanjoosten opened #745 "Add static checks on use of CRUD"
Currently, it is possible to specify CRUD behaviour at several places in the INTERFACE statement. The semantics have been defined (see [the comment of @Michiel-s in issue #704](https://github.com/AmpersandTarski/Ampersand/issues/704#issuecomment-350472116)).

From the semantics some restrictions can be derived. e.g, it should not be possible to specify `D` for an expression `I` in an interface. Th

[2018-01-18 22:40] hanjoosten opened #746 "Conjunct for deletion of atoms is not properly calculated"
I used Ampersand-v3.9.1 [sentinel/pending_bug:0cf88cd8e*] to compile the following script:

[code]

I expected that it is impossible to delete either one of the initial atoms.
Instead, I can delete both atoms in the concept Position through the user interface.

To reproduce, follow these steps:

1. Compile the script and generate a prototype
2. Run the prototype
3. press the dustbin icon of the at

[2018-01-18 22:47] hanjoosten commented on #746
# Diagnosis

A conjunct is being derived from the rule twovalued. The expression of that conjunct can be observed in the sql dump file (switch to use: --sqldump). In this case the expression is

[code]

[2018-01-18 22:50] hanjoosten commented on #746
The sql derived for that expression is:

[code]

[2018-01-18 22:55] hanjoosten commented on #741
There is another problem with this same script, for which issue #746 has been created.

[2018-01-18 23:00] #741 closed

[2018-01-18 23:15] hanjoosten commented on #746
@stefjoosten , I guess the normalizer is not delivering the right expression to the SQL-generator.

[2018-01-19 06:56] RieksJ commented on #745
If the compiler is going to check on such situations, PLEASE provide error messages that have the property that they help novice users to not only fix the error, but also in understanding why it is an error, e.g. by explaining it on the spot, or explicitly referring to the documentation using a hyperlink.

[2018-01-19 17:03] hanjoosten commented on #746
Stef and I had a session, to diagnose this issue. It turns out, that the implementation of singleton expressions is wrong in the SQL generator. It should not look for the existance of the value in the database table. The SQL should return a single row containing the value in both the src as the tgt, regardless of presence in the database. The generated sql currently is:

[code]
It should look like

[2018-01-19 17:03] hanjoosten commented on #746
It is **very** likely that this issue is connected with issue #342

[2018-01-19 17:23] stefjoosten commented on #746
# Analysis
Consider rule
[code]
Its violations are computed as follows:
[code]
Now suppose ``valid`` is being deleted from ``Position``, then we have:
[code]
This is not what we would expect.
We wanted the following violations:
[code]
So apparently, the current algorithm is implemented correctly, but we want a different result.
This poses the question: why do we want a different result and how can

[2018-01-19 17:25] stefjoosten commented on #746
The compiler does a correct translation:
[code]

[2018-01-19 18:36] hanjoosten commented on #746
fyi: I just started a new branch for this issue. The new generation of Mp1 is in place.

[2018-01-19 22:10] hanjoosten opened #748 "The relations `changes[Act*Relation]` should be replaced"
An action could als be to insert/delete a single atom. This is by modifying the population of `I`. In this case we have an Act, but it has no Relation that goes with it.

Probably we need a relation `changes[Act*Expression]`, and only a subset of Expression.

[2018-01-19 22:18] hanjoosten commented on #422
![logicaldatamodel](https://user-images.githubusercontent.com/1159672/35174245-f4f0c0f4-fd6e-11e7-98f9-7e493d198632.png)

[2018-01-21 11:12] hanjoosten commented on #746
I have done some more investigation. I come to the conclusion that there is a bug in MySQL. I [asked a question about this at the forum](https://forums.mysql.com/read.php?132,663749).

[2018-01-21 14:07] RieksJ commented on #746
@stefjoosten: I am confused by what you wrote a few notes before.

**QUOTE**
Now suppose `valid` is being deleted from Position, then we have:
[code]
This is not what we would expect.
We wanted the following violations:
[code]
**ENDQUOTE**

I can only make sense of this derivation if I assume that
[code]
However, I thought that
[code]
which is not the same. Does this mean that your conclusion is i

[2018-01-21 18:58] Michiel-s commented on #746
@hanjoosten, when I execute the exact queries you've posted on the forum, I just get one single row.

![image](https://user-images.githubusercontent.com/7961582/35197774-135c4884-fee5-11e7-82c6-bffd7d6015e3.png)

My setup:
`mysqld  Ver 10.1.21-MariaDB for Win32 on AMD64 (mariadb.org binary distribution)`

[2018-01-26 07:29] #422 closed

[2018-01-26 21:50] #359 closed

[2018-01-28 11:09] Michiel-s commented on #745
@hanjoosten, I like the idea to raise compile time error for invalid crud specifications. Not sure yet whether there are really *mandatory* situations, but let's find out when defining the rules for this.

For the front-end generation we only need the outcome (i.e. the crud specification itself), not the indicators for mandatory, forbidden or optional. The same applies to the data model for the ba

[2018-01-31 14:01] RieksJ opened #750 "Fatal error due to an impossibility after checking everything (unhandled singleton value found)."
I used Ampersand-v3.9.1 [development:b051de7] to compile the following script:
[code]
I expected that it would NOT return with a FATAL error.
However, it did, with the following text:
[code]
Obviously, the expression `propertyRangeMultMin;getMultiplicity;1` should have been `propertyRangeMultMin;getMultiplicity;"1"` because a multiplicity is an alphanumeric. Indeed, that would make the script comp

[2018-01-31 21:41] hanjoosten commented on #750
Nice catch. a bug in the typechecker. @sjcjoosten could you please have a look? I guess it could be solved somehow by adding the case `Prim (Patm _ pSingleton mCpt,v) ->`  in the function `typecheckTerm`, but this code is pretty complex.

[2018-02-01 07:37] RieksJ opened #751 "Ampersand terminates erroneously but without any error message"
I have been compiling an extensive script ([ssif.zip](https://github.com/AmpersandTarski/Ampersand/files/1684621/ssif.zip)) using `Ampersand-v3.9.1 [development:b051de7]`.
I would expect it to either compile, or produce an error message that helps me to correct any mistakes.

When you type:
[code]
the output is as follows:
[code]
Thus: Ampersand terminates with error code `10`, which is an error.

[2018-02-01 08:58] hanjoosten commented on #751
Hmm. strange. I cannot reproduce now. My first suggestion however would be to see what happens if you try the command

`ampersand.exe KvK.adl  -p"C:\xampp\htdocs\KvK" --verbose`

(without echo stuff whatsoever)

[2018-02-01 15:08] RieksJ commented on #751
The `--verbose` is already in the yaml-file. The echo stuff is only there to show that ampersand terminates with an error - it is the only way to show that this is actually the case (apart from the fact that it generates nothing). Any other suggestions?

[2018-02-01 23:06] hanjoosten commented on #751
I have done some investigation. An error is thrown, because the script is invalid. However, the string that should explain what is wrong, is empty. Of course, this is a bug, because such an empty string is not helpful at all.
I will investigate further, which will result in a fix so that a helpful message is written. In the meantime, you might try to find out what is wrong by eliminating stuff fro

[2018-02-02 07:09] RieksJ commented on #751
Discussing with @hanjoosten provided me with some inspiration, that led me to find the following text on `line 18` of file `SSIFv1_FormTemplates.adl`:
[code]
This line has come into existince with a rename.
Restoring this line to the original version (`CLASSIFY Party ISA Organization`) made the script compile again.

Apart from the fact that `CLASSIFY X ISA X` should not lead to an error in the fi

[2018-02-02 08:41] Michiel-s commented on #751
There is already an issue for this one #742

[2018-02-02 08:41] #751 closed

[2018-02-02 08:42] Michiel-s commented on #742
After issue #751, urgent request to quick fix a proper error message.

[2018-02-02 12:04] Michiel-s commented on #722
For the prototypes, equality also depends on the  implementation. E.g. in a mysql database, equality for floating point variables does not work in all cases. This is something we should take into account.

[2018-02-02 16:29] hanjoosten opened #752 "No more empty error messages"
Issue #751 was raised because somewhere in the Haskell code an error is thrown with an empty message.
Root cause is that the constructor `Errors` of data type `Guarded` takes a list. This should be a non-empty list. In Haskell, [another datatype can be used for that](https://wiki.haskell.org/Non-empty_list). If we use such a datatype, it will become impossible to have issues like this in the futur

[2018-02-02 16:32] hanjoosten commented on #742
I have a quickfix in place, and I created issue #752 for a structural fix.

This issue now only is about fixing the typechecker, so that `CLASSIFY A ISA A` is allowed.

[2018-02-07 17:33] Michiel-s commented on #662
Duplicate issue #635

[2018-02-07 17:33] #662 closed

[2018-02-07 17:38] Michiel-s commented on #731
We’ve identified a solution, building a separate second prototype container with dev/admin privileges. Let’s not make this more complex.

[2018-02-07 17:38] #731 closed

[2018-02-07 17:40] #707 closed

[2018-02-07 18:46] LloydRutledge commented on #635
This caused a crash for the student server today, during the crunch week. Until it's fixed, is there a usage pattern users can follow to avoid this deadlock, such as user specific prefixes or suffixes in names in the code to prevent table overlap? Also important: what are the recovery steps? Can just de SQL server be restarted, for example?

[2018-02-07 20:36] Michiel-s commented on #665
Rieks, weet niet precies wat hier aan de hand is, maar de interne werking van de ExecEngine gaat op de schop. Laten we daarna kijken of deze opgelost is.

[2018-02-07 20:39] #620 closed

[2018-02-08 17:55] Michiel-s commented on #396
This one is fixed long ago.

[2018-02-08 17:55] #396 closed

[2018-02-08 18:02] Michiel-s commented on #264
Issue should be reformulated (if still relevant) now that we have the config.yaml functionality and Composer for dependency management.

[2018-02-08 18:02] #264 closed

[2018-02-08 21:33] #522 closed

[2018-02-08 21:39] Michiel-s commented on #727
Should be combined with #578

[2018-02-08 21:39] #727 closed

[2018-02-10 11:25] Michiel-s commented on #737
We’ll fix this in #708

[2018-02-10 11:25] #737 closed

[2018-02-10 11:28] Michiel-s commented on #598
We’ll fix this in #708

[2018-02-10 11:28] #598 closed

[2018-02-10 13:15] Michiel-s commented on #698
@hanjoosten this issue is fixed right? With the new quotes for singletons?

[2018-02-10 13:18] Michiel-s commented on #699
With RAP3 being built successfully now, I think this issue is fixed.

[2018-02-10 13:18] #699 closed

[2018-02-10 13:28] Michiel-s commented on #658
Issue request copied to AmpersandTarski/RAP#20

[2018-02-10 13:28] #658 closed

[2018-02-10 13:33] Michiel-s commented on #580
@hanjoosten this one is fixed now right? With the new quotes for singletons?

[2018-02-10 13:35] Michiel-s commented on #572
Documentation pages are now directly visible.

[2018-02-10 13:35] #572 closed

[2018-02-10 13:38] Michiel-s commented on #570
As said, use the deployment configuration settings via the --config switch. In the yaml file you can specify the include folder, where deployment specific localSettings.php and other files can be put.

[2018-02-10 13:38] #570 closed

[2018-02-10 13:41] hanjoosten commented on #698
check.

[2018-02-10 13:41] #698 closed

[2018-02-10 13:43] #580 closed

[2018-02-10 13:53] Michiel-s commented on #562
@stefjoosten as @sjcjoosten already suggest, MySQL optimizes this perfectly (at least in the version I'm using: MariaDB v10.1). Run query with the `EXPLAIN` keyword in front and you see something like this:

![image](https://user-images.githubusercontent.com/7961582/36062698-054a04ba-0e72-11e8-9bf3-0517c7d97b25.png)

Let's close this issue?

[2018-02-10 13:53] #562 closed

[2018-02-10 14:00] Michiel-s commented on #534
Not relevant anymore I guess. Otherwise can be picked up/reopened in RAP repo.

[2018-02-10 14:00] #534 closed

[2018-02-10 14:14] Michiel-s commented on #462
Old wiki is offline. We have [landing page](http://ampersandtarski.github.io/) now.

[2018-02-10 14:14] #462 closed

[2018-02-10 16:05] #403 closed

[2018-02-10 17:19] WolframKahl commented on #462
http://ampersandtarski.github.io/ still contains a link to the old wiki at the bottom.

(And I would consider some explanation of what Ampersand is as more important on that page than “Recent activity”.)

[2018-02-10 17:55] Michiel-s commented on #452
Outdated issue. Login is implemented. Needs improvement, but issue is continued in RAP repository

[2018-02-10 17:55] #452 closed

[2018-02-10 18:14] Michiel-s commented on #125
Request for this feature was formulated again during one of the talks of the Ampersanddag 2018 in at the UT in Enschede.

[2018-02-10 18:17] Michiel-s commented on #79
Combine and look into this again when picking up issue #133

[2018-02-10 18:17] #79 closed

[2018-02-10 18:20] Michiel-s commented on #111
Situation is still the same. Any change we're picking up this issue? Otherwise I suggest to close it without solution.

[2018-02-11 11:31] #738 closed

[2018-02-11 17:57] Michiel-s opened #753 "Specify the folders/files that must be in static files when building Ampersand"
This issue requests to not include the `static/zwolle/lib` folder in Setup.hs when building the static files. This folder contains external libraries that are added automatically by Composer after generating the prototype. These files are not in git, but locally I do have them for development purposes. When building on my local machine, this folder should be skipped.

[2018-02-11 19:04] #742 closed

[2018-02-11 19:05] hanjoosten commented on #752
Fixed with commit ea192ec0fb1958c3ef3ee1760f1fa62f1e41af63

[2018-02-11 19:05] #752 closed

[2018-02-11 21:44] Michiel-s commented on #752
Hi @hanjoosten, i think you’ve copied the wrong commit hash above.

[2018-02-11 21:52] hanjoosten commented on #752
No, i don't think so.

[2018-02-12 08:57] Michiel-s commented on #746
@hanjoosten you've mentioned to me that this issue is diagnosed right. Could you summarize and close this issue is applicable?

[2018-02-12 09:13] hanjoosten commented on #746
The initial implementation is right. As the derivation of @stefjoosten shows, in the current theory of Ampersand, there is no violation if an atom is deleted. @stefjoosten and @sjcjoosten have been discussing this. The theory has to be extended, so we can work with infinte collections (like String, Number etc) too.

[2018-02-12 09:21] hanjoosten commented on #746
For the record: I will not change the behaviour of generation of MP1, since that is correct after all. That also means that ampersand does not generate queries that trigger the discoverd bug in MySQL.

[2018-02-12 20:57] #746 closed

[2018-02-16 07:56] stefjoosten commented on #738
Yes, I've tested this on Transactions.adl compiled with Ampersand-v3.9.2 [development:ea192ec]. I can confirm closure of this item.

[2018-02-16 10:20] stefjoosten opened #754 "Runtime bug not caught by Travis; Hold today's Release!"
# Reproducing the bug
This issue occured when compiling ``...\git\ampersand-models\Transactions\Transactions.adl`` (from AmpersandTarski/ampersand-models@9957e42fa06cc6e587645817139e67f71cd8ca36). Compilation was done with Ampersand-v3.9.2 [development: AmpersandTarski/ampersand@cff5fc563159f0476c2fd0d1a339a2403da5c80c]

# Symptoms
I expected ``Transactions.adl`` to compile and start running. It d

[2018-02-16 10:56] stefjoosten commented on #754
Hm.... :-(

[2018-02-16 13:55] hanjoosten commented on #754
I had a look. There was a simple parse error introduced in the previous commit. @stefjoosten: Never use a double quote inside a string in PHP without escaping it!

[2018-02-16 13:55] #754 closed

[2018-02-16 14:12] stefjoosten commented on #754
Thanks, Han!

[2018-02-18 01:55] WolframKahl commented on #462
I just came across http://hackage.haskell.org/package/ampersand : There are a few more outdated links there...

[2018-02-18 14:34] Michiel-s commented on #753
No wait, let's turn it around and make a list of folders/files that DO need to be included. There's a lot that can be skipped.

[2018-02-18 14:53] hanjoosten commented on #753
Sounds like something to configure in a .yaml file?

[2018-02-18 15:34] Michiel-s commented on #753
Let’s discuss this first, it relates to the wish to put the front end stuff in a separate repository. This means that to build Ampersand compiler, the static/zwolle folder won’t exist anymore or consist far less files (only those needed to actually generate the prototype)

[2018-02-18 16:17] Michiel-s commented on #622
In the refactored backend, parse errors are catched and a proper error message is shown. This will solve the issue of not easily seeing where the error is. Furthermore I propose to not change anything else (for now).

[2018-02-22 14:56] hanjoosten commented on #33
Since this is an issue no-one will put effort into, I will close this.

[2018-02-23 16:31] Michiel-s opened #756 "Create separate repository for static zwolle prototype code base"
This issue describes the wish to split off the current static/zwolle folder into a separate git repository (e.g. AmpersandTarski/Prototype)

@hanjoosten and I discussed pros and cons of splitting off the static prototype code and explored possible solutions for keeping close integration

### Pros
- Modularity of tools/components. Makes it easier to replace independent components
- Size of Ampersan

[2018-02-23 16:33] Michiel-s commented on #753
We'll go for a solution for #756

[2018-02-23 16:33] #753 closed

[2018-02-28 13:42] RieksJ opened #757 "FATAL - Either RegForm2 or RegForm1 should be a subset of the other."
Consider the following script:
[code]
If I compile it with Ampersand-v3.9.1 [development:b051de7], it produces the following FATAL:
[code]
The FATAL seems to be caused by the stuff in the VIOLATION causes this error to occur.

Anyway, I do not expect FATALs to occur as a result of compiling a script.

[2018-02-28 14:23] RieksJ opened #758 "MYSQL error 1069: Too many keys specified; max 64 keys allowed in query"
Consider the following script:
[code]
If I compile it with Ampersand-v3.9.1 [development:b051de7], the database is not created properly. In the ERROR log, I see lines such as:
[code]
As a consequence, applications that have this many (univalent) relations will not run. This currently happens in projects that we do, where we need to create simple/flat forms, and as a consequence, there are many rel

[2018-03-05 09:16] RieksJ commented on #33
Hidde-Jan is going to do a quick impact-analysis.

[2018-03-05 19:21] sjcjoosten commented on #757
Since the fix makes the type checker accept fewer scripts, I'm keeping my fingers crossed hoping that Travis won't hate me for this change. I created the ``Issue757.adl`` file in shouldFail, and it definitely fails. This issue can be closed if https://travis-ci.org/AmpersandTarski/Ampersand/builds/349452325 succeeds

[2018-03-05 20:03] sjcjoosten opened #759 "Type error where either ambiguity or boundedness-error is wanted"
Consider the following script:

[code]

In this script, a type error occurred on the violation, claiming 'Verplichting' could not be matched to 'ExterneVerplichting'. Note that the derived type of the rule is correct (if it were 'ExterneVerplichting', no violations could be found). However, there cannot be a type error: ``I`` should take the type it's supposed to have if possible.

#### Version of

[2018-03-09 10:11] #758 closed

[2018-03-13 07:12] RieksJ opened #760 "Contents of FLIPPED endo-relations (that are UNI/INJ) are not correctly read from the database"
I compiled the following script using Ampersand-v3.9.3 [development:609c03d]:
[code]

I expected that each row in the interface would list the son of a person in the last column.
Instead, the interface looked like this:
![image](https://user-images.githubusercontent.com/8522589/37327032-fb62de50-2694-11e8-86da-b6c846d94b86.png)

@Michiel-s diagnosed this bug as incorrect sql code being used. It ha

[2018-03-14 06:41] hanjoosten commented on #760
I agree with the diagnosis. When I use the --sqldump switch on this script, it is clear that the generated sql is wrong. I'll look into this later this week.

[2018-03-17 10:51] hanjoosten commented on #760
I assume this is what you'd expect:
![image](https://user-images.githubusercontent.com/1159672/37554430-93018d56-29d8-11e8-9656-e386c30fa502.png)

[2018-03-17 12:19] #760 closed

[2018-03-17 13:23] RieksJ opened #764 "Last mile issues for the refactor branch"
This ticket contains the stuff that I have seen and that needs to be fixed before the refactor branch (see #542) can be merged into the development branch. The purpose of this ticket is to have a quick way to note small things, and ensure they will be given appropriate attention, e.g. by fixing it, or by creating a ticket that can be picked up when the refactoring branch is merged.

Google docs ha

[2018-03-20 20:01] stefjoosten opened #765 "install fails on Pandoc branch"
I'm working with Ampersand-v3.9.3 [development:4939a95]. I'm trying to compile to the most recent Pandoc version on commit 243334e3440388676b41d3ca7bc81b7ff3c7e272. For this purpose I opened a CLI (bash) and tried to run stack install.

I expected stack to generate a new ampersand.exe for me. However, I got an AesonException. This is what happened:
![afbeelding](https://user-images.githubuserconte

[2018-03-20 20:15] hanjoosten commented on #765
Nothing to do with Ampersand. It might be specific to the bash window. Try to build from a cmd window or from a PS window.

[2018-03-20 20:15] #765 closed

[2018-03-20 20:17] hanjoosten commented on #765
Otherwise google the error message.

[2018-03-20 20:19] hanjoosten commented on #765
upgrade your stack. See https://github.com/commercialhaskell/stack/issues/3686

[2018-03-21 06:47] stefjoosten commented on #765
That was good advice. Thanks. After that, I got another error. Somehow the intermediate directories were read-only, which caused the unzipping of ghc to fail. When I made everything writeable, I got my stack install down to the very end. (It took a while to compile....)

[2018-03-21 06:57] hanjoosten commented on #765
Lessons learned: Google your error messages. :stuck_out_tongue_winking_eye:

[2018-03-21 07:12] stefjoosten commented on #759
Might be a case of bitrot. I got a similar behaviour when I compiled RAP3 in Ampersand-v3.9.4 [feature/PandocUpgrade:243334e34]:
![afbeelding](https://user-images.githubusercontent.com/275768/37697835-6956f46e-2cdf-11e8-9297-64f5bb8384a1.png)

[2018-03-21 09:05] hanjoosten commented on #759
This case must be added to Travis' testset, but only AFTER this bug has been solved. @sjcjoosten , any chance that you could be looking into this soon?

[2018-03-21 09:30] sjcjoosten commented on #759
I have, and decided there are multiple ways to solve the bug. Please form a consensus on how it should be solved.

[2018-03-21 11:54] RieksJ opened #766 "Why do I get an error message here?"
I have compiled the following script with Ampersand-v3.9.3 [development:ff47f46]
[code]
A type error is raised, as follows:
[code]
This script is an excerpt of code by @Michiel-s that I have been using for quite some time now. Only today I found out that it currently generates this error, suggesting that one of the latest commits is the cause. It may be related to #759.

This is a bug that needs t

[2018-03-21 11:58] sjcjoosten commented on #766
I agree with Rieks, looking into it.

[2018-03-22 06:45] RieksJ commented on #766
Would be nice to get the fix for #757 fixed. It's troublesome in a project here.

[2018-03-22 12:28] sjcjoosten commented on #766
still looking into it

[2018-03-22 12:42] hanjoosten commented on #759
I would prefer the first kind of error message. A disambiguation error. In this specific case it could also help the modeller to at least consider to change the type of biaVerplichting_Def to Bedrijfsfunctie * ExterneVerplichting [INJ]. Let @stefjoosten decide.

[2018-03-22 13:31] sjcjoosten commented on #766
Awaiting travis for this pull request: https://github.com/AmpersandTarski/Ampersand/compare/development...sjcjoosten:development

[2018-03-22 14:31] #766 closed

[2018-03-22 14:36] sjcjoosten commented on #759
The script is now accepted (through the last commit), which should not happen. In fact: I think violations will occur but will not be properly reported because of the type derivation going wrong here.

[2018-03-23 04:30] RieksJ commented on #759
@sjcjoosten which example are you talking about?

[2018-03-23 09:35] RieksJ opened #768 "errors in generation of interface.json regarding expression univalence"
Using  Ampersand-v3.9.4 [feature/refactor_ifc:41433f0]

Consider the script
[code]
The generated fiel `interfaces.json` contains fragments such as:
![image](https://user-images.githubusercontent.com/8522589/37822031-a1c0e9ca-2e85-11e8-9a58-930b9fe3e213.png)
In order for the frontend to function properly, the semantics of `isUni` is expected to be the following: `at the end (target side) of the exp

[2018-03-23 09:54] sjcjoosten commented on #759
I was indeed talking about the example in the first post. It has a problem, because it is accepted even though the script is ambiguous. In fact, I fear that the I in 'TGT I' is in fact interpreted as I[ExterneVerwachting].

[2018-03-23 12:38] RieksJ opened #769 "Erroneous showing of CLASSIFYd populations"
When I devised a script for @sjcjoosten, so that he could do some testing regarding #759 , I ran into what I consider to be a bug.

I compiled the following script using Ampersand-v3.9.4 [development:2c97107]:
[code]

After initializing, here is what the interface "Check Issue766" shows. I have marked the populations that IMHO should not have appeared.

![image](https://user-images.githubuserconte

[2018-03-23 12:39] RieksJ commented on #759
The script in #769 might help you check things...

[2018-03-23 13:03] RieksJ commented on #769
Further analysis with @Michiel-s has shown that the tables in the database are properly populated.

The problem is a difference in interpretation of the `isIdent` element in the `interface.json` file (which reminds me of #768). This difference is in whether or not an epsilon may, or may not be part of the `isIdent`. The prototype generator does not care about whether or not there is an epsilon, bu